<div class="row">
  <div class="col-xs-6">
    <h2><%= t('financial_informations.index.title') %></h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <%= link_to t('financial_informations.new.title'), new_company_financial_information_path(@company), class: 'btn btn-sm btn-primary bottom-spaced-component' %>
  </div>
</div>

<table class="table table-index">
  <tr>
    <th><%= FinancialInformation.human_attribute_name :finances_date %></th>
    <th><%= t('general.month') %></th>
    <th><%= FinancialInformation.human_attribute_name :income_total %></th>
    <th><%= FinancialInformation.human_attribute_name :expenses_total %></th>
    <th><%= t('financial_informations.index.throughput') %></th>
    <th><%= t('financial_informations.index.project_delivered_hours_count') %></th>
    <th><%= t('financial_informations.index.delivered_hours') %></th>
    <th><%= t('financial_informations.index.hours_per_demand') %></th>
    <th><%= t('financial_informations.index.cost_per_hour') %></th>
    <th><%= t('general.result') %></th>
    <th><%= t('general.table.actions') %></th>
  </tr>
  <% @financial_informations.each do |finance| %>
    <tr class='<%= 'red-data' if finance.red? %>'>
      <td><%= l(finance.finances_date) %></td>
      <td><%= l(finance.finances_date, format: :month_year) %></td>
      <td><%= number_to_currency(finance.income_total) %></td>
      <td><%= number_to_currency(finance.expenses_total) %></td>
      <td><%= finance.throughput_operation_result %></td>
      <td><%= finance.project_delivered_hours %></td>
      <td><%= finance.hours_delivered_operation_result %></td>
      <td><%= number_with_precision(finance.hours_per_demand, precision: 2) %></td>
      <td><%= number_to_currency(finance.cost_per_hour) %></td>
      <td><%= number_to_currency(finance.financial_result) %></td>
      <td>
        <%= link_to company_financial_information_path(@company, finance), method: :delete do %>
          <i class="fa fa-times" aria-hidden="true"></i>
        <% end %>
        <%= link_to edit_company_financial_information_path(@company, finance) do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>