<div class="row">
  <div class="col-xs-6">
    <h2><%= I18n.t('financial_informations.index.title') %></h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <%= link_to I18n.t('financial_informations.new.title'), new_company_financial_information_path(company), class: 'btn btn-sm btn-primary bottom-spaced-component' %>
  </div>
</div>


<% if finances_hash_with_computed_informations.present? %>
  <div class="row finances-consolidation-row">
    <div class="col-xs-4 incomes-div">
      <sup><%= I18n.t('financial_informations.index.total_income_in_period') %></sup>
      <div class="finances-consolidation-value"><%= number_to_currency(financial_informations.sum(&:income_total)) %></div>
    </div>
    <div class="col-xs-4 outcomes-div">
      <sup><%= I18n.t('financial_informations.index.total_outcome_in_period') %></sup>
      <div class="finances-consolidation-value"><%= number_to_currency(financial_informations.sum(&:expenses_total)) %></div>
    </div>
    <div class="col-xs-4 balance-div">
      <sup><%= I18n.t('financial_informations.index.total_balance_in_period') %></sup>
      <div class="finances-consolidation-value"><%= number_to_currency(financial_informations.sum(&:income_total) - financial_informations.sum(&:expenses_total)) %></div>
    </div>
  </div>

  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th><%= I18n.t('general.month') %></th>
        <th><%= FinancialInformation.human_attribute_name :income_total %></th>
        <th><%= FinancialInformation.human_attribute_name :expenses_total %></th>
        <th><%= I18n.t('financial_informations.index.throughput') %></th>
        <th><%= I18n.t('financial_informations.index.project_delivered_hours_count') %></th>
        <th><%= I18n.t('financial_informations.index.hours_per_demand') %></th>
        <th><%= I18n.t('financial_informations.index.income_per_hour') %></th>
        <th><%= I18n.t('financial_informations.index.cost_per_hour') %></th>
        <th><%= I18n.t('financial_informations.index.monthly_cash_balance') %></th>
        <th><%= I18n.t('financial_informations.index.accumulated_financial_result') %></th>
        <th><%= I18n.t('general.table.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% finances_hash_with_computed_informations.sort_by { |finances_hash| finances_hash['finances_date'] }.reverse.each do |finance_hash| %>
        <tr>
          <td><%= I18n.l(finance_hash['finances_date'].to_date, format: :month_year) %></td>
          <td><%= number_to_currency(finance_hash['income_total']) %></td>
          <td><%= number_to_currency(finance_hash['expenses_total']) %></td>
          <td><%= finance_hash['throughput_in_month'] %></td>
          <td><%= number_with_precision(finance_hash['project_delivered_hours'], precision: 2) %></td>
          <td><%= number_with_precision(finance_hash['hours_per_demand'], precision: 2) %></td>
          <td><%= number_to_currency(finance_hash['income_per_hour']) %></td>
          <td><%= number_to_currency(finance_hash['cost_per_hour']) %></td>
          <td><%= number_to_currency(finance_hash['financial_result']) %></td>
          <td><%= number_to_currency(finance_hash['accumulated_financial_result']) %></td>
          <td>
            <%= link_to edit_company_financial_information_path(company, finance_hash['id']) do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to company_financial_information_path(company, finance_hash['id']), method: :delete do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= I18n.t('general.no_data', missing_data: FinancialInformation.model_name.human(count: 2).downcase) %>
<% end %>
