<div class="row">
  <div class="col-xs-6">
    <h2><%= t('financial_informations.index.title') %></h2>
  </div>
</div>

<table class="table table-striped table-condensed table-index">
  <thead class="thead-light">
    <tr>
      <th><%= t('general.month') %></th>
      <th><%= FinancialInformation.human_attribute_name :income_total %></th>
      <th><%= t('financial_informations.index.std_dev_income') %></th>
      <th><%= FinancialInformation.human_attribute_name :expenses_total %></th>
      <th><%= t('financial_informations.index.std_dev_expenses') %></th>
      <th><%= t('financial_informations.index.throughput') %></th>
      <th><%= t('financial_informations.index.project_delivered_hours_count') %></th>
      <th><%= t('financial_informations.index.hours_per_demand') %></th>
      <th><%= t('financial_informations.index.income_per_hour') %></th>
      <th><%= t('financial_informations.index.cost_per_hour') %></th>
      <th><%= t('financial_informations.index.mean_cost_per_hour') %></th>
      <th><%= t('financial_informations.index.std_dev_cost_per_hour') %></th>
      <th><%= t('financial_informations.index.tail_events_after') %></th>
      <th><%= t('financial_informations.index.monthly_cash_balance') %></th>
      <th><%= t('financial_informations.index.accumulated_financial_result') %></th>
      <th><%= t('general.table.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @finances_hash_with_computed_informations.sort_by { |finances_hash| finances_hash['finances_date'] }.reverse.each do |finance_hash| %>
      <tr>
        <td><%= l(finance_hash['finances_date'], format: :month_year) %></td>
        <td><%= number_to_currency(finance_hash['income_total']) %></td>
        <td><%= number_to_currency(finance_hash['std_dev_income']) %></td>
        <td><%= number_to_currency(finance_hash['expenses_total']) %></td>
        <td><%= number_to_currency(finance_hash['std_dev_expenses']) %></td>
        <td><%= finance_hash['throughput_in_month'] %></td>
        <td><%= number_with_precision(finance_hash['project_delivered_hours'], precision: 2) %></td>
        <td><%= number_with_precision(finance_hash['hours_per_demand'], precision: 2) %></td>
        <td><%= number_to_currency(finance_hash['income_per_hour']) %></td>
        <td><%= number_to_currency(finance_hash['cost_per_hour']) %></td>
        <td><%= number_to_currency(finance_hash['mean_cost_per_hour']) %></td>
        <td><%= number_to_currency(finance_hash['std_dev_cost_per_hour']) %></td>
        <td><%= number_to_currency(finance_hash['tail_events_after']) %></td>
        <td><%= number_to_currency(finance_hash['financial_result']) %></td>
        <td><%= number_to_currency(finance_hash['accumulated_financial_result']) %></td>
        <td>
          <%= link_to edit_company_financial_information_path(@company, finance_hash['id']) do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to company_financial_information_path(@company, finance_hash['id']), method: :delete do %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if finances_hash.present? %>
  <div class="row">
    <div class="col-xs-6">
      <div id="finances-std-dev-income-outcome-div"
           data-title='<%= t('finances.charts.finance.std_dev_income_outcome') %>'
           data-xcategories='<%= finances_hash.map { |hash| hash['finances_date'] }.to_json %>'
           data-xtitle='<%= t('charts.xlabel.months') %>'
           data-ytitle='<%= t('charts.ylabel.money.text') %>'
           data-prefix=''
           data-suffix=''
           data-series='<%= [
                                { color: '#0066ff', name: I18n.t('finances.charts.finance.std_dev_income_per_hour'), data: finances_hash.map { |hash| hash['std_dev_income'].to_f } },
                                { color: '#f90000', name: I18n.t('finances.charts.finance.std_dev_cost_per_hour'), data: finances_hash.map { |hash| hash['std_dev_expenses'].to_f } }
                            ].to_json %>'
           data-decimals='2'>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="finances-mean-cost-per-hour-div"
           data-title='<%= t('finances.charts.finance.mean_cost_per_hour') %>'
           data-xcategories='<%= finances_hash.map { |hash| hash['finances_date'] }.to_json %>'
           data-xtitle='<%= t('charts.xlabel.months') %>'
           data-ytitle='<%= t('charts.ylabel.money.text') %>'
           data-prefix=''
           data-suffix=''
           data-series='<%= [{ color: '#0066ff', name: I18n.t('finances.charts.finance.mean_cost_per_hour'), data: finances_hash.map { |hash| hash['mean_cost_per_hour'].to_f } }].to_json %>'
           data-decimals='2'>
      </div>
    </div>
  </div>
<% else %>
  <%= t('general.no_data', missing_data: t('general.data')) %>
<% end %>

