<% if azure_account.present? %>
  <table class="table">
    <thead>
    <tr>
      <th><%= Azure::AzureAccount.human_attribute_name :azure_organization %></th>
      <th><%= Azure::AzureAccount.human_attribute_name :username %></th>
      <th><%= Azure::AzureAccount.human_attribute_name :azure_work_item_query %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= link_to azure_account.azure_organization, company_azure_account_path(company, azure_account) %></td>
      <td><%= azure_account.username %></td>
      <td><%= azure_account.azure_work_item_query %></td>
      <td class="azure-list-actions">
        <%= link_to synchronize_azure_company_azure_accounts_path(company), method: :post do %>
          <i class="fas fa-sync-alt" aria-hidden="true" title="<%= I18n.t('azure_accounts.update.title') %>"></i>
        <% end %>
        <%= link_to edit_company_azure_account_path(company, azure_account) do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
<% else %>
  <div class="no-data">
    <%= I18n.t('general.no_data', missing_data: I18n.t('activerecord.models.azure/azure_account', count: 2).downcase) %>
  </div>
<% end %>
