<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= I18n.t('azure_accounts.edit.title') %></li>
    </ul>
  </div>
</div>

<%= form_for @azure_account, url: company_azure_account_path(@company, @azure_account), method: :put, class: 'form' do |f| %>
  <div class="standard-form">
    <div class="row">
      <div class='col-xs-6 form-group <%= 'has-error' if @azure_account.errors[:azure_organization].present? %>'>
        <%= f.label :azure_organization, class: 'control-label required' %>
        <%= f.text_field :azure_organization, value: @azure_account.azure_organization, autofocus: true, class: 'form-control' %>
        <span class="help-block"><%= @azure_account.errors[:azure_organization].join(', ') %></span>
      </div>
      <div class='col-xs-6 form-group <%= 'has-error' if @azure_account.errors[:username].present? %>'>
        <%= f.label :username, class: 'control-label required' %>
        <%= f.text_field :username, value: @azure_account.username, class: 'form-control' %>
        <span class="help-block"><%= @azure_account.errors[:username].join(', ') %></span>
      </div>
    </div>
    <div class="row">
      <div class='col-xs-12 form-group'>
        <%= f.label :azure_work_item_query, class: 'control-label' %>
        <%= f.text_area :azure_work_item_query, value: @azure_account.azure_work_item_query, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
  </div>


<% end %>
