<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= Azure::AzureAccount.model_name.human(count: 1) %></li>
    </ul>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th><%= Azure::AzureAccount.human_attribute_name :azure_organization %></th>
    <th><%= Azure::AzureAccount.human_attribute_name :username %></th>
    <th><%= Azure::AzureAccount.human_attribute_name :azure_work_item_query %></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @azure_account.azure_organization %></td>
    <td><%= @azure_account.username %></td>
    <td><%= @azure_account.azure_work_item_query %></td>
  </tr>
  </tbody>
</table>

<hr>

<h4><%= Azure::AzureCustomField.model_name.human(count: @azure_account.azure_custom_fields) %></h4>

<div class="row">
  <div class="col-xs-6">
    <table class="table" id="azure-custom-fields-table">
      <%= render 'azure/azure_custom_fields/azure_custom_fields_table_data', company: @company, account_custom_fields: @account_custom_fields %>
    </table>
  </div>

  <div class="col-xs-6" id="azure-custom-field-form-div">
    <%= render 'azure/azure_custom_fields/form', new_azure_custom_field: @new_azure_custom_field, company: @company, azure_account: @azure_account %>
  </div>
</div>
