<div class="row bottom-spaced-component">
  <div class="col-xs-2">
    <%= label_tag Project.human_attribute_name(:start_date), nil, class: 'control-label' %>
    <%= date_field_tag :demands_start_date, start_date, class: 'form-control' %>
  </div>

  <div class="col-xs-2">
    <%= label_tag Project.human_attribute_name(:end_date), nil, class: 'control-label' %>
    <%= date_field_tag :demands_end_date, end_date, class: 'form-control' %>
  </div>

  <div class="col-xs-2">
    <div class="form-group">
      <%= label_tag I18n.t('filters.options.demand_status'), nil, class: 'control-label' %>
      <%= select_tag :project_status, options_for_select([[I18n.t('general.all'), :all], [I18n.t('general.finished'), :finished]], params[:demand_status] || :finished), class: 'form-control' %>
    </div>
  </div>

  <div class="col-xs-2">
    <div class="form-group">
      <%= label_tag I18n.t('demands.filter.demand_type.title') %>
      <%= select_tag :demand_type, demand_type_options, class: 'form-control', id: 'demands-table-demand-type', selected: params[:demand_type] %>
    </div>
  </div>

  <div class="col-xs-2">
    <div class="form-group">
      <%= label_tag I18n.t('demands.filter.class_of_service.title') %>
      <%= select_tag :class_of_service, class_of_service_options, class: 'form-control', id: 'demands-table-class-of-service', selected: params[:class_of_service] %>
    </div>
  </div>

  <div class="col-xs-2">
    <div class="form-group">
      <%= label_tag I18n.t('filters.options.project_status'), nil, class: 'control-label' %>
      <%= select_tag :project_status, options_for_select([[I18n.t('general.all'), :all], [I18n.t('general.active'), :active]], params[:project_status] || :active), class: 'form-control' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <%= button_tag I18n.t('general.search'), class: 'btn btn-success dashboard-filter-button' %>
  </div>
</div>
