<% if flow_report_data.blank? %>
  <%= t('general.no_data') %>

<% else %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-3 col-xs-offset-3">
      <%= label_tag t('general.year') %>
      <%= select_tag :year, options_for_select([2017, 2018], params[:year] || Time.zone.today.cwyear), class: 'form-control' %>
    </div>
    <div class="col-xs-3">
      <%= label_tag t('general.week') %>
      <%= select_tag :week, options_for_select((1..52).to_a, params[:week] || Time.zone.today.cweek), class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-3">
      <%= link_to t('general.search'), '#', id: 'search_week', class: 'btn btn-success' %>
    </div>
  </div>

  <div class="row bottom-spaced-component">
    <div class="col-xs-12 center">
      <% week_in_date = Date.commercial((params[:year]&.to_i || Time.zone.today.cwyear), (params[:week]&.to_i || Time.zone.today.cweek), 1) %>
      <h3><%= t('teams.show.demands_flow.title', start_date: l(week_in_date.beginning_of_week), end_date: l(week_in_date.end_of_week)) %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="tab">
        <button class="tablinks" id="tab-process-rate-chart" onclick="openTab(event, 'content-process-rate-chart')"><%= t('general.charts.title') %></button>
        <button class="tablinks" id="tab-process-rate-table" onclick="openTab(event, 'content-process-rate-table')"><%= t('general.table.title') %></button>
      </div>
    </div>
  </div>

  <div id="content-process-rate-chart" class="tabcontent">
    <p>
    <div class="row">
      <div class="col-xs-6">
        <div id="processing-rate-column"
             class="flow-chart"
             data-title='<%= t('demands.charts.processing_rate.title', name: team.name) %>'
             data-xcategories='<%= flow_report_data.projects_in_chart.map(&:full_name) %>'
             data-xtitle='<%= t('charts.ylabel.projects.text') %>'
             data-ytitle='<%= t('demands.charts.processing_rate.ylabel') %>'
             data-tooltipsufix='<%= t('demands.charts.processing_rate.tooltipsufix') %>'
             data-series='<%= flow_report_data.column_chart_data.to_json %>'
             data-stacking='normal'
             data-decimals='0'>
        </div>
      </div>

      <div class="col-xs-6">
        <div id="wip-per-day-column"
             class="flow-chart"
             data-title='<%= t('demands.charts.wip_per_day.title', name: team.name) %>'
             data-xcategories='<%= flow_report_data.demands_in_wip.keys %>'
             data-xtitle='<%= t('charts.ylabel.wip_per_day.text') %>'
             data-ytitle='<%= t('demands.charts.wip_per_day.ylabel') %>'
             data-tooltipsufix='<%= t('demands.charts.wip_per_day.tooltipsufix') %>'
             data-series='<%= flow_report_data.wip_per_day.to_json %>'
             data-decimals='0'>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div id="hours-per-month-column"
             class="flow-chart"
             data-title='<%= t('demands.charts.hours_per_month.title', name: team.name) %>'
             data-xcategories='<%= flow_report_data.x_axis_month_data %>'
             data-xtitle='<%= t('charts.ylabel.projects.text') %>'
             data-ytitle='<%= t('demands.charts.processing_rate.ylabel') %>'
             data-tooltipsufix='<%= t('demands.charts.processing_rate.tooltipsufix') %>'
             data-series='<%= [{ name: 'Horas Totais', data: flow_report_data.hours_per_project_per_month }].to_json %>'
             data-stacking='normal'
             data-decimals='0'>
        </div>
      </div>
    </div>
    </p>
  </div>

  <div id="content-process-rate-table" class="tabcontent">
    <div class="row">
      <div class="col-xs-6">
        <%= render 'demands/grouped_per_project_demands_table', grouped_per_project_demand_list: flow_report_data.processing_rate_data %>
      </div>
      <div class="col-xs-6">
        <%= render 'demands/grouped_per_day_demands_table', grouped_per_day_demand_list: flow_report_data.demands_in_wip %>
      </div>
    </div>
  </div>
<% end %>
