<div class="standard-form">
  <div class="row">
    <div class='col-xs-6 form-group <%= 'has-error' if team.errors[:name].present? %>'>
      <%= f.label :name, class: 'control-label required' %>
      <%= f.text_field :name, value: team.name, autofocus: true, class: 'form-control' %>
      <span class="help-block"><%= team.errors[:name].join(', ') %></span>
    </div>
    <div class='col-xs-6 form-group <%= 'has-error' if team.errors[:max_work_in_progress].present? %>'>
      <%= f.label :max_work_in_progress, class: 'control-label required' %>
      <%= f.number_field :max_work_in_progress, value: team.max_work_in_progress, class: 'form-control' %>
      <span class="help-block"><%= team.errors[:max_work_in_progress].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
</div>
