<% if projects_to_replenish.present? %>
  <div class="row header-summary">
    <div class="col-xs-3 summary-card-frame">
      <div class="summary-card-content">
        <p class="summary-card-title"><%= I18n.t('projects.replenishing.last_four_weeks_throughput') %></p>
        <p class="summary-card-value"><%= projects_to_replenish.first.team_throughput_data&.join(' | ') %></p>
      </div>
    </div>
    <div class="col-xs-3 summary-card-frame">
      <div class="summary-card-content">
        <p class="summary-card-title"><%= I18n.t('projects.replenishing.average_throughput') %></p>
        <p class="summary-card-value"><%= projects_to_replenish.first.average_team_throughput %></p>
      </div>
    </div>
    <div class="col-xs-3 summary-card-frame">
      <div class="summary-card-content">
        <p class="summary-card-title"><%= I18n.t('projects.replenishing.last_four_weeks_lead_time') %></p>
        <p class="summary-card-value"><%= number_with_precision(projects_to_replenish.first.team_lead_time, precision: 2) %></p>
      </div>
    </div>
    <div class="col-xs-3 summary-card-frame">
      <div class="summary-card-content">
        <p class="summary-card-title"><%= I18n.t('projects.replenishing.team_wip') %></p>
        <p class="summary-card-value"><%= projects_to_replenish.first.team_wip %></p>
      </div>
    </div>
  </div>

  <%= render 'teams/replenishing_table', company: company, projects_to_replenish: projects_to_replenish %>

<% else %>
  <div class="no-data">
    <%= I18n.t('general.no_data', missing_data: I18n.t('general.data').downcase) %>
  </div>
<% end %>
