<div class="row">
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= Team.model_name.human %></div>
    <div class="stamp-content"><%= team.name  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.show.last_week_scope') %></div>
    <div class="stamp-content"><%= team.last_week_scope  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.show.delivered_scope') %></div>
    <div class="stamp-content"><%= team.delivered_scope  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.index.total_gap') %></div>
    <div class="stamp-content"><%= team.total_gap  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.index.percentage_remaining_scope') %></div>
    <div class="stamp-content"><%= number_to_percentage(team.percentage_remaining_scope, precision: 2)  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.index.flow_pressure') %></div>
    <div class="stamp-content"><%= number_with_precision(team.total_flow_pressure, precision: 3)  %></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 green-stamp">
    <div class="stamp-title"><%= t('customers.show.total_value') %></div>
    <div class="stamp-content"><%= number_to_currency(team.total_value) %></div>
  </div>
  <div class="col-xs-4 green-stamp">
    <div class="stamp-title"><%= t('projects.index.remaining_money') %></div>
    <div class="stamp-content"><%= number_to_currency(team.remaining_money) %></div>
  </div>
  <div class="col-xs-4 green-stamp">
    <div class="stamp-title"><%= t('projects.index.percentage_remaining_money') %></div>
    <div class="stamp-content"><%= number_to_percentage(team.percentage_remaining_money, precision: 2)  %></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div id="hours-gauge"
         class="flow-chart"
         data-title='<%= t('charts.team_hours_available.title') %>'
         data-suffix='<%= t('charts.hours_available.suffix') %>'
         data-max='<%= @team.current_outsourcing_monthly_available_hours %>'
         data-value='<%= @team.consumed_hours_in_month(Time.zone.today) %>'>
    </div>
  </div>
</div>
