<h2><%= I18n.t('teams.index.title') %></h2>
<div class="row">
  <div class="col-xs-12">
    <%= link_to I18n.t('teams.new.title'), new_company_team_path(company), class: 'btn btn-sm btn-success bottom-spaced-component pull-right' %>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Team.human_attribute_name :name %></th>
      <th><%= I18n.t('general.table.actions') %></th>
    </tr>
  </thead>
  <tbody id="team_fields">
    <%= render 'teams/team_fields', company: company, start_date: start_date, end_date: end_date, teams: teams %>
  </tbody>
</table>
