<div class="row">
  <div class="col-xs-12">
    <div class="tab">
      <button class="tablinks" id="company-teams-tab" onclick="openTab(event, 'teams-list', 'tablinks', 'tabcontent')"><%= Company.human_attribute_name(:teams) %></button>
      <button class="tablinks" onclick="openTab(event, 'members-table', 'tablinks', 'tabcontent')"><%= Company.human_attribute_name(:team_members) %></button>
      <button class="tablinks" onclick="openTab(event, 'team-flow_events', 'tablinks', 'tabcontent')"><%= Company.human_attribute_name(:team_resources) %></button>
    </div>
  </div>
</div>

<div id="teams-list" class="tabcontent">
  <%= render 'teams/teams_table', teams: teams, company: company, start_date: start_date, end_date: end_date %>
</div>

<div id="members-table" class="tabcontent">
  <%= render 'team_members/team_members_tab', company: @company, team_members: @team_members %>
</div>

<div id="team-resources" class="tabcontent">
  <%= render 'team_resources/team_resources_table', company: @company, team_resources: @team_resources %>
</div>