<div id="line-leadtime-accumalated-projects"
     class="flow-chart"
     data-xcategories='<%= x_axis.to_json %>'
     data-title='<%= I18n.t('projects.charts.leadtime_evolution.title') %>'
     data-ytitle='<%= I18n.t('general.days') %>'
     data-xtitle='<%= I18n.t('general.weeks') %>'
     data-prefix=''
     data-tooltipsuffix='<%= I18n.t('general.days') %>'
     data-datalabelsuffix=''
     data-series='<%= lead_time_data.to_json %>'
     data-decimals='2'>
</div>

<hr>

<div id="line-risk-projects"
     class="flow-chart"
     data-xcategories='<%= x_axis.to_json %>'
     data-title='<%= I18n.t('projects.charts.risk_evolution_in_time') %>'
     data-ytitle='<%= I18n.t('general.days') %>'
     data-xtitle='<%= I18n.t('general.weeks') %>'
     data-prefix=''
     data-tooltipsuffix='%'
     data-datalabelsuffix='%'
     data-series='<%= projects_risk_data.to_json %>'
     data-decimals='2'>
</div>

<div id="line-risk-projects-team-data"
     class="flow-chart"
     data-xcategories='<%= x_axis.to_json %>'
     data-title='<%= I18n.t('projects.charts.risk_evolution_in_time_team_based') %>'
     data-ytitle='<%= I18n.t('general.days') %>'
     data-xtitle='<%= I18n.t('general.weeks') %>'
     data-prefix=''
     data-tooltipsuffix='%'
     data-datalabelsuffix='%'
     data-series='<%= projects_risk_data_team_based.to_json %>'
     data-decimals='2'>
</div>

<% if last_six_months_hours_per_project[:data].present? %>
  <div id="team-hours-per-project-column"
       class="flow-chart"
       data-title='<%= I18n.t('projects.charts.throughput_hours_six_months.title') %>'
       data-xcategories='<%= last_six_months_hours_per_project[:x_axis].to_json %>'
       data-xtitle='<%= I18n.t('general.months') %>'
       data-ytitle='<%= I18n.t('general.hours') %>'
       data-prefix=''
       data-tooltipsuffix='<%= I18n.t('general.hours') %>'
       data-series='<%= last_six_months_hours_per_project[:data].map { |k, v| { name: k, data: v, type: 'column' } }.to_json %>'
       data-stacking='normal'
       data-datalabelsuffix='h'
       data-decimals='2'>
  </div>
<% end %>
