<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= @team.name %></li>
    </ul>
  </div>
</div>

<%= hidden_field_tag :company_id, @company.id %>
<%= hidden_field_tag :team_id, @team.id %>
<%= hidden_field_tag :projects_ids, @team_projects.map(&:id).join(',') %>
<%= hidden_field_tag :target_name, @team.name %>

<div class="row">
  <div class="topnav">
    <%= link_to t('navbar.details'), '#', id: 'nav-item-stamps', class: 'nav-item active', data: { container: '#stamps' } %>
    <%= link_to t('navbar.members_table'), '#', id: 'nav-item-members', class: 'nav-item', data: { container: '#members-table' } %>
    <%= link_to t('navbar.projects_list'), '#', id: 'nav-item-list', class: 'nav-item', data: { container: '#project-list' } %>
    <%= link_to t('navbar.demands'), '#', id: 'nav-item-demands', class: 'nav-item', data: { container: '#demands-tab' } %>
    <%= link_to t('navbar.strategic'), '#', id: 'nav-item-strategic', class: 'nav-item', data: { container: '#strategic' } %>
    <%= link_to t('navbar.status_report'), '#', id: 'nav-item-statusreport', class: 'nav-item', data: { container: '#project-status-report' } %>
    <%= link_to t('navbar.charts'), '#', id: 'nav-item-charts', class: 'nav-item', data: { container: '#operational-charts' } %>
    <%= link_to t('navbar.flow'), '#', id: 'nav-item-flow', class: 'nav-item', data: { container: '#flow' } %>
    <%= link_to t('navbar.settings'), '#', id: 'nav-item-settings', class: 'nav-item', data: { container: '#settings' } %>
  </div>
</div>

<%= render 'commons/loader_spinner' %>

<div id="stamps" class="tab-container">
  <%= render 'team_stamps', team: @team %>
</div>

<div id="members-table" class="tab-container">
  <%= render 'team_members/team_members_table' %>
</div>

<div id="project-list" class="tab-container">
  <h2><%= t('projects.index.title') %></h2>

  <div id="projects-table">
    <%= render 'projects/projects_table', projects_list: @team_projects, team_id: @team&.id, customer_id: @customer&.id, product_id: @product&.id %>
  </div>
</div>

<div id="demands-tab" class="tab-container">

</div>

<div id="strategic" class="tab-container">
  <%= render 'companies/strategic_table', model_name: @team.name, strategic_chart_data: @strategic_chart_data %>
</div>

<div id="project-status-report" class="tab-container">
  <%= render 'charts/status_report_tab', target_name: @team.name, status_report_data: @status_report_data, montecarlo_durations: @montecarlo_durations %>
</div>

<div id="operational-charts" class="tab-container">
  <%= render 'charts/operational_charts_tab', target_name: @team.name, report_data: @report_data %>
</div>

<div id="flow" class="tab-container">
  <%= render 'teams/flow', flow_report_data: @flow_report_data, team: @team %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/burnup' %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/bar' %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/donut' %>
  <%= javascript_include_tag 'charts/column-line' %>
  <%= javascript_include_tag 'charts/gauge' %>
  <%= javascript_include_tag 'charts/scatter' %>


  <%= javascript_include_tag 'components/components' %>

  <%= javascript_include_tag 'teams/show' %>

  <%= javascript_include_tag 'routes/team_routes' %>
  <%= javascript_include_tag 'routes/chart_routes' %>
  <%= javascript_include_tag 'routes/demand_routes' %>

  <%= javascript_include_tag 'top_navigation/tab-navigation' %>

  <%= javascript_include_tag 'projects/charts' %>
  <%= javascript_include_tag 'projects/status_report_current' %>
  <%= javascript_include_tag 'projects/status_report_projection' %>

  <%= javascript_include_tag 'companies/strategic_charts' %>

  <%= javascript_include_tag 'teams/team_navigation_behaviour' %>

  <%= javascript_include_tag 'demands/column_throughput_week' %>

  <%= javascript_include_tag 'projects/risk_alert_color_chart' %>
<% end %>
