<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-xs-12">
        <ul class="breadcrumb">
          <li><%= link_to t('general.home.title'), root_path %></li>
          <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
          <li><%= @team.name %></li>
        </ul>
      </div>
    </div>
  </div>

  <%= render 'team_stamps', team: @team %>

  <%= render 'projects/projects_table', projects_list: @team.projects %>

  <%= render 'team_members/team_members_table' %>


  <% if @report_data.present? %>
    <div class="col-xs-6">
      <div id="burnup"
           class="flow-chart"
           data-title='<%= t('projects.charts.burnup.title', project_name: @team.name) %>'
           data-weeks='<%= @report_data&.weeks %>'
           data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= t('projects.charts.burnup.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.burnup.tooltipsufix') %>'
           data-ideal='<%= @report_data&.ideal %>'
           data-current='<%= @report_data&.current %>'
           data-scope='<%= @report_data&.scope %>'>
      </div>
    </div>

    <div class="col-xs-6">
      <div id="column"
           class="flow-chart"
           data-title='<%= t('projects.charts.hours_per_demand.title', project_name: @team.name) %>'
           data-xcategories='<%= @report_data&.projects_names %>'
           data-xtitle='<%= t('projects.charts.xlabel.projects') %>'
           data-ytitle='<%= t('projects.charts.hours_per_demand.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.hours_per_demand.tooltipsufix') %>'
           data-series='<%= @hours_per_demand_data&.to_json %>'>
      </div>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/burnup' %>
  <%= javascript_include_tag 'charts/column' %>
<% end %>

</div>
