<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-xs-12">
        <ul class="breadcrumb">
          <li><%= link_to t('general.home.title'), root_path %></li>
          <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
          <li><%= @team.name %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="topnav">
      <%= link_to t('navbar.details'), '#', id: 'nav-item-stamps', class: 'active' %>
      <%= link_to t('navbar.members_table'), '#', id: 'nav-item-members' %>
      <%= link_to t('navbar.projects_list'), '#', id: 'nav-item-list' %>
      <%= link_to t('navbar.strategic'), '#', id: 'nav-item-strategic' %>
      <%= link_to t('navbar.charts'), '#', id: 'nav-item-charts' %>
    </div>
  </div>

  <div id="stamps">
    <%= render 'team_stamps', team: @team %>
  </div>

  <div id="project-list">
    <h2><%= t('projects.index.title') %></h2>

    <div class="row">
      <div class="col-xs-12">
        <%= link_to t('projects.index.all_filter'), search_for_projects_company_team_path(company_id: @company, team_id: @team, status_filter: :all), remote: true, class: 'btn btn-sm btn-info' %>
        <%= link_to t('projects.index.waiting_filter'), search_for_projects_company_team_path(company_id: @company, team_id: @team, status_filter: :waiting), remote: true, class: 'btn btn-sm btn-info' %>
        <%= link_to t('projects.index.executing_filter'), search_for_projects_company_team_path(company_id: @company, team_id: @team, status_filter: :executing), remote: true, class: 'btn btn-sm btn-info' %>
        <%= link_to t('projects.index.maintenance_filter'), search_for_projects_company_team_path(company_id: @company, team_id: @team, status_filter: :maintenance), remote: true, class: 'btn btn-sm btn-info' %>
        <%= link_to t('projects.index.finished_filter'), search_for_projects_company_team_path(company_id: @company, team_id: @team, status_filter: :finished), remote: true, class: 'btn btn-sm btn-info' %>
        <%= link_to t('projects.index.cancelled_filter'), search_for_projects_company_team_path(company_id: @company, team_id: @team, status_filter: :cancelled), remote: true, class: 'btn btn-sm btn-info' %>
      </div>
    </div>

    <div id="projects-table">
      <%= render 'projects/projects_table', projects_list: @team_projects %>
    </div>
  </div>

  <div id="members-table">
    <%= render 'team_members/team_members_table' %>
  </div>

  <div id="strategic">
    <%= render 'companies/strategic_table', model_name: @team.name, strategic_report_data: @strategic_report_data %>
  </div>

  <div id="charts">
    <% if @report_data.present? %>
      <%= render 'reports/reports',
                 target_name: @team.name,
                 report_data: @report_data,
                 hours_per_demand_data: [{ name: I18n.t('projects.charts.hours_per_demand.ylabel'), data: @report_data.hours_per_demand_per_week }],
                 flow_pressure_data: [{ name: I18n.t('projects.charts.hours_per_demand.ylabel'), data: @report_data.flow_pressure_data }],
                 throughput_data: [{ name: I18n.t('projects.charts.throughput_per_week.ylabel'), data: @report_data.throughput_per_week }],
                 cmd_data: [{ name: I18n.t('projects.charts.cmd.ylabel'), data: @report_data.average_demand_cost }],
                 xlabel: t('projects.charts.xlabel.projects'),
                 categories: @report_data&.projects_names %>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'teams/show' %>

  <%= javascript_include_tag 'charts/burnup' %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/column-line' %>
  <%= javascript_include_tag 'charts/gauge' %>

  <%= javascript_include_tag 'projects/column_hours_demand_chart' %>
  <%= javascript_include_tag 'projects/column_flow_pressure_chart' %>
  <%= javascript_include_tag 'projects/column_throughput_per_week_chart' %>
  <%= javascript_include_tag 'projects/column_cmd' %>

  <%= javascript_include_tag 'companies/hours_gauge_chart' %>
  <%= javascript_include_tag 'companies/column_active_projects_count_chart' %>
  <%= javascript_include_tag 'companies/hours_per_month_chart' %>
  <%= javascript_include_tag 'companies/flow_pressure_chart' %>
  <%= javascript_include_tag 'companies/money_chart' %>
<% end %>
