<div class="row">
  <div class="col-xs-10">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= Team.model_name.human(count: 2) %></li>
      <li><%= @team.name %></li>
    </ul>
  </div>

  <div class="col-xs-2 pull-right">
    <div class="dropdown topnav-right">

      <i class="fas fa-cogs dropdown-toggle main-config-cogs" data-toggle='dropdown'></i>

      <ul class="dropdown-menu dropdown-menu-right">
        <%= render 'teams/team_menu', company: @company, team: @team %>
      </ul>
    </div>
  </div>
</div>

<%= hidden_field_tag :company_id, @company.id %>
<%= hidden_field_tag :target_name, @team.name %>
<%= hidden_field_tag :team_id, @team.id %>

<% if @team_consolidations.last.present? %>
  <%= I18n.t('general.last_update.text', last_update: I18n.l(@team_consolidations.last.updated_at, format: :short)) %>
<% else %>
  <h3>
    <%= I18n.t('general.no_cache') %>
  </h3>
<% end %>

<h3>
  <%= link_to update_cache_company_team_path(@company, @team), method: :patch do %>
    <i class="fas fa-sync-alt" aria-hidden="true" title="<%= I18n.t('general.update_cache') %>"></i>
  <% end %>
</h3>

<%= render 'layouts/load_spinner' %>

<div class="row">
  <div class="col-xs-12 center">
    <div class="tab">
      <%= link_to I18n.t('teams.show.dashboard_tab'), '#', class: "tablinks btn btn-default", id: 'team-dashboard-tab' %>
      <%= link_to I18n.t('teams.show.projects_tab'), '#', class: "tablinks btn btn-default", id: 'team-projects-tab' %>
      <%= link_to I18n.t('navbar.replenishing'), company_team_replenishing_consolidations_path(@company, @team), class: 'btn btn-default' %>
    </div>
  </div>
</div>

<div id="dashboard-controls">
  <div class="row bottom-spaced-component" id="page-buttons">
    <div class="col-xs-12 center">
      <div class="tab">
        <%= link_to 1, '#', class: "tablinks btn btn-default btn-sm", id: 'team-dashboard-page-one', title: I18n.t('teams.show.dashboard.tab_one') %>
        <%= link_to 2, '#', class: "tablinks btn btn-default btn-sm", id: 'team-dashboard-page-two', title: I18n.t('teams.show.dashboard.tab_two') %>
        <%= link_to 3, '#', class: "tablinks btn btn-default btn-sm", id: 'team-dashboard-page-three', title: I18n.t('teams.show.dashboard.tab_three') %>
        <%= link_to 4, '#', class: "tablinks btn btn-default btn-sm", id: 'team-dashboard-page-four', title: I18n.t('teams.show.dashboard.tab_four') %>
        <%= link_to 5, '#', class: "tablinks btn btn-default btn-sm", id: 'team-dashboard-page-five', title: I18n.t('teams.show.dashboard.tab_five') %>
      </div>
    </div>
  </div>
</div>

<hr>

<div id="team-dashboard-container-page-one" class="tabcontent">
  <%= render 'teams/dashboards/dashboard_body',
             company: @company,
             team: @team,
             object_type: 'Team',
             flow_object_id: @team.id,
             upstream_demands: @team.upstream_demands,
             downstream_demands: @team.demands.kept.in_wip(Time.zone.now),
             slack_configurations: @slack_configurations,
             dates_array: @array_of_dates,
             work_item_flow_information: @work_item_flow_information,
             team_consolidations: @team_consolidations,
             statistics_flow_information: @statistics_flow_information,
             current_lead_time_zones: @statistics_flow_information.current_lead_time_zones,
             demands_chart_adapter: @demands_chart_adapter,
             demands: @demands,
             charts_demands: @charts_demands,
             demands_delivered: @demands_delivered,
             unscored_demands: @unscored_demands,
             demands_blocks: @demands_blocks,
             flow_pressure: @flow_pressure,
             average_speed: @average_speed,
             projects_count: @team.projects.count,
             active_projects_count: @team.projects.active.count,
             active_projects_value: @team.projects.active.map(&:value).compact.sum,
             total_demands_count: @team.demands.kept.count %>
</div>

<div id="team-dashboard-container-page-two" class="tabcontent">

</div>

<div id="team-dashboard-container-page-three" class="tabcontent">

</div>

<div id="team-dashboard-container-page-four" class="tabcontent">
</div>

<div id="team-dashboard-container-page-five" class="tabcontent">
</div>

<div id="team-replenishing-container" class="tabcontent">

</div>

<div id="team-projects-charts" class="tabcontent">

</div>

<div class="modal fade" id="edit-demand-form" tabindex="-1" role="dialog" aria-labelledby="edit-demand-form" aria-hidden="true"></div>
<div class="modal fade" id="show-montecarlo-dialog" tabindex="-1" role="dialog" aria-labelledby="show-montecarlo-dialog" aria-hidden="true"></div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/word_cloud' %>
  <%= javascript_include_tag 'charts/donut' %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/column-line' %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/burnup' %>
  <%= javascript_include_tag 'charts/histogram' %>
  <%= javascript_include_tag 'charts/stacked_area' %>
  <%= javascript_include_tag 'charts/scatter' %>

  <%= javascript_include_tag 'components/components' %>

  <%= javascript_include_tag 'routes/team_routes' %>
  <%= javascript_include_tag 'routes/demand_routes' %>

  <%= javascript_include_tag 'teams/team_start_charts' %>
  <%= javascript_include_tag 'teams/team_tabs_behaviour' %>
  <%= javascript_include_tag 'teams/team_demands_filter' %>
  <%= javascript_include_tag 'teams/show' %>

  <%= javascript_include_tag 'companies/strategic_charts' %>

  <%= javascript_include_tag 'demands/form_modal' %>
<% end %>
