<% if jira_accounts_list.present? %>
  <table class="table">
    <thead>
      <th><%= Jira::JiraAccount.human_attribute_name :customer_domain %></th>
      <th><%= Jira::JiraAccount.human_attribute_name :base_uri %></th>
      <th><%= Jira::JiraAccount.human_attribute_name :username %></th>
      <th><%= Jira::JiraAccount.human_attribute_name :created_at %></th>
      <th><%= I18n.t('jira_accounts.token_status') %></th>
      <th></th>
    </thead>
    <tbody>
      <% jira_accounts_list.each do |account| %>
        <% 
          token_expiration_date = account.updated_at + 1.year
          days_until_expiration = (token_expiration_date.to_date - Date.current).to_i
          token_expired = days_until_expiration <= 0
          token_warning = days_until_expiration <= 30
        %>
        <tr>
          <td><%= link_to account.customer_domain, company_jira_account_path(company, account) %></td>
          <td><%= account.base_uri %></td>
          <td><%= account.username %></td>
          <td><%= I18n.l(account.created_at, format: :short) %></td>
          <td>
            <% if token_expired %>
              <span class="label label-danger" title="<%= I18n.t('jira_accounts.token_expired_tooltip') %>">
                <i class="fas fa-exclamation-triangle"></i> <%= I18n.t('jira_accounts.token_expired') %>
              </span>
            <% elsif token_warning %>
              <span class="label label-warning" title="<%= I18n.t('jira_accounts.token_expiring_tooltip', days: days_until_expiration) %>">
                <i class="fas fa-exclamation-circle"></i> <%= I18n.t('jira_accounts.token_expiring', days: days_until_expiration) %>
              </span>
            <% else %>
              <span class="label label-success" title="<%= I18n.t('jira_accounts.token_valid_tooltip', days: days_until_expiration) %>">
                <i class="fas fa-check-circle"></i> <%= I18n.t('jira_accounts.token_valid') %>
              </span>
            <% end %>
          </td>
          <td>
            <%= link_to company_jira_account_path(account.company, account), method: :delete, data: { confirm: I18n.t('general.destroy.confirm') }, remote: true do %>
              <i class="fa fa-times" title='<%= I18n.t('jira_accounts.destroy.tooltip') %>'></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="help-frame">
    <p class="bottom-spaced-component help-title">
      <%= I18n.t('jira_accounts.webhooks.help') %>
      <%= link_to "#{jira_accounts_list.first.base_uri}plugins/servlet/webhooks#", target: :_blank do %>
        <i class="fas fa-external-link-alt" title="<%= I18n.t('jira_accounts.webhooks.link_form_hint') %>"></i>
      <% end %>
    </p>
    <p>
      <%= I18n.t('jira_accounts.webhooks.help_create_update_card') %>
      <%= link_to "https://res.cloudinary.com/taller-digital/image/upload/v1599221345/update-webhook-config-help.png", target: :_blank do %>
        <i class="far fa-question-circle" title="<%= I18n.t('jira_accounts.webhooks.link_form_help_hint') %>"></i>
      <% end %>
    </p>
    <p>
      <%= I18n.t('jira_accounts.webhooks.help_delete_card') %>
      <%= link_to "https://res.cloudinary.com/taller-digital/image/upload/v1599221345/delete-webhook-config-help.png", target: :_blank do %>
        <i class="far fa-question-circle" title="<%= I18n.t('jira_accounts.webhooks.help_create_update_card') %>"></i>
      <% end %>
    </p>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to I18n.t('jira_accounts.new.title'), new_company_jira_account_path(company), class: 'btn btn-success bottom-spaced-component pull-right' %>
    </div>
  </div>

  <div class="no-data">
    <%= I18n.t('general.no_data', missing_data: I18n.t('activerecord.models.jira/jira_account', count: 2).downcase) %>
  </div>
<% end %>
