<% if jira_accounts_list.present? %>
  <table class="table">
    <thead>
      <th><%= Jira::JiraAccount.human_attribute_name :customer_domain %></th>
      <th><%= Jira::JiraAccount.human_attribute_name :base_uri %></th>
      <th><%= Jira::JiraAccount.human_attribute_name :username %></th>
      <th><%= Jira::JiraAccount.human_attribute_name :created_at %></th>
      <th></th>
    </thead>
    <tbody>
      <% jira_accounts_list.each do |account| %>
        <tr>
          <td><%= link_to account.customer_domain, company_jira_account_path(company, account) %></td>
          <td><%= account.base_uri %></td>
          <td><%= account.username %></td>
          <td><%= I18n.l(account.created_at, format: :short) %></td>
          <td>
            <%= link_to company_jira_account_path(account.company, account), method: :delete, data: { confirm: I18n.t('general.destroy.confirm') }, remote: true do %>
              <i class="fa fa-times" title='<%= I18n.t('jira_accounts.destroy.tooltip') %>'></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="help-frame">
    <p class="bottom-spaced-component help-title">
      <%= I18n.t('jira_accounts.webhooks.help') %>
      <%= link_to "#{jira_accounts_list.first.base_uri}plugins/servlet/webhooks#", target: :_blank do %>
        <i class="fas fa-external-link-alt" title="<%= I18n.t('jira_accounts.webhooks.link_form_hint') %>"></i>
      <% end %>
    </p>
    <p>
      <%= I18n.t('jira_accounts.webhooks.help_create_update_card') %>
      <%= link_to "https://res.cloudinary.com/taller-digital/image/upload/v1599221345/update-webhook-config-help.png", target: :_blank do %>
        <i class="far fa-question-circle" title="<%= I18n.t('jira_accounts.webhooks.link_form_help_hint') %>"></i>
      <% end %>
    </p>
    <p>
      <%= I18n.t('jira_accounts.webhooks.help_delete_card') %>
      <%= link_to "https://res.cloudinary.com/taller-digital/image/upload/v1599221345/delete-webhook-config-help.png", target: :_blank do %>
        <i class="far fa-question-circle" title="<%= I18n.t('jira_accounts.webhooks.help_create_update_card') %>"></i>
      <% end %>
    </p>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to I18n.t('jira_accounts.new.title'), new_company_jira_account_path(company), class: 'btn btn-success bottom-spaced-component pull-right' %>
    </div>
  </div>

  <div class="no-data">
    <%= I18n.t('general.no_data', missing_data: I18n.t('activerecord.models.jira/jira_account', count: 2).downcase) %>
  </div>
<% end %>
