<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= Company.model_name.human %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= Jira::JiraAccount.model_name.human %></li>
      <li><b><%= @jira_account.customer_domain %></b></li>
    </ul>
  </div>
</div>

<hr>

<%= link_to I18n.t('jira_custom_field_mappings.new.title'), new_company_jira_account_jira_custom_field_mapping_path(@company, @jira_account), class: 'btn btn-sm btn-success bottom-spaced-component pull-right', remote: true %>

<div id="jira-custom-field-mapping-table">
  <%= render 'jira/jira_custom_field_mappings/jira_custom_field_mappings_table', company: @company, jira_account: @jira_account, jira_custom_field_mappings: @jira_custom_field_mappings %>
</div>
