<%= form_for jira_product_config, url: company_product_jira_product_configs_path(company, product), remote: true do |form| %>
  <div class="row">
    <div class='col-xs-12 form-group <%= 'has-error' if jira_product_config.errors[:jira_product_key].present? %>'>
      <%= form.label :jira_product_key, class: 'control-label required' %>
      <%= form.text_field :jira_product_key, class: 'form-control' %>
      <span class="help-block"><%= jira_product_config.errors[:jira_product_key].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= form.submit t('general.buttons.save'), class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
