<div class="standard-form">

  <div class="row">
    <div class='col-xs-6 form-group <%= 'has-error' if membership.errors[:team_member].present? %>'>
      <%= f.label :team_member, class: 'control-label' %>
      <%= f.select :team_member_id, team_members.map { |member| [member.name, member.id] }, { selected: membership.team_member_id }, class: 'form-control' %>
      <span class="help-block"><%= membership.errors[:team_member].join(', ') %></span>
    </div>

    <div class='col-xs-6 form-group <%= 'has-error' if membership.errors[:member_role].present? %>'>
      <%= f.label :member_role, class: 'control-label' %>
      <%= f.select :member_role, Membership.member_roles.map { |key, _value| [t("activerecord.attributes.membership.enums.member_role.#{key}"), key] }, { selected: membership.member_role }, class: 'form-control' %>
      <span class="help-block"><%= membership.errors[:member_role].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-6 form-group <%= 'has-error' if membership.errors[:start_date].present? %>'>
      <%= f.label :start_date, class: 'control-label required' %>
      <%= f.date_field :start_date, class: 'form-control' %>
      <span class="help-block"><%= membership.errors[:monthly_payment].join(', ') %></span>
    </div>
    <div class='col-xs-6 form-group'>
      <%= f.label :end_date, class: 'control-label' %>
      <%= f.date_field :end_date, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-6 form-group <%= 'has-error' if membership.errors[:hours_per_month].present? %>'>
      <%= f.label :hours_per_month, class: 'control-label required' %>
      <%= f.number_field :hours_per_month, class: 'form-control', step: 1, id: 'hours_per_month' %>
      <span class="help-block"><%= membership.errors[:hours_per_month].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit class: 'btn btn-success' %>
      <%= link_to I18n.t('general.buttons.cancel'), '#', class: 'btn btn-danger', id: 'cancel-form-membership' %>
    </div>
  </div>
</div>
