<td><%= membership.team_member_name %></td>
<td><%= I18n.l(membership.start_date) %></td>
<td><%= I18n.l(membership.end_date) if membership.end_date.present? %></td>
<td><%= I18n.t('general.days_text', count: membership.elapsed_time) %></td>
<td><%= I18n.t("activerecord.attributes.membership.enums.member_role.#{membership.member_role}") %></td>

<% if current_user.managing_company?(company) || current_user.admin? %>
  <td><%= number_to_currency(membership.monthly_payment, precision: 2) %></td>
  <td><%= membership.hours_per_month %></td>
<% end %>

<% if current_user.managing_company?(membership.company) %>
  <td>
    <%= link_to edit_company_team_membership_path(company, team, membership), remote: true do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <%= link_to company_team_membership_path(company, team, membership), method: :delete, data: { confirm: I18n.t('general.destroy.confirm') }, remote: true do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
<% end %>
