<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Membership.human_attribute_name :member_name %></th>
      <th><%= Membership.human_attribute_name :start_date %></th>
      <th><%= Membership.human_attribute_name :end_date %></th>
      <th><%= I18n.t('team_members.index.elapsed_time') %></th>
      <th><%= Membership.human_attribute_name :member_role %></th>

      <% if current_user.managing_company?(company) || current_user.admin? %>
        <th><%= TeamMember.human_attribute_name :monthly_payment %></th>
        <th><%= TeamMember.human_attribute_name :hours_per_month %></th>
      <% end %>

      <th><%= I18n.t('team_members.show.deliveries') %></th>
      <th><%= I18n.t('projects.general.leadtime', percentil: '80%') %></th>
      <th><%= I18n.t('demands.show.pairing') %></th>

      <% if current_user.managing_company?(company) || current_user.admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% memberships.each do |membership| %>
      <tr id="membership_<%= membership.id %>">
        <%= render 'memberships/membership_fields', company: company, team: team, membership: membership %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <% if current_user.managing_company?(company) || current_user.admin? %>
        <td><%= number_to_currency(memberships.map(&:monthly_payment).compact.sum, precision: 2) %></td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <% if current_user.managing_company?(company) || current_user.admin? %>
        <td></td>
      <% end %>
    </tr>
  </tfoot>
</table>
