<td><%= membership.team_member_name %></td>
<td><%= I18n.t("activerecord.attributes.membership.enums.member_role.#{membership.member_role}") %></td>
<td><%= membership.jira_account_id %></td>
<td><%= number_to_currency(membership.monthly_payment, precision: 2) %></td>
<td>
  <%= link_to edit_company_team_membership_path(company, team, membership), remote: true do %>
    <i class="fas fa-edit"></i>
  <% end %>
  <%= link_to company_team_membership_path(company, team, membership), method: :delete, data: { confirm: I18n.t('general.destroy.confirm') }, remote: true do %>
    <i class="fa fa-times"></i>
  <% end %>
</td>
