<div class="row">
  <div class="col-xs-10">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= Team.model_name.human(count: 2) %></li>
      <li><%= link_to @team.name, company_team_path(@company, @team) %></li>
      <li><%= Membership.model_name.human(count: 2) %></li>
    </ul>
  </div>
</div>

<div id="membership-table">
  <%= render 'memberships/memberships_table', company: @company, team: @team, memberships: @memberships %>
</div>
