<div class="row">
  <div class="col-xs-10">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= Team.model_name.human(count: 2) %></li>
      <li><%= link_to @team.name, company_team_path(@company, @team) %></li>
      <li><%= Membership.model_name.human(count: 2) %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class='col-xs-12 form-group'>
    <% if @company.present? && @team.present? && (current_user.managing_company?(@company) || current_user.admin?) %>
      <%= link_to I18n.t('memberships.new.title'), new_company_team_membership_path(@company, @team), class: 'btn btn-sm btn-success bottom-spaced-component pull-right', remote: true %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class='col-xs-4 form-group'>
    <%= check_box_tag :active_memberships, '1', 'false', onchange: "searchMembershipsClick(#{@company.id}, #{@team.id});" %>
    <%= label_tag I18n.t('memberships.index.search.actives_members_checkbox'), nil, class: 'control-label' %>
  </div>
</div>

<div id="membership-table">
  <%= render 'memberships/memberships_table', company: @company, team: @team, memberships: @memberships %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'routes/membership_routes' %>
  <%= javascript_include_tag 'memberships/search_memberships' %>
<% end %>