<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.name, company_path(@company) %></li>
        <li><%= t('operation_results.index.title') %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <%= link_to t('operation_results.new.title'), new_company_operation_result_path(@company), class: 'btn btn-sm btn-primary botton-spaced-component' %>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th><%= OperationResult.human_attribute_name :result_date %></th>
      <th><%= t('general.week') %></th>
      <th><%= t('general.year') %></th>
      <th><%= OperationResult.human_attribute_name :people_billable_count %></th>
      <th><%= OperationResult.human_attribute_name :operation_week_value %></th>
      <th><%= OperationResult.human_attribute_name :available_hours %></th>
      <th><%= OperationResult.human_attribute_name :total_billable_hours %></th>
      <th><%= OperationResult.human_attribute_name :total_th %></th>
      <th><%= OperationResult.human_attribute_name :total_opened_bugs %></th>
      <th><%= OperationResult.human_attribute_name :total_accumulated_closed_bugs %></th>
      <th><%= t('general.table.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @operation_results.each do |result| %>
      <tr>
        <td><%= l result.result_date %></td>
        <td><%= result.result_date.cweek %></td>
        <td><%= result.result_date.cwyear %></td>
        <td><%= number_with_precision(result.people_billable_count, precision: 0) %></td>
        <td><%= number_to_currency(result.operation_week_value) %></td>
        <td><%= number_with_precision(result.available_hours, precision: 0) %></td>
        <td><%= number_with_precision(result.total_billable_hours, precision: 0) %></td>
        <td><%= number_with_precision(result.total_th, precision: 0) %></td>
        <td><%= number_with_precision(result.total_opened_bugs, precision: 0) %></td>
        <td><%= number_with_precision(result.total_accumulated_closed_bugs, precision: 0) %></td>
        <td>
          <%= link_to company_operation_result_path(@company, result), method: :delete do %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </tbody>
  </table>
</div>
