<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= I18n.t('initiatives.index.title') %></li>
    </ul>
  </div>
</div>

<div class="row pull-right">
  <div class="col-xs-12">
    <%= link_to I18n.t('initiatives.new.title'), new_company_initiative_path(@company, @initiative), class: 'btn btn-primary' %>
  </div>
</div>

<% if @initiatives.present? %>
  <table class="table">
    <thead>
    <tr>
      <th><%= Initiative.human_attribute_name(:name) %></th>
      <th><%= Initiative.human_attribute_name(:start_date) %></th>
      <th><%= Initiative.human_attribute_name(:end_date) %></th>
      <th><%= Consolidations::InitiativeConsolidation.human_attribute_name(:tasks_operational_risk) %></th>
      <th><%= Initiative.human_attribute_name(:projects) %></th>
      <th><%= Initiative.human_attribute_name(:demands) %></th>
      <% if @company.use_tasks? %>
        <th><%= Initiative.human_attribute_name(:tasks) %></th>
        <th><%= I18n.t('general.delivered') %></th>
        <th><%= I18n.t('general.percentage.delivered') %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @initiatives.each do |initiative| %>
      <tr>
        <td><%= link_to initiative.name, company_initiative_path(@company, initiative) %></td>
        <td><%= I18n.l(initiative.start_date) %></td>
        <td><%= I18n.l(initiative.end_date) %></td>
        <td><%= number_to_percentage(initiative.current_tasks_operational_risk * 100, precision: 2) %></td>
        <td><%= initiative.projects.count %></td>
        <td><%= initiative.demands.count %></td>
        <% if @company.use_tasks? %>
          <td><%= initiative.tasks.kept.count %></td>
          <td><%= initiative.tasks.kept.finished.count %></td>
          <td><span><%= number_to_percentage(initiative.remaining_backlog_tasks_percentage * 100, precision: 2) %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'layouts/no_data', missing_data: Initiative.model_name.human(count: 2) %>
    </div>
  </div>
<% end %>