<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to Initiative.model_name.human(count: 2), company_initiatives_path(@company) %></li>
      <li><%= @initiative.name %></li>
    </ul>
  </div>
</div>

<div class="row bottom-spaced-component">
  <div class="col-xs-12">
    <%= link_to generate_cache_company_initiative_path(@company, @initiative), class: 'pull-right', method: :post do %>
      <i class="fas fa-sync-alt" aria-hidden="true" title="<%= I18n.t('general.update_cache') %>"></i>
      <% if @initiative.last_update.present? %>
        <%= I18n.t('general.last_update.text', last_update: I18n.l(@initiative.last_update, format: :short)) %>
      <% else %>
        <%= I18n.t('general.consolidations.no_cache') %>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6">
    <div id="initiatives-tasks-completed"
         data-title='<%= I18n.t('charts.initiatives_completed.title') %>'
         data-seriesname='<%= I18n.t('charts.lead_time_zones.series_name') %>'
         data-series='<%= [{ name: I18n.t('general.backlog'), y: @tasks_completed },
                           { name: I18n.t('general.delivered'), y: @tasks_to_do }].to_json %>'
         data-decimals='0'
         data-tooltipsuffix="<%= Task.model_name.human(count: 2) %>">
    </div>
  </div>

  <div class="col-xs-6">
    <% if @burnup_adapter.x_axis.present? %>
      <div id="initiative-burnup-tasks"
           class="flow-chart"
           data-title='<%= I18n.t('charts.burnup.title') %>'
           data-weeks='<%= @burnup_adapter.x_axis.to_json %>'
           data-xtitle='<%= I18n.t('general.weeks') %>'
           data-ytitle='<%= Task.model_name.human(count: 2) %>'
           data-tooltipsuffix='<%= Task.model_name.human(count: 2) %>'
           data-prefix=''
           data-ideal='<%= @burnup_adapter.ideal_burn %>'
           data-current='<%= @burnup_adapter.current_burn %>'
           data-scope='<%= @burnup_adapter.scope %>'>
      </div>
    <% else %>
      <% render 'layouts/no_data', missing_data: I18n.t('general.data') %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div id="initiative-tasks-completion-time"
         class="flow-chart"
         data-xcategories='<%= @initiative_consolidations.map(&:consolidation_date).to_json %>'
         data-title='<%= I18n.t('tasks.charts.completion_time.title') %>'
         data-ytitle='<%= I18n.t('tasks.charts.completion_time.ytitle') %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('general.days') %>'
         data-datalabelsuffix=''
         data-series='<%= [{ name: I18n.t('charts.accumulated'), data: @initiative_consolidations.map(&:tasks_completion_time_p80).map { |completion_time| completion_time.to_f / 1.day }, visible: false },
                           { name: I18n.t('charts.in_month'), data: @initiative_consolidations.map(&:tasks_completion_time_p80_in_month).map { |completion_time| completion_time.to_f / 1.day } },
                           { name: I18n.t('charts.in_week'), data: @initiative_consolidations.map(&:tasks_completion_time_p80_in_week).map { |completion_time| completion_time.to_f / 1.day } },
                          ].to_json %>'
         data-decimals='2'>
    </div>
  </div>

  <div class="col-xs-6">
    <div id="initiative-tasks-risk"
         class="flow-chart"
         data-xcategories='<%= @initiative_consolidations.map(&:consolidation_date).to_json %>'
         data-title='<%= I18n.t('tasks.charts.risk.title') %>'
         data-ytitle='<%= I18n.t('tasks.charts.risk.ytitle') %>'
         data-prefix=''
         data-tooltipsuffix='%'
         data-datalabelsuffix=''
         data-series='<%= [{ name: I18n.t('tasks.charts.risk.ytitle'), data: @initiative_consolidations.map(&:tasks_operational_risk).map { |risk| risk.to_f * 100 } }].to_json %>'
         data-decimals='2'>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <% if @tasks_charts_adapter.x_axis.present? %>
      <div id="initiative-dashboard-tasks-flow-data-column"
           class="flow-chart"
           data-title="<%= I18n.t('demands.charts.flow_data') %>"
           data-xcategories="<%= @tasks_charts_adapter.x_axis.map(&:to_s).to_json %>"
           data-xtitle="<%= I18n.t('general.period') %>"
           data-ytitle="<%= I18n.t('demands.charts.demands.title') %>"
           data-prefix=""
           data-tooltipsuffix="<%= I18n.t('demands.charts.throughput.tooltipsufix') %>"
           data-datalabelsuffix=""
           data-series="<%= [
                              { name: I18n.t('demands.charts.creation_date'), data: @tasks_charts_adapter.creation_array },
                              { name: I18n.t('general.delivered'), data: @tasks_charts_adapter.throughput_array }
                            ].to_json %>"
           data-stacking=""
           data-decimals="0">
      </div>
    <% else %>
      <% render 'layouts/no_data', missing_data: I18n.t('general.data') %>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/burnup' %>
  <%= javascript_include_tag 'charts/donut' %>
  <%= javascript_include_tag 'charts/column' %>

  <%= javascript_include_tag 'initiatives/show' %>
<% end %>