<div class="standard-form">

  <div class="row">
    <div class='col-xs-6 form-group <%= 'has-error' if risk_review.errors[:meeting_date].present? %>'>
      <%= f.label :meeting_date, class: 'control-label required' %>
      <%= f.date_field :meeting_date, value: risk_review.meeting_date || Time.zone.today, class: 'form-control' %>
      <span class="help-block"><%= risk_review.errors[:meeting_date].join(', ') %></span>
    </div>
    <div class='col-xs-6 form-group <%= 'has-error' if risk_review.errors[:lead_time_outlier_limit].present? %>'>
      <%= f.label :lead_time_outlier_limit, class: 'control-label required' %>
      <i class="far fa-question-circle" title="<%= I18n.t('risk_review.help.lead_time_outlier_limit') %>"></i>
      <%= f.number_field :lead_time_outlier_limit, class: 'form-control', step: 1 %>
      <span class="help-block"><%= risk_review.errors[:lead_time_outlier_limit].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit class: 'btn btn-success' %>
      <%= link_to I18n.t('general.buttons.cancel'), '#', class: 'btn btn-danger', id: 'cancel-form-risk-review' %>
    </div>
  </div>
</div>
