<div class="row">
  <div class="col-xs-12">
    <%= link_to I18n.t('risk_reviews.new.title'), new_company_product_risk_review_path(company, product), class: 'btn btn-success bottom-spaced-component pull-right', remote: true %>
  </div>
</div>

<% if risk_reviews.blank? %>
  <%= render 'layouts/no_data', missing_data: RiskReview.model_name.human %>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= RiskReview.human_attribute_name :product %></th>
        <th><%= RiskReview.human_attribute_name :meeting_date %></th>
        <th><%= RiskReview.human_attribute_name :demands %></th>
        <th><%= RiskReview.human_attribute_name :demand_blocks %></th>
        <th><%= RiskReview.human_attribute_name :blocks_per_demand %></th>
      </tr>
    </thead>
    <tbody>
      <% risk_reviews.each do |risk_review| %>
        <tr>
          <td><%= risk_review.product_name %></td>
          <td><%= link_to I18n.l(risk_review.meeting_date), company_product_risk_review_path(@company, @product, risk_review) %></td>
          <td><%= risk_review.demands.count %></td>
          <td><%= risk_review.demand_blocks.count %></td>
          <td><%= number_with_precision(risk_review.blocks_per_demand, precision: 3) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
