<div class="row bottom-spaced-component">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to I18n.t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= link_to Product.model_name.human(count: 2), company_products_path(@company) %></li>
        <li><%= link_to @product.name, company_product_path(@company, @product) %></li>
        <li><%= RiskReview.model_name.human %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <%= render 'risk_reviews/risk_review_details' %>
  </div>

  <div class="col-xs-8">
    <h4>
      <%= RiskReviewActionItem.model_name.human(count: 2) %>
      <%= link_to new_company_product_risk_review_risk_review_action_item_path(@company, @product, @risk_review), remote: true do %>
        <i class="fa fa-plus-square"></i>
      <% end %>
    </h4>

    <div id="risk-review-action-items-container">
      <%= render 'risk_review_action_items/risk_review_action_items_table', risk_review_action_items: @risk_review.risk_review_action_items, company: @company %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('risk_reviews.show.class_of_services.title') %></h4>

    <% if @risk_review.demands.kept.count.positive? %>
      <div id="risk-review-class-of-services-donut"
           class="flow-chart"
           data-title=''
           data-seriesname='<%= I18n.t('general.class_of_service') %>'
           data-tooltipsuffix='<%= I18n.t('general.demands') %>'
           data-series='<%= Demand.class_of_services.map { |class_of_service| { name: I18n.t("activerecord.attributes.demand.enums.class_of_service.#{class_of_service[0]}"), y: @risk_review.demands.kept.send(class_of_service[0]).count } if @risk_review.demands.kept.send(class_of_service[0]).count.positive? }.compact.to_json %>'
           data-decimals='0'>
      </div>
    <% else %>
      <%= render 'layouts/no_data', missing_data: Demand.model_name.human(count: 2).downcase %>
    <% end %>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('demands.filter.impact_categories.title') %></h4>

    <% if @risk_review.flow_impacts.count.positive? %>
      <div id="risk-review-impact-categories-donut"
           class="flow-chart"
           data-title=''
           data-seriesname=''
           data-tooltipsuffix='<%= I18n.t('general.demand_impact') %>'
           data-series='<%= FlowImpact.impact_types.map { |impact_type| { name: I18n.t("activerecord.attributes.flow_impact.enums.impact_type.#{impact_type[0]}"), y: @risk_review.flow_impacts.send(impact_type[0]).count } if @risk_review.flow_impacts.send(impact_type[0]).count.positive? }.compact.to_json %>'
           data-decimals='0'>
      </div>
    <% else %>
      <%= render 'layouts/no_data', missing_data: FlowImpact.model_name.human(count: 2).downcase %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('demands.filter.block_categories.title') %></h4>

    <% if @risk_review.demand_blocks.count.positive? %>
      <div id="risk-review-block-categories-donut"
           class="flow-chart"
           data-title=''
           data-seriesname=''
           data-tooltipsuffix='<%= I18n.t('general.demand_blocks') %>'
           data-series='<%= DemandBlock.block_types.map { |block_type| { name: I18n.t("activerecord.attributes.demand_block.enums.block_type.#{block_type[0]}"), y: @risk_review.demand_blocks.send(block_type[0]).count } if @risk_review.demand_blocks.send(block_type[0]).count.positive? }.compact.to_json %>'
           data-decimals='0'>
      </div>
    <% else %>
      <%= render 'layouts/no_data', missing_data: RiskReview.model_name.human(count: 2).downcase %>
    <% end %>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('risk_reviews.show.average_blocked_time') %></h4>
    <% if @risk_review.avg_blocked_time_in_weeks[:chart][:data]&.count&.positive? %>
    <div id="average-blocked-time-in-time"
         class="flow-chart"
         data-title=''
         data-xcategories='<%= @risk_review.avg_blocked_time_in_weeks[:x_axis].to_json %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.time') %>'
         data-ytitle='<%= I18n.t('general.hours') %>'
         data-prefix=''
         data-tooltipsuffix='h'
         data-datalabelsuffix='h'
         data-series='<%= [@risk_review.avg_blocked_time_in_weeks[:chart]].to_json %>'
         data-decimals='2'>
    </div>
    <% else %>
      <%= render 'layouts/no_data', missing_data: RiskReview.model_name.human(count: 2).downcase %>
    <% end %>
  </div>

</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'demands', 'tablinks', 'tabcontent')"><%= I18n.t('risk_reviews.show.demands_label') %></button>
      <button class="tablinks" onclick="openTab(event, 'outlier-demands', 'tablinks', 'tabcontent')"><%= I18n.t('risk_reviews.show.outlier_demands_label') %></button>
      <button class="tablinks" onclick="openTab(event, 'bugs-list', 'tablinks', 'tabcontent')"><%= I18n.t('risk_reviews.show.bugs_label') %></button>
      <button class="tablinks" onclick="openTab(event, 'demand-blocks-table', 'tablinks', 'tabcontent')"><%= I18n.t('risk_reviews.show.demands_blocks_label') %></button>
      <button class="tablinks" onclick="openTab(event, 'flow-impacts', 'tablinks', 'tabcontent')"><%= I18n.t('risk_reviews.show.flow_impacts_label') %></button>
    </div>
  </div>
</div>

<div id="demands" class="tabcontent">
  <%= render 'demands/portfolio_demands_table', company: @company, product: @product, demands: @risk_review.demands.order(end_date: :desc) %>
</div>

<div id="outlier-demands" class="tabcontent">
  <%= render 'demands/portfolio_demands_table', company: @company, product: @product, demands: @risk_review.outlier_demands.order(end_date: :desc) %>
</div>

<div id="bugs-list" class="tabcontent">
  <%= render 'demands/portfolio_demands_table', company: @company, product: @product, demands: @risk_review.bugs.order(end_date: :desc) %>
</div>

<div id="demand-blocks-table" class="tabcontent">
  <%= render 'demand_blocks/demand_blocks_table', company: @company, demand_blocks_list: @risk_review.demand_blocks.order(:block_time), demand_blocks_ids: @risk_review.demand_blocks.order(:block_time).map(&:id).join(',') %>
</div>

<div id="flow-impacts" class="tabcontent">
  <%= render 'flow_impacts/flow_impacts_table', company: @company, flow_impacts_list: @risk_review.flow_impacts.order(impact_date: :desc) %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/donut' %>
  <%= javascript_include_tag 'charts/line' %>

  <%= javascript_include_tag 'components/components' %>

  <%= javascript_include_tag 'demand_blocks/form_modal' %>

  <%= javascript_include_tag 'risk_reviews/show' %>
<% end %>