<div class="row bottom-spaced-component">
  <div class="col-xs-12">
    <%= link_to I18n.t('slack_configurations.new.title'), new_company_slack_configuration_path(company, team), class: 'btn btn-success pull-right' %>
  </div>
</div>

<% if slack_configurations.present? %>
<table class="table tabble-striped">
  <thead>
    <th><%= I18n.t('general.table.actions') %></th>
    <th><%= I18n.t('slack_configurations.index.parent') %></th>
    <th><%= SlackConfiguration.human_attribute_name :config_type %></th>
    <th><%= SlackConfiguration.human_attribute_name :info_type %></th>
    <th><%= SlackConfiguration.human_attribute_name :room_webhook %></th>
    <th><%= SlackConfiguration.human_attribute_name :notification_hour %></th>
    <th><%= SlackConfiguration.human_attribute_name :notification_minute %></th>
    <th><%= SlackConfiguration.human_attribute_name :weekday_to_notify %></th>
    <th><%= I18n.t('slack_configurations.index.active') %></th>
  </thead>

  <tbody>
    <% slack_configurations.each do |slack_config| %>
    <tr id="slack_config_<%= slack_config.id %>">
      <%= render 'slack_configurations/slack_config_fields', company: company, team: team, slack_config: slack_config %>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <%= render 'layouts/no_data', missing_data: I18n.t('activerecord.models.slack_configuration.other') %>
<% end %>