<div class="row">
  <div class="col-xs-10">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= SlackConfiguration.model_name.human(cound: 2) %></li>
    </ul>
  </div>
</div>

<div id="slack-config-table">
  <%= render 'slack_configurations/slack_config_table', company: @company, team: @team, slack_configurations: @slack_configurations %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'slack_configurations/index' %>
<% end %>
