<div class="row">
  <div class="col-xs-4 col-xs-offset-4">

    <h2><%= I18n.t('devise.registrations.sign_up') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-horizontal') do |f| %>
      <%= render 'devise/shared/error_messages' %>

      <div class="form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, class: 'control-label' %><br />
        <% if params[:user_email].present? %>
          <%= label_tag :email_as_text, params[:user_email] %>
          <%= f.hidden_field :email, value: params[:user_email] %>
        <% else %>
          <%= f.email_field :email, class: 'form-control' %>
        <% end %>
      </div>

      <div class='form-group'>
        <%= f.label :language, class: 'control-label' %>
        <%= f.select :language, [%w[English en], %w[Português pt-BR]], {}, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
        <% if @minimum_password_length %>
          <span class="help-block"><%= I18n.t('devise.passwords.minimum', minimum_length_value: @minimum_password_length) %></span>
        <% end %><br />
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit I18n.t('devise.registrations.sign_up'), class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render 'devise/shared/links' %>
  </div>
</div>
