<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to 'Admin Dashboard', admin_dashboard_users_path %></li>
      <li><%= I18n.t('user_company_roles.new.title') %></li>
    </ul>
  </div>
</div>

<%= form_for [@user, @company, @user_company_role] do |f| %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-12">
      <%= render 'user_company_roles/form', f: f, user_company_role: @user_company_role %>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'products/form' %>
<% end %>
