<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to Customer.model_name.human(count: 2), company_customers_path(@company) %></li>
      <li><%= link_to @customer.name, company_customer_path(@company, @customer) %></li>
      <li><%= "#{Contract.model_name.human} - #{I18n.l(@contract.start_date)}" %></li>
    </ul>
  </div>
</div>

<%= render 'contracts/dashboards/contracts_dashboard', contracts_flow_information: @contracts_flow_information %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/column-line' %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/donut' %>

  <%= javascript_include_tag 'contracts/contract-charts' %>
  <%= javascript_include_tag 'contracts/show' %>
<% end %>
