<div class="row">
  <div class="col-xs-12">
    <h3><%= I18n.t('tasks.index.count', count: tasks_list.count) %></h3>
  </div>
</div>

<%= paginate paged_tasks.page(params[:page]) %>

<% if paged_tasks.empty? %>
  <%= render 'layouts/no_data', missing_data: Task.model_name.human.downcase %>
<% else %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= Task.human_attribute_name :external_id %></th>
      <th><%= Task.human_attribute_name :demand %></th>
      <th><%= Task.human_attribute_name :title %></th>
      <th><%= Task.human_attribute_name :created_date %></th>
      <th><%= Task.human_attribute_name :end_date %></th>
      <th><%= Task.human_attribute_name :completion_time %></th>
    </tr>
    </thead>
    <tbody>
    <% paged_tasks.each do |task| %>
      <tr>
        <td><%= link_to task.external_id, company_task_path(company, task) %></td>
        <td><%= task.demand_id %></td>
        <td><%= task.title %></td>
        <td><%= I18n.l(task.created_date, format: :short) %></td>
        <% if task.end_date.present? %>
          <td><%= I18n.l(task.end_date, format: :short) %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= time_distance_in_words(task.seconds_to_complete) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
