<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= Task.model_name.human(count: 2) %></li>
    </ul>
  </div>
</div>

<div id="dashboard-controls">
  <div class="row">
    <div class="col-xs-12 center">
      <div class="tab">
        <%= link_to I18n.t('general.list'), search_company_tasks_path(@company, tasks_search: params['tasks_search'], tasks_start_date: params['tasks_start_date'], tasks_end_date: params['tasks_end_date']), class: 'btn btn-default', method: :post %>
        <%= link_to I18n.t('general.tabs.charts'), '#', class: 'btn btn-default active' %>
      </div>
    </div>
  </div>
</div>

<div class="row bottom-spaced-component">
  <div class="col-xs-12">
    <h3><%= I18n.t('tasks.index.count', count: @tasks.count) %></h3>
    <h3><%= I18n.t('tasks.index.finished.count', count: @finished_tasks.count) %></h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <% if @task_completion_control_chart_data.present? %>
      <div id="tasks-completion-scatter"
           class="flow-chart"
           data-xcategories='<%= @task_completion_control_chart_data.map { |control_chart| control_chart[:id] }.to_json %>'
           data-series='<%= [{ name: I18n.t('tasks.charts.completion_time.title'), color: 'rgb(51, 51, 255)', data: @task_completion_control_chart_data.map { |scatter_chart| { y: scatter_chart[:completion_time] / 1.day, url: scatter_chart[:item_url] } } }].to_json %>'
           data-title='<%= I18n.t('tasks.charts.completion_control_chart.title') %>'
           data-prefix=''
           data-tooltipsuffix='<%= I18n.t('tasks.charts.completion_control_chart.ylabel') %>'
           data-percentile95='<%= Stats::StatisticsService.instance.percentile(95, @completion_times) / 1.day %>'
           data-percentile80='<%= Stats::StatisticsService.instance.percentile(80, @completion_times) / 1.day %>'
           data-percentile65='<%= Stats::StatisticsService.instance.percentile(65, @completion_times) / 1.day %>'>
      </div>
    <% else %>
      <% render 'layouts/no_data', missing_data: I18n.t('general.data') %>
    <% end %>
  </div>

  <div class="col-xs-6">
    <% if @task_wip_completion_control_chart_data.present? %>
      <div id="tasks-wip-completion-scatter"
           class="flow-chart"
           data-xcategories='<%= @task_wip_completion_control_chart_data.map { |control_chart| control_chart[:id] }.to_json %>'
           data-series='<%= [{ name: I18n.t('tasks.charts.completion_time.title'), color: 'rgb(51, 51, 255)', data: @task_wip_completion_control_chart_data.map { |scatter_chart| { y: scatter_chart[:completion_time] / 1.day, url: scatter_chart[:item_url] } } }].to_json %>'
           data-title='<%= I18n.t('tasks.charts.wip_completion_control_chart.title') %>'
           data-prefix=''
           data-tooltipsuffix='<%= I18n.t('tasks.charts.completion_control_chart.ylabel') %>'
           data-percentile95='<%= Stats::StatisticsService.instance.percentile(95, @completion_times) / 1.day %>'
           data-percentile80='<%= Stats::StatisticsService.instance.percentile(80, @completion_times) / 1.day %>'
           data-percentile65='<%= Stats::StatisticsService.instance.percentile(65, @completion_times) / 1.day %>'>
      </div>
    <% else %>
      <% render 'layouts/no_data', missing_data: I18n.t('general.data') %>
    <% end %>
  </div>
</div>

<div class="row bottom-spaced-component">

  <div class="col-xs-6">
    <% if @tasks_charts_adapter.x_axis.present? %>
      <div id="tasks-list-throughput-data-column"
           class="flow-chart"
           data-title="<%= I18n.t('demands.charts.flow_data') %>"
           data-xcategories="<%= @tasks_charts_adapter.x_axis.map(&:to_s).to_json %>"
           data-xtitle="<%= I18n.t('general.period') %>"
           data-ytitle="<%= I18n.t('demands.charts.demands.title') %>"
           data-prefix=""
           data-tooltipsuffix="<%= I18n.t('demands.charts.throughput.tooltipsufix') %>"
           data-datalabelsuffix=""
           data-series="<%= [
                              { name: I18n.t('demands.charts.creation_date'), data: @tasks_charts_adapter.creation_chart_data },
                              { name: I18n.t('general.delivered'), data: @tasks_charts_adapter.throughput_chart_data }
                            ].to_json %>"
           data-stacking=""
           data-decimals="0">
      </div>
    <% else %>
      <% render 'layouts/no_data', missing_data: I18n.t('general.data') %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <% if @tasks_charts_adapter.x_axis.present? %>
      <div id="tasks-list-completion-time-evolution"
           class="flow-chart"
           data-title='<%= I18n.t('projects.charts.leadtime_evolution.title') %>'
           data-xcategories='<%= @tasks_charts_adapter.x_axis.map(&:to_s).to_json %>'
           data-series='<%= @tasks_charts_adapter.completion_percentiles_on_time_chart_data[:y_axis].to_json %>'
           data-xtitle='<%= I18n.t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= I18n.t('projects.charts.leadtime_evolution.ylabel') %>'
           data-tooltipsuffix='<%= I18n.t('projects.charts.leadtime_evolution.ylabel') %>'
           data-datalabelsuffix=''
           data-prefix=''
           data-decimals='2'>
      </div>
    <% else %>
      <%= render 'layouts/no_data', missing_data: I18n.t('general.data') %>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/scatter' %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/line' %>

  <%= javascript_include_tag 'tasks/charts' %>
<% end %>
