<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= Task.model_name.human(count: 2) %></li>
    </ul>
  </div>
</div>

<div id="dashboard-controls">
  <div class="row">
    <div class="col-xs-12 center">
      <div class="tab">
        <%= link_to I18n.t('general.list'), '#', class: 'btn btn-default active' %>
        <%= link_to I18n.t('general.tabs.charts'), charts_company_tasks_path(@company, tasks_search: params['tasks_search'], tasks_start_date: params['tasks_start_date'], tasks_end_date: params['tasks_end_date']), class: 'btn btn-default', method: :post %>
      </div>
    </div>
  </div>
</div>

<hr>

<%= form_tag search_company_tasks_path(@company) do %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-6">
      <%= label_tag I18n.t('general.search_text'), nil, class: 'control-label' %>
      <%= text_field_tag :tasks_search, params['tasks_search'], class: 'form-control', placeholder: I18n.t('tasks.index.search.placeholder') %>
    </div>
    <div class="col-xs-6">
      <%= label_tag Task.human_attribute_name(:end_date), nil, class: 'control-label' %>
      <%= select_tag :task_status, options_for_select([[I18n.t('general.open'), :not_finished], [I18n.t('general.finished'), :finished]], params[:task_status]), include_blank: I18n.t('general.select'), class: 'form-control' %>
    </div>
  </div>

  <div class="row row-equal">
    <div class="col-xs-5">
      <%= label_tag I18n.t('general.search.start_date'), nil, class: 'control-label' %>
      <i class="far fa-question-circle" title="<%= I18n.t('tasks.index.search.helpers.date') %>"></i>
      <%= date_field_tag :tasks_start_date, params[:tasks_start_date], class: 'form-control' %>
    </div>

    <div class="col-xs-5">
      <%= label_tag I18n.t('general.search.end_date'), nil, class: 'control-label' %>
      <i class="far fa-question-circle" title="<%= I18n.t('tasks.index.search.helpers.date') %>"></i>
      <%= date_field_tag :tasks_end_date, params[:tasks_end_date], class: 'form-control' %>
    </div>

    <div class="col-xs-2">
      <%= submit_tag I18n.t('general.search.title'), class: 'btn btn-sm btn-success bottom-button' %>
    </div>
  </div>
<% end  %>

<hr>

<%= render 'tasks/tasks_table', company: @company, tasks_list: @tasks, paged_tasks: @paged_tasks, finished_tasks: @finished_tasks %>
