<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= Task.model_name.human(count: 2) %></li>
    </ul>
  </div>
</div>

<div id="dashboard-controls">
  <div class="row">
    <div class="col-xs-12 center">
      <div class="tab">
        <%= link_to I18n.t('general.list'), '#', class: 'btn btn-default active' %>
        <%= link_to I18n.t('general.tabs.charts'), charts_company_tasks_path(@company, tasks_search: params['tasks_search']), class: 'btn btn-default', method: :post %>
      </div>
    </div>
  </div>
</div>

<hr>

<%= form_tag search_company_tasks_path(@company) do %>
  <div class="row row-equal">
    <div class="col-xs-6">
      <%= label_tag I18n.t('general.search_text'), nil, class: 'control-label' %>
      <%= text_field_tag :tasks_search, params['tasks_search'], class: 'form-control', placeholder: I18n.t('tasks.index.search.placeholder') %>
    </div>
    <div class="col-xs-2">
      <%= submit_tag I18n.t('general.search'), class: 'btn btn-sm btn-success bottom-button' %>
    </div>
  </div>
<% end  %>

<hr>

<%= render 'tasks/tasks_table', company: @company, tasks_list: @tasks, paged_tasks: @paged_tasks %>
