<h4 class="mb-3">
  <%= I18n.t('general.delivered_count', count: @customer_last_deliveries.count) %>
</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Project.model_name.human %></th>
      <th class="cell-small"><%= Demand.human_attribute_name(:external_id) %></th>
      <th><%= Demand.human_attribute_name(:title) %></th>
      <th><%= Demand.human_attribute_name(:end_date) %></th>
      <th class="cell-small"><%= Demand.human_attribute_name(:lead_time) %></th>
      <th class="cell-small"><%= I18n.t('demands.index.cost_to_project') %></th>
    </tr>
  </thead>
  <tbody>
    <% demands.each do |demand| %>
      <tr>
        <% if devise_customer_signed_in? %>
          <td class="truncated-table-column"><%= demand.project_name %></td>
        <% else %>
          <td class="truncated-table-column"><%= link_to demand.project_name, company_project_path(demand.company, demand.project), target: :_blank %></td>
        <% end %>

        <td><%= link_to demand.external_id, company_demand_path(company, demand.slug), target: :_blank %></td>
        <td class="truncated-table-column"><%= demand.demand_title %></td>

        <td><%= I18n.l(demand.end_date, format: :short) %></td>
        <td><%= time_distance_in_words(demand.leadtime) %></td>
        <td><%= number_to_currency(demand.cost_to_project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customer_last_deliveries.page(params[:page]) %>
