<div class="row">
  <div class="col-xs-12">
    <div class="pull-right bottom-spaced-component">
      <%= link_to I18n.t('portfolio_units.new.button'), new_company_product_portfolio_unit_path(company, product), class: 'btn btn-success', remote: true %>
    </div>
  </div>
</div>

<% if portfolio_units.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= PortfolioUnit.human_attribute_name :name %></th>
        <th><%= PortfolioUnit.human_attribute_name :portfolio_unit_type %></th>
        <th><%= PortfolioUnit.human_attribute_name :jira_portfolio_unit_config %></th>
      </tr>
    </thead>
    <tbody>
      <% portfolio_units.each do |unit| %>
        <td><%= unit.name %></td>
        <td><%= I18n.t("activerecord.attributes.portfolio_unit.enums.portfolio_unit_type.#{unit.portfolio_unit_type}") %></td>
        <td><%= unit.jira_portfolio_unit_config&.jira_field_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render 'layouts/no_data', missing_data: I18n.t('activerecord.models.portfolio_unit.other') %>
<% end %>