<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to @product.name.upcase, company_product_path(@company, @product) %></li>
      <li><%= I18n.t('portfolio_units.index.title') %></li>
    </ul>
  </div>
</div>

<div class="row pull-right">
  <div class="col-xs-12">
    <%= link_to I18n.t('portfolio_units.new.button'), new_company_product_portfolio_unit_path(@company, @product), class: 'btn btn-success' %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= PortfolioUnit.human_attribute_name :parent %></th>
      <th><%= PortfolioUnit.human_attribute_name :name %></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolio_units.each do |portfolio_unit| %>
      <tr>
        <td><%= portfolio_unit.parent_name %></td>
        <td><%= portfolio_unit.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>