<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to @product.name, company_product_path(@company, @product) %></li>
      <li><%= @portfolio_unit.name %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="tab">
      <button class="tablinks portfolio-unit-demands-tab" onclick="openTab(event, 'portfolio-unit-demands', 'tablinks', 'tabcontent')"><%= I18n.t('portfolio_units.show.navbar.demands') %></button>
      <button class="tablinks" onclick="openTab(event, 'portfolio-unit-structure', 'tablinks', 'tabcontent')"><%= I18n.t('portfolio_units.show.navbar.structure') %></button>
    </div>
  </div>
</div>

<div id="portfolio-unit-demands" class="tabcontent">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'demands/portfolio_demands_table', company: @company, demands: @portfolio_unit.total_portfolio_demands %>
    </div>
  </div>
</div>

<div id="portfolio-unit-structure" class="tabcontent">
  <%= render 'products/product_tree', portfolio_unit: @portfolio_unit, children: @portfolio_unit.children %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'components/components' %>

  <%= javascript_include_tag 'portfolio_units/show' %>
<% end %>
