<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to @product.name, company_product_path(@company, @product) %></li>
      <li><%= @portfolio_unit.name %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="tab">
      <button class="tablinks portfolio-unit-demands-tab" onclick="openTab(event, 'portfolio-unit-demands', 'tablinks', 'tabcontent')"><%= t('portfolio_units.show.navbar.demands') %></button>
      <button class="tablinks" onclick="openTab(event, 'portfolio-unit-structure', 'tablinks', 'tabcontent')"><%= t('portfolio_units.show.navbar.structure') %></button>
    </div>
  </div>
</div>

<div id="portfolio-unit-demands" class="tabcontent">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'demands/portfolio_demands_table', company: @company, demands: @portfolio_unit.total_portfolio_demands %>
    </div>
  </div>
</div>

<div id="portfolio-unit-structure" class="tabcontent">
  <div class="row">
    <% @portfolio_unit.portfolio_structure.each do |branch| %>
      <div class="col-xs-2 col-xs-offset-5 center product-branch">
        <div class="card-header">
          <small class="pull-left bottom-spaced-component"><%= number_to_currency(branch.total_cost, precision: 2) %></small>
          <small class="pull-right bottom-spaced-component"><%= I18n.t('general.hours_text', hour_value: branch.total_hours) %></small>
        </div>

        <div class="card-title">
          <%= branch.name %>
        </div>

        <div class="card-subtitle">
          <%= I18n.t('general.demands_text', demands_count: branch.total_portfolio_demands.count) %>
        </div>

        <div class="progress card-progress-bar">
          <div class="progress-bar bg-success" role="progressbar" style="width: <%= "#{branch.percentage_complete * 100}" %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "#{number_with_precision(branch.percentage_complete * 100, precision: 2)}%" %></div>
        </div>
      </div>

      <% if branch != @portfolio_unit.portfolio_structure.last %>
        <div class="col-xs-2 col-xs-offset-5 product-tree-connector">
          <i class="fas fa-arrow-down"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'components/components' %>

  <%= javascript_include_tag 'portfolio_units/show' %>
<% end %>
