<div class="standard-form">

  <div class="row">
    <div class='col-xs-6 form-group <%= 'has-error' if jira_custom_field_mapping.errors[:demand_field].present? %>'>
      <%= f.label :demand_field, class: 'control-label' %>
      <%= f.select :demand_field, Jira::JiraCustomFieldMapping.demand_fields.map { |key, _value| [I18n.t("activerecord.attributes.jira/jira_custom_field_mapping.enums.demand_field.#{key}"), key] }, { selected: jira_custom_field_mapping.demand_field }, class: 'form-control' %>
      <span class="help-block"><%= jira_custom_field_mapping.errors[:demand_field].join(', ') %></span>
    </div>

      <div class='col-xs-6 form-group <%= 'has-error' if jira_custom_field_mapping.errors[:custom_field_machine_name].present? %>'>
        <%= f.label :custom_field_machine_name, class: 'control-label required' %>
        <%= f.text_field :custom_field_machine_name, class: 'form-control', placeholder: 'customfield_10000' %>
        <span class="help-block"><%= jira_custom_field_mapping.errors[:custom_field_machine_name].join(', ') %></span>
      </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit class: 'btn btn-success' %>
      <%= link_to I18n.t('general.buttons.cancel'), '#', class: 'btn btn-danger', id: 'cancel-form-jira-custom-field-mapping' %>
    </div>
  </div>
</div>
