<div class="row">
  <div class="col-xs-12">
    <div class="pull-right bottom-spaced-component">
      <%= link_to I18n.t('jira_project_configs.new.title'), new_company_project_jira_project_config_path(company, project), class: 'btn btn-sm btn-success new-jira-config-button' %>
    </div>
  </div>
</div>

<% if project.jira_project_configs.present? %>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <th><%= Jira::JiraProjectConfig.human_attribute_name :jira_product_config %></th>
          <th><%= Jira::JiraProjectConfig.human_attribute_name :fix_version_name %></th>
          <th></th>
        </thead>
        <tbody>
          <% project.jira_project_configs.each do |config| %>
            <tr>
              <td><%= config.jira_product_config.jira_product_key %></td>
              <td><%= config.id %></td>
              <td><%= config.fix_version_name %></td>
              <td>
                <%= link_to company_project_jira_project_config_path(company, project, config), method: :delete, data: { confirm: I18n.t('general.destroy.confirm') } do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
                <% end %>
                <%= link_to edit_company_project_jira_project_config_path(company, project, config) do %>
                  <i class="fa fa-edit" aria-hidden="true"></i>
                <% end %>

                <%= link_to synchronize_jira_company_project_jira_project_config_path(company, project, config), method: :put, remote: true do %>
                  <i class="fas fa-sync-alt" aria-hidden="true" title="<%= I18n.t('projects.show.sync_jira') %>"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="no-data">
    <%= I18n.t('general.no_data', missing_data: Jira::JiraProjectConfig.model_name.human(count: 2).downcase) %>
  </div>
<% end %>

<div class="modal fade" id="new-project-jira-config-form" tabindex="-1" role="dialog" aria-labelledby="new-project-jira-config-form" aria-hidden="true"></div>
