<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="new-jira-config"><%= t('jira_project_configs.new.title') %></h4>
    </div>
    <div class="modal-body">
      <%= form_for jira_project_config, url: company_project_jira_project_configs_path(company, project), remote: true do |form| %>
        <div class="row">
          <div class='col-xs-12 form-group <%= 'has-error' if jira_project_config.errors[:fix_version_name].present? %>'>
            <%= form.label :fix_version_name, class: 'control-label required' %>
            <i class="far fa-question-circle" title="<%= t('jira_project_configs.new.fix_version_field.help') %>"></i>
            <%= form.text_field :fix_version_name, class: 'form-control' %>
            <span class="help-block"><%= jira_project_config.errors[:fix_version_name].join(', ') %></span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <%= form.submit t('general.buttons.save'), class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
