<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('projects.portfolio_bulletin.portfolio_bulletin_text') %></h1>

    <h3><%= t('projects.bulletin.starting_title', company_name: @company.name) %></h3>
    <% if @projects_starting.present? %>
      <% @projects_starting.each do |project| %>
        <ul>
          <li><%= link_to "#{project.full_name} (#{l(project.start_date)}) [#{number_with_precision(project.flow_pressure , precision: 3)}]", company_project_url(@company, project) %></li>
        </ul>
      <% end %>
    <% else %>
      <%= t('projects.no_project_starting_week') %>
    <% end %>

    <h3><%= t('projects.portfolio_bulletin.finishing_title') %></h3>
    <% if @projects_finishing.present? %>
      <% @projects_finishing.each do |project| %>
        <ul>
          <li><%= link_to "#{project.full_name} (#{l(project.end_date)}) [#{number_with_precision(project.flow_pressure , precision: 3)}]", company_project_url(@company, project) %></li>
        </ul>
      <% end %>
    <% else %>
      <%= t('projects.no_project_finishing_week') %>
    <% end %>

    <h3><%= t('projects.portfolio_bulletin.next_starting_project') %></h3>
    <% if @next_starting_project.present? %>
      <ul>
        <li><%= link_to "#{@next_starting_project.full_name} (#{l(@next_starting_project.start_date)}) [#{number_with_precision(@next_starting_project.flow_pressure , precision: 3)}]", company_project_url(@company, @next_starting_project) %></li>
      </ul>
    <% else %>
      <%= t('projects.no_project_starting') %>
    <% end %>

    <h3><%= t('projects.portfolio_bulletin.next_finishing_project') %></h3>
    <% if @next_finishing_project.present? %>
      <ul>
        <li><%= link_to "#{@next_finishing_project.full_name} (#{l(@next_finishing_project.end_date)}) [#{number_with_precision(@next_finishing_project.flow_pressure , precision: 3)}]", company_project_url(@company, @next_finishing_project) %></li>
      </ul>
    <% else %>
      <%= t('projects.no_project_finishing') %>
    <% end %>

    <h3><%= t('projects.portfolio_bulletin.red_projects') %></h3>
    <% if @red_projects.present? %>
      <% @red_projects.each do |red_project| %>
        <ul>
          <li><%= link_to "#{red_project.full_name} (#{l(red_project.end_date)}) [#{number_with_precision(red_project.flow_pressure , precision: 3)}]", company_project_url(@company, red_project) %></li>
        </ul>
      <% end %>
    <% else %>
      <%= t('projects.no_demands_delivered') %>
    <% end %>

    <h3><%= t('projects.portfolio_bulletin.top_three_flow_pressure') %></h3>
    <% if @top_three_flow_pressure.present? %>
      <% @top_three_flow_pressure.each do |project| %>
        <ul>
          <li><%= link_to "#{project.full_name} (#{l(project.end_date)}) [#{number_with_precision(project.flow_pressure , precision: 3)}]", company_project_url(@company, project) %></li>
        </ul>
      <% end %>
    <% else %>
      <%= t('projects.no_top_three_flow_pressure') %>
    <% end %>

    <h3><%= t('projects.portfolio_bulletin.top_three_throughput') %></h3>
    <% if @top_three_throughput.present? %>
      <% @top_three_throughput.each do |project| %>
        <ul>
          <li><%= link_to "#{project.full_name} (#{l(project.end_date)}) [#{number_with_precision(project.total_throughput_for(1.week.ago.to_date) , precision: 3)}]", company_project_url(@company, project) %></li>
        </ul>
      <% end %>
    <% else %>
      <%= t('projects.no_top_three_throughput') %>
    <% end %>

    <h3><%= t('projects.portfolio_bulletin.delivered_demands') %></h3>
    <% if @demands_delivered.present? %>
      <% @demands_delivered.each do |demand| %>
        <ul>
          <li><%= "#{demand.project_result.project.product.name}|#{demand.project_result.project.name}|#{demand.demand_id} - #{t('projects.bulletin.demand_effort')} #{number_with_precision(demand.effort, precision: 2)})" %></li>
        </ul>
      <% end %>
    <% else %>
      <%= t('projects.no_demands_delivered') %>
    <% end %>
  </body>
</html>
