<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('projects.bulletin.title', company_name: @company.name) %></h1>

    <h3><%= t('projects.starting_finishing.starting_title') %></h3>
    <% if @projects_starting.present? %>
      <% @projects_starting.each do |project| %>
        <ul>
          <li><%= link_to "#{project.full_name} (#{l(project.start_date)}) [#{number_with_precision(project.flow_pressure , precision: 3)}]", company_project_url(@company, project) %></li>
        </ul>
      <% end %>
    <% else %>
      <%= t('projects.no_project_starting_week') %>
    <% end %>

    <h3><%= t('projects.starting_finishing.finishing_title') %></h3>
    <% if @projects_finishing.present? %>
      <% @projects_finishing.each do |project| %>
        <ul>
          <li><%= link_to "#{project.full_name} (#{l(project.end_date)}) [#{number_with_precision(project.flow_pressure , precision: 3)}]", company_project_url(@company, project) %></li>
        </ul>
      <% end %>
    <% else %>
      <%= t('projects.no_project_finishing_week') %>
    <% end %>

    <h3><%= t('projects.starting_finishing.next_starting_project') %></h3>
    <% if @next_starting_project.present? %>
      <ul>
        <li><%= link_to "#{@next_starting_project.full_name} (#{l(@next_starting_project.start_date)}) [#{number_with_precision(@next_starting_project.flow_pressure , precision: 3)}]", company_project_url(@company, @next_starting_project) %></li>
      </ul>
    <% else %>
      <%= t('projects.no_project_starting') %>
    <% end %>

    <h3><%= t('projects.starting_finishing.next_finishing_project') %></h3>
    <% if @next_finishing_project.present? %>
      <ul>
        <li><%= link_to "#{@next_finishing_project.full_name} (#{l(@next_finishing_project.end_date)}) [#{number_with_precision(@next_finishing_project.flow_pressure , precision: 3)}]", company_project_url(@company, @next_finishing_project) %></li>
      </ul>
    <% else %>
      <%= t('projects.no_project_finishing') %>
    <% end %>

    <h3><%= t('projects.starting_finishing.top_three_flow_pressure') %></h3>
    <% if @top_three_flow_pressure.present? %>
      <% @top_three_flow_pressure.each do |project| %>
        <ul>
          <li><%= link_to "#{project.full_name} (#{l(project.end_date)}) [#{number_with_precision(project.flow_pressure , precision: 3)}]", company_project_url(@company, project) %></li>
        </ul>
      <% end %>
    <% else %>
      <%= t('projects.no_top_three_flow_pressure') %>
    <% end %>
  </body>
</html>
