<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.delivered_scope') %></h4>

    <div id="contracts-dashboard-scope-completed-donut"
         class="flow-chart"
         data-title=''
         data-seriesname=''
         data-tooltipsuffix='<%= I18n.t('general.demands') %>'
         data-series='<%= [{ name: I18n.t('general.delivered'), y: contracts_flow_information.delivered_demands_count },
                           { name: I18n.t('general.backlog'), y: contracts_flow_information.remaining_backlog_count }].to_json %>'
         data-decimals='0'>
    </div>
  </div>
  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.delivered_hours') %></h4>

    <div id="contracts-dashboard-hours-completed-donut"
         class="flow-chart"
         data-title=''
         data-seriesname=''
         data-tooltipsuffix='<%= I18n.t('general.hours') %>'
         data-series='<%= [{ name: I18n.t('general.delivered'), y: contracts_flow_information.consumed_hours.to_f },
                           { name: I18n.t('general.backlog'), y: contracts_flow_information.remaining_hours.to_f }].to_json %>'
         data-decimals='0'>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.contracts_cost_burnup.title') %></h4>
    <div id="customer-financial-burnup-line"
         class="flow-chart"
         data-xcategories="<%= contracts_flow_information.dates_array.to_json %>"
         data-title=""
         data-ytitle="<%= I18n.t('general.money') %>"
         data-prefix="<%= I18n.t('number.currency.format.unit') %>"
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series="<%= contracts_flow_information.build_financial_burnup.to_json %>"
         data-decimals="2">
    </div>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.contracts_hours_burnup.title') %></h4>
    <div id="customer-hours-burnup-line"
         class="flow-chart"
         data-xcategories="<%= contracts_flow_information.dates_array.to_json %>"
         data-title=""
         data-ytitle="<%= I18n.t('general.hours') %>"
         data-prefix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series="<%= contracts_flow_information.build_hours_burnup.to_json %>"
         data-decimals="2">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.contracts_scope_burnup.title') %></h4>
    <div id="customer-scope-burnup-line"
         class="flow-chart"
         data-xcategories="<%= contracts_flow_information.dates_array.to_json %>"
         data-title=""
         data-ytitle="<%= I18n.t('general.demands') %>"
         data-prefix=""
         data-tooltipsuffix="<%= I18n.t('general.demands') %>"
         data-datalabelsuffix=""
         data-series="<%= contracts_flow_information.build_scope_burnup.to_json %>"
         data-decimals="1">
    </div>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.quality_info.title') %></h4>
    <div id="customer-quality-line"
         class="flow-chart"
         data-xcategories="<%= contracts_flow_information.dates_array.to_json %>"
         data-title=""
         data-ytitle="<%= I18n.t('charts.quality_info.bugs_by_delivery') %>"
         data-prefix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series="<%= contracts_flow_information.build_quality_info.to_json %>"
         data-decimals="3">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.lead_time.title') %></h4>

    <div id="line-leadtime-accumalated-customer"
         class="flow-chart"
         data-xcategories="<%= contracts_flow_information.dates_array.to_json %>"
         data-title=""
         data-ytitle="<%= I18n.t('general.days') %>"
         data-prefix=""
         data-tooltipsuffix="<%= I18n.t('general.days') %>"
         data-datalabelsuffix=""
         data-series="<%= contracts_flow_information.build_lead_time_info.to_json %>"
         data-decimals="2">
    </div>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.throughput.title') %></h4>

    <div id="customer-throughput-column-dashboard"
         class="flow-chart"
         data-title=""
         data-xcategories="<%= contracts_flow_information.dates_array.to_json %>"
         data-ytitle="<%= I18n.t('general.demands') %>"
         data-prefix=""
         data-tooltipsuffix="<%= I18n.t('general.demands') %>"
         data-datalabelsuffix=""
         data-series="<%= contracts_flow_information.build_throughput_info.to_json %>"
         data-stacking="normal"
         data-decimals="0">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.operational_risk.title') %></h4>

      <div id="line-operational-risk-contract"
           class="flow-chart"
           data-xcategories="<%= contracts_flow_information.dates_limit_now_array.to_json %>"
           data-title=""
           data-ytitle="<%= I18n.t('general.risk.label') %>"
           data-prefix=""
           data-tooltipsuffix="%"
           data-datalabelsuffix=""
           data-series="<%= contracts_flow_information.build_risk_info.to_json %>"
           data-decimals="2">
      </div>
  </div>
</div>