<div class="standard-form">

  <div class="row">
    <% if team_member.persisted? %>
      <div class='col-xs-12 form-group <%= 'has-error' if team_member.errors[:team].present? %>'>
        <%= f.label :team, class: 'control-label' %>
        <%= f.select :team, company.teams.map { |team| [team.name, team.id] }, { include_blank: I18n.t('general.select'), selected: team_member.team_id }, class: 'form-control' %>
        <span class="help-block"><%= team_member.errors[:team].join(', ') %></span>
      </div>
    <% end %>

    <div class='col-xs-6 form-group <%= 'has-error' if team_member.errors[:name].present? %>'>
      <%= f.label :name, class: 'control-label required' %>
      <%= f.text_field :name, class: 'form-control', autofocus: true %>
      <span class="help-block"><%= team_member.errors[:name].join(', ') %></span>
    </div>
    <div class='col-xs-6 form-group <%= 'has-error' if team_member.errors[:billable_type].present? %>'>
      <%= f.label :billable_type, class: 'control-label' %>
      <%= f.select :billable_type, TeamMember.billable_types.map { |key, _value| [t("activerecord.attributes.team_member.enums.billable_type.#{key}"), key] }, { include_blank: I18n.t('general.select'), selected: team_member.billable_type }, class: 'form-control' %>
      <span class="help-block"><%= team_member.errors[:billable_type].join(', ') %></span>
    </div>

    <div class='col-xs-6 form-group <%= 'has-error' if team_member.errors[:jira_account_user_email].present? %>'>
      <%= f.label :jira_account_user_email, class: 'control-label' %>
      <%= f.text_field :jira_account_user_email, class: 'form-control' %>
      <span class="help-block"><%= team_member.errors[:jira_account_user_email].join(', ') %></span>
    </div>

    <div class='col-xs-6 form-group <%= 'has-error' if team_member.errors[:jira_account_id].present? %>'>
      <%= f.label :jira_account_id, class: 'control-label' %>
      <%= f.text_field :jira_account_id, class: 'form-control', placeholder: '557058:1443bd4b-d660-4319-946e-1ed68fd24b64' %>
      <span class="help-block"><%= team_member.errors[:jira_account_id].join(', ') %></span>
    </div>

    <div class='col-xs-3 form-group <%= 'has-error' if team_member.errors[:start_date].present? %>'>
      <%= f.label :start_date, class: 'control-label required' %>
      <%= f.date_field :start_date, class: 'form-control' %>
      <span class="help-block"><%= team_member.errors[:monthly_payment].join(', ') %></span>
    </div>
    <div class='col-xs-3 form-group'>
      <%= f.label :end_date, class: 'control-label' %>
      <%= f.date_field :end_date, class: 'form-control' %>
    </div>
    <div class='col-xs-6 form-group <%= 'has-error' if team_member.errors[:monthly_payment].present? %>'>
      <%= f.label :monthly_payment, class: 'control-label required' %>
      <%= f.number_field :monthly_payment, class: 'form-control', step: 0.01 %>
      <span class="help-block"><%= team_member.errors[:monthly_payment].join(', ') %></span>
    </div>

    <div class='col-xs-6 form-group <%= 'has-error' if team_member.errors[:hours_per_month].present? %>'>
      <%= f.label :hours_per_month, class: 'control-label required' %>
      <%= f.number_field :hours_per_month, class: 'form-control', step: 1, id: 'hours_per_month' %>
      <span class="help-block"><%= team_member.errors[:hours_per_month].join(', ') %></span>
    </div>
    <div class='col-xs-6 form-check bottom-spaced-component'>
      <%= f.check_box :active, class: 'form-check-input', checked: true %>
      <%= f.label :active, class: 'form-check-label' %>
    </div>
    <div class='col-xs-6 form-check bottom-spaced-component'>
      <%= f.check_box :billable, class: 'form-check-input', checked: true %>
      <%= f.label :billable, class: 'form-check-label' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
</div>
