<div class="standard-form">

  <div class="row">
    <div class='col-xs-4 form-group <%= 'has-error' if @team_member.errors[:name].present? %>'>
      <%= f.label :name, class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control', autofocus: true %>
      <span class="help-block"><%= @team_member.errors[:name].join(', ') %></span>
    </div>

    <div class='col-xs-4 form-group <%= 'has-error' if @team_member.errors[:monthly_payment].present? %>'>
      <%= f.label :monthly_payment, class: 'control-label' %>
      <%= f.number_field :monthly_payment, value: @team_member.monthly_payment, class: 'form-control', step: 0.01 %>
      <span class="help-block"><%= @team_member.errors[:monthly_payment].join(', ') %></span>
    </div>

    <div class='col-xs-4 form-group <%= 'has-error' if @team_member.errors[:hours_per_month].present? %>'>
      <%= f.label :hours_per_month, class: 'control-label' %>
      <%= f.number_field :hours_per_month, value: @team_member.hours_per_month, class: 'form-control', step: 1 %>
      <span class="help-block"><%= @team_member.errors[:hours_per_month].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-6 form-check botton-spaced-component'>
      <%= f.check_box :billable, class: 'form-check-input', checked: true %>
      <%= f.label :billable, class: 'form-check-label' %>
    </div>

    <div class='col-xs-4 form-group <%= 'has-error' if @team_member.errors[:billable_type].present? %>'>
      <%= f.label :billable_type, class: 'control-label' %>
      <%= f.select :billable_type, TeamMember.billable_types.map { |key, _value| [t("activerecord.attributes.team_member.enums.billable_type.#{key}"), key] }, { include_blank: t('general.select'), selected: @team_member.billable_type }, class: 'form-control' %>
      <span class="help-block"><%= @team_member.errors[:billable_type].join(', ') %></span>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
</div>
