<h4><%= I18n.t('user.dashboard.pairing_info') %></h4>

<div id="user-dashboard-pairing-column"
     class="flow-chart"
     data-title=''
     data-xcategories='<%= pairing_chart.keys %>'
     data-xtitle='<%= I18n.t('general.people') %>'
     data-ytitle='<%= I18n.t('general.demands') %>'
     data-prefix=''
     data-tooltipsuffix=''
     data-datalabelsuffix='x'
     data-series='<%= [{ name: I18n.t('general.people'), data: pairing_chart.values }].to_json %>'
     data-decimals='0'>
</div>
