<div id="line-leadtime-accumalated-user"
     class="flow-chart"
     data-xcategories="<%= operations_dashboards.map(&:dashboard_date).to_json %>"
     data-title="<%= I18n.t('projects.charts.leadtime_evolution.title') %>"
     data-ytitle="<%= I18n.t('general.days') %>"
     data-prefix=""
     data-tooltipsuffix="<%= I18n.t('general.days') %>"
     data-datalabelsuffix=""
     data-series="<%= [{ name: I18n.t('teams.show.lead_time_p80_accumulated'), data: operations_dashboards.map { |dashboard| (dashboard.lead_time_p80 / 1.day).round(2).to_f } }].to_json %>"
     data-decimals="2">
</div>
