<h2><%= I18n.t('team_members.index.title') %></h2>

<div class="row">
  <div class='col-xs-4 form-group'>
    <% if current_user.managing_company?(company) || current_user.admin? %>
      <%= link_to I18n.t('team_members.new.title'), new_company_team_member_path(company), class: 'btn btn-sm btn-primary bottom-spaced-component', remote: true %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class='col-xs-4 form-group'>
    <%= check_box_tag :active_members, '1', 'false', class: 'active_members_search', onchange: "searchTeamMembersClick(#{company.id});" %>
    <%= label_tag I18n.t('team_members.index.search.actives_members_checkbox'), nil, class: 'control-label' %>
  </div>
</div>

<div id="team-members-table">
  <%= render 'team_members/team_members_table', company: company, team_members: team_members %>
</div>
