<td><%= member.teams.map(&:name).compact.join(', ') %></td>
<td><%= link_to member.name, company_team_member_path(company, member) %></td>
<td><%= member.demand_comments.count %></td>
<td><%= member.demand_blocks.count %></td>
<td><%= member.jira_account_user_email %></td>
<td><%= member.jira_account_id %></td>
<td><%= I18n.l(member.start_date) if member.start_date.present? %></td>
<td><%= I18n.l(member.end_date) if member.end_date.present? %></td>
<td><%= I18n.t(member.billable&.to_s) %></td>
<% if current_user.managing_company?(company) || current_user.admin? %>
  <td>
    <%= link_to edit_company_team_member_path(company, member), remote: true do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <%= link_to company_team_member_path(company, member), method: :delete, data: { confirm: I18n.t('general.destroy.confirm') }, remote: true do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
<% end %>
