<table class="table">
  <thead>
    <tr>
      <th><%= TeamMember.human_attribute_name :teams %></th>
      <th><%= TeamMember.human_attribute_name :name %></th>
      <th><%= TeamMember.human_attribute_name :email %></th>
      <th><%= TeamMember.human_attribute_name :demand_comments %></th>
      <th><%= TeamMember.human_attribute_name :demand_blocks %></th>
      <th><%= TeamMember.human_attribute_name :jira_account_user_email %></th>
      <th><%= TeamMember.human_attribute_name :jira_account_id %></th>
      <th><%= TeamMember.human_attribute_name :start_date %></th>
      <th><%= TeamMember.human_attribute_name :end_date %></th>
      <th><%= TeamMember.human_attribute_name :billable %></th>
      <% if current_user.managing_company?(company) || current_user.admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% team_members.each do |member| %>
      <tr id="team_member_<%= member.id %>">
        <%= render 'team_members/team_member_fields', company: company, member: member %>
      </tr>
    <% end %>
  </tbody>
</table>