<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @team.name, company_team_path(@company, @team) %></li>
        <li><%= t('team_members.new.title') %></li>
      </ul>
    </div>
  </div>

  <%= form_for [@company, @team, @team_member], class: 'form' do |f| %>
    <div class="row bottom-spaced-component">
      <div class="col-xs-12">
        <%= render 'form', f: f %>
      </div>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'team_members/member_payment_value' %>
<% end %>
