<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to @team_member.name, company_team_member_path(@company, @team_member) %></li>
    </ul>
  </div>
</div>

<div class="row">
    <% if @pairing_chart.present? %>
    <div class="col-xs-12">
      <h4><%= I18n.t('user.dashboard.pairing_info') %></h4>

      <div id="user-dashboard-pairing-line"
           class="flow-chart"
           data-title=''
           data-xcategories='<%= @operations_dashboards.map(&:dashboard_date).to_json %>'
           data-xtitle='<%= I18n.t('general.people') %>'
           data-ytitle='<%= I18n.t('general.demands') %>'
           data-prefix=''
           data-tooltipsuffix=''
           data-datalabelsuffix='x'
           data-series='<%= @pairing_chart.to_json %>'
           data-decimals='0'>
      </div>
    </div>
    <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/line' %>

  <%= javascript_include_tag 'team_members/pairings' %>
<% end %>
