<h3><%= I18n.t('user_profile.show.data_processed_table') %></h3>
<table class="table">
  <thead>
    <tr>
      <th><%= DemandDataProcessment.human_attribute_name(:created_at) %></th>
      <th><%= DemandDataProcessment.human_attribute_name(:user) %></th>
      <th><%= DemandDataProcessment.human_attribute_name(:project_key) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% demand_data_processment.each do |demand_data_processment| %>
      <tr>
        <td><%= I18n.l(demand_data_processment.created_at, format: :short) %></td>
        <td><%= demand_data_processment.user.full_name %></td>
        <td><%= demand_data_processment.project_key %></td>
        <td>
          <%= link_to send_csv_data_by_email_path(demand_data_processment_id: demand_data_processment.id), method: :post do %>
            <i class="far fa-envelope"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
