<div class="row equal-heights">
  <div class="col-xs-4">
    <%= render 'users/company_info', user: @user, company: company %>
  </div>
  <div class="col-xs-8">
    <h4><%= I18n.t('general.leadtime_p80_label') %></h4>

    <div id="manager-dashboard-lead-time-line"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle="<%= I18n.t('general.weeks') %>"
         data-ytitle="<%= I18n.t('general.days') %>"
         data-prefix=""
         data-suffix=""
         data-tooltipsuffix="<%= I18n.t('general.days') %>"
         data-datalabelsuffix=""
         data-series="<%= projects_leadtime.map { |project, lead_time_array| { name: project.name, data: lead_time_array.map { |lead_time| lead_time.to_f / 1.day } } }.to_json %>"
         data-decimals="2">
    </div>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('general.quality.default') %></h4>

    <div id="manager-dashboard-quality-line"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle="<%= I18n.t('general.weeks') %>"
         data-ytitle="%"
         data-prefix=""
         data-suffix=""
         data-tooltipsuffix="%"
         data-datalabelsuffix="%"
         data-series="<%= projects_quality.map { |project, quality_values| { name: project.name, data: quality_values.map { |quality| quality.to_f * 100 } } }.to_json %>"
         data-decimals="2">
    </div>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('general.risk.deadline.label') %></h4>

    <div id="manager-dashboard-risk-line"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle="<%= I18n.t('general.weeks') %>"
         data-ytitle="%"
         data-prefix=""
         data-suffix=""
         data-tooltipsuffix="%"
         data-datalabelsuffix="%"
         data-series="<%= projects_risk.map { |project, risk_value| { name: project.name, data: risk_value.map { |risk| risk.to_f * 100 } } }.to_json %>"
         data-decimals="2">
    </div>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('users.show.manager.flow_pressure') %></h4>

    <div id="manager-dashboard-flow-pressure-line"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle="<%= I18n.t('general.weeks') %>"
         data-ytitle="<%= I18n.t('general.demands_per_day_text') %>"
         data-prefix=""
         data-suffix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series="<%= projects_flow_pressure.map { |project, flow_pressure| { name: project.name, data: flow_pressure.map(&:to_f) } }.to_json %>"
         data-decimals="2">
    </div>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('general.scope') %></h4>

    <div id="manager-dashboard-scope-line"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle="<%= I18n.t('general.weeks') %>"
         data-ytitle="<%= I18n.t('general.demands') %>"
         data-prefix=""
         data-suffix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series="<%= projects_scope.map { |project, scope| { name: project.name, data: scope } }.to_json %>"
         data-decimals="0">
    </div>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('users.show.manager.value_per_demand') %></h4>

    <div id="manager-dashboard-value-per-demand-line"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle="<%= I18n.t('general.weeks') %>"
         data-ytitle="<%= " #{I18n.t('users.show.manager.value_per_demand')}" %>"
         data-prefix="<%= I18n.t('number.currency.format.unit') %>"
         data-suffix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series="<%= projects_value_per_demand.map { |project, value_per_demand| { name: project.name, data: value_per_demand.map(&:to_f) } }.to_json %>"
         data-decimals="2">
    </div>
  </div>
</div>
