<h4><%= I18n.t('user.dashboard.general_info') %></h4>

<table class="table">
  <tbody>
    <tr>
      <td><b><%= I18n.t('general.name') %></b></td>
      <td><%= name %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('general.delivered') %></b></td>
      <td><%= demands.kept.finished.count %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('general.bugs') %></b></td>
      <td><%= demands.kept.bug.count %></td>
    </tr>
    <% if team_member.present? %>
      <% if team_member.lead_time_min.present? %>
        <tr>
          <td><b><%= I18n.t('user.dashboard.lead_time_min') %></b></td>
          <td><%= link_to time_distance_in_words(team_member.lead_time_min.leadtime), company_demand_path(team_member.lead_time_min.company, team_member.lead_time_min), target: :_blank %></td>
        </tr>
      <% end %>
      <% if team_member.lead_time_max.present? %>
        <tr>
          <td><b><%= I18n.t('user.dashboard.lead_time_max') %></b></td>
          <td><%= link_to time_distance_in_words(team_member.lead_time_max.leadtime), company_demand_path(team_member.lead_time_max.company, team_member.lead_time_max), target: :_blank %></td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td><b><%= I18n.t('general.leadtime_p80_label') %></b></td>
      <td><%= time_distance_in_words(Stats::StatisticsService.instance.percentile(80, demands.kept.finished_with_leadtime.map(&:leadtime))) %></td>
    </tr>
    <tr>
      <td><b><%= Project.model_name.human(count: 2) %></b></td>
      <td><%= team_member.projects.count %></td>
    </tr>
    <% if team_member.pairing_members.present? %>
      <tr>
        <td><b><%= I18n.t('user.dashboard.pairing_info') %></b></td>
        <td><%= "#{team_member.pairing_members.keys.first} (#{team_member.pairing_members.values.first})" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
