<h4><%= I18n.t('user.dashboard.general_info') %></h4>

<table class="table">
  <tbody>
    <tr>
      <td><b><%= I18n.t('general.name') %></b></td>
      <td><%= name %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('general.delivered') %></b></td>
      <td><%= link_to demands.kept.finished.count, demands_list_by_ids_company_demands_path(company, demands_ids: demands.kept.finished.map(&:id).join(',')), target: '_blank' %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('general.bugs') %></b></td>
      <td><%= link_to demands.kept.bug.count, demands_list_by_ids_company_demands_path(company, demands_ids: demands.kept.bug.map(&:id).join(',')), target: '_blank' %></td>
    </tr>
    <% if team_member.present? %>
      <% if team_member.lead_time_min.present? %>
        <tr>
          <td><b><%= I18n.t('user.dashboard.lead_time_min') %></b></td>
          <td><%= link_to time_distance_in_words(team_member.lead_time_min.leadtime), company_demand_path(team_member.lead_time_min.company, team_member.lead_time_min), target: :_blank %></td>
        </tr>
      <% end %>
      <% if team_member.lead_time_max.present? %>
        <tr>
          <td><b><%= I18n.t('user.dashboard.lead_time_max') %></b></td>
          <td><%= link_to time_distance_in_words(team_member.lead_time_max.leadtime), company_demand_path(team_member.lead_time_max.company, team_member.lead_time_max), target: :_blank %></td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td><b><%= I18n.t('general.leadtime_p80_label') %></b></td>
      <td><%= time_distance_in_words(Stats::StatisticsService.instance.percentile(80, demands.kept.finished_with_leadtime.map(&:leadtime))) %></td>
    </tr>
    <tr>
      <td><b><%= TeamMember.human_attribute_name(:start_date) %></b></td>
      <td><%= I18n.l(team_member.start_date) if team_member.start_date.present? %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('general.dashboards.first_delivery') %></b></td>
      <td><%= "#{link_to I18n.l(first_delivery.end_date, format: :short), company_demand_path(company, first_delivery), target: :_blank} (#{I18n.t('general.weeks_text', count: (first_delivery.end_date.to_date - team_member.start_date).to_i / 7)})".html_safe if first_delivery.present? && team_member.start_date.present? %></td>
    </tr>
    <tr>
      <td><b><%= Project.model_name.human(count: 2) %></b></td>
      <td><%= team_member.projects.count %></td>
    </tr>
    <% if team_member.pairing_members(Time.zone.today).present? %>
      <tr>
        <td><b><%= I18n.t('user.dashboard.pairing_info') %></b></td>
        <td><%= link_to "#{team_member.pairing_members(Time.zone.today).keys.first.team_member_name} (#{team_member.pairing_members(Time.zone.today).values.first})", pairings_company_team_member_path(company, team_member), target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
