<h3><%= t('user_plans.index.table.title') %></h3>
<table class="table">
  <thead>
    <tr>
      <th><%= UserPlan.human_attribute_name(:plan) %></th>
      <th><%= UserPlan.human_attribute_name(:start_at) %></th>
      <th><%= UserPlan.human_attribute_name(:finish_at) %></th>
      <th><%= UserPlan.human_attribute_name(:plan_billing_period) %></th>
      <th><%= UserPlan.human_attribute_name(:plan_value) %></th>
      <th><%= UserPlan.human_attribute_name(:demand_data_processments) %></th>
      <th><%= Plan.human_attribute_name(:max_number_of_downloads) %></th>
      <th><%= Plan.human_attribute_name(:extra_download_value) %></th>
      <th><%= Plan.human_attribute_name(:max_days_in_history) %></th>
      <th><%= UserPlan.human_attribute_name(:paid) %></th>
      <th><%= UserPlan.human_attribute_name(:active) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% user_plans.each do |user_plan| %>
      <tr>
        <td><%= user_plan.description %></td>
        <td><%= l(user_plan.start_at, format: :short) %></td>
        <td><%= l(user_plan.finish_at, format: :short) %></td>
        <td><%= user_plan.plan_billing_period.capitalize %></td>
        <td><%= number_to_currency(user_plan.plan_value) %></td>
        <td><%= user_plan.demand_data_processments.count %></td>
        <td><%= "#{user_plan.plan.max_number_of_downloads} por mês" %></td>
        <td><%= number_to_currency(user_plan.plan.extra_download_value) %></td>
        <td><%= "#{user_plan.plan.max_days_in_history} dias" %></td>
        <td class="center">
          <% if user_plan.paid? %>
            <% if current_user.admin? %>
              <%= link_to unpay_plan_user_user_plan_path(@user, user_plan), method: :patch do %>
                <i class="fas fa-toggle-on fa-2x"></i>
              <% end %>
            <% else %>
              <i class="fas fa-toggle-on fa-2x"></i>
            <% end %>
          <% else %>
            <% if current_user.admin? %>
              <%= link_to pay_plan_user_user_plan_path(@user, user_plan), method: :patch do %>
                <i class="fas fa-toggle-off fa-2x"></i>
              <% end %>
            <% else %>
              <i class="fas fa-toggle-off fa-2x"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if user_plan.active? %>
            <% if current_user.admin? %>
              <%= link_to deactivate_user_plan_user_user_plan_path(@user, user_plan), method: :patch do %>
                <i class="fas fa-toggle-on fa-2x"></i>
              <% end %>
            <% else %>
              <i class="fas fa-toggle-on fa-2x"></i>
            <% end %>
          <% else %>
            <% if current_user.admin? %>
              <%= link_to activate_user_plan_user_user_plan_path(@user, user_plan), method: :patch do %>
                <i class="fas fa-toggle-off fa-2x"></i>
              <% end %>
            <% else %>
              <i class="fas fa-toggle-off fa-2x"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
