<div class="row">
  <div class="col-xs-10">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= I18n.t('users.edit.title') %></li>
    </ul>
  </div>
</div>

<%= form_for @user, class: 'form' do |form| %>
  <div class="row">
    <div class="col-xs-2">
      <p>
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar.url, size: '200x200', class: 'user-avatar dropdown-toggle', 'data-toggle' => 'dropdown' %>
        <% else %>
          <%= image_tag 'img-empty.png', size: '200x200', class: 'user-avatar dropdown-toggle', 'data-toggle' => 'dropdown' %>
        <% end %>
      </p>
      <p class="center user-info"><%= @user.email %></p>
      <p><%= form.file_field :avatar, class: 'form-control' %></p>
    </div>
    <div class="col-xs-10">
      <div class="row">
        <div class='col-xs-6 form-group <%= 'has-error' if @user.errors[:first_name].present? %>'>
          <%= form.label :first_name, class: 'control-label required' %>
          <%= form.text_field :first_name, class: 'form-control', step: 1 %>
          <span class="help-block"><%= @user.errors[:first_name].join(', ') %></span>
        </div>
        <div class='col-xs-6 form-group <%= 'has-error' if @user.errors[:last_name].present? %>'>
          <%= form.label :last_name, class: 'control-label required' %>
          <%= form.text_field :last_name, class: 'form-control' %>
          <span class="help-block"><%= @user.errors[:last_name].join(', ') %></span>
        </div>
      </div>
      <%= form.submit I18n.t('general.buttons.save'), class: 'btn btn-success' %>
    </div>
  </div>
<% end %>