<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<h2><%= @user.email %></h2>

<% if @user_plans.blank? %>
  <%= render 'layouts/no_data', missing_data: UserPlan.model_name.human %>
<% else %>
  <%= render 'users/user_plans_table', user_plans: @user_plans %>
<% end %>

<% if @demand_data_processment.blank? %>
  <%= render 'layouts/no_data', missing_data: DemandDataProcessment.model_name.human %>
<% else %>
  <%= render 'users/data_processed_table', demand_data_processment: @demand_data_processment %>
<% end %>
