<% if current_user == @user || current_user.admin? %>
  <div class="row>">
    <div class="col-xs-12 pull-right">
      <div class="dropdown topnav-right">

        <i class="fas fa-cogs dropdown-toggle main-config-cogs" data-toggle='dropdown'></i>

        <ul class="dropdown-menu dropdown-menu-right">
          <li><%= link_to I18n.t('users.edit.title'), edit_user_path(@user), class: 'nav-link dropdown-item' %></li>
          <li class="divider"></li>
          <li><%= link_to I18n.t('user_plans.index.table.title'), user_user_plans_path(@user), class: 'nav-link dropdown-item' %></li>
          <li><%= link_to Company.model_name.human(count: 2), companies_path(@user), class: 'nav-link dropdown-item' %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="row equal-heights">
  <div class="col-xs-4">
    <%= render 'users/user_personal_info', user: @user %>
  </div>

  <% if @user.team_member.present? %>
    <div class="col-xs-4">
      <%= render 'team_members/last_deliveries', team_member: @user.team_member %>
    </div>
  <% end %>

  <% if @member_teams.present? %>
    <div class="col-xs-4">
      <%= render 'team_members/teams_summary', member_teams: @member_teams %>
    </div>
  <% end %>

  <% if @member_teams.present? %>
    <div class="col-xs-4">
      <%= render 'team_members/blocks_summary', demand_blocks: @demand_blocks %>
    </div>
  <% end %>

  <% if @member_projects.present? %>
    <div class="col-xs-4">
      <%= render 'team_members/projects_summary', member_projects: @member_projects %>
    </div>
  <% end %>

  <% if @pairing_chart.present? %>
    <div class="col-xs-12">
      <%= render 'team_members/pairings_summary', pairing_chart: @pairing_chart %>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/column' %>

  <%= javascript_include_tag 'components/components' %>
  <%= javascript_include_tag 'users/show' %>
<% end %>
