<div class="row">
  <div class="col-xs-12">
    <%= link_to I18n.t('service_delivery_reviews.new.title'), new_company_product_service_delivery_review_path(company, product), class: 'btn btn-success bottom-spaced-component pull-right', remote: true %>
  </div>
</div>

<% if service_delivery_reviews.blank? %>
  <%= render 'layouts/no_data', missing_data: ServiceDeliveryReview.model_name.human %>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= ServiceDeliveryReview.human_attribute_name :product %></th>
        <th><%= ServiceDeliveryReview.human_attribute_name :meeting_date %></th>
        <th><%= ServiceDeliveryReview.human_attribute_name :demands %></th>
        <th><%= ServiceDeliveryReview.human_attribute_name :expedite_max_pull_time_sla %></th>
        <th><%= ServiceDeliveryReview.human_attribute_name :quality_bottom_threshold %></th>
        <th><%= ServiceDeliveryReview.human_attribute_name :quality_top_threshold %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% service_delivery_reviews.each do |service_delivery_review| %>
        <tr>
          <td><%= service_delivery_review.product_name %></td>
          <td><%= link_to I18n.l(service_delivery_review.meeting_date), company_product_service_delivery_review_path(@company, @product, service_delivery_review) %></td>
          <td><%= service_delivery_review.demands.count %></td>
          <td><%= time_distance_in_words(service_delivery_review.expedite_max_pull_time_sla) %></td>
          <td><%= number_to_percentage(service_delivery_review.quality_bottom_threshold * 100, precision: 2) %></td>
          <td><%= number_to_percentage(service_delivery_review.quality_top_threshold * 100, precision: 2) %></td>
          <td>
            <%= link_to refresh_company_product_service_delivery_review_path(company, product, service_delivery_review), method: :patch, remote: true do %>
              <i class="fas fa-sync-alt"></i>
            <% end %>
            <%= link_to edit_company_product_service_delivery_review_path(company, product, service_delivery_review), remote: true do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to company_product_service_delivery_review_path(company, product, service_delivery_review), method: :delete, data: { confirm: I18n.t('general.destroy.confirm') }, remote: true do %>
              <i class="fa fa-times"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
