<div class="row">
  <div class="col-xs-12">
    <h3><%= I18n.t('demand_transitions.index.title') %></h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to I18n.t('demand_transitions.new.title'), new_company_demand_demand_transition_path(company, demand), class: 'btn btn-success bottom-spaced-component pull-right', remote: true %>
  </div>
</div>

<% if demand_transitions_list.empty? %>
  <%= render 'layouts/no_data', missing_data: DemandTransition.model_name.human.downcase %>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= DemandTransition.human_attribute_name :stage %></th>
        <th><%= DemandTransition.human_attribute_name :team_member %></th>
        <th><%= DemandTransition.human_attribute_name :last_time_in %></th>
        <th><%= DemandTransition.human_attribute_name :last_time_out %></th>
        <th><%= I18n.t('demand_transitions.total_time_in_transition') %></th>
        <th><%= I18n.t('demand_transitions.working_time_in_transition') %></th>
        <th><%= I18n.t('demand_transitions.block_time_in_transition') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% demand_transitions_list.each do |transition| %>
        <tr>
          <td><%= link_to transition.stage_name, company_stage_path(company, transition.stage) %></td>
          <td><%= transition.team_member&.name || I18n.t('general.no_register') %></td>
          <td><%= I18n.l(transition.last_time_in, format: :short) %></td>
          <td><%= I18n.l(transition.last_time_out, format: :short) if transition.last_time_out.present? %></td>
          <td><%= time_distance_in_words(transition.total_seconds_in_transition) %></td>
          <td><%= "#{transition.working_time_in_transition} h" %></td>
          <td><%= "#{transition.work_time_blocked_in_transition} h" %></td>
          <td>
            <%= link_to edit_company_demand_demand_transition_path(company, demand, transition), remote: true do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>