<div class="row">
  <div class="col-xs-12">
    <h3><%= t('demand_transitions.index.title') %></h3>
  </div>
</div>

<% if demand_transitions_list.empty? %>
  <%= render 'layouts/no_data', missing_data: DemandTransition.model_name.human.downcase %>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= DemandTransition.human_attribute_name :stage %></th>
        <th><%= DemandTransition.human_attribute_name :last_time_in %></th>
        <th><%= DemandTransition.human_attribute_name :last_time_out %></th>
        <th><%= t('demand_transitions.total_time_in_transition') %></th>
        <th><%= t('demand_transitions.working_time_in_transition') %></th>
        <th><%= t('demand_transitions.effort_time_in_transition') %></th>
        <th><%= t('demand_transitions.block_time_in_transition') %></th>
      </tr>
    </thead>
    <tbody>
      <% demand_transitions_list.each do |transition| %>
        <tr>
          <td><%= transition.stage_name %></td>
          <td><%= l(transition.last_time_in, format: :short) %></td>
          <td><%= l(transition.last_time_out, format: :short) if transition.last_time_out.present? %></td>
          <td><%= time_distance_in_words(transition.total_seconds_in_transition) %></td>
          <td><%= "#{transition.working_time_in_transition} h" %></td>
          <% if transition.stage.stage_project_configs.find_by(project: demand.project).stage_percentage.present? %>
            <td><%= "#{TimeService.instance.compute_working_hours_for_dates(transition.last_time_in, transition.last_time_out) * (transition.stage.stage_project_configs.find_by(project: demand.project).stage_percentage / 100.0)} h" %></td>
          <% else %>
            <td>0 h</td>
          <% end %>
          <td><%= "#{demand.demand_blocks.kept.closed.active.for_date_interval(transition.last_time_in, transition.last_time_out).sum(:block_duration)} h" %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
<% end %>
