<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3><%= t('demand_transitions.index.title') %></h3>
    </div>
  </div>

  <% if demand_transitions_list.empty? %>
    <div class="row">
      <div class="col-xs-12">
        <%= t('demands.show.no_demand_transitions') %>
      </div>
    </div>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= DemandTransition.human_attribute_name :stage %></th>
          <th><%= DemandTransition.human_attribute_name :last_time_in %></th>
          <th><%= DemandTransition.human_attribute_name :last_time_out %></th>
          <th><%= t('demand_transitions.total_time_in_transition') %></th>
          <th><%= t('demand_transitions.working_time_in_transition') %></th>
        </tr>
      </thead>
      <tbody>
        <% demand_transitions_list.each do |transition| %>
          <tr>
            <td><%= transition.stage_name %></td>
            <td><%= l(transition.last_time_in, format: :short) %></td>
            <td><%= l(transition.last_time_out, format: :short) if transition.last_time_out.present? %></td>
            <td><%= "#{number_with_precision(transition.total_time_in_transition, precision: 4)} hs" %></td>
            <td><%= "#{transition.working_time_in_transition} hs" %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>
