<div class="row">
  <div class="col-xs-4">
    <div id="demands-created-column"
         class="flow-chart"
         data-title='<%= t('demands.charts.creation_date') %>'
         data-xcategories='<%= demands_chart_adapter.creation_chart_data[:x_axis].to_json %>'
         data-xtitle='<%= t('general.period') %>'
         data-ytitle='<%= t('demands.charts.demands.title') %>'
         data-tooltipsufix='<%= t('projects.charts.throughput_per_week.tooltipsufix') %>'
         data-series='<%= demands_chart_adapter.creation_chart_data[:y_axis].to_json %>'
         data-stacking='normal'
         data-decimals='0'>
    </div>
  </div>
  <div class="col-xs-4">
    <div id="demands-committed-column"
         class="flow-chart"
         data-title='<%= t('demands.charts.committed_date') %>'
         data-xcategories='<%= demands_chart_adapter.committed_chart_data[:x_axis].to_json %>'
         data-xtitle='<%= t('general.period') %>'
         data-ytitle='<%= t('demands.charts.demands.title') %>'
         data-tooltipsufix='<%= t('projects.charts.throughput_per_week.tooltipsufix') %>'
         data-series='<%= demands_chart_adapter.committed_chart_data[:y_axis].to_json %>'
         data-stacking='normal'
         data-decimals='0'>
    </div>
  </div>
  <div class="col-xs-4">
    <div id="demands-throughput-column"
         class="flow-chart"
         data-title='<%= t('demands.charts.throughput') %>'
         data-xcategories='<%= demands_chart_adapter.throughput_chart_data[:x_axis].to_json %>'
         data-xtitle='<%= t('general.period') %>'
         data-ytitle='<%= t('demands.charts.demands.title') %>'
         data-tooltipsufix='<%= t('demands.charts.demands.title') %>'
         data-series='<%= demands_chart_adapter.throughput_chart_data[:y_axis].to_json %>'
         data-stacking='normal'
         data-decimals='0'>
    </div>
  </div>
</div>
