<%= hidden_field_tag :demands_ids, demands.map(&:id).flatten.join(',') %>

<div class="row bottom-spaced-component">
  <div class="col-xs-3">
    <div class="form-group">
      <%= label_tag t('demands.filter.grouping.title') %>
      <%= select_tag :grouping, grouping_options, class: 'form-control', id: 'demands-table-grouping', selected: params[:grouping] %>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="form-group">
      <%= label_tag t('demands.filter.flow_status.title') %>
      <%= select_tag :flow_status, flow_status_options, class: 'form-control', id: 'demands-table-flow-status', selected: params[:flow_status] %>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="form-group">
      <%= label_tag t('demands.filter.demand_type.title') %>
      <%= select_tag :demand_type, demand_type_options, class: 'form-control', id: 'demands-table-demand-type', selected: params[:demand_type] %>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="form-group">
      <%= label_tag t('demands.filter.class_of_service.title') %>
      <%= select_tag :class_of_service, class_of_service_options, class: 'form-control', id: 'demands-table-class-of-service', selected: params[:class_of_service] %>
    </div>
  </div>
</div>

<div class="row bottom-spaced-component">
  <div class="col-xs-2">
    <%= label_tag Project.human_attribute_name(:start_date), nil, class: 'control-label' %>
    <%= date_field_tag :demands_start_date, start_date, class: 'form-control' %>
  </div>

  <div class="col-xs-2">
    <%= label_tag Project.human_attribute_name(:end_date), nil, class: 'control-label' %>
    <%= date_field_tag :demands_end_date, end_date, class: 'form-control' %>
  </div>
  <div class="col-xs-2">
    <%= label_tag t('demands.index.grouping_to_charts') %>
    <%= select_tag :period, grouping_period_to_charts_options('week'), class: 'form-control', id: 'demands-table-grouping-period', selected: params[:period] %>
  </div>
  <div class="col-xs-6">
    <%= label_tag t('general.search_text') %>
    <%= text_field_tag :search_text, nil, class: 'form-control', id: 'search_text' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <%= button_tag t('general.search'), class: 'btn btn-success filter-button' %>
  </div>
</div>


<div class="row bottom-spaced-component" id="list-charts-button">
  <hr>
  <div class="col-xs-12 center">
    <button class="btn btn-default listing-tab" onclick="openDemandsDiv(event, 'listing', 'content-charts')" id="demands-table-list"><%= t('demands.data_analysis.list') %></button>
    <button class="btn btn-default listing-tab" onclick="openDemandsDiv(event, 'content-charts', 'listing')"><%= t('demands.data_analysis.charts') %></button>
  </div>
</div>

<div id="demand-tab-content">
  <hr>
  <div id="listing">
    <div id="container-leadtime-div" class="container-leadtime">
      <%= render 'demands/demands_leadtime_container', demands: @demands, confidence_65_leadtime: confidence_65_leadtime, confidence_80_leadtime: confidence_80_leadtime, confidence_95_leadtime: confidence_95_leadtime, queue_time: queue_time, touch_time: touch_time %>
    </div>

    <hr>

    <div id="demands-grouped-per-month-div">
      <%= render 'demands/grouped_by_month_demands_table', company: company, demands: grouped_delivered_demands %>
    </div>

    <div id="demands-grouped-per-customer-div">
      <%= render 'demands/grouped_by_customer_demands_table', company: company, demands: grouped_customer_demands %>
    </div>

    <div id="demands-grouped-per-stage-div">
      <%= render 'demands/grouped_by_stage_demands_table', company: company, demands: grouped_stage_demands %>
    </div>

    <div id="flat-demands-div">
      <%= render 'demands/demands_table', company: company, demands: demands %>
    </div>
  </div>

  <div id="content-charts">
    <% if demands_chart_adapter&.demands_in_chart.present? %>
      <%= render 'demands/demands_charts', demands: demands, demands_chart_adapter: demands_chart_adapter %>
    <% else %>
      <%= render 'layouts/no_data', missing_data: Demand.model_name.human.pluralize.downcase %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'demands/filter_binding' %>
<%= javascript_include_tag 'demands/demands_list' %>
<%= javascript_include_tag 'demands/form_modal' %>
