<div class="row">
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= Project.model_name.human %></div>
    <div class="stamp-content"><%= demand.project.name %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= Demand.human_attribute_name :created_date %></div>
    <div class="stamp-content"><%= l(demand.created_date, format: :short)  %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= Demand.human_attribute_name :commitment_date %></div>
    <div class="stamp-content"><%= l(demand.commitment_date, format: :short) if demand.commitment_date.present? %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= Demand.human_attribute_name :end_date %></div>
    <div class="stamp-content"><%= l(demand.end_date, format: :short) if demand.end_date.present? %></div>
  </div>
  <div class="col-xs-6 stamp">
    <div class="stamp-title"><%= Demand.human_attribute_name :demand_type %></div>
    <div class="stamp-content"><%= I18n.t("activerecord.attributes.demand.enums.demand_type.#{demand.demand_type}") %></div>
  </div>
  <div class="col-xs-6 stamp">
    <div class="stamp-title"><%= Demand.human_attribute_name :team_members %></div>
    <div class="stamp-content"><%= demand.team_members.map(&:name).join(', ') %></div>
  </div>
  <div class="col-xs-6 stamp">
    <div class="stamp-title"><%= Demand.human_attribute_name :effort_upstream %></div>
    <div class="stamp-content"><%= I18n.t('general.hours_text', hour_value: number_with_precision(demand.effort_upstream, precision: 3))  %></div>
  </div>
  <div class="col-xs-6 stamp">
    <div class="stamp-title"><%= Demand.human_attribute_name :effort_downstream %></div>
    <div class="stamp-content"><%= I18n.t('general.hours_text', hour_value: number_with_precision(demand.effort_downstream, precision: 3))  %></div>
  </div>
</div>
