<%= hidden_field_tag :demands_ids, demands.map(&:id).flatten.join(',') %>

<div class="row bottom-spaced-component">
  <div class="col-xs-3">
    <div class="form-group">
      <%= label_tag t('demands.filter.grouping.title') %>
      <%= select_tag :grouping, grouping_options, class: 'form-control filter-checks', id: 'demands-table-grouping', selected: params[:grouping] %>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="form-group">
      <%= label_tag t('demands.filter.flow_status.title') %>
      <%= select_tag :flow_status, flow_status_options, class: 'form-control filter-checks', id: 'demands-table-flow-status', selected: params[:flow_status] %>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="form-group">
      <%= label_tag t('demands.filter.demand_type.title') %>
      <%= select_tag :demand_type, demand_type_options, class: 'form-control filter-checks', id: 'demands-table-demand-type', selected: params[:demand_type] %>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="form-group">
      <%= label_tag t('demands.filter.class_of_service.title') %>
      <%= select_tag :class_of_service, class_of_service_options, class: 'form-control filter-checks', id: 'demands-table-class-of-service', selected: params[:class_of_service] %>
    </div>
  </div>
</div>

<div class="row bottom-spaced-component">
  <div class="col-xs-6">
    <%= label_tag t('general.period') %>
    <%= select_tag :period, period_options(:week), class: 'form-control filter-checks', id: 'demands-table-period', selected: params[:period] %>
  </div>
  <div class="col-xs-6">
    <%= label_tag t('general.search_text') %>
    <%= text_field_tag :search_text, nil, class: 'form-control filter-checks', id: 'search_text' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <%= button_tag t('general.search'), class: 'btn btn-success filter-button' %>
  </div>
</div>

<hr>

<% if @demands.present? %>
  <div id="container-leadtime-div" class="container-leadtime">
    <%= render 'demands/demands_leadtime_container', demands: @demands, confidence_65_leadtime: confidence_65_leadtime, confidence_80_leadtime: confidence_80_leadtime, confidence_95_leadtime: confidence_95_leadtime, queue_time: queue_time, touch_time: touch_time %>
  </div>
<% end %>

<hr>

<div id="demands-grouped-per-month-div">
  <%= render 'demands/grouped_by_month_demands_table', demands: grouped_delivered_demands %>
</div>

<div id="demands-grouped-per-customer-div">
  <%= render 'demands/grouped_by_customer_demands_table', demands: grouped_customer_demands %>
</div>

<div id="flat-demands-div">
  <%= render 'demands/demands_table', demands: demands %>
</div>

<%= javascript_include_tag 'demands/filter_binding' %>
<%= javascript_include_tag 'demands/demands_list' %>
<%= javascript_include_tag 'demands/form_modal' %>
