<td><%= render 'demands/demand_actions', demand: demand %></td>
<td><%= demand.project_name %></td>
<td><%= link_to demand.demand_id, company_project_demand_path(@company, demand.project_id, demand.id) %></td>
<td><%= t("activerecord.attributes.demand.enums.artifact_type.#{Demand.artifact_types.key(demand.artifact_type)}") %></td>
<td><%= t("activerecord.attributes.demand.enums.demand_type.#{Demand.demand_types.key(demand.demand_type)}") %></td>
<td><%= t("activerecord.attributes.demand.enums.class_of_service.#{Demand.class_of_services.key(demand.class_of_service)}") %></td>
<td><%= demand.blocks_count %></td>
<td><%= number_with_precision((demand.blocked_time || 0)/ (60 * 60), precision: 2) %></td>
<td><%= l(demand.created_date, format: :short) if demand.created_date.present? %></td>
<td><%= l(demand.commitment_date, format: :short) if demand.commitment_date.present? %></td>
<td><%= l(demand.end_date, format: :short) if demand.end_date.present? %></td>
<td><%= number_with_precision(demand.effort_upstream, precision: 2) %></td>
<td><%= number_with_precision(demand.effort_downstream, precision: 2) %></td>
<td><%= time_distance_in_words(demand.leadtime) if demand.leadtime.present? %></td>
<td><%= render 'demands/demand_actions', demand: demand %></td>
