<td><%= render 'demands/demand_actions', company: company, demand: demand_list, demands_ids: demands_ids %></td>
<td><%= link_to demand_list.demand_id, company_demand_path(company, demand_list.slug) %></td>
<td><%= t("activerecord.attributes.demand.enums.artifact_type.#{demand_list.artifact_type}") %></td>
<td><%= t("activerecord.attributes.demand.enums.demand_type.#{demand_list.demand_type}") %></td>
<td><%= t("activerecord.attributes.demand.enums.class_of_service.#{demand_list.class_of_service}") %></td>
<td><%= demand_list.demand.product_name %></td>
<td><%= demand_list.demand.portfolio_unit_name %></td>
<td><%= number_to_currency(demand_list.demand.cost_to_project) %></td>
<td><%= demand_list.demand.current_stage&.name %></td>
<td>
  <% if demand_list.leadtime.present? %>
    <%= time_distance_in_words(demand_list.leadtime) %>
  <% elsif demand_list.commitment_date.present? %>
    <span><%= time_distance_in_words(demand_list.demand.partial_leadtime) %></span>
    <span class="small"><%= I18n.t('general.partial') %></span>
  <% end %>
</td>
<td><%= I18n.t('general.hours_text', hour_value: number_with_precision(demand_list.effort_upstream, precision: 2)) %></td>
<td><%= I18n.t('general.hours_text', hour_value: number_with_precision(demand_list.effort_downstream, precision: 2)) %></td>
<td><%= I18n.t('general.score_text', count: number_with_precision(demand_list.demand.business_score, precision: 2)) if demand_list.demand.business_score.present? %></td>
<td><%= I18n.t('general.hours_text', hour_value: number_with_precision((demand_list.total_queue_time || 0) / 1.hour, precision: 2)) %></td>
<td><%= I18n.t('general.hours_text', hour_value: number_with_precision((demand_list.total_touch_time || 0) / 1.hour, precision: 2)) %></td>
<td><%= demand_list.blocks_count %></td>
<td><%= I18n.t('general.hours_text', hour_value: number_with_precision((demand_list.blocked_time || 0) / 1.hour, precision: 2)) %></td>
<td><%= I18n.t('general.hours_text', hour_value: number_with_precision((demand_list.demand.total_bloked_working_time), precision: 2)) %></td>
<td><%= I18n.l(demand_list.created_date, format: :short) if demand_list.created_date.present? %></td>
<td><%= I18n.l(demand_list.commitment_date, format: :short) if demand_list.commitment_date.present? %></td>
<td><%= I18n.l(demand_list.end_date, format: :short) if demand_list.end_date.present? %></td>

<td><%= demand_list.project.name %></td>
<td><%= demand_list.demand_title %></td>

<td><%= render 'demands/demand_actions', company: company, demand: demand_list, demands_ids: demands_ids %></td>
