<%= form_tag search_demands_company_demands_path(company_id: company.id, object_type: object_type, object_id: object_id, demand_state: demand_state, demand_fitness: demand_fitness), class: 'form', method: :get do %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-4">
      <div class="form-group">
        <%= label_tag I18n.t('demands.filter.demand_state.title') %>
        <%= select_tag :demand_state, demand_state_options(params[:demand_state]), multiple: true, class: 'form-control' %>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="form-group">
        <%= label_tag I18n.t('demands.filter.demand_type.title') %>
        <%= select_tag :demand_type, demand_type_options(params[:demand_type]), multiple: true, class: 'form-control' %>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="form-group">
        <%= label_tag I18n.t('demands.filter.class_of_service.title') %>
        <%= select_tag :class_of_service, class_of_service_options(params[:class_of_service]), multiple: true, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row bottom-spaced-component">
    <div class="col-xs-2">
      <%= label_tag Project.human_attribute_name(:start_date), nil, class: 'control-label' %>
      <%= date_field_tag :demands_start_date, params[:demands_start_date], class: 'form-control' %>
    </div>

    <div class="col-xs-2">
      <%= label_tag Project.human_attribute_name(:end_date), nil, class: 'control-label' %>
      <%= date_field_tag :demands_end_date, params[:demands_end_date], class: 'form-control' %>
    </div>

    <div class="col-xs-4">
      <%= label_tag Demand.human_attribute_name :demand_tags %>
      <%= text_field_tag :demand_tags, params[:demand_tags], class: 'form-control', id: 'search-demand-tags' %>
    </div>
    <div class="col-xs-4">
      <%= label_tag I18n.t('general.search_text') %>
      <%= text_field_tag :search_text, params[:search_text], class: 'form-control', id: 'search_text', placeholder: I18n.t('demands.index.search.text.placeholder') %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= label_tag Team.model_name.human %>
        <%= select_tag :team_id, teams_in_company_options(company, params[:team_id]), include_blank: I18n.t('general.select'), class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <%= label_tag I18n.t('general.ordering.title') %>
        <%= select_tag :order_by, ordering_options(params[:order_by]), include_blank: I18n.t('general.select'), class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <%= label_tag I18n.t('general.ordering.direction') %>
        <%= select_tag :order_direction, options_for_select([%w[asc asc], %w[desc desc]], params[:order_direction]), include_blank: I18n.t('general.select'), class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <%= submit_tag I18n.t('general.search'), class: 'btn btn-success' %>
    </div>
  </div>
<% end %>