
<div class="row">

  <div class="col-xs-6">
    <div class="row-fluid">
      <div class="col-xs-12">
        <span><%= Demand.human_attribute_name :demand_id %></span>
        <h3><%= @demand.demand_id %></h3>
      </div>
      <div class="row-fluid">
        <table class="table">
          <tbody>
            <tr>
              <td><b><%= Demand.human_attribute_name :demand_title %></b></td>
              <td><%= @demand.demand_title %></td>
            </tr>
            <tr>
              <td><b><%= Project.model_name.human %></b></td>
              <td><%= @demand.project_name %></td>
            </tr>
            <tr>
              <td><b><%= Team.model_name.human %></b></td>
              <td><%= @demand.team_name %></td>
            </tr>
            <tr>
              <td><b><%= Demand.human_attribute_name :created_date %></b></td>
              <td><%= I18n.l(demand.created_date, format: :short) %></td>
            </tr>
            <tr>
              <td><b><%= Demand.human_attribute_name :commitment_date %></b></td>
              <td><%= I18n.l(demand.commitment_date, format: :short) if demand.commitment_date.present? %></td>
            </tr>
            <tr>
              <td><b><%= Demand.human_attribute_name :end_date %></b></td>
              <td><%= I18n.l(demand.end_date, format: :short) if demand.end_date.present? %></td>
            </tr>
            <tr>
              <td><b><%= Demand.human_attribute_name :demand_type %></b></td>
              <td><%= I18n.t("activerecord.attributes.demand.enums.demand_type.#{demand.demand_type}") %></td>
            </tr>
            <tr>
              <td><b><%= Demand.human_attribute_name :class_of_service %></b></td>
              <td><%= I18n.t("activerecord.attributes.demand.enums.class_of_service.#{demand.class_of_service}") %></td>
            </tr>
            <tr>
              <td><b><span><%= Demand.human_attribute_name :team_members %></span><sup><%= " (#{demand.active_team_members.count})" %></sup></b></td>
              <td><%= demand.active_team_members.map(&:name).join(', ') %></td>
            </tr>
            <tr>
              <td><b><%= Demand.human_attribute_name :effort_upstream %></b></td>
              <td><%= I18n.t('general.hours_text', hour_value: number_with_precision(demand.effort_upstream, precision: 3)) %></td>
            </tr>
            <tr>
              <td><b><%= Demand.human_attribute_name :effort_downstream %></b></td>
              <td><%= I18n.t('general.hours_text', hour_value: number_with_precision(demand.effort_downstream, precision: 3)) %></td>
            </tr>
            <tr>
              <td><b><%= I18n.t('demands.index.cost_to_project') %></b></td>
              <td><%= number_to_currency(demand.cost_to_project) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="col-xs-4">
    <h4><%= I18n.t('service_delivery_reviews.show.lead_time_breakdown_label') %></h4>

    <div id="demand-show-lead-time-breakdown-column"
         class="flow-chart"
         data-title=''
         data-xcategories='<%= @lead_time_breakdown.keys %>'
         data-xtitle='<%= I18n.t('service_delivery_reviews.show.stages') %>'
         data-ytitle='<%= I18n.t('general.hours') %>'
         data-prefix=''
         data-series='<%= [{ name: I18n.t('service_delivery_reviews.show.lead_time_breakdown_label'), data: @lead_time_breakdown.values.map { |transitions| (transitions.sum(&:total_seconds_in_transition) / 1.hour) } }].to_json %>'
         data-decimals='0'>
    </div>
  </div>
</div>
