<h4><%= t('demands.index.count', demands_count: demands.count) %></h4>

<table class="table table-index table-striped">
  <thead>
    <tr>
      <th><%= t('general.table.actions') %></th>
      <th><%= Demand.human_attribute_name :project %></th>
      <th><%= Demand.human_attribute_name :demand_id %></th>
      <th><%= Demand.human_attribute_name :demand_type %></th>
      <th><%= Demand.human_attribute_name :class_of_service %></th>
      <th><%= Demand.human_attribute_name :created_date %></th>
      <th><%= Demand.human_attribute_name :commitment_date %></th>
      <th><%= Demand.human_attribute_name :end_date %></th>
      <th><%= Demand.human_attribute_name :effort_upstream %></th>
      <th><%= Demand.human_attribute_name :effort_downstream %></th>
      <th><%= Demand.human_attribute_name :leadtime %></th>
      <th><%= t('general.table.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% demands.each do |demand| %>
      <tr class="<%= 'upstream' unless demand.downstream_demand? %>">
        <td><%= render 'demands/demand_actions', demand: demand %></td>
        <td><%= demand.project.full_name %></td>
        <td><%= link_to demand.demand_id, company_project_demand_path(demand.company, demand.project, demand) %></td>
        <td><%= t("activerecord.attributes.demand.enums.demand_type.#{demand.demand_type}") %></td>
        <td><%= t("activerecord.attributes.demand.enums.class_of_service.#{demand.class_of_service}") %></td>
        <td><%= l(demand.created_date, format: :short) if demand.created_date.present? %></td>
        <td><%= l(demand.commitment_date, format: :short) if demand.commitment_date.present? %></td>
        <td><%= l(demand.end_date, format: :short) if demand.end_date.present? %></td>
        <td><%= number_with_precision(demand.effort_upstream, precision: 2) %></td>
        <td><%= number_with_precision(demand.effort_downstream, precision: 2) %></td>
        <td><%= time_ago_in_words(demand.leadtime.seconds.ago) if demand.leadtime.present? %></td>
        <td><%= render 'demands/demand_actions', demand: demand %></td>
      </tr>
    <% end %>
  </tbody>
</table>