<div class="row">
  <div class="col-xs-12">
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'demands-list')"><%= t('demands.data_analysis.demands_list') %></button>
      <button class="tablinks" onclick="openTab(event, 'content-consolidation')"><%= t('demands.data_analysis.consolidation') %></button>
    </div>
  </div>
</div>

<%= hidden_field_tag :demands_ids_in_model, demands.map(&:id).join(',') %>

<div id="demands-list" class="tabcontent">
  <%= render 'demands/demands_list', demands: demands, demands_chart_adapter: @demands_chart_adapter, grouped_delivered_demands: nil, grouped_customer_demands: nil, grouped_stage_demands: nil, confidence_65_leadtime: confidence_65_leadtime, confidence_80_leadtime: confidence_80_leadtime, confidence_95_leadtime: confidence_95_leadtime, queue_time: queue_time, touch_time: touch_time %>
</div>

<div id="content-consolidation" class="tabcontent">
  <%= render 'demands/demands_week_consolidation', demands_count_per_week: demands_count_per_week %>
</div>
