<% if demands.count.positive? %>
  <div class="row">
    <div class="col-xs-4">
      <div id="demands_count">
        <h4>
          <div><%= "#{I18n.t('demands.index.count', demands_count: unpaged_demands.count)}" %></div>
        </h4>
      </div>
    </div>
    <div class="col-xs-12">
      <div><%= "#{I18n.t('general.effort_hours_text', hours_value: number_with_precision(demands.sum(&:total_effort), precision: 2))}" %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div>
        <%= link_to I18n.t('general.download_csv'), demands_csv_company_demands_path(company, unpaged_demands.map(&:id).to_csv, format: :csv), class: 'btn btn-sm btn-primary pull-right grouped-button' %>
      </div>
      <div>
        <%= link_to I18n.t('general.show_montecarlo'), '#', onclick: "monteCarloDialog(#{company.id}, '#{unpaged_demands.map(&:id).join(',')}')", class: 'btn btn-sm btn-primary pull-right grouped-button show-montecarlo-dialog' %>
      </div>
    </div>
  </div>
<% end %>

<% if demands.present? %>
  <%= paginate demands, remote: true %>
  <div id="demands_table">
    <table class="table table-index table-striped">
      <thead>
        <tr>
          <th><%= I18n.t('general.table.actions') %></th>
          <th><%= Demand.human_attribute_name :external_id %></th>
          <th><%= Demand.human_attribute_name :demand_type %></th>
          <th><%= Demand.human_attribute_name :class_of_service %></th>
          <th><%= Product.model_name.human %></th>
          <th><%= PortfolioUnit.model_name.human %></th>
          <th><%= Project.model_name.human %></th>
          <th><%= I18n.t('demands.index.cost_to_project') %></th>
          <th><%= I18n.t('demands.index.current_stage') %></th>
          <th><%= Demand.human_attribute_name :pull_time %></th>
          <th><%= Demand.human_attribute_name :leadtime %></th>
          <th><%= Demand.human_attribute_name :effort_upstream %></th>
          <th><%= Demand.human_attribute_name :effort_downstream %></th>
          <th><%= Demand.human_attribute_name :demand_score %></th>
          <th><%= I18n.t('demands.index.total_queue_time') %></th>
          <th><%= I18n.t('demands.index.total_touch_time') %></th>
          <th><%= I18n.t('demands.index.qty_closed_blocks') %></th>
          <th><%= I18n.t('demands.index.total_blocked_time') %></th>
          <th><%= I18n.t('demands.index.total_blocked_work_time') %></th>
          <th><%= Demand.human_attribute_name :created_date %></th>
          <th><%= Demand.human_attribute_name :commitment_date %></th>
          <th><%= Demand.human_attribute_name :end_date %></th>
          <th><%= Demand.human_attribute_name :demand_tags %></th>
          <th><%= Demand.human_attribute_name :demand_title %></th>
          <th><%= I18n.t('general.table.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% demands.each do |demand| %>
          <tr id='demand_<%= demand.id %>'>
            <%= render 'demands/demand_fields', company: company, demand: demand, demands_ids: demands.map(&:id) %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  <%= render 'layouts/no_data', missing_data: Demand.model_name.human(count: 2).downcase %>
<% end %>
