<div class="row bottom-spaced-component">

  <div class="col-xs-4">

    <div class="show-main-info">
      <%= demand.external_id %>

      <% if demand.external_url.present? %>
        <%= link_to demand.external_url, class: 'show-main-info-buttons', target: :_blank do %>
          <i class="fas fa-external-link-alt" title="<%= I18n.t('activerecord.attributes.demand.external_url') %>"></i>
        <% end %>
      <% end %>

      <%= link_to edit_company_demand_path(company, demand), title: I18n.t('general.buttons.edit') do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </div>

    <div class="show-secondary-info">
      <% if demand.demand_tags.present? %>
        <% demand.demand_tags.each do |label| %>
          <span class="label label-info"><%= label %></span>
        <% end %>
      <% end %>
    </div>

    <div class="show-important-detail">
      <%= demand.work_item_type.name %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6" id="demand-general-info">
    <%= render 'demands/general_info', company: company, demand: demand %>
  </div>

  <% if demand.leadtime.present? %>
    <div class="col-xs-6">
      <h4><%= I18n.t('service_delivery_reviews.show.lead_time_breakdown_label') %></h4>

      <div id="demand-show-lead-time-breakdown-column"
           class="flow-chart"
           data-title=''
           data-xcategories='<%= lead_time_breakdown.keys %>'
           data-xtitle='<%= I18n.t('service_delivery_reviews.show.stages') %>'
           data-ytitle='<%= I18n.t('general.hours') %>'
           data-prefix=''
           data-tooltipsuffix='<%= I18n.t('general.hours') %>'
           data-datalabelsuffix=""
           data-series='<%= [{ name: I18n.t('service_delivery_reviews.show.lead_time_breakdown_label'), data: lead_time_breakdown.values.map { |transitions| (transitions.sum(&:total_seconds_in_transition) / 1.hour) } }].to_json %>'
           data-decimals='2'>
      </div>
    </div>
  <% end %>
</div>
