<div class="row">
  <div class="col-xs-12">
    <div id="demands_count">
      <h4><%= t('demands.index.count', demands_count: demands.count) %></h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= link_to t('general.download_csv'), demands_csv_company_demands_path(@company, demands.map(&:id).to_csv, format: :csv), class: 'btn btn-sm btn-success' %>
    </div>
  </div>
</div>

<%= hidden_field_tag :demands_ids, demands.map(&:id).to_csv %>

<table class="table table-index table-striped">
  <thead>
    <tr>
      <th><%= t('general.table.actions') %></th>
      <th><%= Demand.human_attribute_name :project %></th>
      <th><%= Demand.human_attribute_name :demand_id %></th>
      <th><%= Demand.human_attribute_name :demand_type %></th>
      <th><%= Demand.human_attribute_name :class_of_service %></th>
      <th><%= t('demands.index.current_stage') %></th>
      <th><%= Demand.human_attribute_name :created_date %></th>
      <th><%= Demand.human_attribute_name :commitment_date %></th>
      <th><%= Demand.human_attribute_name :end_date %></th>
      <th><%= Demand.human_attribute_name :effort_upstream %></th>
      <th><%= Demand.human_attribute_name :effort_downstream %></th>
      <th><%= Demand.human_attribute_name :leadtime %></th>
      <th><%= t('general.table.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% demands.each do |demand| %>
      <tr id='demand_<%= demand.id %>' class="<%= 'upstream' unless demand.downstream_demand? %>">
        <%= render 'demands/demand_fields', demand: demand %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="edit-demand-form" tabindex="-1" role="dialog" aria-labelledby="edit-demand-form" aria-hidden="true"></div>

<%= javascript_include_tag 'projects/demands_list' %>
