<div class="row">
  <div class="col-xs-2 leadtime-frame">
    <div class="leadtime-content">
      <p class="leadtime-title"><%= t('general.leadtime.title', percentile: '65%') %></p>
      <p class="leadtime-value"><%= t('general.days_text', days: number_with_precision(confidence_65_leadtime, precision: 3)) %></p>
    </div>
  </div>
  <div class="col-xs-2 leadtime-frame">
    <div class="leadtime-content">
      <p class="leadtime-title"><%= t('general.leadtime.title', percentile: '80%') %></p>
      <p class="leadtime-value"><%= t('general.days_text', days: number_with_precision(confidence_80_leadtime, precision: 3)) %></p>
    </div>
  </div>
  <div class="col-xs-2 leadtime-frame">
    <div class="leadtime-content">
      <p class="leadtime-title"><%= t('general.leadtime.title', percentile: '95%') %></p>
      <p class="leadtime-value"><%= t('general.days_text', days: number_with_precision(confidence_95_leadtime, precision: 3)) %></p>
    </div>
  </div>
  <div class="col-xs-2 leadtime-frame">
    <div class="leadtime-content">
      <p class="leadtime-title"><%= t('demands.stats.avg_queue') %></p>
      <p class="leadtime-value"><%= number_with_precision(@average_queue_time, precision: 2) %></p>
    </div>
  </div>
  <div class="col-xs-2 leadtime-frame">
    <div class="leadtime-content">
      <p class="leadtime-title"><%= t('demands.stats.avg_touch') %></p>
      <p class="leadtime-value"><%= number_with_precision(@average_touch_time, precision: 2) %></p>
    </div>
  </div>
  <div class="col-xs-2 leadtime-frame">
    <div class="leadtime-content">
      <p class="leadtime-title"><%= t('demands.stats.avg_work_hours_per_demand') %></p>
      <p class="leadtime-value"><%= number_with_precision(@avg_work_hours_per_demand, precision: 2) %></p>
    </div>
  </div>
</div>