<div class="row">
  <div class="col-xs-2 summary-card-frame">
    <div class="summary-card-content">
      <p class="summary-card-title"><%= I18n.t('projects.general.leadtime', percentil: '65%') %></p>
      <p class="summary-card-value"><%= I18n.t('general.days_text', days: number_with_precision(confidence_65_leadtime, precision: 3)) %></p>
    </div>
  </div>
  <div class="col-xs-2 summary-card-frame">
    <div class="summary-card-content">
      <p class="summary-card-title"><%= I18n.t('projects.general.leadtime', percentil: '80%') %></p>
      <p class="summary-card-value"><%= I18n.t('general.days_text', days: number_with_precision(confidence_80_leadtime, precision: 3)) %></p>
    </div>
  </div>
  <div class="col-xs-2 summary-card-frame">
    <div class="summary-card-content">
      <p class="summary-card-title"><%= I18n.t('projects.general.leadtime', percentil: '95%') %></p>
      <p class="summary-card-value"><%= I18n.t('general.days_text', days: number_with_precision(confidence_95_leadtime, precision: 3)) %></p>
    </div>
  </div>
  <div class="col-xs-2 summary-card-frame">
    <div class="summary-card-content">
      <p class="summary-card-title"><%= I18n.t('demands.stats.avg_queue') %></p>
      <p class="summary-card-value"><%= number_with_precision(@average_queue_time, precision: 2) %></p>
    </div>
  </div>
  <div class="col-xs-2 summary-card-frame">
    <div class="summary-card-content">
      <p class="summary-card-title"><%= I18n.t('demands.stats.avg_touch') %></p>
      <p class="summary-card-value"><%= number_with_precision(@average_touch_time, precision: 2) %></p>
    </div>
  </div>
  <div class="col-xs-2 summary-card-frame">
    <div class="summary-card-content">
      <p class="summary-card-title"><%= I18n.t('demands.stats.avg_work_hours_per_demand') %></p>
      <p class="summary-card-value"><%= number_with_precision(@avg_work_hours_per_demand, precision: 2) %></p>
    </div>
  </div>
</div>