<div class="row">
  <div class="col-xs-6">
    <h2><%= t('demands.index.title') %></h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="form-group radio-inline">
      <%= radio_button_tag :grouping, :no_grouping, true, class: 'filter-checks' %>
      <%= label_tag t('projects.show.demands.no_grouping_check_box'), nil, class: 'control-label' %>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group radio-inline">
      <%= radio_button_tag :grouping, :grouped_by_month, false, class: 'filter-checks' %>
      <%= label_tag t('projects.show.demands.grouped_by_month_check_box'), nil, class: 'control-label' %>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group radio-inline">
      <%= radio_button_tag :grouping, :grouped_by_customer, false, class: 'filter-checks' %>
      <%= label_tag t('projects.show.demands.grouped_by_customer'), nil, class: 'control-label' %>
    </div>
  </div>
</div>

<div class="row bottom-spaced-component">
  <div class="col-xs-3">
    <div class="form-group radio-inline">
      <%= radio_button_tag :searching, :all_demands, true, class: 'filter-checks' %>
      <%= label_tag t('projects.show.demands.all_demands'), nil, class: 'control-label' %>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="form-group radio-inline">
      <%= radio_button_tag :searching, :not_started, false, class: 'filter-checks' %>
      <%= label_tag t('projects.show.demands.demands_not_started'), nil, class: 'control-label' %>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="form-group radio-inline">
      <%= radio_button_tag :searching, :work_in_progress, false, class: 'filter-checks' %>
      <%= label_tag t('projects.show.demands.work_in_progress'), nil, class: 'control-label' %>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="form-group radio-inline">
      <%= radio_button_tag :searching, :delivered_demands, false, class: 'filter-checks' %>
      <%= label_tag t('projects.show.demands.delivered_demands'), nil, class: 'control-label' %>
    </div>
  </div>
</div>

<div class="row bottom-spaced-component">
  <div class="col-xs-3">
    <%= label_tag t('general.period') %>
    <%= select_tag :period, period_options(:month), class: 'form-control filter-checks', id: 'demands-table-period', selected: params[:period] %>
  </div>
</div>

<div id="demands-grouped-per-month-div">
  <% if grouped_delivered_demands.present? %>
    <h4><%= t('demands.index.count', demands_count: grouped_delivered_demands.map { |demands_hash| demands_hash[1].count }.sum) %></h4>
    <%= render 'demands/grouped_by_month_demands_table', demands_list: grouped_delivered_demands %>
  <% end %>
</div>

<div id="demands-grouped-per-customer-div">
  <% if grouped_customer_demands.present? %>
    <h4><%= t('demands.index.count', demands_count: grouped_customer_demands.map { |demands_hash| demands_hash[1].count }.sum) %></h4>
    <%= render 'demands/grouped_by_customer_demands_table', demands_list: grouped_customer_demands %>
  <% end %>
</div>

<div id="flat-demands-div">
  <% if demands.present? %>
    <%= render 'demands/demands_table', demands: demands %>
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'demands/form_modal' %>
<% end %>

