<div class="row bottom-spaced-component">
  <div class="col-xs-4">
    <div class="form-group">
      <%= label_tag I18n.t('demands.filter.flow_status.title') %>
      <%= select_tag :flow_status, flow_status_options, class: 'form-control', id: 'demands-table-flow-status', selected: params[:flow_status] %>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="form-group">
      <%= label_tag I18n.t('demands.filter.demand_type.title') %>
      <%= select_tag :demand_type, demand_type_options, class: 'form-control', id: 'demands-table-demand-type', selected: params[:demand_type] %>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="form-group">
      <%= label_tag I18n.t('demands.filter.class_of_service.title') %>
      <%= select_tag :class_of_service, class_of_service_options, class: 'form-control', id: 'demands-table-class-of-service', selected: params[:class_of_service] %>
    </div>
  </div>
</div>

<div class="row bottom-spaced-component">
  <div class="col-xs-2">
    <%= label_tag Project.human_attribute_name(:start_date), nil, class: 'control-label' %>
    <%= date_field_tag :demands_start_date, start_date, class: 'form-control' %>
  </div>

  <div class="col-xs-2">
    <%= label_tag Project.human_attribute_name(:end_date), nil, class: 'control-label' %>
    <%= date_field_tag :demands_end_date, end_date, class: 'form-control' %>
  </div>
  <div class="col-xs-2">
    <%= label_tag I18n.t('demands.index.grouping_to_charts') %>
    <%= select_tag :period, grouping_period_to_charts_options('week'), class: 'form-control', id: 'demands-table-grouping-period', selected: params[:period] %>
  </div>
  <div class="col-xs-6">
    <%= label_tag I18n.t('general.search_text') %>
    <%= text_field_tag :search_text, nil, class: 'form-control', id: 'search_text', placeholder: I18n.t('demands.index.search.text.placeholder') %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <%= button_tag I18n.t('general.search'), class: 'btn btn-success filter-button' %>
  </div>
</div>

<div id="demand-tab-content">
  <hr>
  <div id="listing">
    <div id="container-leadtime-div" class="container-leadtime">
      <%= render 'demands/demands_leadtime_container', demands: @demands, confidence_65_leadtime: confidence_65_leadtime, confidence_80_leadtime: confidence_80_leadtime, confidence_95_leadtime: confidence_95_leadtime, queue_time: queue_time, touch_time: touch_time %>
    </div>

    <hr>

    <div id="flat-demands-div">
      <%= render 'demands/demands_table', company: company, demands: demands, unpaged_demands: unpaged_demands %>
    </div>
  </div>
</div>
