<div class="row" id="demands-charts-div">
  <% if demands_chart_adapter.creation_chart_data.present? %>
    <div class="col-xs-6 bottom-spaced-component">
      <div id="demands-created-column"
           class="flow-chart"
           data-title='<%= I18n.t('demands.charts.flow_data') %>'
           data-xcategories='<%= demands_chart_adapter.x_axis.to_json %>'
           data-xtitle='<%= I18n.t('general.period') %>'
           data-ytitle='<%= I18n.t('demands.charts.demands.title') %>'
           data-tooltipsuffix='<%= I18n.t('projects.charts.throughput.tooltipsufix') %>'
           data-series='<%= [
                                { name: I18n.t('demands.charts.creation_date'), data: demands_chart_adapter.creation_chart_data },
                                { name: I18n.t('demands.charts.committed_date'), data: demands_chart_adapter.committed_chart_data },
                                { name: I18n.t('general.pull_transaction'), data: demands_chart_adapter.pull_transaction_rate },
                                { name: I18n.t('general.delivered'), data: demands_chart_adapter.throughput_chart_data }
                            ].to_json %>'
           data-stacking=''
           data-decimals='0'>
      </div>
    </div>
  <% else %>
    <%= render 'layouts/no_data', missing_data: Demand.model_name.human(count: 2).downcase %>
  <% end %>

  <% if demands_chart_adapter.leadtime_percentiles_on_time_chart_data.present? %>
    <div class="col-xs-6 bottom-spaced-component">
      <div id="leadtime-evolution"
           class="flow-chart"
           data-title='<%= I18n.t('projects.charts.leadtime_evolution.title') %>'
           data-xcategories='<%= demands_chart_adapter.x_axis.to_json %>'
           data-series='<%= demands_chart_adapter.leadtime_percentiles_on_time_chart_data[:y_axis].to_json %>'
           data-xtitle='<%= I18n.t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= I18n.t('projects.charts.leadtime_evolution.ylabel') %>'
           data-tooltipsuffix='<%= I18n.t('projects.charts.leadtime_evolution.ylabel') %>'
           data-prefix=''
           data-decimals='2'>
      </div>
    </div>
  <% else %>
    <%= render 'layouts/no_data', missing_data: Demand.model_name.human(count: 2).downcase %>
  <% end %>

  <% if demands_chart_adapter.demands_by_project.present? %>
    <div class="col-xs-6 bottom-spaced-component">
      <div id="demands-by-project"
           class="flow-chart"
           data-title='<%= I18n.t('demands.charts.demands_by_project.title') %>'
           data-xcategories='<%= demands_chart_adapter.demands_by_project[:x_axis].to_json %>'
           data-series='<%= demands_chart_adapter.demands_by_project[:y_axis].to_json %>'
           data-xtitle='<%= I18n.t('portfolio.charts.throughput_by_project.xtitle') %>'
           data-ytitle='<%= I18n.t('projects.charts.burnup.ylabel') %>'
           data-prefix=''
           data-tooltipsuffix=''
           data-decimals='0'>
      </div>
    </div>
  <% else %>
    <%= render 'layouts/no_data', missing_data: Demand.model_name.human(count: 2).downcase %>
  <% end %>
</div>
