<% if discarded_demands.count.positive? %>
  <div class="row">
    <div class="col-xs-12">
      <div id="demands_count">
        <h4><%= "#{t('general.total')}: #{t('demands.index.count', demands_count: discarded_demands.count)}" %></h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= link_to I18n.t('general.download_csv'), demands_csv_company_demands_path(company, discarded_demands.map(&:id).to_csv, format: :csv), class: 'btn btn-sm btn-primary pull-right' %>
      </div>
    </div>
  </div>
<% end %>

<% if discarded_demands.present? %>
  <div id="demands_table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= Demand.human_attribute_name :demand_id %></th>
          <th><%= Demand.human_attribute_name :artifact_type %></th>
          <th><%= Demand.human_attribute_name :demand_type %></th>
          <th><%= Demand.human_attribute_name :class_of_service %></th>
          <th><%= Demand.human_attribute_name :discarded_at %></th>
          <th><%= I18n.t('demands.index.discarded_stage') %></th>
          <th><%= Demand.human_attribute_name :demand_title %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% discarded_demands.each do |demand| %>
          <tr id='demand_<%= demand.id %>'>
            <td><%= link_to demand.demand_id, company_demand_path(company, demand.slug) %></td>
            <td><%= t("activerecord.attributes.demand.enums.artifact_type.#{demand.artifact_type}") %></td>
            <td><%= t("activerecord.attributes.demand.enums.demand_type.#{demand.demand_type}") %></td>
            <td><%= t("activerecord.attributes.demand.enums.class_of_service.#{demand.class_of_service}") %></td>
            <td><%= I18n.l(demand.discarded_at, format: :short) %></td>
            <td><%= demand.current_stage&.name %></td>
            <td><%= demand.demand_title %></td>
            <td>
              <%= link_to destroy_physically_company_demand_path(company, demand), method: :delete, data: { confirm: I18n.t('general.destroy.confirm') }, remote: true do %>
                <i class="fa fa-times"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  <%= render 'layouts/no_data', missing_data: Demand.model_name.human.pluralize.downcase %>
<% end %>