<div class="standard-form">

  <div class="row">
    <div class='col-xs-4 form-group <%= 'has-error' if demand.errors[:team].present? %>'>
      <%= form.label :team, class: 'control-label required' %>
      <%= form.select :team_id, teams_in_company_options(company, demand.team_id), { include_blank: I18n.t('general.select') }, class: 'form-control' %>
      <span class="help-block"><%= demand.errors[:team].join(', ') %></span>
    </div>
    <div class='col-xs-4 form-group'>
      <%= form.label :customer, class: 'control-label' %>
      <%= form.select :customer_id, customers_in_company_options(company, demand.customer_id), { include_blank: I18n.t('general.select') }, class: 'form-control' %>
    </div>
    <div class='col-xs-4 form-group <%= 'has-error' if demand.errors[:product].present? %>'>
      <%= form.label :product, class: 'control-label required' %>
      <%= form.select :product_id, products_in_company_options(company, demand.product_id), { include_blank: I18n.t('general.select') }, class: 'form-control' %>
      <span class="help-block"><%= demand.errors[:product].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-6 form-group <%= 'has-error' if demand.errors[:demand_type].present? %>'>
      <%= form.label :demand_type, class: 'control-label' %>
      <%= form.select :demand_type, Demand.demand_types.map { |key, _value| [t("activerecord.attributes.demand.enums.demand_type.#{key}"), key] }, {include_blank: I18n.t('general.select'), selected: demand.demand_type }, class: 'form-control' %>
      <span class="help-block"><%= demand.errors[:demand_type].join(', ') %></span>
    </div>
    <div class='col-xs-6 form-group <%= 'has-error' if demand.errors[:class_of_service].present? %>'>
      <%= form.label :class_of_service, class: 'control-label' %>
      <%= form.select :class_of_service, Demand.class_of_services.map { |key, _value| [t("activerecord.attributes.demand.enums.class_of_service.#{key}"), key] }, { include_blank: I18n.t('general.select'), selected: demand.class_of_service }, class: 'form-control' %>
      <span class="help-block"><%= demand.errors[:class_of_service].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-6 form-group <%= 'has-error' if demand.errors[:external_id].present? %>'>
      <%= form.label :external_id, class: 'control-label required' %>
      <%= form.text_field :external_id, class: 'form-control', autofocus: true %>
      <span class="help-block"><%= demand.errors[:external_id].join(', ') %></span>
    </div>

    <div class='col-xs-6 form-group <%= 'has-error' if demand.errors[:demand_score].present? %>'>
      <%= form.label :demand_score, class: 'control-label' %>
      <%= form.number_field :demand_score, class: 'form-control', step: 0.01 %>
      <span class="help-block"><%= demand.errors[:demand_score].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-4 form-check bottom-spaced-component'>
      <%= form.check_box :manual_effort, class: 'form-check-input' %>
      <%= form.label :manual_effort, class: 'form-check-label' %>
    </div>
    <div class='col-xs-4 form-group <%= 'has-error' if demand.errors[:effort_upstream].present? %>'>
      <%= form.label :effort_upstream, class: 'control-label' %>
      <%= form.number_field :effort_upstream, class: 'form-control', step: 0.01 %>
      <span class="help-block"><%= demand.errors[:effort_upstream].join(', ') %></span>
    </div>
    <div class='col-xs-4 form-group <%= 'has-error' if demand.errors[:effort_downstream].present? %>'>
      <%= form.label :effort_downstream, class: 'control-label' %>
      <%= form.number_field :effort_downstream, class: 'form-control', step: 0.01 %>
      <span class="help-block"><%= demand.errors[:effort_downstream].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-6 form-group <%= 'has-error' if demand.errors[:created_date].present? %>'>
      <%= form.label :created_date, class: 'control-label required' %>
      <%= form.date_field :created_date, class: 'form-control' %>
      <span class="help-block"><%= demand.errors[:created_date].join(', ') %></span>
    </div>
    <div class='col-xs-6 form-group <%= 'has-error' if demand.errors[:commitment_date].present? %>'>
      <%= form.label :commitment_date, class: 'control-label' %>
      <%= form.date_field :commitment_date, class: 'form-control' %>
      <span class="help-block"><%= demand.errors[:commitment_date].join(', ') %></span>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-6 form-group <%= 'has-error' if demand.errors[:end_date].present? %>'>
      <%= form.label :end_date, class: 'control-label' %>
      <%= form.date_field :end_date, class: 'form-control' %>
      <span class="help-block"><%= demand.errors[:end_date].join(', ') %></span>
    </div>
    <div class='col-xs-6 form-group'>
      <%= form.label :external_url, class: 'control-label required' %>
      <%= form.text_field :external_url, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-danger" data-dismiss="modal"><%= I18n.t('general.buttons.cancel') %></button>
      <%= form.submit class: 'btn btn-success' %>
    </div>
  </div>
</div>
