<% if demands.present? %>
  <% demands.each do |stage_name, demands_in_stage| %>
    <h4><%= stage_name %></h4>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= I18n.t('activerecord.attributes.demand.external_id') %></th>
          <th><%= I18n.t('demands.grouped_by_stage.time_in_stage') %></th>
          <th><%= I18n.t('demands.grouped_by_stage.hours_in_stage') %></th>
        </tr>
      </thead>

      <tbody>
        <% demands_in_stage[:data].each do |external_id, time| %>
          <% if time.present? %>
            <tr>
              <td><%= link_to external_id, company_demand_path(company, external_id) %></td>
              <td><%= time_distance_in_words(time) %></td>
              <td><%= number_with_precision((time / 1.hour), precision: 4) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <td></td>
          <td><%= time_distance_in_words(demands_in_stage[:consolidation]) %></td>
          <td><%= number_with_precision((demands_in_stage[:consolidation] / 1.hour), precision: 4) %></td>
        </tr>
      </tfoot>
    </table>
  <% end %>

<% else %>
  <div class="no-data">
    <%= I18n.t('general.no_data', missing_data: Demand.model_name.human.pluralize(2).downcase) %>
  </div>

<% end %>
