<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h1 class="modal-title" id="myModalLabel"><%= I18n.t('demands.montecarlo_dialog.title') %></h1>
    </div>
    <div class="modal-body">
      <div id="spinner-div">
        <%= render 'layouts/load_spinner' %>
      </div>
      <div id="montecarlo-data-div">
        <div class="row">
          <div class="col-xs-4">
            <h4 class="center-text"><%= I18n.t('demands.index.montecarlo_projection.remaining_scope') %></h4>
            <h2 class="center-text"><%= I18n.t('general.demands_text', count: demands_left_count) %></h2>
          </div>
          <div class="col-xs-4">
            <h4 class="center-text"><%= I18n.t('demands.index.montecarlo_projection.total_delivered') %></h4>
            <h2 class="center-text"><%= I18n.t('general.demands_text', count: demands_delivered_count) %></h2>
          </div>
          <div class="col-xs-4">
            <h4 class="center-text"><%= I18n.t('demands.index.montecarlo_projection.throughput_per_period') %></h4>
            <h2 class="center-text"><%= throughput_per_period %></h2>
          </div>
        </div>
        <div class="row">
          <h4 class="center-text"><%= I18n.t('demands.index.montecarlo_projection.80_percent_data') %></h4>
          <h2 class="center-text"><%= I18n.t('general.weeks_text', count: number_with_precision(status_report_data.confidence_80_duration, precision: 2)) %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
