<div class="col-xs-6">
  <h3 class="center">
    <%= I18n.t('projects.show.unscored_demands.title') %>
  </h3>

  <% if unscored_demands.blank? %>
    <p><%= I18n.t('projects.show.unscored_demands.no_demands') %></p>
  <% else %>
    <p><%= I18n.t('general.demands_text', count: unscored_demands.count ) %></p>
    <p>
      <%= unscored_demands.map do |demand| %>
        <% link_to '#', class: 'edit-demand-button', onclick: "editDemand(#{company.id}, #{demand.project_id}, #{demand.id}, null)" do %>
          <span><%= demand.external_id %></span>
          <span><i class="fas fa-edit"></i></span>
        <% end %>
      <% end.join(' | ')&.html_safe %>
    </p>
  <% end %>
</div>