<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= I18n.t('demands.charts.title') %></li>
    </ul>
  </div>
</div>

<%= render 'demands/demands_charts', demands: @demands, demands_chart_adapter: @demands_chart_adapter %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'demands/demands_charts' %>
  <%= javascript_include_tag 'demands/demands_charts_action' %>
<% end %>
