<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= link_to Project.model_name.human.pluralize, company_projects_path(@company) %></li>
        <li><%= link_to @project.full_name, company_project_path(@company, @project) %></li>
        <li><%= t('demands.import_csv.title') %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-12'>
      <%= form_tag import_csv_company_project_demands_url(@company, @project), method: :post do %>
        <div class='col-xs-12 form-group'>
          <%= label_tag Team.model_name.human, nil, class: 'control-label' %>
          <%= select_tag :team, options_from_collection_for_select(@teams, :id, :name), class: 'form-control' %>
        </div>

        <div class='col-xs-12 form-group'>
          <%= label_tag t('demands.import_csv.field_label'), nil, class: 'control-label' %>
          <%= text_area_tag :csv_text, params[:csv_text], class: 'form-control' %>
        </div>

        <div class="col-xs-12">
          <%= submit_tag t('general.buttons.import'), class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4><%= t('demands.import.instructions') %></h4>
    </div>
    <div class="col-xs-12">
      <ul>
        <li><b><%= 'demand_id;demand_type;created_date;commitment_date;end_date' %></b></li>
        <li><%= 'e.g. 345;bug;2018-01-10T22:44:57-02:00;2018-01-16T22:44:57-02:00;2018-01-20T22:44:57-02:00' %></li>
        <li><%= t('demands.import.optional_fields') %></li>
      </ul>
    </div>
  </div>
</div>
