<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to @project.name, company_project_path(@company, @project) %></li>
      <li><%= I18n.t('demands.new.title') %></li>
    </ul>
  </div>
</div>

<%= form_for [@company, @project, @demand] do |f| %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-12">
      <%= render 'demands/form', company: @company, form: f, demand: @demand %>
    </div>
  </div>
<% end %>
