<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= link_to @project.name, company_project_path(@company, @project) %></li>
        <li><%= link_to ProjectResult.model_name.human.capitalize, company_project_project_result_path(@company, @project, @project_result) %></li>
        <li><%= t('demands.new.title') %></li>
      </ul>
    </div>
  </div>

  <%= form_for [@company, @project, @project_result, @demand] do |f| %>
    <div class="row bottom-spaced-component">
      <div class="col-xs-12">
        <%= render 'form', f: f %>
      </div>
    </div>
  <% end %>
</div>
