<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to @demand.project.name, company_project_path(@company, @demand.project) %></li>
      <li><%= @demand.demand_id %></li>
    </ul>
  </div>
</div>

<div class="bottom-spaced-component" id="demands-view">
  <%= render 'demands/demand_stamps', demand: @demand %>
</div>

<div class="row bottom-spaced-component">
  <div class="col-xs-6">
    <%= link_to synchronize_jira_company_project_demand_path(@company, @demand.project, @demand), method: :put do %>
      <span class="btn btn-sm"><i class="fas fa-sync-alt"></i></span><span><%= I18n.t('demands.show.sync_jira') %></span>
    <% end %>
    <span class="detailed"><%= "(#{t('general.last_update.text', last_update: I18n.l(@demand.updated_at, format: :short))})" %></span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="tab">
      <button class="tablinks demand-tab" id="demand-block-tab" onclick="openTab(event, 'content-block', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.blocks_tab') %></button>
      <button class="tablinks demand-tab" onclick="openTab(event, 'content-responsibles', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.responsibles_tab') %></button>
      <button class="tablinks demand-tab" onclick="openTab(event, 'content-comments', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.comments_tab') %></button>
      <button class="tablinks demand-tab" id="demand-structure-tab" onclick="openTab(event, 'content-structure', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.structure_tab') %></button>
      <button class="tablinks demand-tab" onclick="openTab(event, 'content-flow-efficiency', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.flow_efficiency_tab') %></button>
      <button class="tablinks demand-tab" onclick="openTab(event, 'content-transitions', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.transitions_tab') %></button>
    </div>
  </div>
</div>

<div id="content-structure" class="tabcontent">
  <div class="row">
    <% @demand.product_tree.each do |branch| %>
      <div class="col-xs-2 col-xs-offset-5 center <%= branch != @demand.product_tree.last ? 'product-branch' : 'demand-branch' %>">
        <h4><%= branch.name %></h4>
      </div>

      <% if branch != @demand.product_tree.last %>
        <div class="col-xs-2 col-xs-offset-5 product-tree-connector">
          <i class="fas fa-arrow-down"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="content-flow-efficiency" class="tabcontent">
  <div class="row">
    <div class="col-xs-6">
      <%= "#{I18n.t('projects.charts.queue_touch_time.queue')}: #{time_distance_in_words(@demand.total_queue_time)} (#{number_with_precision(@queue_percentage, precision: 2)}%)" %>
    </div>
    <div class="col-xs-6">
      <%= "#{I18n.t('projects.charts.queue_touch_time.touch')}: #{time_distance_in_words(@demand.total_touch_time)} (#{number_with_precision(@touch_percentage, precision: 2)}%)" %>
    </div>
  </div>

  <div class="row bottom-spaced-component">
    <div class="col-xs-12">
      <div id="queue-progress" class="queue-progress">
        <%= hidden_field_tag :queue_percentage, @queue_percentage %>
        <div id="queue-bar" class="queue-bar"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= "#{I18n.t('projects.charts.throughput.stage_stream.upstream')}: #{number_with_precision(@demand.effort_upstream, precision: 2)} h (#{number_with_precision(@upstream_percentage, precision: 2)}%)" %>
    </div>
    <div class="col-xs-6">
      <%= "#{I18n.t('projects.charts.throughput.stage_stream.downstream')}: #{number_with_precision(@demand.effort_downstream, precision: 2)} h (#{number_with_precision(@downstream_percentage, precision: 2)}%)" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="stream-progress" class="general-progress">
        <%= hidden_field_tag :upstream_percentage, @upstream_percentage %>
        <div id="stream-bar" class="general-bar"></div>
      </div>
    </div>
  </div>
</div>

<div id="content-block" class="tabcontent">
  <%= render 'demand_blocks/demand_blocks_data', company: @company, demand: @demand, demand_blocks_list: @demand_blocks, demand_blocks_ids: @demand_blocks.map(&:id).join(',') %>
</div>

<div id="content-comments" class="tabcontent">
  <div class="row">
    <div class="col-xs-12">
      <h3><%= DemandComment.model_name.human %></h3>
    </div>
  </div>
  <%= render 'demand_comments/demand_comments_table', demand_comments_list: @demand_comments %>
</div>

<div id="content-responsibles" class="tabcontent">
  <%= render 'item_assignments/item_assignments_table', demand: @demand %>
</div>

<div id="content-transitions" class="tabcontent">
  <div id="demand-transitions-table">
    <%= render 'demand_transitions/demand_transitions_table', company: @company, demand: @demand, demand_transitions_list: @demand.demand_transitions.order(:last_time_in) %>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'components/components' %>
  <%= javascript_include_tag 'demands/show' %>
<% end %>
