<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <% if @demand.project.present? %>
        <li><%= link_to @demand.project.name, company_project_path(@company, @demand.project) %></li>
      <% end %>
      <li><%= @demand.external_id %></li>
    </ul>
  </div>
</div>

<div class="bottom-spaced-component" id="demands-view">
  <%= render 'demands/demand_stamps', company: @company, demand: @demand, lead_time_breakdown: @lead_time_breakdown %>
</div>

<div class="row bottom-spaced-component">
  <div class="col-xs-6">
    <% if @company.jira? %>
      <%= link_to synchronize_jira_company_demand_path(@company, @demand), method: :put do %>
        <span class="btn btn-sm"><i class="fas fa-sync-alt"></i></span><span><%= I18n.t('demands.show.sync_jira') %></span>
      <% end %>
    <% elsif @company.azure? %>
      <%= link_to synchronize_azure_company_demand_path(@company, @demand), method: :put do %>
        <span class="btn btn-sm"><i class="fas fa-sync-alt"></i></span><span><%= I18n.t('demands.show.sync_jira') %></span>
      <% end %>
    <% end %>

    <span class="detailed"><%= "(#{t('general.last_update.text', last_update: I18n.l(@demand.updated_at, format: :short))})" %></span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="tab">
      <button class="tablinks demand-tab" id="demand-block-tab" onclick="openTab(event, 'content-block', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.blocks_tab') %></button>
      <button class="tablinks demand-tab" onclick="openTab(event, 'content-responsibles', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.responsibles_tab') %></button>
      <button class="tablinks demand-tab" onclick="openTab(event, 'content-comments', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.comments_tab') %></button>
      <button class="tablinks demand-tab" id="demand-structure-tab" onclick="openTab(event, 'demand-structure', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.structure_tab') %></button>
      <button class="tablinks demand-tab" onclick="openTab(event, 'content-flow-efficiency', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.flow_efficiency_tab') %></button>
      <button class="tablinks demand-tab" onclick="openTab(event, 'content-transitions', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.transitions_tab') %></button>
      <%= link_to demand_efforts_company_demands_path(@company) do %>
        <button><%= I18n.t('demands.show.efforts_tab') %></button>
      <% end %>
      <% if @demand.tasks.count.positive? %>
        <button class="tablinks demand-tab" onclick="openTab(event, 'content-demand-tasks', 'tablinks', 'tabcontent')"><%= I18n.t('demands.show.tasks_tab') %></button>
      <% end %>
    </div>
  </div>
</div>

<div id="demand-structure" class="tabcontent">
  <div class="row">
    <% if @demand.product_tree.count > 1 %>
      <% @demand.product_tree.each do |branch| %>
        <div class="col-xs-2 col-xs-offset-5 center <%= branch != @demand.product_tree.last ? 'product-branch' : 'demand-branch' %>">
          <% if branch == @demand.product_tree.first %>
            <h4><%= link_to branch.name, company_product_path(@company, @demand.product), target: :_blank %></h4>
          <% elsif branch != @demand.product_tree.last %>
            <h4><%= link_to branch.name, company_product_portfolio_unit_path(@company, @demand.product, branch), target: :_blank %></h4>
          <% else %>
            <h4><%= branch.name %></h4>
          <% end %>
        </div>

        <% if branch != @demand.product_tree.last %>
          <div class="col-xs-2 col-xs-offset-5 product-tree-connector">
            <i class="fas fa-arrow-down"></i>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <%= render 'layouts/no_data', missing_data: PortfolioUnit.model_name.human(count: 2).downcase %>
    <% end %>
  </div>
</div>

<div id="content-flow-efficiency" class="tabcontent">
  <div class="row">
    <div class="col-xs-6">
      <%= "#{I18n.t('projects.charts.queue_touch_time.queue')}: #{time_distance_in_words(@demand.total_queue_time)} (#{number_with_precision(@queue_percentage, precision: 2)}%)" %>
    </div>
    <div class="col-xs-6">
      <%= "#{I18n.t('projects.charts.queue_touch_time.touch')}: #{time_distance_in_words(@demand.total_touch_time)} (#{number_with_precision(@touch_percentage, precision: 2)}%)" %>
    </div>
  </div>

  <div class="row bottom-spaced-component">
    <div class="col-xs-12">
      <div id="queue-progress" class="queue-progress">
        <%= hidden_field_tag :queue_percentage, @queue_percentage %>
        <div id="queue-bar" class="queue-bar"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= "#{I18n.t('projects.charts.throughput.stage_stream.upstream')}: #{number_with_precision(@demand.effort_upstream, precision: 2)} h (#{number_with_precision(@upstream_percentage, precision: 2)}%)" %>
    </div>
    <div class="col-xs-6">
      <%= "#{I18n.t('projects.charts.throughput.stage_stream.downstream')}: #{number_with_precision(@demand.effort_downstream, precision: 2)} h (#{number_with_precision(@downstream_percentage, precision: 2)}%)" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="stream-progress" class="general-progress">
        <%= hidden_field_tag :upstream_percentage, @upstream_percentage %>
        <div id="stream-bar" class="general-bar"></div>
      </div>
    </div>
  </div>
</div>

<div id="content-block" class="tabcontent">
  <%= render 'demand_blocks/demand_blocks_table',
             company: @company,
             demand_blocks_list: @demand_blocks,
             demands_count: 1,
             demand_blocks_ids: @demand_blocks.map(&:id).join(','),
             paged_demand_blocks: @paged_demand_blocks %>
</div>

<div id="content-comments" class="tabcontent">
  <div class="row">
    <div class="col-xs-12">
      <h3><%= DemandComment.model_name.human %></h3>
    </div>
  </div>
  <%= render 'demand_comments/demand_comments_table', demand_comments_list: @demand_comments %>
</div>

<div id="content-responsibles" class="tabcontent">
  <%= render 'item_assignments/item_assignments_table', company: @company, demand: @demand %>
</div>

<div id="content-transitions" class="tabcontent">
  <div id="demand-transitions-table">
    <%= render 'demand_transitions/demand_transitions_table', company: @company, demand: @demand, demand_transitions_list: @demand_transitions %>
  </div>
</div>

<div id="content-demand-efforts" class="tabcontent">
  <%= render 'demand_efforts/demand_efforts_table', company: @company, demand: @demand, demand_efforts_list: @demand_efforts %>
</div>

<div id="content-demand-tasks" class="tabcontent">
  <%= render 'tasks/tasks_table', company: @company, demand: @demand, tasks_list: @tasks_list, paged_tasks: @paged_tasks, finished_tasks: @tasks_list.finished %>
</div>

<div class="modal fade" id="edit-block-form" tabindex="-1" role="dialog" aria-labelledby="edit-block-form" aria-hidden="true"></div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'components/components' %>

  <%= javascript_include_tag 'routes/demand_routes' %>
  <%= javascript_include_tag 'demand_blocks/form_modal' %>
  <%= javascript_include_tag 'demands/form_modal' %>

  <%= javascript_include_tag 'demands/show' %>
<% end %>
