<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= link_to @project.full_name, company_project_path(@company, @project) %></li>
        <li><%= @demand.demand_id %></li>
      </ul>
    </div>
  </div>

  <div class="bottom-spaced-component">
    <%= render 'demand_stamps', demand: @demand %>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= link_to synchronize_pipefy_company_project_demand_path(@company, @project, @demand), method: :put do %>
        <span class="btn btn-sm"><i class="fas fa-sync-alt"></i></span><span><%= t('demands.show.sync_pipefy') %></span>
      <% end %>
      <span class="detailed"><%= "(#{t('demands.show.last_update', last_update_date: l(@demand.updated_at, format: :short))})" %></span>
    </div>
  </div>

  <%= render 'demand_blocks/demand_blocks_table', demand_blocks_list: @demand_blocks %>
  <%= render 'demand_transitions/demand_transitions_table', demand_transitions_list: @demand_transitions %>
</div>
