<div class="row equal-heights">
  <div class="col-xs-4">
    <%= render 'users/operations_personal_info', company: company, object_type: object_type, flow_object_id: flow_object_id, name: name, demands: demands, team_member: team_member %>
  </div>

  <% if demands.present? %>
    <div class="col-xs-6">
      <h4><%= I18n.t('demands.index.last_deliveries') %></h4>

      <%= render 'demands/demands_short_table', company: company, demands: demands.kept.finished_until_date(Time.zone.now).order(end_date: :desc).first(5) %>
    </div>
  <% end %>

  <% if member_teams.present? %>
    <div class="col-xs-2">
      <%= render 'team_members/teams_summary', member_teams: member_teams %>
    </div>
  <% end %>

  <% if member_teams.present? %>
    <div class="col-xs-4">
      <%= render 'team_members/blocks_summary', demand_blocks: demand_blocks %>
    </div>
  <% end %>

  <% unless member_projects.nil? %>
    <div class="col-xs-8">
      <%= render 'team_members/projects_summary', member_projects: member_projects %>
    </div>
  <% end %>
</div>

<div class="row equal-heights">
  <div class="col-xs-6">
    <h4><%= I18n.t('operations_dashboard.lead_time_control_chart.title') %></h4>
    <div id="member-lead-time-control-chart"
         class="flow-chart"
         data-xcategories="<%= member_finished_demands.map(&:external_id) %>"
         data-series="<%= [{ name: 'Lead time', color: 'rgb(51, 51, 255)', data: member_finished_demands.map { |demand| (demand.leadtime.to_f / 1.day).round(2) } }].to_json %>"
         data-title=""
         data-prefix=""
         data-tooltipsuffix="<%= I18n.t('projects.charts.lead_time_chart.ylabel') %>"
         data-percentile65="<%= member_leadtime65.round(2) %>"
         data-percentile80="<%= member_leadtime80.round(2) %>"
         data-percentile95="<%= member_leadtime95.round(2) %>"
    >
    </div>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('operations_dashboard.lead_time_histogram.title') %></h4>
    <div id="member-lead-time-histogram"
         class="flow-chart"
         data-title=""
         data-xcategories="<%= member_lead_time_histogram_data.keys.map { |bin| (bin / 1.day).round(2) } %>"
         data-xtitle="<%= I18n.t('projects.charts.xlabel.days') %>"
         data-ytitle="<%= I18n.t('projects.charts.leadtime_histogram.ylabel') %>"
         data-prefix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series="<%= [{ name: I18n.t('projects.charts.leadtime_histogram.ylabel'), data: member_lead_time_histogram_data.values }].to_json %>"
         data-decimals="2">
    </div>
  </div>
</div>

<div class="row equal-heights">
  <% if operations_dashboards.present? %>
    <div class="col-xs-6">
      <%= render 'team_members/statistics_informations', dates_array: array_of_dates, operations_dashboards: operations_dashboards %>
    </div>

    <div class="col-xs-6">
      <h4><%= I18n.t('operations_dashboard.effort_chart.title') %></h4>

      <div id="member-dashboard-effort-column"
           class="flow-chart"
           data-title=''
           data-xcategories='<%= operations_dashboards.map(&:dashboard_date).to_json %>'
           data-xtitle='<%= I18n.t('general.months') %>'
           data-ytitle='<%= I18n.t('general.hours') %>'
           data-prefix=''
           data-tooltipsuffix=''
           data-datalabelsuffix=''
           data-series='<%= member_effort_chart.to_json %>'
           data-decimals='0'>
      </div>
    </div>
  <% end %>
</div>

<div class="row equal-heights">

  <div class="col-xs-6">
    <h4><%= I18n.t('demands.charts.throughput.title') %></h4>

    <div id="member-dashboard-throughput-column"
         class="flow-chart"
         data-title=''
         data-xcategories='<%= operations_dashboards.map(&:dashboard_date).to_json %>'
         data-xtitle='<%= I18n.t('general.months') %>'
         data-ytitle='<%= I18n.t('general.hours') %>'
         data-prefix=''
         data-tooltipsuffix=''
         data-datalabelsuffix=''
         data-series='<%= [{ name: I18n.t('general.delivered'), data: operations_dashboards.map(&:delivered_demands_count) }].to_json %>'
         data-decimals='0'>
    </div>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('operations_dashboard.pull_interval.title') %></h4>

    <div id="member-dashboard-pull-interval-line"
         class="flow-chart"
         data-title=''
         data-xcategories='<%= operations_dashboards.map(&:dashboard_date).to_json %>'
         data-xtitle='<%= I18n.t('general.months') %>'
         data-ytitle='<%= I18n.t('general.hours') %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('general.hours') %>'
         data-datalabelsuffix=''
         data-series='<%= member_pull_interval_average_chart.to_json %>'
         data-decimals='0'>
    </div>
  </div>
</div>


<% if team_chart_adapter.present? %>
  <div class="row equal-heights">
    <div class="col-xs-12">
      <h4 class="text-center"><%= I18n.t('team_members.charts.hours_per_project.title') %></h4>

      <div id="member-dashboard-hours-per-project"
           class="flow-chart"
           data-title=''
           data-xcategories='<%= team_chart_adapter.x_axis_hours_per_project.to_json %>'
           data-xtitle='<%= I18n.t('general.months') %>'
           data-ytitle='<%= I18n.t('general.hours') %>'
           data-prefix=''
           data-tooltipsuffix=''
           data-datalabelsuffix=''
           data-series='<%= team_chart_adapter.y_axis_hours_per_project.to_json %>'
           data-decimals='0'>
      </div>
    </div>
  </div>
<% end %>
