<div class="row">
  <div class="col-xs-8">
    <div id="column-aging-by-project"
         class="flow-chart"
         data-xcategories='<%= aging_by_project_x_axis.to_json %>'
         data-title='<%= I18n.t('portfolio.charts.aging_by_project.title') %>'
         data-ytitle='<%= I18n.t('portfolio.charts.aging_by_project.data_title') %>'
         data-tooltipsuffix='<%= I18n.t('portfolio.charts.aging_by_project.data_title') %>'
         data-series='<%= aging_by_project_data.to_json %>'
         data-stacking='normal'
         data-decimals='0'>
    </div>
  </div>

  <div class="col-xs-2 center-text">
    <div><%= I18n.t('general.min') %></div>
    <h3><%= aging_by_project_data[0][:data].min %></h3>
  </div>
  <div class="col-xs-2 center-text bottom-spaced-component">
    <div><%= I18n.t('general.max') %></div>
    <h3><%= aging_by_project_data[0][:data].max %></h3>
  </div>

  <div class="col-xs-4">
    <hr>
  </div>

  <div class="col-xs-4 center-text">
    <div><%= I18n.t('stats.population.variation') %></div>
    <h3><%= number_to_percentage((aging_by_project_variation * 100), precision: 1) %></h3>
  </div>
</div>