<% if scope_data.present? && leadtime_data.present? %>
  <div class="row">
    <div class="col-xs-2">
      <div class="tab">
        <button class="tablinks stats-tab" onclick="openTab(event, 'stats-scope', 'tablinks', 'tabcontent')"><%= t('projects.statistics.scope_tab') %></button>
        <button class="tablinks stats-tab" onclick="openTab(event, 'stats-leadtime', 'tablinks', 'tabcontent')"><%= t('projects.statistics.leadtime_tab') %></button>
        <button class="tablinks stats-tab" onclick="openTab(event, 'stats-blocks', 'tablinks', 'tabcontent')"><%= t('projects.statistics.block_tab') %></button>
        <% if defined?(block_by_project_x_axis).present? %>
          <button class="tablinks stats-tab" onclick="openTab(event, 'stats-blocks-by-project', 'tablinks', 'tabcontent')"><%= t('projects.statistics.block_by_project_tab') %></button>
          <button class="tablinks stats-tab" onclick="openTab(event, 'stats-aging-by-project', 'tablinks', 'tabcontent')"><%= t('projects.statistics.aging_by_project_tab') %></button>
          <button class="tablinks stats-tab" onclick="openTab(event, 'stats-lead-time-data-range', 'tablinks', 'tabcontent')"><%= t('projects.statistics.lead_time_data_range_tab') %></button>
          <button class="tablinks stats-tab" onclick="openTab(event, 'stats-lead-time-histrogram-data-range', 'tablinks', 'tabcontent')"><%= t('projects.statistics.lead_time_histogram_data_range_tab') %></button>
          <button class="tablinks stats-tab" onclick="openTab(event, 'stats-lead-time-interquartile-data-range', 'tablinks', 'tabcontent')"><%= t('projects.statistics.lead_time_interquartile_data_range_evolution_tab') %></button>
        <% end %>
      </div>
    </div>

    <div class="col-xs-10">
      <div id="stats-scope" class="tabcontent">
        <%= render 'charts/scope_variation_stats', x_axis: x_axis, scope_data: scope_data, scope_period_variation: scope_period_variation %>
      </div>

      <div id="stats-leadtime" class="tabcontent">
        <%= render 'charts/leadtime_variation_stats', x_axis: x_axis, leadtime_period_variation: leadtime_period_variation, leadtime_data: leadtime_data %>
      </div>

      <div id="stats-blocks" class="tabcontent">
        <%= render 'charts/blocks_variation_stats', x_axis: x_axis, block_data: block_data, block_period_variation: block_period_variation %>
      </div>

      <% if defined?(block_by_project_x_axis).present? %>
        <div id="stats-blocks-by-project" class="tabcontent">
          <%= render 'charts/block_by_project_stats', x_axis: x_axis, block_by_project_data: block_by_project_data, block_by_project_variation: block_by_project_variation, block_by_project_x_axis: block_by_project_x_axis %>
        </div>

        <div id="stats-aging-by-project" class="tabcontent">
          <%= render 'charts/aging_by_project', x_axis: x_axis, aging_by_project_data: aging_by_project_data, aging_by_project_variation: aging_by_project_variation, aging_by_project_x_axis: aging_by_project_x_axis %>
        </div>
      <% end %>

      <% if defined?(projects_consolidations_charts_adapter).present? %>
        <div id="stats-lead-time-data-range" class="tabcontent">
          <%= render 'charts/lead_time_data_range_evolution', x_axis: projects_consolidations_charts_adapter.lead_time_data_range_evolution[:x_axis], y_axis: projects_consolidations_charts_adapter.lead_time_data_range_evolution[:y_axis] %>
        </div>

        <div id="stats-lead-time-histrogram-data-range" class="tabcontent">
          <%= render 'charts/lead_time_histogram_data_range_evolution', x_axis: projects_consolidations_charts_adapter.lead_time_histogram_data_range_evolution[:x_axis], y_axis: projects_consolidations_charts_adapter.lead_time_histogram_data_range_evolution[:y_axis] %>
        </div>

        <div id="stats-lead-time-interquartile-data-range" class="tabcontent">
          <%= render 'charts/lead_time_interquartile_data_range_evolution', x_axis: projects_consolidations_charts_adapter.lead_time_interquartile_data_range_evolution[:x_axis], y_axis: projects_consolidations_charts_adapter.lead_time_interquartile_data_range_evolution[:y_axis] %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <%= t('general.no_data', missing_data: t('general.data')) %>

<% end %>