<div class="row bottom-spaced-component">
  <div class="col-xs-4">
    <%= label_tag Project.human_attribute_name(:start_date), nil, class: 'control-label' %>
    <%= date_field_tag :charts_filter_start_date, start_date, class: 'form-control' %>
  </div>

  <div class="col-xs-4">
    <%= label_tag Project.human_attribute_name(:end_date), nil, class: 'control-label' %>
    <%= date_field_tag :charts_filter_end_date, end_date, class: 'form-control' %>
  </div>

  <div class="col-xs-4">
    <div class="form-group">
      <%= label_tag I18n.t('charts.period.label') %>
      <%= select_tag :charts_filter_period, grouping_period_to_charts_options(period), class: 'form-control' %>
    </div>
  </div>
</div>

<div class="row bottom-spaced-component">
  <div class="col-xs-3">
    <%= link_to I18n.t('general.search'), '#', class: 'btn btn-primary', id: 'search-charts' %>
  </div>
</div>