<div class="row">
  <div class="col-xs-10">
    <div id="line-lead-time-interquartile-histogram-range"
         class="flow-chart"
         data-xcategories='<%= x_axis.to_json %>'
         data-title='<%= I18n.t('charts.lead_time_interquartile_histogram_range_evolution.title') %>'
         data-ytitle='<%= I18n.t('projects.charts.xlabel.days') %>'
         data-prefix=''
         data-tooltipsuffix=''
         data-datalabelsuffix=''
         data-series='<%= y_axis.to_json %>'
         data-stacking='normal'
         data-decimals='2'>
    </div>
  </div>

  <div class="col-xs-1 center-text">
    <div><%= I18n.t('general.start') %></div>
    <h3><%= number_with_precision(y_axis[0][:data].first, precision: 4) %></h3>
  </div>
  <div class="col-xs-1 center-text bottom-spaced-component">
    <div><%= I18n.t('general.finish') %></div>
    <h3><%= number_with_precision(y_axis[0][:data].last, precision: 4) %></h3>
  </div>

  <div class="col-xs-2">
    <hr>
  </div>

</div>