<%= hidden_field_tag :target_name, target_name %>
<%= hidden_field_tag :projects_ids, projects.map(&:id).join(',') %>

<%= render 'charts/charts_filter', start_date: (params['start_date'] || start_date), end_date: (params['end_date'] || end_date), period: params[:period], projects_count: projects.count %>

<hr>

<div class="row">
  <div id="operational-charts-div">
    <%= render 'charts/operational_charts', target_name: target_name, report_data: report_data, demands_chart_adapter: demands_chart_adapter %>
  </div>

  <div id="status-report-charts-current-div">
    <%= render 'charts/status_report_charts', target_name: target_name, status_report_data: status_report_data, projects: projects, start_date: start_date, end_date: end_date %>
  </div>
</div>

<div class="row">
  <div id="status-report-charts-projection-div">
    <%= render 'charts/status_report_projection_charts', target_name: target_name, status_report_data: status_report_data, projects: projects, start_date: start_date, end_date: end_date %>
  </div>
</div>
