<% if report_data.present? %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-6">
      <div id="burnup-demands"
           class="flow-chart"
           data-title='<%= t('projects.charts.burnup.demands.title', target_name: target_name) %>'
           data-weeks='<%= report_data.x_axis.to_json %>'
           data-xtitle='<%= t('projects.charts.xlabel.time') %>'
           data-ytitle='<%= t('projects.charts.burnup.ylabel') %>'
           data-suffix='<%= t('projects.charts.burnup.tooltipsufix') %>'
           data-prefix=''
           data-ideal='<%= report_data.demands_burnup_data.ideal_per_period %>'
           data-current='<%= report_data.demands_burnup_data.current_per_period %>'
           data-scope='<%= report_data.demands_burnup_data.scope_per_period %>'>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="hours-column"
           class="flow-chart"
           data-title='<%= t('projects.charts.hours_per_demand.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.x_axis.to_json %>'
           data-xtitle='<%= t('projects.charts.xlabel.time') %>'
           data-ytitle='<%= t('projects.charts.hours_per_demand.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.hours_per_demand.tooltipsufix') %>'
           data-series='<%= [{ name: I18n.t('projects.charts.hours_per_demand.ylabel'), data: report_data.hours_per_demand_per_week }].to_json %>'
           data-decimals='3'>
      </div>
    </div>
  </div>

  <div class="row bottom-spaced-component">
    <div class="col-xs-6">
      <div id="flowpressure-column"
           class="flow-chart"
           data-title='<%= t('projects.charts.flow_pressure.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.x_axis.to_json %>'
           data-xtitle='<%= t('projects.charts.xlabel.time') %>'
           data-ytitle='<%= t('projects.charts.flow_pressure.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.flow_pressure.tooltipsufix') %>'
           data-series='<%= [{ name: I18n.t('projects.charts.flow_pressure.ylabel'), data: report_data.flow_pressure_data }].to_json %>'
           data-decimals='3'>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="throughput-column"
           class="flow-chart"
           data-title='<%= t('projects.charts.throughput.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.x_axis.to_json %>'
           data-xtitle='<%= t('projects.charts.xlabel.time') %>'
           data-ytitle='<%= t('projects.charts.throughput.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.throughput.tooltipsufix') %>'
           data-series='<%= report_data.throughput_per_period.to_json %>'
           data-stacking='normal'
           data-decimals='0'>
      </div>
    </div>
  </div>

  <div class="row bottom-spaced-component">
    <div class="col-xs-6">
      <div id="bugs-in-time"
           class="flow-chart"
           data-title='<%= t('projects.charts.bugs_in_time.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.weeekly_bugs_count_hash[:dates_array] %>'
           data-xtitle='<%= t('projects.charts.xlabel.time') %>'
           data-ytitle='<%= t('projects.charts.bugs_in_time.ylabel') %>'
           data-prefix=''
           data-series='<%= [{ name: I18n.t('projects.charts.bugs_in_time.opened'), data: report_data.weeekly_bugs_count_hash[:bugs_opened_count_array] }, { name: I18n.t('projects.charts.bugs_in_time.closed'), data: report_data.weeekly_bugs_count_hash[:bugs_closed_count_array] }].to_json %>'
           data-decimals='2'>
      </div>
    </div>
    <div class="col-xs-6 ">
      <div id="line-share-bug"
           class="flow-chart"
           data-title='<%= t('projects.charts.bugs_percentage_in_time.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.weeekly_bugs_share_hash[:dates_array] %>'
           data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= t('general.percentage.title') %>'
           data-prefix=''
           data-suffix='<%= t('general.percentage.symbol') %>'
           data-series='<%= [{ name: I18n.t('projects.charts.bugs_in_time.share'), data: report_data.weeekly_bugs_share_hash[:bugs_opened_share_array] }].to_json %>'
           data-decimals='2'>
      </div>
    </div>
  </div>

  <div class="row bottom-spaced-component">
    <div class="col-xs-6">
      <div id="queue-touch-in-time"
           class="flow-chart"
           data-title='<%= t('projects.charts.queue_touch_time.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.weekly_queue_touch_count_hash[:dates_array] %>'
           data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= t('projects.charts.queue_touch_time.ylabel') %>'
           data-prefix=''
           data-series='<%= [{ name: I18n.t('projects.charts.queue_touch_time.queue'), data: report_data.weekly_queue_touch_count_hash[:queue_times] }, { name: I18n.t('projects.charts.queue_touch_time.touch'), data: report_data.weekly_queue_touch_count_hash[:touch_times] }].to_json %>'
           data-decimals='2'>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="flow-efficiency"
           class="flow-chart"
           data-title='<%= t('projects.charts.flow_efficiency.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.weeekly_bugs_share_hash[:dates_array] %>'
           data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= t('general.percentage.title') %>'
           data-prefix=''
           data-suffix='<%= t('general.percentage.symbol') %>'
           data-series='<%= [{ name: I18n.t('projects.charts.flow_efficiency.share'), data: report_data.weekly_queue_touch_share_hash[:flow_efficiency_array] }].to_json %>'
           data-decimals='2'>
      </div>
    </div>
  </div>

  <div class="row bottom-spaced-component">
    <div class="col-xs-6">
      <div id="hours-consumed-column"
           class="flow-chart"
           data-xcategories='<%= report_data.effort_hours_per_month[:keys].map { |year, month| Date.new(year, month, 1).to_s } %>'
           data-title='<%= t('projects.charts.hours_per_month.title', target_name: target_name) %>'
           data-ytitle='<%= t('projects.charts.hours_per_month.ylabel') %>'
           data-suffix='<%= t('projects.charts.hours_per_month.ylabel') %>'
           data-series='<%= [{name: I18n.t('projects.charts.throughput.stage_stream.upstream'), data: report_data.effort_hours_per_month[:data][:upstream]&.map(&:to_f)}, {name: I18n.t('projects.charts.throughput.stage_stream.downstream'), data: report_data.effort_hours_per_month[:data][:downstream]&.map(&:to_f)}].to_json %>'
           data-stacking='normal'
           data-decimals='0'>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="leadtime-control-chart"
           class="flow-chart"
           data-xcategories='<%= report_data.lead_time_control_chart[:xcategories] %>'
           data-series='<%= [{ name: 'Lead time', color: 'rgb(51, 51, 255)', data: report_data.lead_time_control_chart[:dispersion_source] }].to_json %>'
           data-title='<%= t('projects.charts.lead_time_chart.title', target_name: target_name) %>'
           data-suffix='<%= t('projects.charts.lead_time_chart.ylabel') %>'
           data-percentile95='<%= report_data.lead_time_control_chart[:percentile_95_data] || 0 %>'
           data-percentile80='<%= report_data.lead_time_control_chart[:percentile_80_data] || 0 %>'
           data-percentile60='<%= report_data.lead_time_control_chart[:percentile_60_data] || 0 %>'>
      </div>
    </div>
  </div>

  <div class="row bottom-spaced-component">
    <div class="col-xs-6">
      <div id="leadtime-histogram"
           class="flow-chart"
           data-title='<%= t('projects.charts.leadtime_histogram.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.leadtime_bins %>'
           data-xtitle='<%= t('projects.charts.xlabel.days') %>'
           data-ytitle='<%= t('projects.charts.leadtime_histogram.ylabel') %>'
           data-prefix=''
           data-series='<%= [{ name: I18n.t('projects.charts.leadtime_histogram.ylabel'), data: report_data.leadtime_histogram_data }].to_json %>'
           data-decimals='2'>
      </div>
    </div>

    <div class="col-xs-6">
      <div id="throughput-histogram"
           class="flow-chart"
           data-title='<%= t('projects.charts.throughput_histogram.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.throughput_bins %>'
           data-xtitle='<%= t('projects.charts.xlabel.demands_per_week') %>'
           data-ytitle='<%= t('projects.charts.throughput_histogram.ylabel') %>'
           data-prefix=''
           data-series='<%= [{ name: I18n.t('projects.charts.throughput_histogram.ylabel'), data: report_data.throughput_histogram_data }].to_json %>'
           data-decimals='2'>
      </div>
    </div>
  </div>
<% else %>
  <%= t('general.no_data', missing_data: t('general.data')) %>
<% end %>
