<% if report_data.present? %>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="operational-charts-scope-uncertainty-donut"
         class="flow-chart"
         data-title='<%= I18n.t('charts.scope.uncertainty_title') %>'
         data-seriesname='<%= I18n.t('general.demands') %>'
         data-tooltipsuffix='<%= I18n.t('general.demands') %>'
         data-series='<%= report_data.scope_uncertainty.to_json %>'
         data-decimals='2'>
    </div>
  </div>

  <div class="col-xs-6 bottom-spaced-component">
    <% if demands_chart_adapter.demands_in_chart.present? %>
      <div id="operational-charts-flow-data-column"
           class="flow-chart"
           data-title='<%= I18n.t('demands.charts.flow_data') %>'
           data-xcategories='<%= demands_chart_adapter.x_axis.to_json %>'
           data-xtitle='<%= I18n.t('general.period') %>'
           data-ytitle='<%= I18n.t('demands.charts.demands.title') %>'
           data-prefix=''
           data-tooltipsuffix='<%= I18n.t('projects.charts.throughput.tooltipsufix') %>'
           data-datalabelsuffix=''
           data-series='<%= [
                                { name: I18n.t('demands.charts.creation_date'), data: demands_chart_adapter.creation_chart_data },
                                { name: I18n.t('demands.charts.committed_date'), data: demands_chart_adapter.committed_chart_data },
                                { name: I18n.t('general.pull_transaction'), data: demands_chart_adapter.pull_transaction_rate },
                                { name: I18n.t('general.delivered'), data: demands_chart_adapter.throughput_chart_data }
                            ].to_json %>'
           data-stacking=''
           data-decimals='0'>
      </div>
    <% else %>
      <%= render 'layouts/no_data', missing_data: Demand.model_name.human(count: 2).downcase %>
    <% end %>
  </div>

  <% if @team_chart_data.present? %>
    <div class="col-xs-6 bottom-spaced-component">
      <div id="average-demand-cost"
           class="flow-chart"
           data-title='<%= I18n.t('teams.charts.average_demand_cost.title', target_name: target_name) %>'
           data-xcategories='<%= @team_chart_data.average_demand_cost[:x_axis].to_json %>'
           data-xtitle='<%= I18n.t('teams.charts.average_demand_cost.xlabel') %>'
           data-ytitle='<%= I18n.t('teams.charts.average_demand_cost.ylabel') %>'
           data-prefix='<%= I18n.t('general.money') %>'
           data-tooltipsuffix=''
           data-series='<%= [{ name: I18n.t('teams.charts.average_demand_cost.data_legend'), data: @team_chart_data.average_demand_cost[:data] }].to_json %>'
           data-decimals='2'>
      </div>
    </div>

    <div class="col-xs-6 bottom-spaced-component">
      <div id="hours-efficiency"
           class="flow-chart"
           data-title='<%= I18n.t('teams.charts.hours_efficiency.title', target_name: target_name) %>'
           data-xcategories='<%= @team_chart_data.hours_efficiency[:x_axis].to_json %>'
           data-xtitle='<%= I18n.t('teams.charts.hours_efficiency.xlabel') %>'
           data-ytitle='<%= I18n.t('teams.charts.hours_efficiency.ylabel') %>'
           data-ytitleright='<%= I18n.t('teams.charts.operational_loss.data_legend') %>'
           data-prefix=''
           data-tooltipsuffix='h'
           data-series='<%= @team_chart_data.hours_efficiency[:y_axis].to_json %>'
           data-decimals='2'>
      </div>
    </div>
  <% end %>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="burnup-demands"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.burnup.demands.title', target_name: target_name) %>'
         data-weeks='<%= report_data.x_axis.to_json %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.time') %>'
         data-ytitle='<%= I18n.t('projects.charts.burnup.ylabel') %>'
         data-tooltipsuffix='<%= I18n.t('projects.charts.burnup.tooltipsufix') %>'
         data-prefix=''
         data-ideal='<%= report_data.work_item_flow_information.ideal_per_period %>'
         data-current='<%= report_data.work_item_flow_information.accumulated_throughput %>'
         data-scope='<%= report_data.work_item_flow_information.scope_per_period %>'>
    </div>
  </div>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="hours-column"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.hours_per_demand.title', target_name: target_name) %>'
         data-xcategories='<%= report_data.x_axis.to_json %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.time') %>'
         data-ytitle='<%= I18n.t('projects.charts.hours_per_demand.ylabel') %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('projects.charts.hours_per_demand.tooltipsufix') %>'
         data-datalabelsuffix=''
         data-series='<%= [{ name: I18n.t('projects.charts.hours_per_demand.ylabel'), data: report_data.time_flow_information.hours_per_demand }].to_json %>'
         data-stacking='normal'
         data-decimals='2'>
    </div>
  </div>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="throughput-column"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.throughput.title', target_name: target_name) %>'
         data-xcategories='<%= report_data.x_axis.to_json %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.time') %>'
         data-ytitle='<%= I18n.t('projects.charts.throughput.ylabel') %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('projects.charts.throughput.tooltipsufix') %>'
         data-datalabelsuffix=''
         data-series='<%= [{ name: I18n.t('projects.charts.throughput.stage_stream.upstream'), data: report_data.work_item_flow_information.upstream_delivered_per_period }, { name: I18n.t('projects.charts.throughput.stage_stream.downstream'), data: report_data.work_item_flow_information.downstream_delivered_per_period }].to_json %>'
         data-stacking='normal'
         data-decimals='0'>
    </div>
  </div>

  <% if report_data.work_item_flow_information.accumulated_bugs_opened_data_array.present? %>
    <div class="col-xs-6 bottom-spaced-component">
      <div id="bugs-in-time"
           class="flow-chart"
           data-title='<%= I18n.t('projects.charts.bugs_in_time.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.x_axis.to_json %>'
           data-xtitle='<%= I18n.t('projects.charts.xlabel.time') %>'
           data-ytitle='<%= I18n.t('projects.charts.bugs_in_time.ylabel') %>'
           data-prefix=''
           data-tooltipsuffix='<%= I18n.t('projects.charts.bugs_in_time.suffix') %>'
           data-datalabelsuffix=''
           data-series='<%= [{ name: I18n.t('projects.charts.bugs_in_time.opened'), data: report_data.work_item_flow_information.bugs_opened_data_array }, { name: I18n.t('projects.charts.bugs_in_time.closed'), data: report_data.work_item_flow_information.bugs_closed_data_array }].to_json %>'
           data-decimals='0'>
      </div>
    </div>
  <% end %>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="accumulated-bugs-in-time"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.accumulated_bugs_in_time.title', target_name: target_name) %>'
         data-xcategories='<%= report_data.x_axis.to_json %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.time') %>'
         data-ytitle='<%= I18n.t('projects.charts.bugs_in_time.ylabel') %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('projects.charts.bugs_in_time.suffix') %>'
         data-datalabelsuffix=''
         data-series='<%= [{ name: I18n.t('projects.charts.bugs_in_time.opened'), data: report_data.work_item_flow_information.accumulated_bugs_opened_data_array }, { name: I18n.t('projects.charts.bugs_in_time.closed'), data: report_data.work_item_flow_information.accumulated_bugs_closed_data_array }].to_json %>'
         data-decimals='0'>
    </div>
  </div>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="accumulated-share-bug"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.accumulated_bugs_percentage_in_time.title', target_name: target_name) %>'
         data-xcategories='<%= report_data.x_axis.to_json %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.weeks') %>'
         data-ytitle='<%= I18n.t('general.percentage.title') %>'
         data-prefix=''
         data-tooltipsuffix='%'
         data-datalabelsuffix='%'
         data-series='<%= [{ name: I18n.t('projects.charts.bugs_in_time.share'), data: report_data.work_item_flow_information.bugs_share_data_array }].to_json %>'
         data-decimals='2'>
    </div>
  </div>

  <% if report_data.block_flow_information.blocks_time.present? %>
    <div class="col-xs-6 bottom-spaced-component">
      <div id="hours-blocked-per-stage"
           class="flow-chart"
           data-xcategories='<%= report_data.x_axis.to_json %>'
           data-title='<%= I18n.t('demand_blocks.charts.hours_blocked.title', target_name: target_name) %>'
           data-ytitle='<%= I18n.t('demand_blocks.charts.hours_blocked.ylabel') %>'
           data-prefix=''
           data-tooltipsuffix='<%= I18n.t('demand_blocks.charts.hours_blocked.ylabel') %>'
           data-datalabelsuffix=''
           data-series='<%= [{ name: I18n.t('demand_blocks.charts.hours_blocked.legend'), data: report_data.block_flow_information.blocks_time }].to_json %>'
           data-decimals='0'>
      </div>
    </div>
  <% end %>

  <% if report_data.block_flow_information.blocks_count.present? %>
    <div class="col-xs-6 bottom-spaced-component">
      <div id="count-blocked-per-stage"
           class="flow-chart"
           data-xcategories='<%= report_data.x_axis.to_json %>'
           data-title='<%= I18n.t('demand_blocks.charts.blocks.title', target_name: target_name) %>'
           data-ytitle='<%= I18n.t('demand_blocks.charts.blocks.ylabel') %>'
           data-prefix=''
           data-tooltipsuffix='<%= I18n.t('demand_blocks.charts.blocks.ylabel') %>'
           data-datalabelsuffix=''
           data-series='<%= [{ name: I18n.t('demand_blocks.charts.blocks.legend'), data: report_data.block_flow_information.blocks_count }].to_json %>'
           data-decimals='0'>
      </div>
    </div>
  <% end %>

  <% if report_data.statistics_flow_information.average_aging_per_period.present? %>
    <div class="col-xs-6 bottom-spaced-component">
      <div id="aging-per-demand-div"
           class="flow-chart"
           data-xcategories='<%= report_data.x_axis.to_json %>'
           data-title='<%= I18n.t('demands.charts.aging_per_demand.title', target_name: target_name) %>'
           data-ytitle='<%= I18n.t('demands.charts.aging_per_demand.ylabel') %>'
           data-prefix=''
           data-tooltipsuffix='<%= I18n.t('demands.charts.aging_per_demand.ylabel') %>'
           data-datalabelsuffix=''
           data-series='<%= [{ name: I18n.t('demands.charts.aging.series'), data: report_data.statistics_flow_information.average_aging_per_period }].to_json %>'
           data-decimals='2'>
      </div>
    </div>
  <% end %>
  <div class="col-xs-6 bottom-spaced-component">
    <div id="queue-touch-in-time"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.queue_touch_time.title', target_name: target_name) %>'
         data-xcategories='<%= report_data.x_axis.to_json %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.weeks') %>'
         data-ytitle='<%= I18n.t('projects.charts.queue_touch_time.ylabel') %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('demands.charts.hours.suffix') %>'
         data-datalabelsuffix=''
         data-series='<%= [{ name: I18n.t('projects.charts.queue_touch_time.queue'), data: report_data.time_flow_information.queue_time }, { name: I18n.t('projects.charts.queue_touch_time.touch'), data: report_data.time_flow_information.touch_time }].to_json %>'
         data-decimals='2'>
    </div>
  </div>
  <div class="col-xs-6 bottom-spaced-component">
    <div id="flow-efficiency"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.flow_efficiency.title', target_name: target_name) %>'
         data-xcategories='<%= report_data.x_axis.to_json %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.weeks') %>'
         data-ytitle='<%= I18n.t('general.percentage.title') %>'
         data-prefix=''
         data-tooltipsuffix='%'
         data-datalabelsuffix='%'
         data-series='<%= [{ name: I18n.t('projects.charts.flow_efficiency.share'), data: report_data.time_flow_information.flow_efficiency }].to_json %>'
         data-decimals='2'>
    </div>
  </div>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="hours-consumed-column"
         class="flow-chart"
         data-xcategories='<%= report_data.x_axis.to_json %>'
         data-title='<%= I18n.t('projects.charts.hours_per_month.title', target_name: target_name) %>'
         data-ytitle='<%= I18n.t('projects.charts.hours_per_month.ylabel') %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('projects.charts.hours_per_month.ylabel') %>'
         data-series='<%= [{ name: I18n.t('projects.charts.throughput.stage_stream.upstream'), data: report_data.time_flow_information.hours_delivered_upstream }, {name: I18n.t('projects.charts.throughput.stage_stream.downstream'), data: report_data.time_flow_information.hours_delivered_downstream }].to_json %>'
         data-stacking='normal'
         data-decimals='0'>
    </div>
  </div>
  <div class="col-xs-6 bottom-spaced-component">
    <div id="leadtime-control-chart"
         class="flow-chart"
         data-xcategories='<%= report_data.statistics_flow_information.demands_charts_ids %>'
         data-series='<%= [{ name: 'Lead time', color: 'rgb(51, 51, 255)', data: report_data.statistics_flow_information.lead_time_data_array }].to_json %>'
         data-title='<%= I18n.t('projects.charts.lead_time_chart.title', target_name: target_name) %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('projects.charts.lead_time_chart.ylabel') %>'
         data-percentile95='<%= report_data.statistics_flow_information.lead_time_95p %>'
         data-percentile80='<%= report_data.statistics_flow_information.lead_time_80p %>'
         data-percentile60='<%= report_data.statistics_flow_information.lead_time_65p %>'>
    </div>
  </div>
  <div class="col-xs-6 bottom-spaced-component">
    <div id="leadtime-histogram"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.leadtime_histogram.title', target_name: target_name) %>'
         data-xcategories='<%= report_data.statistics_flow_information.lead_time_bins %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.days') %>'
         data-ytitle='<%= I18n.t('projects.charts.leadtime_histogram.ylabel') %>'
         data-prefix=''
         data-tooltipsuffix=''
         data-datalabelsuffix=''
         data-series='<%= [{ name: I18n.t('projects.charts.leadtime_histogram.ylabel'), data: report_data.statistics_flow_information.lead_time_histogram_data }].to_json %>'
         data-decimals='2'>
    </div>
  </div>

<% else %>
  <%= render 'layouts/no_data', missing_data: I18n.t('general.data') %>
<% end %>
