<% if report_data.present? %>
  <div class="row">
    <div class="col-xs-12">
      <div id="burnup-demands"
           class="flow-chart"
           data-title='<%= t('projects.charts.burnup.demands.title', project_name: target_name) %>'
           data-weeks='<%= report_data.active_weeks %>'
           data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= t('projects.charts.burnup.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.burnup.tooltipsufix') %>'
           data-ideal='<%= report_data.demands_burnup_data.ideal_per_week %>'
           data-current='<%= report_data.demands_burnup_data.current_per_week %>'
           data-scope='<%= report_data.demands_burnup_data.scope_per_week %>'>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="hours-column"
           class="flow-chart"
           data-title='<%= t('projects.charts.hours_per_demand.title', project_name: target_name) %>'
           data-xcategories='<%= report_data.active_weeks %>'
           data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= t('projects.charts.hours_per_demand.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.hours_per_demand.tooltipsufix') %>'
           data-series='<%= [{ name: I18n.t('projects.charts.hours_per_demand.ylabel'), data: report_data.hours_per_demand_per_week }].to_json %>'
           data-decimals='3'>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="flowpressure-column"
           class="flow-chart"
           data-title='<%= t('projects.charts.flow_pressure.title', project_name: target_name) %>'
           data-xcategories='<%= report_data.all_projects_weeks %>'
           data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= t('projects.charts.flow_pressure.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.flow_pressure.tooltipsufix') %>'
           data-series='<%= [{ name: I18n.t('projects.charts.flow_pressure.ylabel'), data: report_data.flow_pressure_data }].to_json %>'
           data-decimals='3'>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="throughput-column"
           class="flow-chart"
           data-title='<%= t('projects.charts.throughput_per_week.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.all_projects_weeks %>'
           data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= t('projects.charts.throughput_per_week.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.throughput_per_week.tooltipsufix') %>'
           data-series='<%= report_data.throughput_per_week.to_json %>'
           data-stacking='normal'
           data-decimals='0'>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="cmd-column"
           class="flow-chart"
           data-title='<%= t('projects.charts.cmd.title', project_name: target_name) %>'
           data-xcategories='<%= report_data.all_projects_weeks %>'
           data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= t('projects.charts.cmd.ylabel') %>'
           data-prefix='<%= t('projects.charts.cmd.tooltip_prefix') %>'
           data-series='<%= [{ name: I18n.t('projects.charts.cmd.ylabel'), data: report_data.average_demand_cost }].to_json %>'
           data-decimals='2'>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="status-report-hours-column"
           class="flow-chart"
           data-xcategories='<%= report_data.effort_hours_per_month[:keys].map { |year, month| Date.new(year, month, 1).to_s } %>'
           data-title='<%= t('projects.charts.hours_per_month.title', target_name: target_name) %>'
           data-ytitle='<%= t('projects.charts.hours_per_month.ylabel') %>'
           data-ysuffix='<%= t('projects.charts.hours_per_month.ylabel') %>'
           data-series='<%= [{name: I18n.t('projects.charts.throughput_per_week.stage_stream.upstream'), data: report_data.effort_hours_per_month[:data][:upstream]&.map(&:to_f)}, {name: I18n.t('projects.charts.throughput_per_week.stage_stream.downstream'), data: report_data.effort_hours_per_month[:data][:downstream]&.map(&:to_f)}].to_json %>'
           data-stacking='normal'
           data-decimals='0'>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="leadtime-control-chart"
           class="flow-chart"
           data-xcategories='<%= report_data.lead_time_control_chart[:xcategories] %>'
           data-series='<%= [{ name: 'Lead time', color: 'rgb(51, 51, 255)', data: report_data.lead_time_control_chart[:dispersion_source] }].to_json %>'
           data-title='<%= t('projects.charts.lead_time_chart.title', target_name: target_name) %>'
           data-ysuffix='<%= t('projects.charts.lead_time_chart.ylabel') %>'
           data-percentile95='<%= report_data.lead_time_control_chart[:percentile_95_data] %>'
           data-percentile80='<%= report_data.lead_time_control_chart[:percentile_80_data] %>'
           data-percentile60='<%= report_data.lead_time_control_chart[:percentile_60_data] %>'>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="leadtime-histogram"
           class="flow-chart"
           data-title='<%= t('projects.charts.leadtime_histogram.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.leadtime_bins %>'
           data-xtitle='<%= t('projects.charts.xlabel.days') %>'
           data-ytitle='<%= t('projects.charts.leadtime_histogram.ylabel') %>'
           data-prefix=''
           data-series='<%= [{ name: I18n.t('projects.charts.leadtime_histogram.ylabel'), data: report_data.leadtime_histogram_data }].to_json %>'
           data-decimals='2'>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="throughput-histogram"
           class="flow-chart"
           data-title='<%= t('projects.charts.throughput_histogram.title', target_name: target_name) %>'
           data-xcategories='<%= report_data.throughput_bins %>'
           data-xtitle='<%= t('projects.charts.xlabel.demands_per_week') %>'
           data-ytitle='<%= t('projects.charts.throughput_histogram.ylabel') %>'
           data-prefix=''
           data-series='<%= [{ name: I18n.t('projects.charts.throughput_histogram.ylabel'), data: report_data.throughput_histogram_data }].to_json %>'
           data-decimals='2'>
      </div>
    </div>
  </div>
<% end %>
