<% if projects_risk_chart_data.blank? %>
  <%= I18n.t('general.no_data', missing_data: I18n.t('general.data')) %>

<% else %>

  <div class="row">
    <div class="col-xs-12">
      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'risk-scope', 'tablinks', 'tabcontent')"><%= I18n.t('projects.data_analysis.risk_scope') %></button>
        <button class="tablinks" onclick="openTab(event, 'risk-money', 'tablinks', 'tabcontent')"><%= I18n.t('projects.data_analysis.risk_money') %></button>
        <button class="tablinks" onclick="openTab(event, 'risk-deadline', 'tablinks', 'tabcontent')"><%= I18n.t('projects.data_analysis.risk_deadline') %></button>
      </div>
    </div>
  </div>

  <div id="risk-scope" class="tabcontent">
    <div class="row bottom-spaced-component">
      <div class="col-xs-6">
        <div id="hours-gauge"
             class="flow-chart"
             data-title='<%= I18n.t('charts.team_hours_available.title') %>'
             data-tooltipsuffix='<%= I18n.t('charts.hours_available.tooltipsuffix') %>'
             data-max='<%= max_hours_gauge %>'
             data-value='<%= consumed_hours %>'>
        </div>
      </div>
      <div class="col-xs-6">
        <% if projects_risk_chart_data.backlog_risk_alert_data.blank? %>
          <span class="no-data">
            <%= I18n.t('general.no_data', missing_data: ProjectRiskConfig.model_name.human.pluralize(2).downcase) %>
          </span>
        <% else %>
          <div id="risk-alert-color-backlog"
               class="flow-chart"
               data-title='<%= I18n.t('charts.risk_alert_color.title', risk_type: I18n.t('activerecord.attributes.project_risk_config.enums.risk_type.backlog_growth_rate')) %>'
               data-ytitle='<%= I18n.t('charts.risk_alert_color.title') %>'
               data-seriesname='<%= "#{Project.model_name.human}(s)" %>'
               data-series='<%= projects_risk_chart_data.backlog_risk_alert_data.to_json %>'
               data-decimals='0'>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6">
        <% if projects_risk_chart_data.hours_risk_alert_data.blank? %>
          <div class="no-data">
            <%= I18n.t('general.no_data', missing_data: ProjectRiskConfig.model_name.human.pluralize(2).downcase) %>
          </div>
        <% else %>
          <div id="risk-alert-color-hours"
               class="flow-chart"
               data-title='<%= I18n.t('charts.risk_alert_color.title', risk_type: I18n.t('activerecord.attributes.project_risk_config.enums.risk_type.not_enough_available_hours')) %>'
               data-ytitle='<%= I18n.t('charts.risk_alert_color.title') %>'
               data-seriesname='<%= "#{Project.model_name.human}(s)" %>'
               data-series='<%= projects_risk_chart_data.hours_risk_alert_data.to_json %>'
               data-decimals='0'>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="risk-money" class="tabcontent">
    <div class="row">
      <div class="col-xs-6">
        <% if projects_risk_chart_data.money_risk_alert_data.blank? %>
          <div class="no-data">
            <%= I18n.t('general.no_data', missing_data: ProjectRiskConfig.model_name.human) %>
          </div>
        <% else %>
          <div id="risk-alert-color-money"
               class="flow-chart"
               data-title='<%= I18n.t('charts.risk_alert_color.title', risk_type: I18n.t('activerecord.attributes.project_risk_config.enums.risk_type.no_money_to_deadline')) %>'
               data-ytitle='<%= I18n.t('charts.risk_alert_color.title') %>'
               data-seriesname='<%= "#{Project.model_name.human}(s)" %>'
               data-series='<%= projects_risk_chart_data.money_risk_alert_data.to_json %>'
               data-decimals='0'>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6">
        <% if projects_risk_chart_data.profit_risk_alert_data.blank? %>
          <div class="no-data">
            <%= I18n.t('general.no_data', missing_data: ProjectRiskConfig.model_name.human) %>
          </div>
        <% else %>
          <div id="risk-alert-color-profit"
               class="flow-chart"
               data-title='<%= I18n.t('charts.risk_alert_color.title', risk_type: I18n.t('activerecord.attributes.project_risk_config.enums.risk_type.profit_margin')) %>'
               data-ytitle='<%= I18n.t('charts.risk_alert_color.title') %>'
               data-seriesname='<%= "#{Project.model_name.human}(s)" %>'
               data-series='<%= projects_risk_chart_data.profit_risk_alert_data.to_json %>'
               data-decimals='0'>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="risk-deadline" class="tabcontent">
    <div class="row">
      <div class="col-xs-6">
        <% if projects_risk_chart_data.flowpressure_risk_alert_data.blank? %>
          <div class="no-data">
            <%= I18n.t('general.no_data', missing_data: ProjectRiskConfig.model_name.human) %>
          </div>
        <% else %>
          <div id="risk-alert-color-flowpressure"
               class="flow-chart"
               data-title='<%= I18n.t('charts.risk_alert_color.title', risk_type: I18n.t('activerecord.attributes.project_risk_config.enums.risk_type.flow_pressure')) %>'
               data-ytitle='<%= I18n.t('charts.risk_alert_color.title') %>'
               data-seriesname='<%= "#{Project.model_name.human}(s)" %>'
               data-series='<%= projects_risk_chart_data.flowpressure_risk_alert_data.to_json %>'
               data-decimals='0'>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
