<div class="row">
  <div class="col-xs-8">
    <div id="area-scope-growth"
         class="flow-chart"
         data-xcategories='<%= x_axis.to_json %>'
         data-title='<%= t('projects.charts.scope_variation.title') %>'
         data-ytitle='<%= t('charts.cfd.ytitle') %>'
         data-tooltipsuffix='<%= t('charts.cfd.data_suffix') %>'
         data-series='<%= scope_data.to_json %>'
         data-stacking='normal'
         data-decimals='0'>
    </div>
  </div>

  <div class="col-xs-2 center-text">
    <div><%= t('general.start') %></div>
    <h3><%= scope_data[0][:data].first %></h3>
  </div>
  <div class="col-xs-2 center-text bottom-spaced-component">
    <div><%= t('general.finish') %></div>
    <h3><%= scope_data[0][:data].last %></h3>
  </div>

  <div class="col-xs-4">
    <hr>
  </div>

  <div class="col-xs-4 center-text">
    <div><%= t('stats.period.variation') %></div>
    <h3><%= number_to_percentage((scope_period_variation * 100), precision: 1) %></h3>
  </div>
</div>