<% if status_report_data.present? %>
  <h3 class="center"><%= I18n.t('charts.projections.title') %></h3>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="status-report-deadline-bar"
         class="flow-chart"
         data-xcategories='<%= [t('projects.general.deadline')] %>'
         data-title='<%= I18n.t('projects.charts.deadline.title', target_name: target_name) %>'
         data-ytitle='<%= I18n.t('projects.charts.xlabel.days') %>'
         data-tooltipsuffix='<%= I18n.t('projects.charts.xlabel.days') %>'
         data-series='<%= status_report_data.deadline.to_json %>'
         data-stacking='normal'
         data-decimals='0'>
    </div>
  </div>
  <div class="col-xs-6 bottom-spaced-component">
    <div id="status-report-dates-odds-column"
         class="flow-chart"
         data-xcategories='<%= [t('charts.date_odds.xtitle')] %>'
         data-title='<%= I18n.t('charts.date_odds.title') %>'
         data-ytitle='<%= I18n.t('charts.date_odds.ytitle') %>'
         data-tooltipsuffix='<%= I18n.t('projects.charts.date_odds.tooltipsufix') %>'
         data-series='<%= status_report_data.deadline_vs_montecarlo_durations.to_json %>'
         data-decimals='0'>
    </div>
  </div>
  <% if status_report_data.dates_to_montecarlo_duration.present? %>
    <div class="col-xs-3">
      <% status_report_data.dates_to_montecarlo_duration.sort_by { |montecarlo_date_hashes| montecarlo_date_hashes[:date] }.each do |montecarlo_date_hashes| %>
        <p><span class="timeline-legend" style="background-color: <%= montecarlo_date_hashes[:color] %>"></span><span><%= montecarlo_date_hashes[:name] %></span><span class="small"> (<%= I18n.l(montecarlo_date_hashes[:date]) %>)</span></p>
      <% end %>
    </div>
    <div class="col-xs-9">
      <%= render 'charts/timeline', dates_for_montecarlo_array: status_report_data.dates_to_montecarlo_duration %>
    </div>
  <% else %>
    <%= I18n.t('general.no_data', missing_data: I18n.t('general.data')) %>
  <% end %>
<% end %>
