<% if montecarlo_dates.present? && status_report_data.present? %>
  <h3 class="center"><%= t('charts.projections.title') %></h3>

  <div class="row">
    <div class="col-xs-6">
      <div id="status-report-dates-odds-column"
           class="flow-chart"
           data-xcategories=<%= [t('charts.date_odds.xtitle')] %>
               data-title='<%= t('charts.date_odds.title', target_name: target_name) %>'
           data-ytitle='<%= t('charts.date_odds.ytitle') %>'
           data-suffix="%"
           data-tooltipsufix='<%= t('projects.charts.date_odds.tooltipsufix') %>'
           data-series='<%= status_report_data.dates_and_odds[:chart].to_json %>'
           data-decimals='3'>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="status-report-montecarlo-column"
           class="flow-chart"
           data-xcategories='<%= montecarlo_dates.monte_carlo_date_hash.first(4).to_h.keys.map(&:to_s) %>'
           data-title='<%= t('charts.montecarlo.title', target_name: target_name) %>'
           data-ytitle='<%= t('charts.date_odds.ytitle') %>'
           data-suffix="%"
           data-tooltipsufix='<%= t('projects.charts.throughput_per_week.tooltipsufix') %>'
           data-series='<%= [{ name: 'monte carlo dates', data: @montecarlo_dates.monte_carlo_date_hash.first(4).to_h.values.flatten.map(&:to_f).map { |value| value * 100 } }].to_json %>'
           data-decimals='3'>
      </div>
    </div>
  </div>
<% end %>