<% if status_report_data.present? %>
  <div class="col-xs-6 bottom-spaced-component">
    <div id="throughput-by-project"
         class="flow-chart"
         data-title='<%= I18n.t('portfolio.charts.throughput_by_project.chart_title', target_name: target_name) %>'
         data-xcategories='<%= portfolio_data.throughput_by_project[:x_axis].to_json %>'
         data-xtitle='<%= I18n.t('portfolio.charts.throughput_by_project.xtitle') %>'
         data-ytitle='<%= I18n.t('projects.charts.burnup.ylabel') %>'
         data-prefix=''
         data-tooltipsuffix=''
         data-series='<%= portfolio_data.throughput_by_project[:series].to_json %>'
         data-decimals='0'>
    </div>
  </div>

  <% if status_report_data.hours_burnup_per_week_data.present? %>
    <div class="col-xs-6 bottom-spaced-component">
      <div id="burnup-hours-per-week"
           class="flow-chart"
           data-title='<%= I18n.t('projects.charts.burnup.hours.title', target_name: target_name) %>'
           data-weeks='<%= status_report_data.x_axis.to_json %>'
           data-xtitle='<%= I18n.t('projects.charts.xlabel.time') %>'
           data-ytitle='<%= I18n.t('projects.charts.burnup.ylabel') %>'
           data-prefix=''
           data-tooltipsuffix='<%= I18n.t('general.charts.hours') %>'
           data-ideal='<%= status_report_data.hours_burnup_per_week_data.ideal_per_period %>'
           data-current='<%= status_report_data.hours_burnup_per_week_data.current_per_period %>'
           data-scope='<%= status_report_data.hours_burnup_per_week_data.scope_per_period %>'
           data-decimals='0'>
      </div>
    </div>
  <% end %>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="status-report-delivered-column"
         class="flow-chart"
         data-xcategories='<%= ['Scope'] %>'
         data-title='<%= I18n.t('projects.charts.delivered.title', target_name: target_name) %>'
         data-ytitle='<%= I18n.t('projects.charts.throughput.ylabel') %>'
         data-tooltipsuffix='<%= I18n.t('projects.charts.throughput.ylabel') %>'
         data-series='<%= status_report_data.delivered_vs_remaining.to_json %>'
         data-decimals='0'>
    </div>
  </div>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="status-report-hours-per-stage-upstream"
         class="flow-chart"
         data-xcategories='<%= status_report_data.hours_per_stage_upstream[:xcategories] %>'
         data-title='<%= I18n.t('projects.status_report_chart.hours_per_stage.title_upstream', target_name: target_name) %>'
         data-ytitle='<%= I18n.t('projects.status_report_chart.hours_per_stage.labels.y') %>'
         data-tooltipsuffix='<%= I18n.t('projects.status_report_chart.hours_per_stage.labels.y') %>'
         data-series='<%= [{ name: I18n.t('projects.status_report_chart.hours_per_stage.series.hours_per_stage'), data: status_report_data.hours_per_stage_upstream[:hours_per_stage] }].to_json %>'
         data-decimals='0'>
    </div>
  </div>
  <div class="col-xs-6 bottom-spaced-component">
    <div id="status-report-hours-per-stage-downstream"
         class="flow-chart"
         data-xcategories='<%= status_report_data.hours_per_stage_downstream[:xcategories] %>'
         data-title='<%= I18n.t('projects.status_report_chart.hours_per_stage.title_downstream', target_name: target_name) %>'
         data-ytitle='<%= I18n.t('projects.status_report_chart.hours_per_stage.labels.y') %>'
         data-tooltipsuffix='<%= I18n.t('projects.status_report_chart.hours_per_stage.labels.y') %>'
         data-series='<%= [{ name: I18n.t('projects.status_report_chart.hours_per_stage.series.hours_per_stage'), data: status_report_data.hours_per_stage_downstream[:hours_per_stage] }].to_json %>'
         data-decimals='0'>
    </div>
  </div>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="cfd-upstream-area"
         class="flow-chart"
         data-xcategories='<%= status_report_data.x_axis.to_json %>'
         data-title='<%= I18n.t('charts.cfd.title_upstream', target_name: target_name) %>'
         data-ytitle='<%= I18n.t('charts.cfd.ytitle') %>'
         data-tooltipsuffix='<%= I18n.t('charts.cfd.data_suffix') %>'
         data-series='<%= status_report_data.cumulative_flow_diagram_upstream.to_json %>'
         data-stacking='normal'
         data-decimals='0'>
    </div>
  </div>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="cfd-downstream-area"
         class="flow-chart"
         data-xcategories='<%= status_report_data.x_axis.to_json %>'
         data-title='<%= I18n.t('charts.cfd.title_downstream', target_name: target_name) %>'
         data-ytitle='<%= I18n.t('charts.cfd.ytitle') %>'
         data-tooltipsuffix='<%= I18n.t('charts.cfd.data_suffix') %>'
         data-series='<%= status_report_data.cumulative_flow_diagram_downstream.to_json %>'
         data-decimals='0'>
    </div>
  </div>

<% else %>
  <%= I18n.t('general.no_data', missing_data: I18n.t('general.data')) %>
<% end %>