<% if strategic_chart_data.blank? %>
  <div class="row">
    <div class="col-xs-6">
      <%= I18n.t('general.no_data', missing_data: I18n.t('general.data')) %>
    </div>
  </div>

<% else %>
  <div class="row">
    <div class="col-xs-6">
      <div id="projects-count-column"
           class="flow-chart"
           data-title='<%= I18n.t('companies.charts.active_projects.title', target_name: model_name) %>'
           data-xcategories='<%= strategic_chart_data.x_axis.to_json %>'
           data-xtitle='<%= I18n.t('charts.xlabel.months') %>'
           data-ytitle='<%= I18n.t('charts.ylabel.projects.text') %>'
           data-ylinetitle='<%= I18n.t('charts.ylabel.total_hours.text') %>'
           data-series='<%= [
                                { type: 'column', yAxis: 1, name: I18n.t('charts.ylabel.projects.text'), data: strategic_chart_data.active_projects_count_data },
                                { type: 'spline', name: I18n.t('charts.ylabel.total_hours.text'), data: strategic_chart_data.sold_hours_in_month }

                            ].to_json %>'
           data-decimals='0'>
      </div>
    </div>

    <div class="col-xs-6">
      <div id="hours-per-month-line"
           class="flow-chart"
           data-title='<%= I18n.t('companies.charts.hours_per_month.title', target_name: model_name) %>'
           data-xcategories='<%= strategic_chart_data.x_axis.to_json %>'
           data-xtitle='<%= I18n.t('charts.xlabel.months') %>'
           data-ytitle='<%= I18n.t('charts.ylabel.hours.text') %>'
           data-prefix=''
           data-tooltipsuffix='<%= I18n.t('general.charts.hours') %>'
           data-ylinetitle='<%= I18n.t('charts.ylabel.total_hours.text') %>'
           data-series='<%= [
                                { name: I18n.t('charts.series.consumed_hours.text'), data: strategic_chart_data.consumed_hours_per_month },
                                { name: I18n.t('charts.ylabel.total_hours.text'), data: strategic_chart_data.sold_hours_in_month },
                                { name: I18n.t('charts.ylabel.available.text'), data: strategic_chart_data.available_hours_per_period }].to_json %>'
           data-decimals='0'>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div id="flowpressure-per-month-line"
           class="flow-chart"
           data-title='<%= I18n.t('companies.charts.flowpressure_per_month.title', target_name: model_name) %>'
           data-xcategories='<%= strategic_chart_data.x_axis.to_json %>'
           data-xtitle='<%= I18n.t('charts.xlabel.months') %>'
           data-ytitle='<%= I18n.t('charts.ylabel.hours.text') %>'
           data-ylinetitle='<%= I18n.t('charts.ylabel.flow_pressure.text') %>'
           data-series='<%= [ { name: I18n.t('charts.ylabel.flow_pressure.text'), data: strategic_chart_data.flow_pressure_per_month_data }].to_json %>'
           data-prefix=''
           data-tooltipsuffix='<%= I18n.t('projects.charts.flow_pressure.data_suffix') %>'
           data-decimals='3'>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="money-per-month-line"
           class="flow-chart"
           data-title='<%= I18n.t('companies.charts.money_per_month.title', target_name: model_name) %>'
           data-xcategories='<%= strategic_chart_data.x_axis.to_json %>'
           data-xtitle='<%= I18n.t('charts.xlabel.months') %>'
           data-ytitle='<%= I18n.t('charts.ylabel.hours.text') %>'
           data-ylinetitle='<%= I18n.t('charts.ylabel.money.text') %>'
           data-series='<%= [
                                { name: I18n.t('charts.ylabel.incomes.text'), color: '#81ea90', data: strategic_chart_data.money_per_month_data },
                                { name: I18n.t('charts.ylabel.expenses.text'), color: '#f90000', data: strategic_chart_data.expenses_per_month_data }
                            ].to_json %>'
           data-prefix='<%= I18n.t('projects.charts.cmd.tooltip_prefix') %>'
           data-tooltipsuffix=''
           data-decimals='2'>
      </div>
    </div>
  </div>
<% end %>
