<%= hidden_field_tag :target_name, target_name %>
<%= hidden_field_tag :projects_ids, projects.map(&:id).join(',') %>
<%= hidden_field_tag :teams_ids, teams_ids.join(',') %>

<%= render 'charts/charts_filter', start_date: (params['start_date'] || start_date), end_date: (params['end_date'] || end_date), period: params[:period] %>

<hr>

<div class="row">
  <div id="strategic-charts-div">
    <%= render 'charts/strategic_charts', model_name: target_name, strategic_chart_data: strategic_chart_data %>
  </div>
</div>
