<div class="standard-form">
  <div class="row">
    <div class='col-xs-4 form-group <%= 'has-error' if @pipefy_config.errors[:team].present? %>'>
      <%= f.label :team, class: 'control-label' %>
      <%= f.select :team_id, @company.teams.map { |team| [team.name, team.id] }, { include_blank: t('general.select'), selected: @pipefy_config.team_id }, class: 'form-control' %>
      <span class="help-block"><%= @pipefy_config.errors[:team].join(', ') %></span>
    </div>
    <div class='col-xs-4 form-group <%= 'has-error' if @pipefy_config.errors[:project].present? %>'>
      <%= f.label :project, class: 'control-label' %>
      <%= f.select :project_id, @company.projects.map { |project| [project.full_name, project.id] }, { include_blank: t('general.select'), selected: @pipefy_config.project_id }, class: 'form-control' %>
      <span class="help-block"><%= @pipefy_config.errors[:project].join(', ') %></span>
    </div>
    <div class='col-xs-4 form-group <%= 'has-error' if @pipefy_config.errors[:pipe_id].present? %>'>
      <%= f.label :pipe_id, class: 'control-label required' %>
      <%= f.text_field :pipe_id, value: @pipefy_config.pipe_id, class: 'form-control' %>
      <span class="help-block"><%= @pipefy_config.errors[:pipe_id].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
</div>
