<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= TeamMember.human_attribute_name(:name) %></th>
      <th><%= Membership.human_attribute_name(:member_role) %></th>
      <th><%= ItemAssignment.human_attribute_name(:start_time) %></th>
      <th><%= ItemAssignment.human_attribute_name(:stage_start) %></th>
      <th><%= ItemAssignment.human_attribute_name(:finish_time) %></th>
      <th><%= ItemAssignment.human_attribute_name(:stage_finish) %></th>
      <th><%= ItemAssignment.human_attribute_name(:working_time) %></th>
      <th></th>
    </tr>

  </thead>

  <tbody>
    <% demand.item_assignments.order(:start_time).each do |assignment| %>
      <tr>
        <td><%= assignment.id %></td>
        <td><%= assignment.membership.team_member_name %></td>
        <td><%= I18n.t("activerecord.attributes.membership.enums.member_role.#{assignment.membership.member_role}") %></td>
        <td><%= I18n.l(assignment.start_time, format: :short) %></td>
        <td><%= demand.stage_at(assignment.start_time)&.name %></td>
        <td><%= I18n.l(assignment.finish_time, format: :short) if assignment.finish_time.present? %></td>
        <td><%= demand.stage_at(assignment.finish_time)&.name if assignment.finish_time.present? %></td>
        <td><%= I18n.t('general.hours_text', count: assignment.item_assignment_effort) %></td>
        <td>
          <%= link_to company_demand_item_assignment_path(company.id, demand.id, assignment.id), method: :delete, data: { confirm: I18n.t('general.destroy.confirm') }, remote: true do %>
            <i class="fa fa-times"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
