<div class="row">
  <div class="col-xs-12">
    <%= link_to I18n.t('customers.new.title'), new_company_customer_path(company), class: 'btn btn-sm btn-success bottom-spaced-component pull-right' %>
  </div>
</div>

<% if customers_list.empty? %>
  <%= I18n.t('customers.index.no_customers_message') %>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th><%= Customer.human_attribute_name :name %></th>
        <th><%= I18n.t('customers.show.total_value') %></th>
        <th><%= I18n.t('projects.index.remaining_money') %></th>
        <th><%= I18n.t('projects.show.avg_hours_per_demand') %></th>
        <th><%= I18n.t('projects.index.flow_pressure') %></th>
        <th><%= I18n.t('general.table.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% customers_list.each do |customer| %>
        <tr>
          <td><%= link_to customer.name, company_customer_path(company, customer) %></td>
          <td><%= number_to_currency(customer.total_value) %></td>
          <td><%= number_to_currency(customer.remaining_money(end_date)) %></td>
          <td><%= number_with_precision(customer.avg_hours_per_demand, precision: 2) %></td>
          <td><%= number_with_precision(customer.total_flow_pressure, precision: 3) %></td>
          <td>
            <%= link_to edit_company_customer_path(company, customer) do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to company_customer_path(company, customer), method: :delete, data: { confirm: I18n.t('general.destroy.confirm') } do %>
              <i class="fa fa-times"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>