<div class="row">
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= Customer.model_name.human %></div>
    <div class="stamp-content"><%= customer.name  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.show.current_scope') %></div>
    <div class="stamp-content"><%= customer.current_backlog  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.show.delivered_scope') %></div>
    <div class="stamp-content"><%= customer.delivered_scope  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.index.total_gap') %></div>
    <div class="stamp-content"><%= customer.total_gap  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.index.percentage_remaining_scope') %></div>
    <div class="stamp-content"><%= number_to_percentage(customer.percentage_remaining_scope, precision: 2)  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.index.flow_pressure') %></div>
    <div class="stamp-content"><%= number_with_precision(customer.total_flow_pressure, precision: 3)  %></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 green-stamp">
    <div class="stamp-title"><%= t('customers.show.total_value') %></div>
    <div class="stamp-content"><%= number_to_currency(customer.total_value) %></div>
  </div>
  <div class="col-xs-4 green-stamp">
    <div class="stamp-title"><%= t('projects.index.remaining_money') %></div>
    <div class="stamp-content"><%= number_to_currency(customer.remaining_money) %></div>
  </div>
  <div class="col-xs-4 green-stamp">
    <div class="stamp-title"><%= t('projects.index.percentage_remaining_money') %></div>
    <div class="stamp-content"><%= number_to_percentage(customer.percentage_remaining_money, precision: 2)  %></div>
  </div>
</div>
