<% if user_invite.present? %>
  <%= form_for [company, customer, user_invite], url: add_user_to_customer_company_customer_path do |f| %>
    <span class="form-group flex-container <%= 'has-error' if user_invite.errors[:invite_email].present? %>">
      <%= f.text_field :invite_email, value: user_invite.invite_email, autofocus: true, class: 'form-control input-field', placeholder: I18n.t('general.invite_user').downcase %>
      <%= f.button :submit, class: 'btn' do %>
        <i class="fas fa-user-plus" title="<%= I18n.t('general.invite_user') %>"></i>
      <% end %>
      <span class="help-block"><%= user_invite.errors[:invite_email].join(', ') %></span>
    </span>

    <span class="form-group">

    </span>
  <% end %>
<% end %>
