<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to Customer.model_name.human(count: 2), company_customers_path(@company) %></li>
      <li><%= @customer.name %></li>
    </ul>
  </div>
</div>

<% if @customer_consolidations.last.present? %>
  <%= I18n.t('general.last_update.text', last_update: I18n.l(@customer_consolidations.last.updated_at, format: :short)) %>
<% else %>
  <h3>
    <%= I18n.t('general.no_cache') %>
  </h3>
<% end %>

<h3>
  <%= link_to update_cache_company_customer_path(@company, @customer), method: :patch do %>
    <i class="fas fa-sync-alt" aria-hidden="true" title="<%= I18n.t('general.update_cache') %>"></i>
  <% end %>
</h3>

<%= render 'customers/dashboards/customer_dashboard',
           company: @company,
           customer: @customer,
           user_invite: @user_invite,
           customer_consolidations: @customer_consolidations,
           contracts: @contracts,
           contract: @contract,
           unscored_demands: @unscored_demands,
           demands_blocks: @demands_blocks,
           flow_pressure: @flow_pressure,
           average_speed: @average_speed %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/column-line' %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/donut' %>

  <%= javascript_include_tag 'customers/customer-charts' %>
  <%= javascript_include_tag 'customers/show' %>
<% end %>
