<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to Customer.model_name.human(count: 2), company_customers_path(@company) %></li>
      <li><%= @customer.name %></li>
    </ul>
  </div>
</div>

<%= render 'customers/customer_dashboard', company: @company, customer: @customer, user_invite: @user_invite, customer_dashboard_data: @customer_dashboard_data %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/line' %>

  <%= javascript_include_tag 'customers/show' %>
<% end %>
