<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to Customer.model_name.human.pluralize, company_customers_path(@company) %></li>
      <li><%= @customer.name %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="topnav">
    <%= link_to I18n.t('navbar.details'), '#', id: 'nav-item-stamps', class: 'active' %>
    <%= link_to I18n.t('navbar.projects_list'), '#', id: 'nav-item-list' %>
  </div>
</div>

<div id="stamps">
  <%= render 'customer_stamps', customer: @customer, start_date: @start_date, end_date: @end_date %>
</div>

<div id="project-list">

  <h2><%= I18n.t('projects.index.title') %></h2>

  <div id="projects-table">
    <%= render 'projects/projects_table', company: @company, target_name: @customer.name, projects_list: @customer_projects, projects_summary: @projects_summary %>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/donut' %>
  <%= javascript_include_tag 'projects/demand_classification_charts' %>
  <%= javascript_include_tag 'projects/projects_table' %>

  <%= javascript_include_tag 'demand_blocks/list_modal' %>

  <%= javascript_include_tag 'customers/show' %>
<% end %>
