<h2><%= I18n.t('projects.show.deadline.title') %></h2>
<table class="table">
  <thead>
    <tr>
      <th><%= ProjectChangeDeadlineHistory.human_attribute_name :user %></th>
      <th><%= ProjectChangeDeadlineHistory.human_attribute_name :previous_date %></th>
      <th><%= ProjectChangeDeadlineHistory.human_attribute_name :new_date %></th>
      <th><%= I18n.t('project_change_deadline_histories.index.dates_difference') %></th>
    </tr>
  </thead>
  <tbody>
    <% project_change_deadline_histories.each do |deadline_change| %>
      <tr>
        <td><%= deadline_change.user.first_name %></td>
        <td><%= I18n.l(deadline_change.previous_date, format: :short) %></td>
        <td><%= I18n.l(deadline_change.new_date, format: :short) %></td>
        <td><%= (deadline_change.new_date - deadline_change.previous_date).to_i %></td>
      </tr>
    <% end %>
  </tbody>
</table>
