<div class="standard-form">
  <%= f.hidden_field :company_id, value: @company.id %>

  <div class="row">
    <div class='col-xs-3 form-group <%= 'has-error' if @project.errors[:name].present? %>'>
      <%= f.label :name, class: 'control-label required' %>
      <%= f.text_field :name, class: 'form-control', value: @project.name, autofocus: true %>
      <span class="help-block"><%= @project.errors[:name].join(', ') %></span>
    </div>

    <div class='col-xs-3 form-group <%= 'has-error' if @project.errors[:nickname].present? %>'>
      <%= f.label :nickname, class: 'control-label' %>
      <%= f.text_field :nickname, class: 'form-control' %>
      <span class="help-block"><%= @project.errors[:nickname].join(', ') %></span>
    </div>

    <div class='col-xs-3 form-group <%= 'has-error' if @project.errors[:customer].present? %>'>
      <%= label_tag :customer, Customer.model_name.human, { class: 'control-label required' } %>
      <%= f.select :customer_id, @company.customers.map { |customer| [customer.name, customer.id] }, { include_blank: t('general.select'), selected: @project.customer_id }, { class: 'form-control', id: 'customer-select' } %>
      <span class="help-block"><%= @project.errors[:customer].join(', ') %></span>
    </div>

    <div class='col-xs-3 form-group <%= 'has-error' if @project.errors[:product].present? %>'>
      <%= f.label :product, class: 'control-label' %>
      <%= f.select :product_id, @products.map { |product| [product.name, product.id] }, { include_blank: t('general.select'), selected: @project.product_id }, { class: 'form-control', id: 'product-select' } %>
      <span class="help-block"><%= @project.errors[:product].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-3 form-group <%= 'has-error' if @project.errors[:name].present? %>'>
      <%= f.label :status, class: 'control-label required' %>
      <%= f.select :status, Project.statuses.map { |key, _value| [t("activerecord.attributes.project.enums.status.#{key}"), key] }, { include_blank: t('general.select'), selected: @project.status }, class: 'form-control' %>
      <span class="help-block"><%= @project.errors[:status].join(', ') %></span>
    </div>
    <div class='col-xs-3 form-group <%= 'has-error' if @project.errors[:project_type].present? %>'>
      <%= f.label :project_type, class: 'control-label required' %>
      <%= f.select :project_type, Project.project_types.map { |key, _value| [t("activerecord.attributes.project.enums.project_type.#{key}"), key] }, { include_blank: t('general.select'), selected: @project.project_type }, class: 'form-control' %>
      <span class="help-block"><%= @project.errors[:project_type].join(', ') %></span>
    </div>
    <div class='col-xs-3 form-group <%= 'has-error' if @project.errors[:start_date].present? %>'>
      <%= f.label :start_date, class: 'control-label required' %>
      <%= f.date_field :start_date, value: @project.start_date, class: 'form-control' %>
      <span class="help-block"><%= @project.errors[:start_date].join(', ') %></span>
    </div>

    <div class='col-xs-3 form-group <%= 'has-error' if @project.errors[:end_date].present? %>'>
      <%= f.label :end_date, class: 'control-label required' %>
      <%= f.date_field :end_date, value: @project.end_date, class: 'form-control' %>
      <span class="help-block"><%= @project.errors[:end_date].join(', ') %></span>
    </div>

  </div>

  <div class="row">
    <div class='col-xs-4 form-group <%= 'has-error' if @project.errors[:initial_scope].present? %>'>
      <%= f.label :initial_scope, class: 'control-label required' %>
      <%= f.number_field :initial_scope, value: @project.initial_scope, class: 'form-control', step: 1 %>
      <span class="help-block"><%= @project.errors[:initial_scope].join(', ') %></span>
    </div>
    <div class='col-xs-4 form-group <%= 'has-error' if @project.errors[:qty_hours].present? %>'>
      <%= f.label :qty_hours, class: 'control-label required' %>
      <%= f.number_field :qty_hours, value: @project.qty_hours, class: 'form-control', step: 0.01 %>
      <span class="help-block"><%= @project.errors[:qty_hours].join(', ') %></span>
    </div>
    <div class='col-xs-4 form-group <%= 'has-error' if @project.errors[:hour_value].present? %>'>
      <%= f.label :hour_value, class: 'control-label required' %>
      <%= f.number_field :hour_value, value: @project.hour_value, class: 'form-control', step: 0.01 %>
      <span class="help-block"><%= @project.errors[:hour_value].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-6 form-group <%= 'has-error' if @project.errors[:value].present? %>'>
      <%= f.label :value, class: 'control-label required' %>
      <%= f.number_field :value, value: @project.value, class: 'form-control', step: 0.01 %>
      <span class="help-block"><%= @project.errors[:value].join(', ') %></span>
    </div>
    <div class='col-xs-6 form-group <%= 'has-error' if @project.errors[:percentage_effort_to_bugs].present? %>'>
      <%= f.label :percentage_effort_to_bugs, class: 'control-label required' %>
      <%= f.number_field :percentage_effort_to_bugs, value: @project.percentage_effort_to_bugs, class: 'form-control', step: 1 %>
      <span class="help-block"><%= @project.errors[:percentage_effort_to_bugs].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit t('general.buttons.save'), class: 'btn btn-success' %>
    </div>
  </div>
</div>
