<h2><%= t('projects.index.title') %></h2>

<div class="horizontal">
  <table class="table table-index">
    <thead>
    <tr>
      <th><%= Project.human_attribute_name :customer_name %></th>
      <th><%= Project.human_attribute_name :product_name %></th>
      <th><%= Project.human_attribute_name :name %></th>
      <th><%= t('projects.show.current_team') %></th>
      <th><%= Project.human_attribute_name :start_date %></th>
      <th><%= Project.human_attribute_name :end_date %></th>
      <th><%= Project.human_attribute_name :status %></th>
      <th><%= Project.human_attribute_name :project_type %></th>
      <th><%= Project.human_attribute_name :initial_scope %></th>
      <th><%= Project.human_attribute_name :qty_hours %></th>
      <th><%= t('projects.show.current_scope') %></th>
      <th><%= t('projects.show.delivered_scope') %></th>
      <th><%= t('projects.show.scope_gap') %></th>
      <th><%= t('projects.index.consumed_hours') %></th>
      <th><%= t('projects.index.percentage_hours_consumed') %></th>
      <th><%= Project.human_attribute_name :hour_value %></th>
      <th><%= Project.human_attribute_name :value %></th>
      <th><%= t('projects.index.remaining_money') %></th>
      <th><%= t('projects.index.percentage_remaining_money') %></th>
      <th><%= t('projects.index.total_days') %></th>
      <th><%= t('projects.index.total_remaining_days') %></th>
      <th><%= t('projects.index.percentage_remaining_days') %></th>
      <th><%= t('projects.index.flow_pressure') %></th>
      <th><%= t('projects.index.percentage_flow_pressure') %></th>
      <th><%= t('general.table.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% projects_list.each do |project| %>
      <tr class="<%= 'red-project' if project.red? %>">
        <td><%= link_to project.customer_name, company_customer_path(@company, project.customer) %></td>
        <td><%= project.product_name %></td>
        <td><%= link_to project.name, company_project_path(@company, project) %></td>
        <td><%= link_to project.current_team.name, company_team_path(@company, project.current_team) if project.current_team.present? %></td>
        <td><%= l(project.start_date) %></td>
        <td><%= l(project.end_date) %></td>
        <td><%= t("activerecord.attributes.project.enums.status.#{project.status}") %></td>
        <td><%= t("activerecord.attributes.project.enums.project_type.#{project.project_type}") %></td>
        <td><%= project.initial_scope %></td>
        <td><%= number_with_precision(project.qty_hours, precision: 2) %></td>
        <td><%= number_with_precision(project.current_backlog, precision: 0) %></td>
        <td><%= number_with_precision(project.total_throughput, precision: 0) %></td>
        <td><%= number_with_precision(project.total_gap, precision: 0) %></td>
        <td><%= number_with_precision(project.consumed_hours, precision: 2) %></td>
        <td><%= number_to_percentage((project.consumed_hours/project.qty_hours) * 100, precision: 2) %></td>
        <td><%= number_to_currency(project.hour_value) %></td>
        <td><%= number_to_currency(project.value) %></td>
        <td><%= number_to_currency(project.remaining_money) %></td>
        <td><%= number_to_percentage((project.remaining_money / project.value) * 100, precision: 2) if project.value > 0 %></td>
        <td><%= project.total_days %></td>
        <td><%= project.remaining_days %></td>
        <td><%= number_to_percentage((project.remaining_days.to_f / project.total_days.to_f) * 100, precision: 2) %></td>
        <td><%= number_with_precision(project.flow_pressure, precision: 3) %></td>
        <td><%= number_to_percentage((project.flow_pressure.to_f / @projects_summary.total_flow_pressure) * 100, precision: 2) %></td>
        <td>
          <%= link_to edit_company_project_path(@company, project) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
    <% unless projects_list.empty? %>
      <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_with_precision(@projects_summary.total_initial_scope, precision: 0) %></td>
        <td><%= number_with_precision(@projects_summary.total_hours, precision: 2) %></td>
        <td><%= number_with_precision(@projects_summary.total_current_scope, precision: 0) %></td>
        <td><%= number_with_precision(@projects_summary.total_delivered_scope, precision: 0) %></td>
        <td><%= number_with_precision(@projects_summary.total_gap, precision: 0) %></td>
        <td><%= number_with_precision(@projects_summary.total_consumed_hours, precision: 2) %></td>
        <td><%= number_to_percentage(@projects_summary.percentage_hours_consumed, precision: 2) %></td>
        <td><%= number_to_currency(@projects_summary.average_hour_value) %></td>
        <td><%= number_to_currency(@projects_summary.total_value) %></td>
        <td><%= number_to_currency(@projects_summary.total_remaining_money) %></td>
        <td><%= number_to_percentage(@projects_summary.percentage_remaining_money, precision: 2) %></td>
        <td><%= @projects_summary.total_days %></td>
        <td><%= @projects_summary.total_remaining_days %></td>
        <td><%= number_to_percentage(@projects_summary.percentage_remaining_days, precision: 2) %></td>
        <td><%= number_with_precision(@projects_summary.total_flow_pressure, precision: 3) %></td>
        <td></td>
        <td></td>
      </tr>
      </tfoot>
    <% end %>
  </table>
</div>
