<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel"><%= I18n.t('projects.risk.drill_down_title', target_name: project.name) %></h4>
    </div>
    <div class="modal-body">
      <% if project_consolidations.present? %>
        <div class="row center">
          <div class="col-xs-12 div-group-title">
            <%= I18n.t('projects.risk.drill_down_flow_title') %>
          </div>

          <div class="col-xs-4">
            <p class="stamp-title"><%= I18n.t('general.throughput') %></p>
            <p class="stamp-content"><%= project_consolidations.last.project_weekly_throughput.last(8).join(' | ') %></p>
          </div>
          <div class="col-xs-4">
            <p class="stamp-title"><%= I18n.t('projects.risk.drill_down_wip_title') %></p>
            <p class="stamp-content"><%= project_consolidations.last.wip_limit %></p>
          </div>
          <div class="col-xs-4">
            <p class="stamp-title"><%= I18n.t('projects.risk.drill_down_little_law_title') %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', weeks: number_with_precision(project_consolidations.last.project_little_law_weeks(8), precision: 1)) %></p>
          </div>
        </div>

        <div class="row center">
          <div class="col-xs-12 div-group-title">
            <%= I18n.t('projects.risk.drill_down_scope_deadline' ) %>
          </div>

          <div class="col-xs-3">
            <p class="stamp-title"><%= I18n.t('projects.general.scope' ) %></p>
            <p class="stamp-content"><%= I18n.t('general.demands_text', count: project.backlog_for) %></p>
          </div>
          <div class="col-xs-3">
            <p class="stamp-title"><%= I18n.t('projects.index.remaining_backlog' ) %></p>
            <p class="stamp-content"><%= I18n.t('general.demands_text', count: project.remaining_backlog) %></p>
          </div>
          <div class="col-xs-3">
            <p class="stamp-title"><%= I18n.t('projects.index.passed_time' ) %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', weeks: project.past_weeks.to_i) %></p>
          </div>
          <div class="col-xs-3">
            <p class="stamp-title"><%= I18n.t('projects.remaining_time' ) %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', weeks: project.remaining_weeks) %></p>
          </div>
        </div>

        <div class="row center">
          <div class="col-xs-12 div-group-title">
            <%= I18n.t('projects.statistics.montecarlo.title') %>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.minimum') %></p>
            <p class="stamp-content">
              <%= I18n.t('general.weeks_text', weeks: project_consolidations.last.project_monte_carlo_weeks_min) %>
              <sup><%= "(#{number_to_percentage(project_consolidations.last.project_monte_carlo_weeks_min_percentage * 100, precision: 2)})" %></sup>
            </p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.maximum') %></p>
            <p class="stamp-content">
              <%= I18n.t('general.weeks_text', weeks: project_consolidations.last.project_monte_carlo_weeks_max) %>
            </p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.p80') %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', weeks: number_with_precision(project_consolidations.last.project_monte_carlo_weeks_percentil, precision: 2)) %></p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.standard_deviation') %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', weeks: number_with_precision(project_consolidations.last.project_monte_carlo_weeks_std_dev, precision: 2)) %></p>
          </div>
        </div>

        <div class="row center">
          <div class="col-xs-12 div-group-title">
            <%= I18n.t('teams.statistics.montecarlo.title') %>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.minimum') %></p>
            <p class="stamp-content">
              <%= I18n.t('general.weeks_text', weeks: project_consolidations.last.team_monte_carlo_weeks_min) %>
              <sup><%= "(#{number_to_percentage(project_consolidations.last.team_monte_carlo_weeks_min_percentage * 100, precision: 2)})" %></sup>
            </p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.maximum') %></p>
            <p class="stamp-content">
              <%= I18n.t('general.weeks_text', weeks: project_consolidations.last.team_monte_carlo_weeks_max) %>
            </p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.p80') %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', weeks: number_with_precision(project_consolidations.last.team_monte_carlo_weeks_percentil, precision: 2)) %></p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.standard_deviation') %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', weeks: number_with_precision(project_consolidations.last.team_monte_carlo_weeks_std_dev, precision: 2)) %></p>
          </div>
        </div>

        <div class="row center">
          <div class="col-xs-12 div-group-title">
            <%= I18n.t('products.statistics.montecarlo.title') %>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.minimum') %></p>
            <p class="stamp-content">
              <%= I18n.t('general.weeks_text', weeks: project_consolidations.last.product_monte_carlo_weeks_min) %>
              <sup><%= "(#{number_to_percentage(project_consolidations.last.product_monte_carlo_weeks_min_percentage * 100, precision: 2)})" %></sup>
            </p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.maximum') %></p>
            <p class="stamp-content">
              <%= I18n.t('general.weeks_text', weeks: project_consolidations.last.product_monte_carlo_weeks_max) %>
            </p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.p80') %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', weeks: number_with_precision(project_consolidations.last.product_monte_carlo_weeks_percentil, precision: 2)) %></p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.standard_deviation') %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', weeks: number_with_precision(project_consolidations.last.product_monte_carlo_weeks_std_dev, precision: 2)) %></p>
          </div>
        </div>

      <% else %>
        <%= render 'layouts/no_data', missing_data: ProjectConsolidation.model_name.human %>
      <% end %>
    </div>
  </div>
</div>
