<h2><%= t('projects.project_risk_configs.title') %></h2>
<div class="row">
  <div class="col-xs-3">
    <%= link_to t('project_risk_configs.new.title'), new_company_project_project_risk_config_path(@company, @project), class: 'btn btn-sm btn-primary bottom-spaced-component' %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= ProjectRiskConfig.human_attribute_name :risk_type %></th>
      <th><%= ProjectRiskConfig.human_attribute_name :low_yellow_value %></th>
      <th><%= ProjectRiskConfig.human_attribute_name :high_yellow_value %></th>
      <th><%= t('general.table.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% project_risk_configs.each do |risk_config| %>
      <tr>
        <td><%= t("activerecord.attributes.project_risk_config.enums.risk_type.#{risk_config.risk_type}") %></td>
        <td><%= number_with_precision(risk_config.low_yellow_value, precision: 3) %></td>
        <td><%= number_with_precision(risk_config.high_yellow_value, precision: 3) %></td>
        <td>
          <% if risk_config.active? %>
            <%= link_to deactivate_company_project_project_risk_config_path(@company, @project, risk_config), method: :patch do %>
              <i class="fa fa-ban"></i>
            <% end %>
          <% else %>
            <%= link_to activate_company_project_project_risk_config_path(@company, @project, risk_config), method: :patch do %>
              <i class="fa fa-check"></i>
            <% end %>
          <% end %>
          <%= link_to company_project_project_risk_config_path(@company, @project, risk_config), method: :delete do %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>