<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel"><%= I18n.t('projects.risk.drill_down_title', target_name: project.name) %></h4>
    </div>
    <div class="modal-body">
      <% if project_consolidations.present? %>
        <div class="row center">
          <div class="col-xs-12 div-group-title">
            <%= I18n.t('projects.risk.drill_down_flow_title') %>
          </div>

          <div class="col-xs-4">
            <p class="stamp-title"><%= I18n.t('general.throughput') %></p>
            <p class="stamp-content"><%= project.last_weekly_throughput(10) %></p>
          </div>
          <div class="col-xs-4">
            <p class="stamp-title"><%= I18n.t('projects.risk.drill_down_wip_title') %></p>
            <p class="stamp-content"><%= project_consolidations.last.wip_limit %></p>
          </div>
          <div class="col-xs-4">
            <p class="stamp-title"><%= I18n.t('projects.risk.drill_down_little_law_title') %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', count: number_with_precision(project_consolidations.last.weeks_by_little_law, precision: 1)) %></p>
          </div>
        </div>

        <div class="row center">
          <div class="col-xs-12 div-group-title">
            <%= I18n.t('projects.risk.drill_down_scope_deadline' ) %>
          </div>

          <div class="col-xs-3">
            <p class="stamp-title"><%= I18n.t('projects.general.scope' ) %></p>
            <p class="stamp-content"><%= I18n.t('general.demands_text', count: project.backlog_count_for) %></p>
          </div>
          <div class="col-xs-3">
            <p class="stamp-title"><%= I18n.t('projects.index.remaining_backlog' ) %></p>
            <p class="stamp-content"><%= I18n.t('general.demands_text', count: project.remaining_work) %></p>
          </div>
          <div class="col-xs-3">
            <p class="stamp-title"><%= I18n.t('projects.index.passed_time' ) %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', count: project.past_weeks.to_i) %></p>
          </div>
          <div class="col-xs-3">
            <p class="stamp-title"><%= I18n.t('projects.remaining_time' ) %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', count: project.remaining_weeks) %></p>
          </div>
        </div>

        <div class="row center">
          <div class="col-xs-12 div-group-title">
            <%= I18n.t('projects.statistics.montecarlo.title') %>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.minimum') %></p>
            <p class="stamp-content">
              <%= I18n.t('general.weeks_text', count: project_consolidations.last.monte_carlo_weeks_min) %>
            </p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.maximum') %></p>
            <p class="stamp-content">
              <%= I18n.t('general.weeks_text', count: project_consolidations.last.monte_carlo_weeks_max) %>
            </p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.p80') %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', count: number_with_precision(project_consolidations.last.monte_carlo_weeks_p80, precision: 2)) %></p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.standard_deviation') %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', count: number_with_precision(project_consolidations.last.monte_carlo_weeks_std_dev, precision: 2)) %></p>
          </div>
        </div>

        <div class="row center">
          <div class="col-xs-12 div-group-title">
            <%= I18n.t('teams.statistics.montecarlo.title') %>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.minimum') %></p>
            <p class="stamp-content">
              <%= I18n.t('general.weeks_text', count: project_consolidations.last.team_based_monte_carlo_weeks_min) %>
            </p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.maximum') %></p>
            <p class="stamp-content">
              <%= I18n.t('general.weeks_text', count: project_consolidations.last.team_based_monte_carlo_weeks_max) %>
            </p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.p80') %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', count: number_with_precision(project_consolidations.last.team_based_monte_carlo_weeks_p80, precision: 2)) %></p>
          </div>
          <div class="col-xs-3 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.standard_deviation') %></p>
            <p class="stamp-content"><%= I18n.t('general.weeks_text', count: number_with_precision(project_consolidations.last.team_based_monte_carlo_weeks_std_dev, precision: 2)) %></p>
          </div>
        </div>

      <% else %>
        <%= render 'layouts/no_data', missing_data: Consolidations::ProjectConsolidation.model_name.human %>
      <% end %>
    </div>
  </div>
</div>
