<div class="row">
  <div class="col-xs-4 stamp">
    <div class="stamp-title"><%= I18n.t('projects.show.last_team') %></div>
    <% if project.team.present? %>
      <div class="stamp-content"><%= link_to project.team&.name, company_team_path(company, project.team) %></div>
    <% else %>
      <div class="stamp-content"></div>
    <% end %>
  </div>
  <div class="col-xs-4 green-stamp">
    <div class="stamp-title"><%= I18n.t('projects.index.remaining_money') %></div>
    <div class="stamp-content"><%= number_to_currency(project.remaining_money(Time.zone.today)) %></div>
  </div>
  <div class="col-xs-4 green-stamp">
    <div class="stamp-title"><%= I18n.t('projects.index.percentage_remaining_money') %></div>
    <div class="stamp-content">
      <% if project.value != 0 %>
        <%= number_to_percentage((project.remaining_money(Time.zone.today).to_f / project.value.to_f) * 100, precision: 2)  %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= I18n.t('projects.show.initial_scope') %></div>
    <div class="stamp-content"><%= project.initial_scope %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= I18n.t('projects.show.last_week_scope') %></div>
    <div class="stamp-content"><%= project.last_week_scope %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= I18n.t('general.delivered') %></div>
    <div class="stamp-content"><%= project.total_throughput %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= I18n.t('general.stamps.flow_pressure') %></div>
    <div class="stamp-content"><%= number_with_precision(project.flow_pressure, precision: 3) %></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= Project.human_attribute_name(:start_date) %></div>
    <div class="stamp-content"><%= I18n.l(project.start_date) %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= Project.human_attribute_name(:end_date) %></div>
    <div class="stamp-content"><%= I18n.l(project.end_date) %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= I18n.t('projects.index.percentage_remaining_days') %></div>
    <div class="stamp-content"><%= number_to_percentage(project.percentage_remaining_days, precision: 2) %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= I18n.t('projects.show.avg_hours_per_demand') %></div>
    <div class="stamp-content"><%= number_with_precision(project.avg_hours_per_demand, precision: 3) %></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <% if project.executing? %>
      <h2 class="center"><%= I18n.t('projects.show.deadline_countdown.first_part') %><span class="countdown"><%= I18n.t('projects.show.deadline_countdown.days', remaining_days: project.remaining_days.to_i ) %></span><%= I18n.t('projects.show.deadline_countdown.second_part') %></h2>
      <% if project.project_consolidations.present? %>
        <h4 class="center"><%= I18n.t('projects.show.deadline_countdown.risk', risk_value: number_to_percentage(project.current_risk_to_deadline * 100, precision: 2)) %>
          <i class="far fa-calendar-alt" title="<%= "#{t('general.last_update.text', last_update: I18n.l(project.consolidations_last_update, format: :short))}" %>"></i>
          <%= link_to risk_drill_down_company_project_path(company, project), remote: true do %>
            <i class="fas fa-info-circle" title="<%= I18n.t('general.detail') %>"></i>
          <% end %>

          <%= link_to status_report_dashboard_company_project_path(company, project), remote: true do %>
            <i class="fas fa-folder-open" title="<%= I18n.t('projects.show.status_report.title', project_name: project.name) %>"></i>
          <% end %>

          <%= link_to lead_time_dashboard_company_project_path(company, project), remote: true do %>
            <i class="fas fa-clock" title="<%= I18n.t('projects.show.lead_time.title') %>"></i>
          <% end %>
        </h4>
      <% end %>
    <% else %>
      <h2 class="center"><%= (I18n.t('projects.show.status_information_html', status_description: I18n.t("activerecord.attributes.project.enums.status.#{project.status}")))&.html_safe %>
        <%= link_to closing_dashboard_company_project_path(company, project), remote: true do %>
          <i class="fas fa-archive" title="<%= I18n.t('projects.show.closing_info.title') %>"></i>
        <% end %>
      </h2>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6">
    <h3 class="center"><%= I18n.t('projects.show.jira_area.title') %></h3>
    <% if project.jira_project_configs.present? %>
      <p><%= I18n.t('projects.show.jira_area.integrated_project') %></p>
      <% if project.stages.blank? %>
        <p><%= I18n.t('projects.show.jira_area.no_stages') %></p>
      <% else %>
        <p><%= I18n.t('projects.show.jira_area.configured_stages', count: project.stages.count) %></p>
      <% end %>
    <% else %>
      <p><%= I18n.t('projects.show.jira_area.not_integrated') %></p>
    <% end %>
  </div>

  <div class="col-xs-6">
    <h3 class="center">
      <%= I18n.t('projects.show.inconsistent_demands.title') %>
      <i class="far fa-question-circle" title="<%= I18n.t('projects.show.inconsistent_demands.help') %>"></i>
    </h3>

    <% if inconsistent_demands.blank? %>
      <p><%= I18n.t('projects.show.inconsistent_demands.no_demands') %></p>
    <% else %>
      <p><%= I18n.t('projects.show.inconsistent_demands.demands', value: inconsistent_demands.count ) %></p>
      <p>
        <%= inconsistent_demands.map { |demand| link_to demand.external_id, company_demand_url(company, demand) }.join(' | ')&.html_safe %>
      </p>
    <% end %>
  </div>
</div>

<div class="row" id="project-unscored-demands">
  <%= render 'demands/unscored_demands', company: company, unscored_demands: unscored_demands %>
</div>

<div class="modal fade" id="project-risk-drill-down" tabindex="-1" role="dialog" aria-labelledby="project-risk-drill-down" aria-hidden="true"></div>
<div class="modal fade" id="closing-info-div" tabindex="-1" role="dialog" aria-labelledby="closing-info" aria-hidden="true"></div>
<div class="modal fade" id="status-report-div" tabindex="-1" role="dialog" aria-labelledby="status-report" aria-hidden="true"></div>
<div class="modal fade" id="project-lead-time-div" tabindex="-1" role="dialog" aria-labelledby="project-lead-time" aria-hidden="true"></div>