<div id="projects-filter">
  <%= render 'projects/projects_filter' %>
</div>

<hr>

<h3><%= I18n.t('general.projects_count', count: projects_summary.projects.count) %></h3>
<h4><%= I18n.t('general.demands_per_day', count: number_with_precision(projects_summary.total_flow_pressure, precision: 2)) %></h4>

<hr>

<div class="row">
  <div class="col-xs-12">
    <div class="tab">
      <button class="tablinks" id="projects-list-tab" onclick="openTab(event, 'projects-list', 'tablinks', 'tabcontent')"><%= I18n.t('general.list') %></button>
      <button class="tablinks" onclick="openTab(event, 'projects-gantt', 'tablinks', 'tabcontent')"><%= I18n.t('navbar.projects_gantt') %></button>
    </div>
  </div>
</div>

<div id="projects-list" class="tabcontent">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to I18n.t('project.new.title'), new_company_project_path(company), class: 'btn btn-sm btn-primary bottom-spaced-component' %>
    </div>
  </div>

  <% if request.xhr? %>
    <%= paginate projects_list, remote: true %>
  <% else %>
    <%= paginate projects_list  %>
  <% end %>

  <% if projects_list.blank? || projects_list.empty? %>
    <%= I18n.t('projects.index.no_data') %>
  <% else %>
    <table class="table table-index table-striped">
      <thead>
        <tr>
          <th><%= I18n.t('general.table.actions') %></th>
          <th><%= Project.model_name.human %></th>
          <th><%= Project.human_attribute_name :team %></th>
          <th><%= Project.human_attribute_name :start_date %></th>
          <th><%= Project.human_attribute_name :end_date %></th>
          <th><%= Project.human_attribute_name :status %></th>
          <th><%= Project.human_attribute_name :project_type %></th>
          <th><%= Project.human_attribute_name :qty_hours %></th>
          <th><%= I18n.t('projects.index.consumed_hours') %></th>
          <th><%= I18n.t('projects.show.demand_blocks_count') %></th>
          <th><%= I18n.t('projects.show.demand_blocks_duration_average') %></th>
          <th><%= I18n.t('projects.show.demands_count') %></th>
          <th><%= I18n.t('projects.show.features_count') %></th>
          <th><%= I18n.t('projects.show.bugs_count') %></th>
          <th><%= I18n.t('projects.show.chore_count') %></th>
          <th><%= I18n.t('projects.show.throughput') %></th>
          <th><%= Project.human_attribute_name :value %></th>
          <th><%= I18n.t('projects.index.remaining_money') %></th>
          <th><%= I18n.t('projects.index.total_remaining_days') %></th>
          <th><%= I18n.t('projects.index.flow_pressure') %></th>
          <th><%= I18n.t('projects.index.percentage_flow_pressure') %></th>
          <th>
            <%= I18n.t('projects.index.inconsistent_demands_count') %>
            <i class="far fa-question-circle" title="<%= I18n.t('projects.show.inconsistent_demands.help') %>"></i>
          </th>
          <th class="center"><%= I18n.t('projects.index.risk_alerts') %></th>
          <th><%= I18n.t('general.table.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% projects_list.each do |project| %>
          <tr>
            <td><%= render 'projects/project_actions', company: company, project: project %></td>
            <td><%= link_to project.name, company_project_path(company, project) %></td>
            <td><%= link_to project.team.name, company_team_path(company, project.team) if project.team.present? %></td>
            <td><%= I18n.l(project.start_date) %></td>
            <td><%= I18n.l(project.end_date) %></td>
            <td><%= I18n.t("activerecord.attributes.project.enums.status.#{project.status}") %></td>
            <td><%= I18n.t("activerecord.attributes.project.enums.project_type.#{project.project_type}") %></td>
            <td><%= number_with_precision(project.qty_hours, precision: 2) %></td>
            <td><%= number_with_precision(project.consumed_hours_in_period(project.start_date, project.end_date), precision: 2) %></td>
            <td>
              <%= link_to company_demand_blocks_path(company, projects_ids: project.id), class: 'list-block', remote: true do %>
                <%= project.active_kept_closed_blocks.count %>
              <% end %>
            </td>
            <td><%= number_with_precision(project.average_block_duration, precision: 2) %>h</td>
            <td><%= project.demands.kept.count %></td>
            <td><%= project.demands.kept.feature.count %><small> (<%= number_with_precision(project.percentage_of_demand_type(:feature), precision: 2) %>%)</small></td>
            <td><%= project.demands.kept.bug.count %><small> (<%= number_with_precision(project.percentage_of_demand_type(:bug), precision: 2) %>%)</small></td>
            <td><%= project.demands.kept.chore.count %><small> (<%= number_with_precision(project.percentage_of_demand_type(:chore), precision: 2) %>%)</small></td>
            <td><%= number_with_precision(project.total_throughput_for(1.week.ago), precision: 0) %></td>
            <td><%= number_to_currency(project.value) %></td>
            <td><%= number_to_currency(project.remaining_money(project.end_date)) %></td>
            <td><%= project.remaining_days %></td>
            <td><%= number_with_precision(project.flow_pressure, precision: 3) %></td>
            <td>
              <% if projects_summary.total_flow_pressure.positive? %>
                <%= number_to_percentage((project.flow_pressure.to_f / projects_summary.total_flow_pressure) * 100, precision: 2) %>
              <% else %>
                0,00
              <% end %>
            </td>
            <td><%= project.demands.dates_inconsistent_to_project(project).count %></td>
            <td><%= render 'projects/project_risk_indicators', project: project %></td>
            <td><%= render 'projects/project_actions', company: company, project: project %></td>
          </tr>
          <tr id="<%= "products_table_#{project.id}" %>" class="col-table-details">
            <td></td>
            <td colspan="12">
              <%= render 'projects/products_in_project', project: project %>
            </td>
          </tr>
          <tr id="<%= "customers_table_#{project.id}" %>" class="col-table-details">
            <td></td>
            <td colspan="12">
              <%= render 'projects/customers_in_project', project: project %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div id="projects-gantt" class="tabcontent project-tab">
  <div class="col-xs-12 bottom-spaced-component">
    <div id="projects-gantt-div"
         data-title=''
         data-series='<%= gantt_chart_to_projects(target_name, projects_list.order(:start_date)).to_json %>'>
    </div>
  </div>
</div>

<div class="modal fade" id="list-blocks-page" tabindex="-1" role="dialog" aria-labelledby="list-blocks-page" aria-hidden="true"></div>
<div class="modal fade" id="project-statistics-page" tabindex="-1" role="dialog" aria-labelledby="project-statistics-page" aria-hidden="true"></div>
