<div class="row">
  <div class="col-xs-12">
    <%= link_to t('project.new.title'), new_company_project_path(@company), class: 'btn btn-sm btn-primary bottom-spaced-component' %>
  </div>
</div>

<% if projects_list.empty? %>
  <%= t('projects.index.no_data') %>
<% else %>
  <div class="horizontal">
    <table class="table table-index table-striped">
      <thead>
        <tr>
          <th><%= t('general.table.actions') %></th>
          <th colspan="5" class="center"><%= t('projects.index.risk_alerts') %></th>
          <th><%= Project.human_attribute_name :customer_name %></th>
          <th><%= Project.human_attribute_name :product_name %></th>
          <th><%= Project.model_name.human %></th>
          <th><%= t('projects.show.current_team') %></th>
          <th><%= Project.human_attribute_name :start_date %></th>
          <th><%= Project.human_attribute_name :end_date %></th>
          <th><%= Project.human_attribute_name :status %></th>
          <th><%= Project.human_attribute_name :project_type %></th>
          <th><%= t('projects.show.throughput') %></th>
          <th><%= t('projects.show.scope_gap') %></th>
          <th><%= t('projects.show.leadtime_80_confidence') %></th>
          <th><%= Project.human_attribute_name :value %></th>
          <th><%= t('projects.index.remaining_money') %></th>
          <th><%= t('projects.index.total_remaining_days') %></th>
          <th><%= t('projects.index.flow_pressure') %></th>
          <th><%= t('projects.index.percentage_flow_pressure') %></th>
          <th><%= t('general.table.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% projects_list.each do |project| %>
          <tr>
            <td><%= render 'projects/project_actions', project: project %></td>
            <%= render 'projects/project_risk_indicators', project: project %>
            <td><%= link_to project.customer_name, company_customer_path(@company, project.customer) %></td>
            <td>
              <% if project.product.present? %>
                <%= link_to project.product_name, company_product_path(@company, project.product) %>
              <% end %>
            </td>
            <td><%= link_to project.name, company_project_path(@company, project) %></td>
            <td><%= link_to project.current_team.name, company_team_path(@company, project.current_team) if project.current_team.present? %></td>
            <td><%= l(project.start_date) %></td>
            <td><%= l(project.end_date) %></td>
            <td><%= t("activerecord.attributes.project.enums.status.#{project.status}") %></td>
            <td><%= t("activerecord.attributes.project.enums.project_type.#{project.project_type}") %></td>
            <td><%= number_with_precision(project.total_throughput_for(1.week.ago), precision: 0) %></td>
            <td><%= number_with_precision(project.total_gap, precision: 0) %></td>
            <td><%= time_distance_in_words(project.current_leadtime_80_confidence) %></td>
            <td><%= number_to_currency(project.value) %></td>
            <td><%= number_to_currency(project.remaining_money) %></td>
            <td><%= project.remaining_days %></td>
            <td><%= number_with_precision(project.flow_pressure, precision: 3) %></td>
            <td><%= number_to_percentage((project.flow_pressure.to_f / @projects_summary.total_flow_pressure) * 100, precision: 2) %></td>
            <td><%= render 'projects/project_actions', project: project %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>