<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel"><%= I18n.t('projects.leadtime.drill_down_title', target_name: project.name) %></h4>
    </div>
    <div class="modal-body">
      <% if project_consolidations.present? %>
        <div class="row center">
          <div class="col-xs-12 div-group-title">
            <%= I18n.t('general.leadtime') %>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.minimum') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_min) %></p>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.maximum') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_max) %></p>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.p80') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_p80) %></p>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.standard_deviation') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_std_dev) %></p>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.histogram_bin_min') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_histogram_bin_min) %></p>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.histogram_bin_max') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_histogram_bin_max) %></p>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.average') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_average) %></p>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('general.statistics.sample_size') %></p>
            <p class="stamp-content"><%= I18n.t('general.demands_text', count: project_consolidations.last.demands_finished_ids.count) %></p>
          </div>
        </div>

        <div class="row center">
          <div class="col-xs-12 div-group-title">
            <%= I18n.t('demands.statistics.leadtime_by_type.title') %>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('demands.statistics.leadtime_by_type.feature') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_feature) %></p>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('demands.statistics.leadtime_by_type.bug') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_bug) %></p>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('demands.statistics.leadtime_by_type.chore') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_chore) %></p>
          </div>
        </div>

        <div class="row center">
          <div class="col-xs-12 div-group-title">
            <%= I18n.t('demands.statistics.leadtime_by_class_of_service.title') %>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('demands.statistics.leadtime_by_class_of_service.standard') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_standard) %></p>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('demands.statistics.leadtime_by_class_of_service.fixed_date') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_fixed_date) %></p>
          </div>

          <div class="col-xs-4 bottom-spaced-component">
            <p class="stamp-title"><%= I18n.t('demands.statistics.leadtime_by_class_of_service.expedite') %></p>
            <p class="stamp-content"><%= time_distance_in_words(project_consolidations.last.lead_time_expedite) %></p>
          </div>
        </div>

      <% else %>
        <%= render 'layouts/no_data', missing_data: Consolidations::ProjectConsolidation.model_name.human %>
      <% end %>
    </div>
  </div>
</div>
