<h2><%= t('projects.index.title') %></h2>
<table class="table">
  <thead>
  <tr>
    <th><%= Project.human_attribute_name :customer_name %></th>
    <th><%= Project.human_attribute_name :name %></th>
    <th><%= Project.human_attribute_name :status %></th>
    <th><%= Project.human_attribute_name :project_type %></th>
    <th><%= Project.human_attribute_name :qty_hours %></th>
    <th><%= t('projects.index.consumed_hours') %></th>
    <th><%= t('projects.index.percentage_hours_consumed') %></th>
    <th><%= Project.human_attribute_name :hour_value %></th>
    <th><%= Project.human_attribute_name :value %></th>
    <th><%= Project.human_attribute_name :start_date %></th>
    <th><%= Project.human_attribute_name :end_date %></th>
    <th><%= t('projects.index.total_days') %></th>
    <th><%= t('projects.index.total_remaining_days') %></th>
  </tr>
  </thead>
  <tbody>
  <% projects_list.each do |project| %>
    <tr>
      <td><%= project.customer_name %></td>
      <td><%= link_to project.name, company_project_path(@company, project) %></td>
      <td><%= project.status.capitalize %></td>
      <td><%= project.project_type.capitalize %></td>
      <td><%= number_with_precision(project.qty_hours, precision: 2) %></td>
      <td><%= number_with_precision(project.consumed_hours, precision: 2) %></td>
      <td><%= number_to_percentage((project.consumed_hours/project.qty_hours) * 100, precision: 2) %></td>
      <td><%= number_to_currency(project.hour_value) %></td>
      <td><%= number_to_currency(project.value) %></td>
      <td><%= l(project.start_date) %></td>
      <td><%= l(project.end_date) %></td>
      <td><%= project.total_days %></td>
      <td><%= project.remaining_days %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= number_with_precision(@total_hours, precision: 0) %></td>
    <td><%= number_to_currency(@average_hour_value) %></td>
    <td><%= number_to_currency(@total_value) %></td>
    <td></td>
    <td></td>
    <td><%= @total_days %></td>
    <td><%= @total_remaining_days %></td>
  </tr>
  </tfoot>
</table>