<div class="row">
  <%= link_to company_customer_path(@company, project.customer) do %>
    <div class="col-xs-3 stamp">
      <div class="stamp-title"><%= Customer.model_name %></div>
      <div class="stamp-content"><%= project.customer_name %></div>
    </div>
  <% end %>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= Product.model_name.human %></div>
    <div class="stamp-content">
      <% if project.product.present? %>
        <%= link_to project.product_name, company_product_path(@company, project.product) %>
      <% end %>
    </div>
  </div>

  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.show.last_team') %></div>
    <div class="stamp-content"><%= project.current_team&.name %></div>
  </div>
  <div class="col-xs-2 green-stamp">
    <div class="stamp-title"><%= t('projects.index.remaining_money') %></div>
    <div class="stamp-content"><%= number_to_currency(project.remaining_money) %></div>
  </div>
  <div class="col-xs-2 green-stamp">
    <div class="stamp-title"><%= t('projects.index.percentage_remaining_money') %></div>
    <div class="stamp-content">
      <% if project.value != 0 %>
        <%= number_to_percentage((project.remaining_money.to_f / project.value.to_f) * 100, precision: 2)  %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= t('projects.show.initial_scope') %></div>
    <div class="stamp-content"><%= project.initial_scope %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.show.last_week_scope') %></div>
    <div class="stamp-content"><%= project.last_week_scope %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.show.delivered_scope.text') %></div>
    <div class="stamp-content"><%= project.total_throughput %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('general.stamps.flow_pressure') %></div>
    <div class="stamp-content"><%= number_with_precision(project.flow_pressure, precision: 3) %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= t('projects.show.cmd') %></div>
    <div class="stamp-content"><%= number_to_currency(project.average_demand_cost) %></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= Project.human_attribute_name(:start_date) %></div>
    <div class="stamp-content"><%= l(project.start_date) %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= Project.human_attribute_name(:end_date) %></div>
    <div class="stamp-content"><%= l(project.end_date) %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= t('projects.index.percentage_remaining_days') %></div>
    <div class="stamp-content"><%= number_to_percentage((project.remaining_days.to_f / project.total_days.to_f) * 100, precision: 2)  %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= t('projects.show.avg_hours_per_demand') %></div>
    <div class="stamp-content"><%= number_with_precision(project.avg_hours_per_demand, precision: 3) %></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <% if project.executing? %>
      <h2 class="center"><%= t('projects.show.deadline_countdown.first_part') %><span class="countdown"><%= t('projects.show.deadline_countdown.days', remaining_days: project.remaining_days ) %></span><%= t('projects.show.deadline_countdown.second_part') %></h2>
    <% else %>
      <h2 class="center"><%= t('projects.show.status_information_html', status_description: t("activerecord.attributes.project.enums.status.#{project.status}")) %></h2>
    <% end %>
  </div>
</div>