<div class="row">
  <div class="col-xs-12 bottom-spaced-component">
    <%= link_to t('projects.index.all_filter'), search_for_projects_company_projects_path(company_id: company, status_filter: :all, parent_id: parent_id, parent_type: parent_type), remote: true, class: 'btn btn-sm btn-info' %>
    <%= link_to t('projects.index.waiting_filter'), search_for_projects_company_projects_path(company_id: company, status_filter: :waiting, parent_id: parent_id, parent_type: parent_type), remote: true, class: 'btn btn-sm btn-info' %>
    <%= link_to t('projects.index.executing_filter'), search_for_projects_company_projects_path(company_id: company, status_filter: :executing, parent_id: parent_id, parent_type: parent_type), remote: true, class: 'btn btn-sm btn-info' %>
    <%= link_to t('projects.index.maintenance_filter'), search_for_projects_company_projects_path(company_id: company, status_filter: :maintenance, parent_id: parent_id, parent_type: parent_type), remote: true, class: 'btn btn-sm btn-info' %>
    <%= link_to t('projects.index.finished_filter'), search_for_projects_company_projects_path(company_id: company, status_filter: :finished, parent_id: parent_id, parent_type: parent_type), remote: true, class: 'btn btn-sm btn-info' %>
    <%= link_to t('projects.index.cancelled_filter'), search_for_projects_company_projects_path(company_id: company, status_filter: :cancelled, parent_id: parent_id, parent_type: parent_type), remote: true, class: 'btn btn-sm btn-info' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to t('project.new.title'), new_company_project_path(company), class: 'btn btn-sm btn-primary bottom-spaced-component' %>
  </div>
</div>

<% if projects_list.blank? || projects_list.empty? %>
  <%= t('projects.index.no_data') %>
<% else %>
  <table class="table table-index table-striped table-ordered">
    <thead>
      <tr>
        <th><%= t('general.table.actions') %></th>
        <th><%= Project.human_attribute_name :customer_name %></th>
        <th><%= Project.human_attribute_name :product_name %></th>
        <th><%= Project.model_name.human %></th>
        <th><%= t('projects.show.current_team') %></th>
        <th><%= Project.human_attribute_name :start_date %></th>
        <th><%= Project.human_attribute_name :end_date %></th>
        <th><%= Project.human_attribute_name :status %></th>
        <th><%= Project.human_attribute_name :project_type %></th>
        <th><%= Project.human_attribute_name :qty_hours %></th>
        <th><%= t('projects.index.consumed_hours') %></th>
        <th><%= t('projects.show.demand_blocks_count') %></th>
        <th><%= t('projects.show.demand_blocks_duration_average') %></th>
        <th><%= t('projects.show.demands_count') %></th>
        <th><%= t('projects.show.features_count') %></th>
        <th><%= t('projects.show.bugs_count') %></th>
        <th><%= t('projects.show.chore_count') %></th>
        <th><%= t('projects.show.throughput') %></th>
        <th><%= t('projects.show.scope_gap') %></th>
        <th><%= Project.human_attribute_name :value %></th>
        <th><%= t('projects.index.remaining_money') %></th>
        <th><%= t('projects.index.total_remaining_days') %></th>
        <th><%= t('projects.index.flow_pressure') %></th>
        <th><%= t('projects.index.percentage_flow_pressure') %></th>
        <th class="center"><%= t('projects.index.risk_alerts') %></th>
        <th><%= t('general.table.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% projects_list.each do |project| %>
        <tr>
          <td><%= render 'projects/project_actions', company: company, project: project %></td>
          <td><%= link_to project.customer_name, company_customer_path(company, project.customer) %></td>
          <td>
            <% if project.product.present? %>
              <%= link_to project.product_name, company_product_path(company, project.product) %>
            <% end %>
          </td>
          <td><%= link_to project.name, company_project_path(company, project) %></td>
          <td><%= link_to project.current_team.name, company_team_path(company, project.current_team) if project.current_team.present? %></td>
          <td><%= l(project.start_date) %></td>
          <td><%= l(project.end_date) %></td>
          <td><%= t("activerecord.attributes.project.enums.status.#{project.status}") %></td>
          <td><%= t("activerecord.attributes.project.enums.project_type.#{project.project_type}") %></td>
          <td><%= number_with_precision(project.qty_hours, precision: 2) %></td>
          <td><%= number_with_precision(project.consumed_hours, precision: 2) %></td>
          <td>
            <%= link_to company_project_demand_blocks_path(company, project), class: 'list-block', remote: true do %>
              <%= project.active_kept_closed_blocks.count %>
            <% end %>
          </td>
          <td><%= number_with_precision(project.average_block_duration, precision: 2) %>h</td>
          <td><%= project.demands.kept.count %></td>
          <td><%= project.demands.kept.feature.count %><small> (<%= number_with_precision(project.percentage_of_demand_type(:feature), precision: 2) %>%)</small></td>
          <td><%= project.demands.kept.bug.count %><small> (<%= number_with_precision(project.percentage_of_demand_type(:bug), precision: 2) %>%)</small></td>
          <td><%= project.demands.kept.chore.count %><small> (<%= number_with_precision(project.percentage_of_demand_type(:chore), precision: 2) %>%)</small></td>
          <td><%= number_with_precision(project.total_throughput_for(1.week.ago), precision: 0) %></td>
          <td><%= number_with_precision(project.remaining_backlog, precision: 0) %></td>
          <td><%= number_to_currency(project.value) %></td>
          <td><%= number_to_currency(project.remaining_money) %></td>
          <td><%= project.remaining_days %></td>
          <td><%= number_with_precision(project.flow_pressure, precision: 3) %></td>
          <td><%= number_to_percentage((project.flow_pressure.to_f / projects_summary.total_flow_pressure) * 100, precision: 2) %></td>
          <td><%= render 'projects/project_risk_indicators', project: project %></td>
          <td><%= render 'projects/project_actions', company: company, project: project %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="modal fade" id="list-blocks-page" tabindex="-1" role="dialog" aria-labelledby="list-blocks-page" aria-hidden="true"></div>
<div class="modal fade" id="project-statistics-page" tabindex="-1" role="dialog" aria-labelledby="project-statistics-page" aria-hidden="true"></div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/donut' %>
  <%= javascript_include_tag 'projects/demand_classification_charts' %>
  <%= javascript_include_tag 'demand_blocks/list_modal' %>
<% end %>
