<h2><%= t('project_results.index.title') %></h2>
<div class="row">
  <div class="btn-group">
    <div class="col-xs-6">
      <%= link_to t('project_results.new.title'), new_company_project_project_result_path(@company, project), class: 'btn btn-primary btn-list bottom-spaced-component' %>
    </div>
    <div class="col-xs-6">
      <%= link_to t('demands.import_csv.title'), import_csv_form_company_project_demands_path(@company, @project), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<table class="table table-index">
  <thead>
    <tr>
      <th><%= ProjectResult.human_attribute_name :team %></th>
      <th><%= ProjectResult.human_attribute_name :result_date %></th>
      <th><%= t('general.week') %></th>
      <th><%= t('general.year') %></th>
      <th><%= ProjectResult.human_attribute_name :known_scope %></th>
      <th><%= ProjectResult.human_attribute_name :flow_pressure %></th>
      <th><%= t('projects.show.cost_in_month') %></th>
      <th><%= t('projects.show.average_demand_cost') %></th>
      <th><%= ProjectResult.human_attribute_name :remaining_days %></th>
      <th><%= ProjectResult.human_attribute_name :monte_carlo_date %></th>
      <th><%= ProjectResult.human_attribute_name :qty_hours_upstream %></th>
      <th><%= ProjectResult.human_attribute_name :qty_hours_downstream %></th>
      <th><%= ProjectResult.human_attribute_name :qty_hours_total %></th>
      <th><%= ProjectResult.human_attribute_name :throughput %></th>
      <th><%= t('project_results.index.hours_per_demand') %></th>
      <th><%= ProjectResult.human_attribute_name :qty_bugs_opened %></th>
      <th><%= ProjectResult.human_attribute_name :qty_bugs_closed %></th>
      <th><%= ProjectResult.human_attribute_name :qty_hours_bug %></th>
      <th><%= ProjectResult.human_attribute_name :leadtime %></th>
      <th><%= ProjectResult.human_attribute_name :demands_count %></th>
      <th colspan="2"><%= t('general.table.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% project_results.each do |result| %>
      <tr>
        <td><%= link_to result.team_name, company_team_path(@company, result.team) %></td>
        <td><%= link_to l(result.result_date), company_project_project_result_path(@company, @project, result) %></td>
        <td><%= result.result_date.cweek %></td>
        <td><%= result.result_date.cwyear %></td>
        <td><%= number_with_precision(result.known_scope, precision: 0) %></td>
        <td><%= number_with_precision(result.flow_pressure, precision: 3) %></td>
        <td><%= number_to_currency(result.cost_in_month) %></td>
        <td><%= number_to_currency(result.average_demand_cost) %></td>
        <td><%= number_with_precision(result.remaining_days, precision: 0) %></td>
        <td><%= l(result.monte_carlo_date) if result.monte_carlo_date.present? %></td>
        <td><%= number_with_precision(result.qty_hours_upstream, precision: 0) %></td>
        <td><%= number_with_precision(result.qty_hours_downstream, precision: 0) %></td>
        <td><%= number_with_precision(result.project_delivered_hours, precision: 0) %></td>
        <td><%= number_with_precision(result.throughput, precision: 0) %></td>
        <td><%= number_with_precision(result.hours_per_demand, precision: 3) %></td>
        <td><%= number_with_precision(result.qty_bugs_opened, precision: 0) %></td>
        <td><%= number_with_precision(result.qty_bugs_closed, precision: 0) %></td>
        <td><%= number_with_precision(result.qty_hours_bug, precision: 0) %></td>
        <td><%= number_with_precision(result.leadtime, precision: 4) %></td>
        <td><%= result.demands_count %></td>
        <td>
          <%= link_to edit_company_project_project_result_path(@company, project, result) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to company_project_project_result_path(@company, project, result), method: :delete do %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= number_with_precision(project.total_hours_upstream, precision: 0) %></td>
      <td><%= number_with_precision(project.total_hours_downstream, precision: 0) %></td>
      <td><%= number_with_precision(project.total_hours_consumed, precision: 0) %></td>
      <td><%= number_with_precision(project.total_throughput, precision: 0) %></td>
      <td><%= number_with_precision(project.avg_hours_per_demand, precision: 3) %></td>
      <td><%= number_with_precision(project.total_bugs_opened, precision: 0) %></td>
      <td><%= number_with_precision(project.total_bugs_closed, precision: 0) %></td>
      <td><%= number_with_precision(project.total_hours_bug, precision: 0) %></td>
      <td><%= number_with_precision(project.avg_leadtime, precision: 4) %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
