<div class="row">
  <div class="col-xs-4">
    <%= link_to t('projects.actions.edit.title'), edit_company_project_path(@company, @project), class: 'btn btn-primary btn-block bottom-spaced-component' %>
  </div>
  <div class="col-xs-4">
    <%= link_to t('demands.show.sync_pipefy'), synchronize_jira_company_project_path(@company, @project), method: :put, class: 'btn btn-primary btn-block bottom-spaced-component' %>
  </div>
  <div class="col-xs-4">
    <%= link_to t('demands.new.title'), new_company_project_demand_path(@company, @project), class: 'btn btn-primary btn-block bottom-spaced-component' %>
  </div>
</div>

<%= render 'project_risk_settings', project_risk_configs: project_risk_configs %>

<%= render 'stages/stages_table', stages_list: @project.stages %>
