<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title" id="indexBlocks"><%= t('project.modal.statistics', target_name: project.full_name) %></h3>
    </div>
    <div class="modal-body">
      <h4><%= t('projects.index.leadtime.title') %></h4>
      <div class="row">
        <div class="col-xs-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= Demand.human_attribute_name :class_of_service %></th>
                <th>60%</th>
                <th>80%</th>
                <th>95%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= t('activerecord.attributes.demand.enums.class_of_service.standard') %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:standard, 60) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:standard, 80) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:standard, 95) / 86_400.0, precision: 2) %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.demand.enums.class_of_service.expedite') %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:expedite, 60) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:expedite, 80) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:expedite, 95) / 86_400.0, precision: 2) %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.demand.enums.class_of_service.fixed_date') %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:fixed_date, 60) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:fixed_date, 80) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:fixed_date, 95) / 86_400.0, precision: 2) %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.demand.enums.class_of_service.intangible') %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:intangible, 60) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:intangible, 80) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:intangible, 95) / 86_400.0, precision: 2) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-6">
          <div id="class-of-services-donut"
               class="flow-chart"
               data-title='<%= t('projects.charts.class_of_service_pie.title') %>'
               data-seriesname='<%= "Class of Service" %>'
               data-series='<%= [{ name: 'expedite', y: project.percentage_expedite },
                                 { name: 'standard', y: project.percentage_standard },
                                 { name: 'fixed_date', y: project.percentage_fixed_date},
                                 { name: 'intangible', y: project.percentage_intangible}].to_json %>'
               data-chart_height=300
               data-decimals='0'>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">

          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= Demand.human_attribute_name :demand_type %></th>
                <th>60%</th>
                <th>80%</th>
                <th>95%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= t('activerecord.attributes.demand.enums.demand_type.feature') %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:feature, 60) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:feature, 80) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:feature, 95) / 86_400.0, precision: 2) %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.demand.enums.demand_type.bug') %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:bug, 60) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:bug, 80) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:bug, 95) / 86_400.0, precision: 2) %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.demand.enums.demand_type.performance_improvement') %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:performance_improvement, 60) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:performance_improvement, 80) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:performance_improvement, 95) / 86_400.0, precision: 2) %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.demand.enums.demand_type.ui') %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:ui, 60) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:ui, 80) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:ui, 95) / 86_400.0, precision: 2) %></td>
              </tr>
              <tr>
                <td><%= t('activerecord.attributes.demand.enums.demand_type.wireframe') %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:wireframe, 60) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:wireframe, 80) / 86_400.0, precision: 2) %></td>
                <td><%= number_with_precision(project.leadtime_for_class_of_service(:wireframe, 95) / 86_400.0, precision: 2) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-6">
          <div id="demand-type-donut"
               class="flow-chart"
               data-title='<%= t('projects.charts.class_of_service_pie.title') %>'
               data-seriesname='<%= "Demand Type" %>'
               data-series='<%= [{ name: 'feature', y: project.percentage_of_demand_type(:feature) },
                                 { name: 'bug', y: project.percentage_of_demand_type(:bug) },
                                 { name: 'chore', y: project.percentage_of_demand_type(:chore)},
                                 { name: 'ui', y: project.percentage_of_demand_type(:ui)},
                                 { name: 'wireframe', y: project.percentage_of_demand_type(:wireframe)},
                                 { name: 'performance_improvement', y: project.percentage_of_demand_type(:performance_improvement)}].to_json %>'
               data-chart_height=300
               data-decimals='0'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
