<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to Project.model_name.human.pluralize, company_projects_path(@company) %></li>
      <li><%= link_to @project.name, company_project_path(@company, @project) %></li>
      <li><%= I18n.t('project.edit.title') %></li>
    </ul>
  </div>
</div>

<%= form_for @project, url: company_project_path(@company, @project), method: :put, class: 'form' do |f| %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-12">
      <%= render 'projects/form', f: f, company: @company, project: @project, products: @products, company_customers: @company_customers %>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'projects/form' %>
<% end %>