<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to Project.model_name.human(count: 2), company_projects_path(@company) %></li>
      <li><%= link_to @project.name, company_project_path(@company, @project) %></li>
      <li><%= I18n.t('project.edit.title') %></li>
    </ul>
  </div>
</div>

<%= form_for @project, url: company_project_path(@company, @project), method: :put, class: 'standard-form' do |f| %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-12">
      <%= render 'projects/form', f: f, company: @company, project: @project, products: @products, company_customers: @company_customers %>
    </div>
  </div>
<% end %>

<div class="row">
  <div id="project-customers-associations" class="col-xs-6">
    <%= render 'projects/project_customers_tab', company: @company, project: @project, not_associated_customers: @not_associated_customers, project_customers: @project_customers %>
  </div>
  <div id="project-products-associations" class="col-xs-6">
    <%= render 'projects/project_products_tab', company: @company, project: @project, not_associated_products: @not_associated_products, project_products: @project_products %>
  </div>
</div>


<% content_for :javascript do %>
  <%= javascript_include_tag 'projects/form' %>
<% end %>