<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= t('projects.index.title') %></li>
    </ul>
  </div>
</div>

<h2><%= t('projects.index.title') %></h2>

<div id="projects-table">
  <%= render 'projects/projects_table', projects_list: @projects, team_id: @team&.id, customer_id: @customer&.id, product_id: @product&.id %>
</div>
