<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= I18n.t('projects.index.title') %></li>
    </ul>
  </div>
</div>

<h2><%= I18n.t('projects.index.title') %></h2>

<div id="projects-table">
  <%= render 'projects/projects_table', company: @company, start_date: @start_date, end_date: @end_date, projects_list: @projects, projects_summary: @projects_summary, projects_ids: @projects.map(&:id).flatten.join(',') %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/donut' %>
  <%= javascript_include_tag 'projects/demand_classification_charts' %>

  <%= javascript_include_tag 'demand_blocks/list_modal' %>

  <%= javascript_include_tag 'projects/index' %>
<% end %>