<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= t('projects.index.title') %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= link_to t('project.new.title'), new_company_project_path(@company), class: 'btn btn-sm btn-primary bottom-spaced-component' %>
    </div>
  </div>

  <h2><%= t('projects.index.title') %></h2>

  <div class="row">
    <div class="col-xs-12">
      <%= link_to t('projects.index.all_filter'), search_for_projects_company_projects_path(company_id: @company, status_filter: :all), remote: true, class: 'btn btn-sm btn-info' %>
      <%= link_to t('projects.index.waiting_filter'), search_for_projects_company_projects_path(company_id: @company, status_filter: :waiting), remote: true, class: 'btn btn-sm btn-info' %>
      <%= link_to t('projects.index.executing_filter'), search_for_projects_company_projects_path(company_id: @company, status_filter: :executing), remote: true, class: 'btn btn-sm btn-info' %>
      <%= link_to t('projects.index.maintenance_filter'), search_for_projects_company_projects_path(company_id: @company, status_filter: :maintenance), remote: true, class: 'btn btn-sm btn-info' %>
      <%= link_to t('projects.index.finished_filter'), search_for_projects_company_projects_path(company_id: @company, status_filter: :finished), remote: true, class: 'btn btn-sm btn-info' %>
      <%= link_to t('projects.index.cancelled_filter'), search_for_projects_company_projects_path(company_id: @company, status_filter: :cancelled), remote: true, class: 'btn btn-sm btn-info' %>
    </div>
  </div>

  <div id="projects-table">
    <%= render 'projects/projects_table', projects_list: @projects %>
  </div>
</div>
