<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= I18n.t('projects.index.title') %></li>
    </ul>
  </div>
</div>

<%= hidden_field_tag :company_id, @company.id %>
<%= hidden_field_tag :target_name, @company.name %>
<%= hidden_field_tag :projects_ids, @unpaged_projects.map(&:id).join(',') %>

<div id="projects-table">
  <%= render 'projects/projects_table', company: @company, target_name: '', projects_list: @projects, projects_summary: @projects_summary, projects_ids: @projects.map(&:id).flatten.join(',') %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/donut' %>

  <%= javascript_include_tag 'components/components' %>

  <%= javascript_include_tag 'demand_blocks/list_modal' %>

  <%= javascript_include_tag 'routes/project_routes' %>

  <%= javascript_include_tag 'projects/demand_classification_charts' %>
  <%= javascript_include_tag 'projects/projects_search' %>

  <%= javascript_include_tag 'projects/index' %>
<% end %>