<div class="container-fluid">


  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation, company_path(@company) %></li>
        <li><%= t('projects.index.title') %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= link_to t('project.new.title'), new_company_project_path(@company), class: 'btn btn-sm btn-primary botton-spaced-component' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= link_to t('projects.index.all_filter'), company_projects_path(@company), class: 'btn btn-sm btn-info' %>
      <%= link_to t('projects.index.waiting_filter'), company_projects_path(company_id: @company.id, status_filter: :waiting), class: 'btn btn-sm btn-info' %>
      <%= link_to t('projects.index.executing_filter'), company_projects_path(company_id: @company.id, status_filter: :executing), class: 'btn btn-sm btn-info' %>
      <%= link_to t('projects.index.finished_filter'), company_projects_path(company_id: @company.id, status_filter: :finished), class: 'btn btn-sm btn-info' %>
      <%= link_to t('projects.index.cancelled_filter'), company_projects_path(company_id: @company.id, status_filter: :cancelled), class: 'btn btn-sm btn-info' %>
    </div>
  </div>

  <%= render 'projects/projects_table', projects_list: @projects %>
</div>
