<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to Project.model_name.human.pluralize, company_projects_path(@company) %></li>
      <li><%= @project.full_name %></li>
    </ul>
  </div>
</div>

<%= hidden_field_tag :company_id, @company.id %>
<%= hidden_field_tag :project_id, @project.id %>
<%= hidden_field_tag :projects_ids, @project.id %>
<%= hidden_field_tag :target_name, @project.full_name %>
<%= hidden_field_tag :demands_ids, @demands_ids.join(',') %>

<div class="row">
  <div class="topnav">
    <%= link_to t('navbar.details'), '#', id: 'nav-item-stamps', class: 'nav-item active', data: { container: '#stamps' } %>
    <%= link_to t('navbar.demands'), '#', id: 'nav-item-delivered', class: 'nav-item', data: { container: '#demands-list' } %>
    <%= link_to t('projects.show.deadline.title'), '#', id: 'nav-item-deadline', class: 'nav-item', data: { container: '#deadline-change' } %>
    <%= link_to t('navbar.charts'), '#', id: 'nav-item-charts', class: 'nav-item', data: { container: '#operational-charts' } %>
    <%= link_to t('navbar.status_report'), '#', id: 'nav-item-statusreport', class: 'nav-item', data: { container: '#project-status-report' } %>
    <%= link_to t('navbar.risk_alerts'), '#', id: 'nav-item-risk', class: 'nav-item', data: { container: '#project-risk-alerts-table' } %>
    <%= link_to t('navbar.settings'), '#', id: 'nav-item-settings', class: 'nav-item', data: { container: '#project-settings' } %>
  </div>
</div>

<%= render 'commons/loader_spinner' %>

<div id="stamps" class="tab-container">
  <%= render 'project_stamps', project: @project %>
</div>

<div id="demands-list" class="tab-container">
  <%= render 'demands/demands_tab', grouped_delivered_demands: @grouped_delivered_demands, grouped_customer_demands: @grouped_customer_demands, demands: @demands, demands_count_per_week: @demands_count_per_week %>
</div>

<div id="deadline-change" class="tab-container">
  <%= render 'projects/deadlines', project_change_deadline_histories: @project_change_deadline_histories %>
</div>

<div id="project-risk-alerts-table" class="tab-container">
  <%= render 'project_risk_alerts/project_risk_alerts_table' %>
</div>

<div id="operational-charts" class="tab-container">
  <%= render 'charts/operational_charts_tab', target_name: @project.full_name, report_data: @report_data %>
</div>

<div id="project-status-report" class="tab-container">
  <%= render 'charts/status_report_tab', target_name: @project.full_name, status_report_data: @status_report_data, montecarlo_durations: @montecarlo_durations %>
</div>

<div id="project-settings" class="tab-container">
  <%= render 'projects/settings', project_risk_configs: @project.project_risk_configs %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/burnup' %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/bar' %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/scatter' %>
  <%= javascript_include_tag 'components/components' %>

  <%= javascript_include_tag 'top_navigation/tab-navigation' %>

  <%= javascript_include_tag 'routes/chart_routes' %>
  <%= javascript_include_tag 'routes/demand_routes' %>

  <%= javascript_include_tag 'projects/project_navigation_behaviour' %>
  <%= javascript_include_tag 'projects/charts' %>
  <%= javascript_include_tag 'projects/status_report_current' %>
  <%= javascript_include_tag 'projects/status_report_projection' %>
  <%= javascript_include_tag 'projects/show' %>

  <%= javascript_include_tag 'demands/filter_binding' %>
<% end %>
