<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.name, company_path(@company) %></li>
        <li><%= link_to Project.model_name.human.pluralize, company_projects_path(@company) %></li>
        <li><%= @project.name %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 stamp">
      <div class="stamp-title"><%= Customer.model_name %></div>
      <div class="stamp-content"><%= @project.customer_name %></div>
    </div>
    <div class="col-xs-2 stamp">
      <div class="stamp-title"><%= t('projects.show.initial_scope') %></div>
      <div class="stamp-content"><%= @project.initial_scope %></div>
    </div>
  </div>

  <%= render 'projects/projects_results_table', project_results_list: @project_results  %>
</div>
