<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to Project.model_name.human(count: 2), company_projects_path(@company) %></li>
      <li><%= @project.name %></li>
    </ul>
  </div>
</div>

<% if @project.consolidations_last_update.present? %>
  <h5><i><%= I18n.t('general.last_update.text', last_update: I18n.l(@project.consolidations_last_update, format: :short)) %></i></h5>
<% end %>

<% if @all_project_consolidations.present? %>

  <div class="row">
    <% if @project.executing? %>
      <div class="col-xs-6">
        <% project_risk_alert_color = 'no-alert' %>
        <% if @project.current_risk_to_deadline > 0.5 && @project.current_risk_to_deadline <= 0.7 %>
          <% project_risk_alert_color = 'yellow-alert' %>

        <% elsif @project.current_risk_to_deadline > 0.7  %>
          <% project_risk_alert_color = 'red-alert' %>
        <% end %>

        <div class="project-deadline-info center <%= project_risk_alert_color %>">
          <%= I18n.t('projects.show.deadline_countdown.first_part') %><span class="countdown"><%= I18n.t('projects.show.deadline_countdown.days', remaining_days: @project.remaining_days.to_i ) %></span><%= I18n.t('projects.show.deadline_countdown.second_part') %>
          <%= I18n.t('projects.show.deadline_countdown.risk') %><span class="countdown"><%=  number_to_percentage(@project.current_risk_to_deadline * 100, precision: 2) %></span>
          <a href="https://vimeo.com/456336459" target="_blank"><i class="fas fa-info-circle"></i></a>
        </div>
      </div>

      <div class="col-xs-6">
        <% team_based_risk = @all_project_consolidations.last.team_based_operational_risk %>
        <% team_risk_alert_color = 'no-alert' %>

        <% if team_based_risk > 0.5 && team_based_risk <= 0.7 %>
          <% team_risk_alert_color = 'yellow-alert' %>
        <% elsif team_based_risk > 0.7  %>
          <% team_risk_alert_color = 'red-alert' %>
        <% end %>

        <div class="project-deadline-info center <%= team_risk_alert_color %>">
          <%= sanitize "Com a estratégia de WiP e pelos dados do time, o risco atual é de <span class='countdown'>#{number_to_percentage(team_based_risk * 100, precision: 2)}</span>" %>
          <a href="https://vimeo.com/456336459" target="_blank"><i class="fas fa-info-circle"></i></a>
        </div>
      </div>
    <% else %>
      <div class="col-xs-12"><%= (I18n.t('projects.show.status_information_html', status_description: I18n.t("activerecord.attributes.project.enums.status.#{@project.status}")))&.html_safe %></div>
    <% end %>
  </div>
<% end %>

<div class="col-xs-2 pull-right">
  <div class="dropdown topnav-right">

    <i class="fas fa-cogs dropdown-toggle main-config-cogs" data-toggle='dropdown'></i>

    <ul class="dropdown-menu dropdown-menu-right">
      <li><%= link_to I18n.t('projects.show.update_consolidations'), update_consolidations_company_project_path(@company, @project), method: :patch, class: 'nav-link dropdown-item' %></li>
      <li><%= link_to I18n.t('demands.new.title'), new_company_project_demand_path(@company, @project), class: 'nav-link dropdown-item' %></li>
      <li><%= link_to I18n.t('projects.actions.edit.title'), edit_company_project_path(@company, @project), class: 'nav-link dropdown-item' %></li>
      <li class="divider"></li>
      <li><%= link_to I18n.t('jira_project_configs.index.title', count: @project.jira_project_configs.count), company_project_jira_project_configs_path(@company, @project), class: 'nav-link dropdown-item' %></li>
      <li><%= link_to I18n.t('stage_project_configs.index.title', count: @project.stages.count), company_project_stage_project_configs_path(@company, @project), class: 'nav-link dropdown-item' %></li>
      <li><%= link_to I18n.t('project_risk_configs.index.title', count: @project.project_risk_configs.count), company_project_project_risk_configs_path(@company, @project), class: 'nav-link dropdown-item' %></li>
    </ul>
  </div>
</div>

<br>

<div id="dashboard-controls">
  <div class="row">
    <div class="col-xs-12 center">
      <div class="tab">
        <%= link_to Demand.model_name.human(count: 2), company_project_path(@company, @project), class: 'btn btn-default active', id: 'demands_charts_tab' %>
        <% if @company.use_tasks? %>
          <%= link_to Task.model_name.human(count: 2), tasks_tab_company_project_path(@company, @project), class: 'btn btn-default', id: 'tasks_charts_tab', remote: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br>

<div id="project-demands-dashboard">
  <%= render 'projects/dashboards/project_demands_dashboard' %>
</div>

<div id="project-tasks-dashboard">
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/burnup' %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/bar' %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/scatter' %>
  <%= javascript_include_tag 'charts/stacked_area' %>
  <%= javascript_include_tag 'charts/column-line' %>
  <%= javascript_include_tag 'charts/donut' %>

  <%= javascript_include_tag 'stats_charts/statistics_charts' %>

  <%= javascript_include_tag 'components/components' %>

  <%= javascript_include_tag 'top_navigation/tab-navigation' %>

  <%= javascript_include_tag 'routes/chart_routes' %>
  <%= javascript_include_tag 'routes/demand_routes' %>

  <%= javascript_include_tag 'demand_blocks/form_modal' %>

  <%= javascript_include_tag 'projects/charts' %>
  <%= javascript_include_tag 'projects/closing_dashboard' %>
  <%= javascript_include_tag 'projects/status_report' %>
  <%= javascript_include_tag 'projects/status_report_current' %>
  <%= javascript_include_tag 'projects/status_report_projection' %>
  <%= javascript_include_tag 'projects/show' %>

  <%= javascript_include_tag 'demands/filter_binding' %>
  <%= javascript_include_tag 'demands/demands_charts' %>
  <%= javascript_include_tag 'demands/demands_list' %>
  <%= javascript_include_tag 'demands/form_modal' %>
<% end %>
