<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= link_to Project.model_name.human.pluralize, company_projects_path(@company) %></li>
        <li><%= @project.name %></li>
      </ul>
    </div>
  </div>

  <%= render 'project_stamps', project: @project %>

  <%= render 'projects/projects_results_table', project_results_list: @project_results_summary.project_results  %>
</div>
