<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= link_to Project.model_name.human.pluralize, company_projects_path(@company) %></li>
        <li><%= @project.name %></li>
      </ul>
    </div>
  </div>

  <%= render 'project_stamps', project: @project %>

  <%= render 'projects/projects_results_table', project: @project  %>

  <div class="row">
    <div class="col-xs-6">
      <div id="burnup"
           class="flow-chart"
           data-title='<%= t('projects.charts.burnup.title', project_name: @project.name) %>'
           data-weeks='<%= @burnup_data.weeks %>'
           data-xtitle='<%= t('projects.charts.xlabel') %>'
           data-ytitle='<%= t('projects.charts.burnup.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.burnup.tooltipsufix') %>'
           data-ideal='<%= @burnup_data.ideal %>'
           data-current='<%= @burnup_data.current %>'
           data-scope='<%= @burnup_data.scope %>'>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="line"
           class="flow-chart"
           data-title='<%= t('projects.charts.hours_per_demand.title', project_name: @project.name) %>'
           data-weeks='<%= @weeks %>'
           data-xtitle='<%= t('projects.charts.xlabel') %>'
           data-ytitle='<%= t('projects.charts.hours_per_demand.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.hours_per_demand.tooltipsufix') %>'
           data-series='<%= @hours_per_demand_data.to_json %>'>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/burnup' %>
  <%= javascript_include_tag 'charts/line' %>
<% end %>
