<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= link_to Project.model_name.human.pluralize, company_projects_path(@company) %></li>
        <li><%= @project.full_name %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="topnav">
      <%= link_to t('navbar.details'), '#', id: 'nav-item-stamps', class: 'active' %>
      <%= link_to t('navbar.project_results'), '#', id: 'nav-item-results' %>
      <%= link_to t('navbar.delivered_demands'), '#', id: 'nav-item-delivered' %>
      <%= link_to t('navbar.charts'), '#', id: 'nav-item-charts' %>
      <%= link_to t('navbar.risk_alerts'), '#', id: 'nav-item-risk' %>
      <%= link_to t('navbar.settings'), '#', id: 'nav-item-settings' %>
    </div>
  </div>

  <div id="project-stamps">
    <%= render 'project_stamps', project: @project %>
  </div>

  <div id="project-results">
    <%= render 'projects/projects_results_table', project: @project, project_results: @ordered_project_results  %>
  </div>

  <div id="delivered-demands">
    <%= render 'demands/demands_table', demands_list: @project_delivered_demands %>
  </div>

  <div id="project-risk-alerts-table">
    <%= render 'project_risk_alerts/project_risk_alerts_table' %>
  </div>

  <div id="project-charts">
    <%= render 'charts/project_charts',
               target_name: @project.full_name,
               report_data: @report_data,
               hours_per_demand_data: [{ name: I18n.t('projects.charts.hours_per_demand.ylabel'), data: @report_data.hours_per_demand_per_week }],
               flow_pressure_data: [{ name: I18n.t('projects.charts.flow_pressure_per_project.ylabel'), data: @report_data.flow_pressure_data }],
               throughput_data: [{ name: I18n.t('projects.charts.throughput_per_week.ylabel'), data: @report_data.throughput_per_week }],
               cmd_data: [{ name: I18n.t('projects.charts.cmd.ylabel'), data: @report_data.average_demand_cost }],
               xlabel: t('projects.charts.xlabel.weeks'),
               categories: @report_data.weeks %>
  </div>

  <div id="project-settings">
    <%= render 'projects/settings', project_risk_configs: @project.project_risk_configs %>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'projects/show' %>
  <%= javascript_include_tag 'charts/burnup' %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'projects/column_hours_demand_chart' %>
  <%= javascript_include_tag 'projects/column_flow_pressure_chart' %>
  <%= javascript_include_tag 'projects/column_throughput_per_week_chart' %>
  <%= javascript_include_tag 'projects/column_cmd' %>
<% end %>
