<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to Project.model_name.human(count: 2), company_projects_path(@company) %></li>
      <li><%= @project.name %></li>
    </ul>
  </div>
</div>

<% if @project.consolidations_last_update.present? %>
  <h5><i><%= I18n.t('general.last_update.text', last_update: I18n.l(@project.consolidations_last_update, format: :short)) %></i></h5>
<% end %>

<div class="row">
  <% if @project.executing? %>
    <div class="col-xs-6">
      <% project_risk_alert_color = 'no-alert' %>
      <% if @project.current_risk_to_deadline > 0.5 && @project.current_risk_to_deadline <= 0.7 %>
        <% project_risk_alert_color = 'yellow-alert' %>

      <% elsif @project.current_risk_to_deadline > 0.7  %>
        <% project_risk_alert_color = 'red-alert' %>
      <% end %>

      <div class="project-deadline-info center <%= project_risk_alert_color %>">
        <%= I18n.t('projects.show.deadline_countdown.first_part') %><span class="countdown"><%= I18n.t('projects.show.deadline_countdown.days', remaining_days: @project.remaining_days.to_i ) %></span><%= I18n.t('projects.show.deadline_countdown.second_part') %>
        <%= I18n.t('projects.show.deadline_countdown.risk') %><span class="countdown"><%=  number_to_percentage(@project.current_risk_to_deadline * 100, precision: 2) %></span>
        <a href="https://vimeo.com/456336459" target="_blank"><i class="fas fa-info-circle"></i></a>
      </div>
    </div>

    <div class="col-xs-6">
      <% team_based_risk = @all_project_consolidations.last.team_based_operational_risk %>
      <% team_risk_alert_color = 'no-alert' %>

      <% if team_based_risk > 0.5 && team_based_risk <= 0.7 %>
        <% team_risk_alert_color = 'yellow-alert' %>
      <% elsif team_based_risk > 0.7  %>
        <% team_risk_alert_color = 'red-alert' %>
      <% end %>

      <div class="project-deadline-info center <%= team_risk_alert_color %>">
        <%= sanitize "Com a estratégia de WiP e pelos dados do time, o risco atual é de <span class='countdown'>#{number_to_percentage(team_based_risk * 100, precision: 2)}</span>" %>
        <a href="https://vimeo.com/456336459" target="_blank"><i class="fas fa-info-circle"></i></a>
      </div>
    </div>
  <% else %>
    <div class="col-xs-12"><%= (I18n.t('projects.show.status_information_html', status_description: I18n.t("activerecord.attributes.project.enums.status.#{@project.status}")))&.html_safe %></div>
  <% end %>
</div>

<div class="col-xs-2 pull-right">
  <div class="dropdown topnav-right">

    <i class="fas fa-cogs dropdown-toggle main-config-cogs" data-toggle='dropdown'></i>

    <ul class="dropdown-menu dropdown-menu-right">
      <li><%= link_to I18n.t('projects.show.update_consolidations'), update_consolidations_company_project_path(@company, @project), method: :patch, class: 'nav-link dropdown-item' %></li>
      <li><%= link_to I18n.t('demands.new.title'), new_company_project_demand_path(@company, @project), class: 'nav-link dropdown-item' %></li>
      <li><%= link_to I18n.t('projects.actions.edit.title'), edit_company_project_path(@company, @project), class: 'nav-link dropdown-item' %></li>
      <li class="divider"></li>
      <li><%= link_to I18n.t('jira_project_configs.index.title', count: @project.jira_project_configs.count), company_project_jira_project_configs_path(@company, @project), class: 'nav-link dropdown-item' %></li>
      <li><%= link_to I18n.t('stage_project_configs.index.title', count: @project.stages.count), company_project_stage_project_configs_path(@company, @project), class: 'nav-link dropdown-item' %></li>
      <li><%= link_to I18n.t('project_risk_configs.index.title', count: @project.project_risk_configs.count), company_project_project_risk_configs_path(@company, @project), class: 'nav-link dropdown-item' %></li>
    </ul>
  </div>
</div>

<br>

<div id="dashboard-controls">
  <div class="row">
    <div class="col-xs-12 center">
      <div class="tab">
        <%= link_to I18n.t('navbar.charts'), company_project_path(@company, @project), class: 'btn btn-default active' %>
        <%= link_to I18n.t('navbar.statistics'), statistics_tab_company_project_path(@company, @project), class: 'btn btn-default' %>
        <%= link_to I18n.t('general.risk.detail'), risk_drill_down_company_project_path(@company, @project), class: 'btn btn-default', remote: true %>
        <%= link_to I18n.t('projects.show.status_report.title'), status_report_dashboard_company_project_path(@company, @project), class: 'btn btn-default', remote: true %>
        <%= link_to I18n.t('projects.show.lead_time.title'), lead_time_dashboard_company_project_path(@company, @project), class: 'btn btn-default', remote: true %>
        <% unless @project.executing? %>
          <%= link_to I18n.t('projects.show.lead_time.title'), closing_dashboard_company_project_path(@company, @project), class: 'btn btn-default', remote: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-4">
    <%= render 'common/dashboards/general_info',
               company: @company,
               dashboard_name: @project.name,
               initial_scope: @project.initial_scope,
               demands: @project.demands.kept,
               demands_delivered: @project.demands.kept.finished,
               remaining_backlog: @project.demands.kept - @project.demands.kept.finished,
               unscored_demands: @unscored_demands,
               demands_blocks: @demands_blocks,
               flow_pressure: @project.flow_pressure,
               average_speed: @average_speed,
               average_queue_time: @project.average_queue_time / 1.hour,
               average_touch_time: @project.average_touch_time / 1.hour,
               demands_lead_time_p95: Stats::StatisticsService.instance.percentile(95, @project.demands.kept.finished_with_leadtime.map(&:leadtime_in_days)),
               demands_lead_time_p80: Stats::StatisticsService.instance.percentile(80, @project.demands.kept.finished_with_leadtime.map(&:leadtime_in_days)),
               demands_lead_time_p65: Stats::StatisticsService.instance.percentile(65, @project.demands.kept.finished_with_leadtime.map(&:leadtime_in_days)) %>
  </div>

  <div class="col-xs-8">
    <%= render 'demands/project_dashboard_demands_table', company: @company, demands: @last_10_deliveries %>
  </div>
</div>

<% if @all_project_consolidations.present? %>
  <%= render 'projects/dashboards/project_dashboard_charts',
             company: @company,
             project: @project,
             demands_finished_with_leadtime: @project.demands.finished_with_leadtime,
             all_project_consolidations: @all_project_consolidations,
             dashboard_project_consolidations: @dashboard_project_consolidations,
             last_10_deliveries: @last_10_deliveries,
             demands_chart_adapter: @demands_chart_adapter,
             lead_time_histogram_data: @lead_time_histogram_data,
             status_report_data: @status_report_data %>
<% else %>
  <%= render 'layouts/no_data', missing_data: I18n.t('general.data') %>
<% end %>

<div class="modal fade" id="project-risk-drill-down" tabindex="-1" role="dialog" aria-labelledby="project-risk-drill-down" aria-hidden="true"></div>
<div class="modal fade" id="closing-info-div" tabindex="-1" role="dialog" aria-labelledby="closing-info" aria-hidden="true"></div>
<div class="modal fade" id="status-report-div" tabindex="-1" role="dialog" aria-labelledby="status-report" aria-hidden="true"></div>
<div class="modal fade" id="project-lead-time-div" tabindex="-1" role="dialog" aria-labelledby="project-lead-time" aria-hidden="true"></div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/burnup' %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/bar' %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/scatter' %>
  <%= javascript_include_tag 'charts/stacked_area' %>
  <%= javascript_include_tag 'charts/column-line' %>

  <%= javascript_include_tag 'stats_charts/statistics_charts' %>

  <%= javascript_include_tag 'components/components' %>

  <%= javascript_include_tag 'top_navigation/tab-navigation' %>

  <%= javascript_include_tag 'routes/chart_routes' %>
  <%= javascript_include_tag 'routes/demand_routes' %>
  <%= javascript_include_tag 'routes/flow_impact_routes' %>

  <%= javascript_include_tag 'demand_blocks/form_modal' %>

  <%= javascript_include_tag 'projects/charts' %>
  <%= javascript_include_tag 'projects/closing_dashboard' %>
  <%= javascript_include_tag 'projects/status_report' %>
  <%= javascript_include_tag 'projects/status_report_current' %>
  <%= javascript_include_tag 'projects/status_report_projection' %>
  <%= javascript_include_tag 'projects/show' %>

  <%= javascript_include_tag 'demands/filter_binding' %>
  <%= javascript_include_tag 'demands/demands_charts' %>
  <%= javascript_include_tag 'demands/demands_list' %>
  <%= javascript_include_tag 'demands/form_modal' %>
<% end %>
