<div class="row">
  <div class="col-xs-6">
    <%= link_to t('companies.edit.title'), edit_company_path(company), class: 'btn btn-primary btn-block bottom-spaced-component' %>
  </div>
  <div class="col-xs-6">
    <%= link_to t('companies.send_company_bulletin.button'), send_company_bulletin_company_path(company), class: 'btn btn-primary btn-block' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="tab">
      <button class="tablinks company-config-tab" onclick="openTab(event, 'company-settings', 'tablinks')"><%= t('navbar.settings') %></button>
      <button class="tablinks" onclick="openTab(event, 'company-stages', 'tablinks')"><%= t('navbar.stages') %></button>
      <button class="tablinks" onclick="openTab(event, 'company-jira', 'tablinks')"><%= t('navbar.jira') %></button>
    </div>
  </div>
</div>

<div id="company-settings" class="tabcontent">
  <%= form_for company_settings, url: update_settings_company_path(company), class: 'form', method: :post, remote: true do |f| %>
    <div class="row">
      <div class='col-xs-6 form-group <%= 'has-error' if company_settings.errors[:max_active_parallel_projects].present? %>'>
        <%= f.label :max_active_parallel_projects, class: 'control-label required' %>
        <%= f.text_field :max_active_parallel_projects, class: 'form-control', value: company_settings.max_active_parallel_projects, autofocus: true %>
        <span class="help-block"><%= company_settings.errors[:max_active_parallel_projects].join(', ') %></span>
      </div>
      <div class='col-xs-6 form-group <%= 'has-error' if company_settings.errors[:max_flow_pressure].present? %>'>
        <%= f.label :max_flow_pressure, class: 'control-label required' %>
        <%= f.number_field :max_flow_pressure, value: company_settings.max_flow_pressure, class: 'form-control', step: 0.01 %>
        <span class="help-block"><%= company_settings.errors[:max_flow_pressure].join(', ') %></span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.submit t('general.buttons.save'), class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>

<div id="company-stages" class="tabcontent">
  <%= render 'stages/stages_table', company: company, stages_list: stages_list %>
</div>

<div id="company-jira" class="tabcontent">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to t('jira_accounts.new.title'), new_company_jira_account_path(company), class: 'btn btn-success bottom-spaced-component pull-right' %>
    </div>
  </div>

  <div id="jira-accounts-table">
    <%= render 'jira/jira_accounts/jira_accounts_table', jira_accounts_list: jira_accounts_list %>
  </div>
</div>
