<div class="row">
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= t('general.current_week') %></div>
    <div class="stamp-content"><%= Time.zone.today.cweek %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= t('general.current_year') %></div>
    <div class="stamp-content"><%= Time.zone.today.cwyear %></div>
  </div>

  <%= link_to company_customers_path(company) do %>
    <div class="col-xs-2 stamp">
      <div class="stamp-title"><%= t('companies.show.customers_count') %></div>
      <div class="stamp-content"><%= company.customers_count %></div>
    </div>
  <% end %>

  <%= link_to company_products_path(company) do %>
    <div class="col-xs-2 stamp">
      <div class="stamp-title"><%= t('companies.show.product_count') %></div>
      <div class="stamp-content"><%= company.products_count %></div>
    </div>
  <% end %>

  <%= link_to company_projects_path(company, customer_id: customer) do %>
    <div class="col-xs-2 stamp">
      <div class="stamp-title"><%= t('companies.show.project_count') %></div>
      <div class="stamp-content"><%= company.projects_count %></div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= t('general.last_week_scope') %></div>
    <div class="stamp-content"><%= company.last_week_scope %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= t('companies.show.current_month_throughput') %></div>
    <div class="stamp-content"><%= company.current_month_throughput %></div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= t('companies.show.current_cost_per_hour') %></div>
    <div class="stamp-content">
      <%= number_to_currency(company.current_cost_per_hour) %>
    </div>
  </div>
  <div class="col-xs-3 stamp">
    <div class="stamp-title"><%= t('companies.show.current_hours_per_demand') %></div>
    <div class="stamp-content"><%= number_with_precision(company.current_hours_per_demand, precision: 2) %></div>
  </div>
</div>

<div class="row">
  <%= link_to company_projects_path(company, customer_id: customer, status_filter: :waiting) do %>
    <div class="col-xs-6 stamp">
      <div class="stamp-title"><%= t('companies.show.waiting_project_count') %></div>
      <div class="stamp-content"><%= company.waiting_projects_count %></div>
    </div>
  <% end %>

  <%= link_to company_projects_path(company, customer_id: customer, status_filter: :executing) do %>
    <div class="col-xs-6 stamp">
      <div class="stamp-title"><%= t('companies.show.active_project_count') %></div>
      <div class="stamp-content"><%= company.active_projects_count %></div>
    </div>
  <% end %>
</div>

<div class="row bottom-spaced-component">
  <div class="col-xs-12">
    <h3>
      <ul>
        <li><%= FlowAnalyticData.new(company).best_month_to_start_a_project(Time.zone.today).html_safe %></li>
        <li><%= FlowAnalyticData.new(company).financial_debt_to_sold_projects(Time.zone.today).html_safe %></li>
      </ul>
    </h3>
  </div>
</div>
