<div class="list-table">
  <div class="row">
    <div class='col-xs-6 form-group <%= 'has-error' if @company.errors[:name].present? %>'>
      <%= f.label :name, class: 'control-label' %>
      <%= f.text_field :name, value: @company.name, autofocus: true, class: 'form-control' %>
      <span class="help-block"><%= @company.errors[:name].join(', ') %></span>
    </div>
    <div class='col-xs-6 form-group <%= 'has-error' if @company.errors[:abbreviation].present? %>'>
      <%= f.label :abbreviation, class: 'control-label' %>
      <%= f.text_field :abbreviation, value: @company.abbreviation, class: 'form-control' %>
      <span class="help-block"><%= @company.errors[:abbreviation].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
</div>
