<div class="col-xs-6">
  <div id="projects-count-column"
       class="flow-chart"
       data-title='<%= t('companies.charts.active_projects.title', project_name: @company.name) %>'
       data-xcategories='<%= @strategic_report_data.array_of_months %>'
       data-xtitle='<%= t('charts.xlabel.months') %>'
       data-ytitle='<%= t('charts.ylabel.projects.text') %>'
       data-ylinetitle='<%= t('charts.ylabel.total_hours.text') %>'
       data-columnname='<%= t('charts.ylabel.projects.text') %>'
       data-seriescolumndata='<%= @strategic_report_data.active_projects_count_data %>'
       data-linename='<%= t('charts.ylabel.total_hours.text') %>'
       data-serieslinedata='<%= @strategic_report_data.total_hours_in_month %>'
       data-decimals='0'>
  </div>
</div>

<div class="col-xs-6">
  <div id="hours-per-month-line"
       class="flow-chart"
       data-title='<%= t('companies.charts.hours_per_month.title', project_name: @company.name) %>'
       data-xcategories='<%= @strategic_report_data.array_of_months %>'
       data-xtitle='<%= t('charts.xlabel.months') %>'
       data-ytitle='<%= t('charts.ylabel.hours.text') %>'
       data-ylinetitle='<%= t('charts.ylabel.total_hours.text') %>'
       data-series='<%= [
                          { name: t('charts.series.consumed_hours.text'), data: @strategic_report_data.consumed_hours_per_month },
                          { name: t('charts.ylabel.total_hours.text'), data: @strategic_report_data.total_hours_in_month },
                          { name: t('charts.ylabel.available.text'), data: @strategic_report_data.available_hours_per_month }].to_json %>'
       data-decimals='0'>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div id="flowpressure-per-month-line"
         class="flow-chart"
         data-title='<%= t('companies.charts.flowpressure_per_month.title', project_name: @company.name) %>'
         data-xcategories='<%= @strategic_report_data.array_of_months %>'
         data-xtitle='<%= t('charts.xlabel.months') %>'
         data-ytitle='<%= t('charts.ylabel.hours.text') %>'
         data-ylinetitle='<%= t('charts.ylabel.flow_pressure.text') %>'
         data-series='<%= [ { name: t('charts.ylabel.flow_pressure.text'), data: @strategic_report_data.flow_pressure_per_month_data }].to_json %>'
         data-decimals='3'>
    </div>
  </div>
  <div class="col-xs-6">
    <div id="money-per-month-line"
         class="flow-chart"
         data-title='<%= t('companies.charts.money_per_month.title', project_name: @company.name) %>'
         data-xcategories='<%= @strategic_report_data.array_of_months %>'
         data-xtitle='<%= t('charts.xlabel.months') %>'
         data-ytitle='<%= t('charts.ylabel.hours.text') %>'
         data-ylinetitle='<%= t('charts.ylabel.money.text') %>'
         data-series='<%= [ { name: t('charts.ylabel.money.text'), data: @strategic_report_data.money_per_month_data }].to_json %>'
         data-decimals='2'>
    </div>
  </div>
</div>