<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation, company_path(@company) %></li>
      <li><%= I18n.t('companies.edit.title') %></li>
    </ul>
  </div>
</div>

<div class="row">
  <%= form_for @company, url: company_path(@company), method: :put, class: 'form' do |f| %>
    <div class="row bottom-spaced-component">
      <div class="col-xs-12">
        <%= render 'form', f: f, company: @company %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class='col-xs-12'>
    <h4><%= I18n.t('companies.add_user.title') %></h4>
  </div>

  <%= form_tag add_user_company_url(@company), method: :patch do %>
    <div class='col-xs-12 form-group'>
      <%= label_tag I18n.t('companies.add_user.email_field'), nil, class: 'control-label' %>
      <%= text_field_tag :user_email, params[:user_email], class: 'form-control' %>
    </div>

    <div class="col-xs-12">
      <%= submit_tag I18n.t('general.buttons.save'), class: 'btn btn-success' %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class='col-xs-12'>
    <h4><%= I18n.t('companies.users_in_company') %></h4>
  </div>

  <div class='col-xs-12'>
    <table class="table">
      <thead>
        <th><%= User.human_attribute_name :first_name %></th>
        <th><%= User.human_attribute_name :last_name %></th>
        <th><%= User.human_attribute_name :email %></th>
        <th><%= UserCompanyRole.human_attribute_name :user_role %></th>
        <th><%= UserCompanyRole.human_attribute_name :slack_user %></th>
        <th></th>
      </thead>
      <tbody>
        <% @users_in_company.each do |user_company_role| %>
          <tr>
            <td><%= user_company_role.first_name %></td>
            <td><%= user_company_role.last_name %></td>
            <td><%= user_company_role.email %></td>
            <td><%= I18n.t("activerecord.attributes.user_company_role.enums.user_role.#{user_company_role.user_role}") %></td>
            <td><%= user_company_role.slack_user %></td>
            <% if current_user.managing_company?(@company) || current_user.admin? %>
              <td>
                <%= link_to edit_user_company_user_company_role_path(user_company_role.user, @company, user_company_role) do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              </td>

            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
