<div class="container-fluid">
  <h1><%= t('companies.index.title') %></h1>

  <%= link_to t('companies.new.title'), new_company_path, class: 'btn btn-sm btn-primary bottom-spaced-component' %>

  <% if @companies.empty? %>
    Você ainda não tem empresas.
  <% else %>
    <table class="table">
      <tr>
        <th><%= Company.human_attribute_name :name %></th>
        <th><%= t('general.table.actions') %></th>
      </tr>
      <% @companies.each do |company| %>
        <tr>
          <td><%= link_to company.name, company_path(company) %></td>
          <td>
            <%= link_to edit_company_path(company) do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
        </tr>
    <% end %>
    </table>
  <% end %>
</div>
