<div class="row">
  <div class="col-xs-10">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= Company.model_name.human(count: 2) %></li>
    </ul>
  </div>
</div>

<% if current_user.admin? %>
  <%= link_to I18n.t('companies.new.title'), new_company_path, class: 'btn btn-sm btn-success bottom-spaced-component pull-right' %>
<% end %>

<% if @companies.empty? %>
  Você ainda não tem empresas.
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th><%= Company.human_attribute_name :name %></th>
        <th><%= I18n.t('general.table.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= link_to company.name, company_path(company) %></td>
          <td>
            <%= link_to edit_company_path(company) do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
