<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @company.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 stamp">
      <div class="stamp-title"><%= t('companies.show.outsourcing_cost_per_week') %></div>
      <div class="stamp-content"><%= number_to_currency(@company.outsourcing_cost_per_week) %></div>
    </div>
    <div class="col-xs-2 stamp">
      <div class="stamp-title"><%= t('companies.show.management_cost_per_week') %></div>
      <div class="stamp-content"><%= number_to_currency(@company.management_cost_per_week) %></div>
    </div>
    <div class="col-xs-2 stamp">
      <div class="stamp-title"><%= t('companies.show.members_billable_count') %></div>
      <div class="stamp-content"><%= @company.members_billable_count %></div>
    </div>
    <div class="col-xs-2 stamp">
      <div class="stamp-title"><%= t('companies.show.management_count') %></div>
      <div class="stamp-content"><%= @company.management_count %></div>
    </div>
    <%= link_to company_projects_path(company_id: @company, customer_id: @customer, status_filter: :waiting) do %>
      <div class="col-xs-2 stamp">
        <div class="stamp-title"><%= t('companies.show.waiting_project_count') %></div>
        <div class="stamp-content"><%= @company.waiting_projects_count %></div>
      </div>
    <% end %>

    <%= link_to company_projects_path(company_id: @company, customer_id: @customer, status_filter: :executing) do %>
      <div class="col-xs-2 stamp">
        <div class="stamp-title"><%= t('companies.show.active_project_count') %></div>
        <div class="stamp-content"><%= @company.active_projects_count %></div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <% if @company.id != current_user.last_company_id %>
        <%= link_to t('users.change_last_company.title'), change_current_company_users_path(company_id: @company.id), method: :patch %>
      <% end %>
    </div>

  </div>

  <%= render 'financial_informations/financial_informations_table' %>
  <%= render 'team_members/team_members_table' %>
</div>
