<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @company.name %></h1>
    </div>
  </div>

  <%= render 'company_stamps' %>

  <div class="row">
    <div class="col-xs-3">
      <% if @company.id != current_user.last_company_id %>
        <%= link_to t('users.change_last_company.title'), change_current_company_users_path(company_id: @company.id), method: :patch %>
      <% end %>
    </div>
  </div>

  <%= render 'financial_informations/financial_informations_table' %>

  <h2><%= t('teams.index.title') %></h2>
  <%= link_to t('teams.new.title'), new_company_team_path(@company), class: 'btn btn-sm btn-primary botton-spaced-component' %>

  <table class="table">
    <tr>
      <th><%= Team.human_attribute_name :name %></th>
      <th><%= t('companies.show.members_billable_count') %></th>
      <th><%= t('companies.show.management_count') %></th>
      <th><%= t('teams.index.billable_cost') %></th>
      <th><%= t('teams.index.management_cost') %></th>
      <th><%= t('general.table.actions') %></th>
    </tr>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, company_team_path(@company, team) %></td>
        <td><%= team.outsourcing_members_billable_count %></td>
        <td><%= team.management_count %></td>
        <td><%= number_to_currency(team.outsourcing_cost) %></td>
        <td><%= number_to_currency(team.management_cost) %></td>
        <td>
          <%= link_to edit_company_team_path(@company, team) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
