<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @company.name %></h1>
    </div>
  </div>

  <%= render 'company_stamps' %>

  <div class="row">
    <div class="col-xs-3">
      <% if @company.id != current_user.last_company_id %>
        <%= link_to t('users.change_last_company.title'), change_current_company_users_path(company_id: @company.id), method: :patch %>
      <% end %>
    </div>
  </div>

  <%= render 'financial_informations/financial_informations_table' %>
  <%= render 'team_members/team_members_table' %>
</div>
