<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10">
      <h1><%= @company.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 botton-spaced-component">
      <%= link_to t('companies.edit.title'), edit_company_path(@company), class: 'btn btn-sm btn-primary' %>
    </div>
  </div>

  <%= render 'company_stamps' %>
  <%= render 'financial_informations/financial_informations_table' %>
  <%= render 'teams/teams_table' %>
</div>
