<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= @company.name %></li>
    </ul>
  </div>
</div>

<%= hidden_field_tag :company_id, @company.id %>
<%= hidden_field_tag :projects_ids, @unpaged_projects.map(&:id).join(',') %>
<%= hidden_field_tag :teams_ids, @company.teams.map(&:id).join(',') %>
<%= hidden_field_tag :target_name, @company.name %>

<%= hidden_field_tag :default_start_date_to_filter, @start_date %>
<%= hidden_field_tag :default_end_date_to_filter, @end_date %>

<div class="row">
  <div class="topnav">
    <%= link_to I18n.t('navbar.details'), '#', id: 'nav-item-stamps', class: 'nav-item active', data: { container: '#stamps' } %>
    <%= link_to I18n.t('navbar.projects_list'), '#', id: 'nav-item-projects-list', class: 'nav-item', data: { container: '#project-list' } %>
    <%= link_to I18n.t('navbar.teams'), '#', id: 'nav-item-teams', class: 'nav-item', data: { container: '#teams' } %>
    <%= link_to I18n.t('navbar.finance'), '#', id: 'nav-item-finance', class: 'nav-item', data: { container: '#finance' } %>
    <%= link_to I18n.t('navbar.risks'), '#', id: 'nav-item-risks', class: 'nav-item', data: { container: '#risks' } %>
    <%= link_to I18n.t('navbar.strategic'), '#', id: 'nav-item-strategic-charts', class: 'nav-item', data: { container: '#strategic-charts' } %>
    <%= link_to I18n.t('navbar.settings'), '#', id: 'nav-item-settings', class: 'nav-item', data: { container: '#settings' } %>
  </div>
</div>

<%= render 'layouts/load_spinner' %>

<div id="stamps" class="tab-container">
  <%= render 'companies/company_stamps', company: @company, customer: @customer %>
</div>

<div id="teams" class="tab-container">
  <%= render 'teams/teams_tab', teams: @teams, team_members: @team_members, team_resources: @team_resources, company: @company, start_date: @start_date, end_date: @end_date %>
</div>

<div id="finance" class="tab-container">
  <%= render 'financial_informations/finances_tab', company: @company, finances: @finances, financial_informations: @financial_informations, finances_hash_with_computed_informations: @finances_hash_with_computed_informations %>
</div>

<div id="projects-table" class="tab-container">
</div>

<div id="risks" class="tab-container">
  <div id="risks-table">
    <%= render 'charts/risks_and_hours_gauge_charts', max_hours_gauge: @company.total_active_hours, consumed_hours: @company.total_active_consumed_hours, projects_risk_chart_data: @projects_risk_chart_data %>
  </div>
</div>

<div id="strategic" class="tab-container">

</div>

<div id="settings" class="tab-container">
  <%= render 'companies/company_settings',
             company: @company,
             jira_accounts_list: @jira_accounts_list,
             azure_account: @azure_account,
             stages_list: @stages_list,
             company_settings: @company_settings %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/donut' %>
  <%= javascript_include_tag 'charts/column-line' %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/gauge' %>

  <%= javascript_include_tag 'top_navigation/tab-navigation' %>
  <%= javascript_include_tag 'components/components' %>

  <%= javascript_include_tag 'demand_blocks/list_modal' %>

  <%= javascript_include_tag 'finances/chart_builder' %>
  <%= javascript_include_tag 'finances/show' %>

  <%= javascript_include_tag 'routes/company_routes' %>
  <%= javascript_include_tag 'routes/project_routes' %>
  <%= javascript_include_tag 'routes/chart_routes' %>

  <%= javascript_include_tag 'projects/demand_classification_charts' %>
  <%= javascript_include_tag 'projects/risk_alert_color_chart' %>
  <%= javascript_include_tag 'projects/projects_search' %>

  <%= javascript_include_tag 'team_members/search_team_members' %>
  <%= javascript_include_tag 'routes/team_member_routes' %>

  <%= javascript_include_tag 'companies/company_navigation_behaviour' %>
  <%= javascript_include_tag 'companies/strategic_charts' %>
  <%= javascript_include_tag 'companies/show' %>
<% end %>
