<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 swarga-header">
      <h1><%= t('devise.sessions.login') %></h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal') do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
          <% end -%>

          <div class="form-group">
            <%= f.submit t('devise.sessions.login'), class: 'btn btn-lg btn-green' %>
          </div>
      <% end %>

      <div class="shared form-group">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>
