<h2><%= stage.name %></h2>

<div class="standard-form">
  <div class="row">
    <div class='col-xs-4 form-group'>
      <%= f.check_box :compute_effort %>
      <%= f.label StageProjectConfig.human_attribute_name(:compute_effort), class: 'control-label' %>
    </div>
    <div class='col-xs-4 form-group'>
      <%= check_box_tag :replicate_to_projects %>
      <%= label_tag I18n.t('stage_project_configs.edit.replicate_to_projects'), nil, class: 'control-label' %>
    </div>
    <div class='col-xs-4 form-group'>
      <%= check_box_tag :recompute_manual_efforts %>
      <%= label_tag I18n.t('stage_project_configs.edit.recompute_manual_efforts'), nil, class: 'control-label' %>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-3 form-group'>
      <%= f.label :stage_percentage, class: 'control-label' %>
      <%= f.text_field :stage_percentage, class: 'form-control' %>
    </div>
    <div class='col-xs-3 form-group'>
      <%= f.label :pairing_percentage, class: 'control-label' %>
      <%= f.text_field :pairing_percentage, class: 'form-control' %>
    </div>
    <div class='col-xs-3 form-group'>
      <%= f.label :management_percentage, class: 'control-label' %>
      <%= f.text_field :management_percentage, class: 'form-control' %>
    </div>
    <div class='col-xs-2 form-group'>
      <%= f.label I18n.t('stage_project_configs.form.max_seconds_in_stage'), class: 'control-label' %>
      <%= text_field_tag :max_time_in_stage, stage_project_config.max_seconds_in_stage / 1.day, class: 'form-control' %>
    </div>
    <div class='col-xs-1 form-group'>
      <%= f.label I18n.t('stage_project_configs.form.max_seconds_in_stage_period'), class: 'control-label' %>
      <%= select_tag :max_time_in_stage_period, form_input_periods(params[:max_time_in_stage_period]), class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-12 form-group'>
      <%= f.submit I18n.t('general.buttons.save'), class: 'btn btn-success' %>
    </div>
  </div>
</div>
