<table class="table table-striped small-font">
  <thead>
    <tr>
      <th></th>
      <th><%= Project.human_attribute_name :name %></th>
      <th><%= Project.human_attribute_name :start_date %></th>
      <th><%= Project.human_attribute_name :end_date %></th>
      <th><%= I18n.t('projects.replenishing.aging') %></th>
      <th><%= I18n.t('projects.replenishing.weeks_to_finish') %></th>
      <th><%= I18n.t('projects.index.remaining_backlog') %></th>
      <th><%= I18n.t('projects.index.flow_pressure') %></th>
      <th><%= I18n.t('projects.index.percentage_flow_pressure') %></th>
      <th><%= I18n.t('projects.replenishing.qty_using_pressure') %></th>
      <th><%= I18n.t('projects.charts.leadtime_evolution.legend.leadtime_80_confidence') %></th>
      <th><%= I18n.t('projects.replenishing.selected_last_week') %></th>
      <th><%= I18n.t('projects.replenishing.wip') %></th>
      <th><%= I18n.t('projects.replenishing.weeks_montecarlo') %></th>
      <th>
        <%= I18n.t('projects.replenishing.monte_carlo_factor') %>
        <i class="far fa-question-circle" title="<%= I18n.t('projects.replenishing.monte_carlo_factor_help') %>"></i>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% projects_to_replenish.each do |replenishing_consolidation| %>
      <tr>
        <td><%= link_to '+', '#', class: 'toggle-table-details', onclick: "toggleTableDetails(#{replenishing_consolidation.project_id})" %></td>
        <td>
          <%= link_to replenishing_consolidation.project.name, company_project_path(company, replenishing_consolidation.project_id) %>
          <i class="fas fa-users" title='<%= replenishing_consolidation.project.customers.map(&:name)&.join(' | ') %>'></i>
          <i class="fas fa-boxes" title='<%= replenishing_consolidation.project.products.map(&:name)&.join(' | ') %>'></i>
          <i class="far fa-calendar-alt" title="<%= "#{I18n.t('general.last_update.text', last_update: I18n.l(replenishing_consolidation.consolidation_date, format: :short))}" %>"></i>
        </td>
        <td><%= I18n.l(replenishing_consolidation.project.start_date, format: :default) %></td>
        <td><%= I18n.l(replenishing_consolidation.project.end_date, format: :default) %></td>
        <td><%= I18n.t('general.days_text', count: replenishing_consolidation.project.aging_today) %></td>
        <td>
          <%= I18n.t('general.weeks_text', count: replenishing_consolidation.project.remaining_weeks) %>
          <% if replenishing_consolidation.project_based_risks_to_deadline.present? %>
            <i class="fas fa-info-circle" title="<%= I18n.t('general.risk.text', risk_value: number_to_percentage(replenishing_consolidation.project_based_risks_to_deadline * 100, precision: 2)) %>"></i>
          <% end %>
        </td>
        <td><%= I18n.t('general.demands_text', count: replenishing_consolidation.project.remaining_backlog) %></td>
        <td><%= number_with_precision(replenishing_consolidation.flow_pressure, precision: 3) %><i class="fas <%= replenishing_consolidation.increased_pressure? ? 'fa-arrow-up' : 'fa-arrow-down' %>"></i></td>
        <td><%= number_to_percentage(replenishing_consolidation.relative_flow_pressure, precision: 2) %></td>
        <td><%= I18n.t('general.demands_text', count: number_with_precision(replenishing_consolidation.qty_using_pressure, precision: 1)) %></td>
        <td><%= I18n.t('general.days_text', count: number_with_precision(replenishing_consolidation.leadtime_80 / 1.day, precision: 3)) %><i class="fas <%= replenishing_consolidation.increased_pressure? ? 'fa-arrow-up' : 'fa-arrow-down' %>"></i></td>
        <td><%= I18n.t('general.demands_text', count: replenishing_consolidation.qty_selected_last_week) %></td>
        <td><%= I18n.t('general.demands_text', count: replenishing_consolidation.work_in_progress) %><i class="fas <%= replenishing_consolidation.increased_work_in_progress? ? 'fa-arrow-up' : 'fa-arrow-down' %>"></i></td>
        <td><%= I18n.t('general.weeks_text', count: number_with_precision(replenishing_consolidation.montecarlo_80_percent, precision: 1)) %></td>
        <td>
          <% if replenishing_consolidation.customer_happiness > 2 %>
            <div class="circle-green" title="<%= number_with_precision(replenishing_consolidation.customer_happiness, precision: 2) %>"></div>
          <% elsif replenishing_consolidation[:customer_happiness] > 0.8 %>
            <div class="circle-yellow" title="<%= number_with_precision(replenishing_consolidation.customer_happiness, precision: 2) %>"></div>
          <% else %>
            <div class="circle-red" title="<%= number_with_precision(replenishing_consolidation.customer_happiness, precision: 2) %>"></div>
          <% end %>
        </td>
      </tr>
      <tr id="<%= replenishing_consolidation.project_id %>" class="col-table-details">
        <td></td>
        <td colspan="12">
          <%= render 'teams/stats_throughput_details', project_hash: replenishing_consolidation %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>