<div class="standard-form">

  <div class="row">
    <div class='col-xs-3 form-group <%= 'has-error' if @stage.errors[:name].present? %>'>
      <%= f.label :name, class: 'control-label required' %>
      <%= f.text_field :name, class: 'form-control', autofocus: true %>
      <span class="help-block"><%= @stage.errors[:name].join(', ') %></span>
    </div>
    <div class='col-xs-3 form-group <%= 'has-error' if @stage.errors[:integration_id].present? %>'>
      <%= f.label :integration_id, class: 'control-label required' %>
      <%= f.text_field :integration_id, class: 'form-control', autofocus: true %>
      <span class="help-block"><%= @stage.errors[:integration_id].join(', ') %></span>
    </div>
    <div class='col-xs-3 form-group <%= 'has-error' if @stage.errors[:stage_type].present? %>'>
      <%= f.label :stage_type, class: 'control-label' %>
      <%= f.select :stage_type, Stage.stage_types.map { |key, _value| [t("activerecord.attributes.stage.enums.stage_type.#{key}"), key] }, { include_blank: t('general.select'), selected: @stage.stage_type }, class: 'form-control' %>
      <span class="help-block"><%= @stage.errors[:stage_type].join(', ') %></span>
    </div>
    <div class='col-xs-3 form-group <%= 'has-error' if @stage.errors[:stage_stream].present? %>'>
      <%= f.label :stage_stream, class: 'control-label' %>
      <%= f.select :stage_stream, Stage.stage_streams.map { |key, _value| [t("activerecord.attributes.stage.enums.stage_stream.#{key}"), key] }, { include_blank: t('general.select'), selected: @stage.stage_stream }, class: 'form-control' %>
      <span class="help-block"><%= @stage.errors[:stage_stream].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-2 form-check bottom-spaced-component'>
      <%= f.check_box :queue, class: 'form-check-input', checked: false %>
      <%= f.label :queue, class: 'form-check-label' %>
    </div>
    <div class='col-xs-2 form-check bottom-spaced-component'>
      <%= f.check_box :commitment_point, class: 'form-check-input', checked: false %>
      <%= f.label :commitment_point, class: 'form-check-label' %>
    </div>
    <div class='col-xs-2 form-check bottom-spaced-component'>
      <%= f.check_box :end_point, class: 'form-check-input', checked: false %>
      <%= f.label :end_point, class: 'form-check-label' %>
    </div>
    <div class='col-xs-3 form-check bottom-spaced-component'>
      <%= f.check_box :compute_effort, class: 'form-check-input', checked: false %>
      <%= f.label :compute_effort, class: 'form-check-label' %>
    </div>
    <div class='col-xs-3 form-group <%= 'has-error' if @stage.errors[:percentage_effort].present? %>'>
      <%= f.label :percentage_effort, class: 'control-label required' %>
      <%= f.number_field :percentage_effort, class: 'form-control', step: 0.01 %>
      <span class="help-block"><%= @stage.errors[:percentage_effort].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
</div>
