<div class="row">
  <div class="col-xs-6">
    <h2><%= t('stages.index.title') %></h2>
  </div>
</div>

<table class="table table-index">
  <thead>
    <tr>
      <th><%= Stage.human_attribute_name :order %></th>
      <th><%= Stage.human_attribute_name :name %></th>
      <th><%= Stage.human_attribute_name :integration_id %></th>
      <th><%= Stage.human_attribute_name :integration_pipe_id %></th>
      <th><%= t('stages.index.project_count') %></th>
      <th><%= Stage.human_attribute_name :stage_type %></th>
      <th><%= Stage.human_attribute_name :stage_stream %></th>
      <th class="center"><%= Stage.human_attribute_name :queue %></th>
      <th class="center"><%= Stage.human_attribute_name :commitment_point %></th>
      <th class="center"><%= Stage.human_attribute_name :end_point %></th>
      <th><%= t('general.table.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% stages_list.each do |stage| %>
      <tr id="stage_row_<%= stage.id %>"><%= render 'stages/stage_fields', stage: stage %></tr>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="edit-stage-form" tabindex="-1" role="dialog" aria-labelledby="edit-stage-form" aria-hidden="true"></div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'stages/form_modal' %>
<% end %>
