<td><%= stage.order %></td>
<td><%= stage.teams.map(&:name).join(', ') %></td>
<td><%= link_to stage.name, company_stage_path(company, stage) %></td>
<td><%= stage.integration_pipe_id %></td>
<td><%= stage.integration_id %></td>
<td><%= stage.projects.count %></td>
<td><%= stage.demand_transitions.count %></td>
<td><%= I18n.t("activerecord.attributes.stage.enums.stage_type.#{stage.stage_type}") %></td>
<td><%= I18n.t("activerecord.attributes.stage.enums.stage_stream.#{stage.stage_stream}") %></td>
<td><%= I18n.t("activerecord.attributes.stage.enums.stage_level.#{stage.stage_level}") %></td>
<td><%= stage.parent&.name %></td>
<td class="center">
  <% if stage.queue? %>
    <i class="fa fa-check" aria-hidden="true"></i>
  <% end %>
</td>
<td class="center">
  <% if stage.commitment_point? %>
    <i class="fa fa-check" aria-hidden="true"></i>
  <% end %>
</td>
<td class="center">
  <% if stage.end_point? %>
    <i class="fa fa-check" aria-hidden="true"></i>
  <% end %>
</td>
<td>
  <%= link_to edit_company_stage_path(company, stage), class: 'edit-stage', remote: true do %>
    <i class="fas fa-edit"></i>
  <% end %>
  <%= link_to company_stage_path(company, stage), data: { confirm: I18n.t('general.destroy.confirm') }, method: :delete do %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>
</td>