<div class="row pull-right">
  <% if @company.jira_accounts.present? %>
    <div class="col-xs-6">
      <%= link_to I18n.t('stages.import_from_jira.title'), import_from_jira_company_stages_path(company), method: :post, data: { confirm: I18n.t('stages.import_from_jira.warning') }, class: 'btn btn-success bottom-spaced-component' %>
    </div>
  <% end %>
  <div class="col-xs-6">
    <%= link_to I18n.t('stages.new.title'), new_company_stage_path(company), class: 'btn btn-success bottom-spaced-component' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <h2><%= I18n.t('stages.index.title') %></h2>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= Stage.human_attribute_name :order %></th>
      <th><%= Stage.human_attribute_name(:team).pluralize %></th>
      <th><%= Stage.human_attribute_name :name %></th>
      <th>
        <%= Stage.human_attribute_name :integration_pipe_id %>
        <i class="far fa-question-circle" title="<%= I18n.t('activerecord.attributes.stage.help.integration_pipe_id') %>"></i>
      </th>
      <th><%= Stage.human_attribute_name :integration_id %></th>
      <th><%= I18n.t('stages.index.project_count') %></th>
      <th><%= DemandTransition.model_name.human(count: 2) %></th>
      <th><%= Stage.human_attribute_name :stage_level %></th>
      <th><%= Stage.human_attribute_name :stage_type %></th>
      <th><%= Stage.human_attribute_name :stage_stream %></th>
      <th class="center"><%= Stage.human_attribute_name :parent %></th>
      <th class="center"><%= Stage.human_attribute_name :queue %></th>
      <th class="center"><%= Stage.human_attribute_name :commitment_point %></th>
      <th class="center"><%= Stage.human_attribute_name :end_point %></th>
      <th><%= I18n.t('general.table.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% stages_list.each do |stage| %>
      <tr id="stage_row_<%= stage.id %>" class="<%= 'col-table-details' if stage.order.negative? %>"><%= render 'stages/stage_fields', company: company, stage: stage %></tr>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="edit-stage-form" tabindex="-1" role="dialog" aria-labelledby="edit-stage-form" aria-hidden="true"></div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'stages/form_modal' %>
<% end %>
