<div class="row">
  <div class="col-xs-6">
    <h2><%= t('stages.index.title') %></h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <%= link_to t('stages.new.title'), new_company_stage_path(@company), class: 'btn btn-sm btn-primary bottom-spaced-component' %>
  </div>
</div>

<table class="table table-index table-striped">
  <thead>
    <tr>
      <th><%= Stage.human_attribute_name :name %></th>
      <th><%= Stage.human_attribute_name :integration_id %></th>
      <th><%= t('stages.index.project_count') %></th>
      <th><%= Stage.human_attribute_name :stage_type %></th>
      <th><%= Stage.human_attribute_name :stage_stream %></th>
      <th class="center"><%= Stage.human_attribute_name :queue %></th>
      <th class="center"><%= Stage.human_attribute_name :commitment_point %></th>
      <th class="center"><%= Stage.human_attribute_name :end_point %></th>
      <th><%= t('general.table.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% stages_list.each do |stage| %>
      <tr>
        <td><%= link_to stage.name, company_stage_path(@company, stage) %></td>
        <td><%= stage.integration_id %></td>
        <td><%= stage.projects.count %></td>
        <td><%= t("activerecord.attributes.stage.enums.stage_type.#{stage.stage_type}") %></td>
        <td><%= t("activerecord.attributes.stage.enums.stage_stream.#{stage.stage_stream}") %></td>
        <td class="center">
          <% if stage.queue? %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% end %>
        </td>
        <td class="center">
          <% if stage.commitment_point? %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% end %>
        </td>
        <td class="center">
          <% if stage.end_point? %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_company_stage_path(@company, stage) do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to company_stage_path(@company, stage), method: :delete do %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
