<div class="row">
  <div class="col-xs-4 bottom-spaced-component">
    <div id="entrances-per-weekday-column"
         class="flow-chart"
         data-title='<%= I18n.t('stages.charts.entrances_per_weekday.title', target_name: @stage.name) %>'
         data-xcategories='<%= stage_analytic_data.entrances_per_weekday.keys %>'
         data-xtitle='<%= I18n.t('general.charts.xlabel.weekdays') %>'
         data-ytitle='<%= I18n.t('stages.charts.entrances_per_weekday.ylabel') %>'
         data-prefix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series='<%= [{ name: I18n.t('stages.charts.entrances_per_weekday.ylabel'), data: stage_analytic_data.entrances_per_weekday.values }].to_json %>'
         data-decimals='0'>
    </div>
  </div>
  <div class="col-xs-4 bottom-spaced-component">
    <div id="entrances-per-day-column"
         class="flow-chart"
         data-title='<%= I18n.t('stages.charts.entrances_per_weekday.title', target_name: @stage.name) %>'
         data-xcategories='<%= stage_analytic_data.entrances_per_day.keys %>'
         data-xtitle='<%= I18n.t('general.charts.xlabel.monthdays') %>'
         data-ytitle='<%= I18n.t('stages.charts.entrances_per_weekday.ylabel') %>'
         data-prefix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series='<%= [{ name: I18n.t('stages.charts.entrances_per_weekday.ylabel'), data: stage_analytic_data.entrances_per_day.values }].to_json %>'
         data-decimals='0'>
    </div>
  </div>
  <div class="col-xs-4 bottom-spaced-component">
    <div id="entrances-per-hour-column"
         class="flow-chart"
         data-title='<%= I18n.t('stages.charts.entrances_per_weekday.title', target_name: @stage.name) %>'
         data-xcategories='<%= stage_analytic_data.entrances_per_hour.keys %>'
         data-xtitle='<%= I18n.t('general.charts.hours') %>'
         data-ytitle='<%= I18n.t('stages.charts.entrances_per_weekday.ylabel') %>'
         data-prefix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series='<%= [{ name: I18n.t('stages.charts.entrances_per_weekday.ylabel'), data: stage_analytic_data.entrances_per_hour.values }].to_json %>'
         data-decimals='0'>
    </div>
  </div>
  <div class="col-xs-4 bottom-spaced-component">
    <div id="out-per-weekday-column"
         class="flow-chart"
         data-title='<%= I18n.t('stages.charts.out_per_weekday.title', target_name: @stage.name) %>'
         data-xcategories='<%= stage_analytic_data.entrances_per_weekday.keys %>'
         data-xtitle='<%= I18n.t('general.charts.xlabel.weekdays') %>'
         data-ytitle='<%= I18n.t('stages.charts.out_per_weekday.ylabel') %>'
         data-prefix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series='<%= [{ name: I18n.t('stages.charts.out_per_weekday.ylabel'), data: stage_analytic_data.out_per_weekday.values }].to_json %>'
         data-decimals='0'>
    </div>
  </div>
  <div class="col-xs-4 bottom-spaced-component">
    <div id="out-per-day-column"
         class="flow-chart"
         data-title='<%= I18n.t('stages.charts.out_per_weekday.title', target_name: @stage.name) %>'
         data-xcategories='<%= stage_analytic_data.entrances_per_day.keys %>'
         data-xtitle='<%= I18n.t('general.charts.xlabel.monthdays') %>'
         data-ytitle='<%= I18n.t('stages.charts.out_per_weekday.ylabel') %>'
         data-prefix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series='<%= [{ name: I18n.t('stages.charts.out_per_weekday.ylabel'), data: stage_analytic_data.out_per_day.values }].to_json %>'
         data-decimals='0'>
    </div>
  </div>
  <div class="col-xs-4 bottom-spaced-component">
    <div id="out-per-hour-column"
         class="flow-chart"
         data-title='<%= I18n.t('stages.charts.out_per_weekday.title', target_name: @stage.name) %>'
         data-xcategories='<%= stage_analytic_data.entrances_per_hour.keys %>'
         data-xtitle='<%= I18n.t('general.charts.hours') %>'
         data-ytitle='<%= I18n.t('stages.charts.out_per_weekday.ylabel') %>'
         data-prefix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series='<%= [{ name: I18n.t('stages.charts.out_per_weekday.ylabel'), data: stage_analytic_data.out_per_hour.values }].to_json %>'
         data-decimals='0'>
    </div>
  </div>
  <div class="col-xs-12 bottom-spaced-component">
    <div id="line-avg-hours-in-stage"
         class="flow-chart"
         data-title='<%= I18n.t('stages.charts.avg_hours_in_stage.title', target_name: @stage.name) %>'
         data-xcategories='<%= stage_analytic_data.avg_time_in_stage_per_month.keys %>'
         data-xtitle='<%= I18n.t('charts.xlabel.months') %>'
         data-ytitle='<%= I18n.t('general.charts.hours') %>'
         data-prefix=""
         data-tooltipsuffix='<%= I18n.t('general.charts.hours') %>'
         data-datalabelsuffix=""
         data-series='<%= [{ name: I18n.t('stages.charts.avg_hours_in_stage.ylabel'), data: stage_analytic_data.avg_time_in_stage_per_month.values }].to_json %>'
         data-decimals='2'>
    </div>
  </div>
</div>
