<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= I18n.t('stages.new.title') %></li>
    </ul>
  </div>
</div>

<%= form_for [@company, @stage] do |f| %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-12">
      <%= render 'stages/form', form: f, stage: @stage, company: @company, parent_stages: @parent_stages %>
    </div>
  </div>
<% end %>
