<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= @stage.name %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <h2><%= "#{Stage.human_attribute_name(:integration_id)}: #{@stage.integration_id}" %></h2>

      <%= form_tag copy_projects_from_company_stage_url(@company, @stage), method: :patch, class: 'form-inline' do %>
        <%= select_tag :provider_stage_id, options_from_collection_for_select(@provider_stages, :id, :name, params[:provider_stage_id]), class: 'form-control' %>
        <%= submit_tag t('stages.show.import_projects'), class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <h3><%= t('stages.show.not_associated_projects') %></h3>
      <ul>
        <% @not_associated_projects.each do |project| %>
          <li>
            <%= "#{project.full_name} (#{project.current_team&.name})" %>
            <%= link_to associate_project_company_stage_path(@company, @stage, project), method: :patch do %>
              <i class="fa fa-check"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-6">
      <h3><%= t('stages.show.stage_projects') %></h3>
      <ul>
        <% @stage_projects.each do |project| %>
          <li>
            <%= link_to "#{project.full_name} (#{project.current_team&.name})", edit_company_stage_stage_project_config_path(@company, @stage, project.stage_project_configs.find_by(stage: @stage)) %>
            <%= link_to dissociate_project_company_stage_path(@company, @stage, project), method: :patch do %>
              <i class="fa fa-times"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3><%= t('stages.show.transitions') %></h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= 'Valid?' %></th>
            <th><%= DemandTransition.human_attribute_name :stage %></th>
            <th><%= DemandTransition.human_attribute_name :project %></th>
            <th><%= Team.model_name.human %></th>
            <th><%= DemandTransition.human_attribute_name :last_time_in %></th>
            <th><%= DemandTransition.human_attribute_name :last_time_out %></th>
            <th><%= t('demand_transitions.total_hours_in_transition') %></th>
            <th><%= t('general.table.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @transitions_in_stage.each do |transition| %>
            <tr>
              <td><%= transition.valid? %></td>
              <td><%= transition.stage_name %></td>
              <td><%= link_to transition.demand.project.full_name, company_project_path(@company, transition.demand.project) %></td>
              <td><%= transition.demand.project.current_team.name %></td>
              <td><%= l(transition.last_time_in, format: :short) %></td>
              <td><%= l(transition.last_time_out, format: :short) if transition.last_time_out.present? %></td>
              <td><%= "#{number_with_precision(transition.total_hours_in_transition, precision: 4)} hs" %></td>
              <td>
                <%= link_to company_stage_demand_transition_path(@company, @stage, transition), method: :delete do %>
                  <i class="fa fa-times"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
