<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= @stage.name %></li>
    </ul>
  </div>
</div>

<hr>

<div class="row bottom-spaced-component">
  <div class="col-xs-12">
    <h2><%= "#{Stage.human_attribute_name(:integration_id)}: #{@stage.integration_id}" %></h2>
    <h4><%= "#{t('stages.index.time_in_stage')}: #{time_distance_in_words(@stage.total_seconds_in)}" %></h4>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <div class="tab">
      <button class="tablinks tab-stages" id="stage-charts-tab" onclick="openTab(event, 'stage-charts', 'tab-stages', 'tabcontent-stages')"><%= I18n.t('general.tabs.charts') %></button>
      <button class="tablinks tab-stages" onclick="openTab(event, 'stage-config', 'tab-stages', 'tabcontent-stages')"><%= I18n.t('general.tabs.config') %></button>
      <button class="tablinks tab-stages" onclick="openTab(event, 'stage-transitions', 'tab-stages', 'tabcontent-stages')"><%= I18n.t('general.tabs.transitions') %></button>
    </div>
  </div>
</div>

<div id="stage-charts" class="tabcontent tabcontent-stages">
  <%= render 'stages/stage_charts', stage_analytic_data: @stage_analytic_data %>
</div>

<div id="stage-config" class="tabcontent tabcontent-stages">
  <%= render 'stages/stage_project_config', company: @company, stage: @stage, provider_stages: @provider_stages, not_associated_projects: @not_associated_projects, stage_projects: @stage_projects %>
</div>

<div id="stage-transitions" class="tabcontent tabcontent-stages">
  <%= render 'stages/stage_transitions' %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/line' %>

  <%= javascript_include_tag 'stages/charts' %>
  <%= javascript_include_tag 'stages/show' %>

  <%= javascript_include_tag 'components/components' %>
<% end %>
