<% if flow_impacts.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><%= FlowImpact.human_attribute_name :user %></th>
        <th><%= FlowImpact.human_attribute_name :impact_type %></th>
        <th><%= FlowImpact.human_attribute_name :impact_size %></th>
        <th><%= FlowImpact.human_attribute_name :project %></th>
        <th><%= FlowImpact.human_attribute_name :demand %></th>
        <th><%= FlowImpact.human_attribute_name :impact_date %></th>
        <th><%= Stage.model_name.human %></th>
        <th><%= FlowImpact.human_attribute_name :impact_description %></th>
      </tr>
    </thead>
    <tbody>
      <% flow_impacts.each do |flow_impact| %>
        <tr>
          <td>
            <%= link_to company_flow_impact_path(company, flow_impact), method: :delete, data: { confirm: I18n.t('general.destroy.confirm') }, remote: true do %>
              <i class="fa fa-times" title='<%= I18n.t('flow_impacts.destroy.tooltip') %>'></i>
            <% end %>

            <%= link_to edit_company_flow_impact_path(company, flow_impact) do %>
              <i class="fas fa-edit" title='<%= I18n.t('flow_impacts.edit.tooltip') %>'></i>
            <% end %>
          </td>
          <td><%= flow_impact.user&.full_name %></td>
          <td><%= link_to I18n.t("activerecord.attributes.flow_impact.enums.impact_type.#{flow_impact.impact_type}"), company_flow_impact_path(company, flow_impact) %></td>
          <td><%= I18n.t("activerecord.attributes.flow_impact.enums.impact_size.#{flow_impact.impact_size}") %></td>
          <td><%= flow_impact.project.name %></td>
          <td><%= flow_impact.demand&.external_id %></td>
          <td><%= I18n.l(flow_impact.impact_date, format: :short) %></td>
          <td><%= flow_impact.demand.stage_at(flow_impact.impact_date)&.name if flow_impact.demand.present? %></td>
          <td><%= flow_impact.impact_description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render 'layouts/no_data', missing_data: FlowImpact.model_name.human(count: 2).downcase %>
<% end %>