<div class="standard-form">
  <div class="row">
    <div class='col-xs-4 form-group <%= 'has-error' if @pipefy_team_config.errors[:billable_type].present? %>'>
      <%= f.label :member_type, class: 'control-label' %>
      <%= f.select :member_type, Pipefy::PipefyTeamConfig.member_types.map { |key, _value| [t("activerecord.attributes.pipefy/pipefy_team_config.enums.member_type.#{key}"), key] }, { include_blank: t('general.select'), selected: @pipefy_team_config.member_type }, class: 'form-control' %>
      <span class="help-block"><%= @pipefy_team_config.errors[:member_type].join(', ') %></span>
    </div>
    <div class='col-xs-4 form-group <%= 'has-error' if @pipefy_team_config.errors[:integration_id].present? %>'>
      <%= f.label :integration_id, class: 'control-label' %>
      <%= f.text_field :integration_id, class: 'form-control' %>
      <span class="help-block"><%= @pipefy_team_config.errors[:integration_id].join(', ') %></span>
    </div>
    <div class='col-xs-4 form-group <%= 'has-error' if @pipefy_team_config.errors[:username].present? %>'>
      <%= f.label :username, class: 'control-label required' %>
      <%= f.text_field :username, class: 'form-control', autofocus: true %>
      <span class="help-block"><%= @pipefy_team_config.errors[:username].join(', ') %></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
</div>
