<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('general.leadtime_p80_label') %></h4>

    <div id="project-dashboard-lead-time-line"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle=""
         data-ytitle="<%= I18n.t('general.days') %>"
         data-prefix=""
         data-suffix=""
         data-tooltipsuffix="<%= I18n.t('general.days') %>"
         data-datalabelsuffix=""
         data-series="<%= [{ name: project.name, data: dashboard_project_consolidations.map { |consolidation| consolidation.lead_time_p80.to_f / 1.day } }].to_json %>"
         data-decimals="2">
    </div>
  </div>
  <div class="col-xs-6">
    <div id="project-cfd-downstream-area"
         class="flow-chart"
         data-xcategories='<%= status_report_data.x_axis.to_json %>'
         data-title='<%= I18n.t('charts.cfd.title_downstream', target_name: project.name) %>'
         data-ytitle='<%= I18n.t('charts.cfd.ytitle') %>'
         data-tooltipsuffix='<%= I18n.t('charts.cfd.data_suffix') %>'
         data-series='<%= status_report_data.cumulative_flow_diagram_downstream.to_json %>'
         data-decimals='0'>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 bottom-spaced-component">
    <div id="project-leadtime-control-chart"
         class="flow-chart"
         data-xcategories="<%= demands_finished_with_leadtime.map(&:external_id) %>"
         data-series="<%= [{ name: 'Lead time', color: 'rgb(51, 51, 255)', data: demands_finished_with_leadtime.map { |demand| (demand.leadtime.to_f / 1.day).round(2) } }].to_json %>"
         data-title=""
         data-prefix=""
         data-tooltipsuffix="<%= I18n.t('projects.charts.lead_time_chart.ylabel') %>"
         data-percentile95="<%= (all_project_consolidations.last.lead_time_p95 / 1.day).round(2) %>"
         data-percentile80="<%= (all_project_consolidations.last.lead_time_p80 / 1.day).round(2) %>"
         data-percentile60="<%= (all_project_consolidations.last.lead_time_p65 / 1.day).round(2) %>">
    </div>
  </div>

  <div class="col-xs-6 bottom-spaced-component">
    <div id="project-leadtime-histogram"
         class="flow-chart"
         data-title=""
         data-xcategories="<%= lead_time_histogram_data.keys.map { |bin| (bin / 1.day).round(2) } %>"
         data-xtitle="<%= I18n.t('projects.charts.xlabel.days') %>"
         data-ytitle="<%= I18n.t('projects.charts.leadtime_histogram.ylabel') %>"
         data-prefix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series="<%= [{ name: I18n.t('projects.charts.leadtime_histogram.ylabel'), data: lead_time_histogram_data.values }].to_json %>"
         data-decimals="2">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('general.quality.bugs') %></h4>

    <div id="project-dashboard-quality-line"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle=""
         data-ytitle="%"
         data-prefix=""
         data-suffix=""
         data-tooltipsuffix="%"
         data-datalabelsuffix="%"
         data-series="<%= [{ name: project.name, data: dashboard_project_consolidations.map { |consolidation| (1 - consolidation.project_quality.to_f) * 100 } }].to_json %>"
         data-decimals="2">
    </div>
  </div>


  <div class="col-xs-6">
    <h4><%= I18n.t('general.quality.blocks') %></h4>

    <div id="project-dashboard-quality-blocks-line"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle=""
         data-ytitle="<%= I18n.t('general.demand_blocks') %>"
         data-prefix=""
         data-suffix=""
         data-tooltipsuffix="<%= I18n.t('general.demand_blocks') %>"
         data-datalabelsuffix=""
         data-series="<%= [{ name: project.name, data: dashboard_project_consolidations.map { |consolidation| consolidation.code_needed_blocks_count } }].to_json %>"
         data-decimals="0">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('general.quality.blocks_per_demand') %></h4>

    <div id="project-dashboard-quality-blocks-per-demand-line"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle=""
         data-ytitle="<%= I18n.t('projects.charts.quality_block_per_demand') %>"
         data-prefix=""
         data-suffix=""
         data-tooltipsuffix="<%= I18n.t('general.demand_blocks') %>"
         data-datalabelsuffix=""
         data-series="<%= [{ name: project.name, data: dashboard_project_consolidations.map { |consolidation| consolidation.code_needed_blocks_per_demand.to_f } }].to_json %>"
         data-decimals="2">
    </div>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('general.stamps.hours_per_demand') %></h4>

    <div id="project-dashboard-hours-per-demand-line"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle=""
         data-ytitle="<%= I18n.t('general.hours') %>"
         data-prefix=""
         data-suffix=""
         data-tooltipsuffix="<%= I18n.t('general.hours') %>"
         data-datalabelsuffix=""
         data-series="<%= [{ name: project.name, data: dashboard_project_consolidations.map { |consolidation| consolidation.hours_per_demand.to_f } }].to_json %>"
         data-decimals="2">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('projects.charts.flow_efficiency.title') %></h4>

    <div id="project-dashboard-flow-efficiency-line"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle=""
         data-ytitle="%"
         data-prefix=""
         data-suffix=""
         data-tooltipsuffix="%"
         data-datalabelsuffix="%"
         data-series="<%= [{ name: project.name, data: dashboard_project_consolidations.map { |consolidation| consolidation.flow_efficiency.to_f } }].to_json %>"
         data-decimals="2">
    </div>
  </div>

  <div class="col-xs-6">
    <div id="project-burnup-demands"
         class="flow-chart"
         data-title="<%= I18n.t('projects.charts.burnup.demands.title', target_name: project.name) %>"
         data-xcategories=""
         data-xtitle="<%= I18n.t('projects.charts.xlabel.time') %>"
         data-ytitle="<%= I18n.t('projects.charts.burnup.ylabel') %>"
         data-tooltipsuffix="<%= I18n.t('projects.charts.burnup.tooltipsufix') %>"
         data-prefix=""
         data-suffix=""
         data-datalabelsuffix=""
         data-series="<%= [ { name: I18n.t('general.scope'), data: all_project_consolidations.map(&:project_scope) },
                            { name: I18n.t('charts.burnup.ideal'), data: project.current_weekly_scope_ideal_burnup },
                            { name: I18n.t('general.delivered'), data: all_project_consolidations.map(&:project_throughput) }].to_json %>"
         data-decimals="0">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('general.bugs') %></h4>

    <div id="project-dashboard-bugs-column"
         class="flow-chart"
         data-title=""
         data-xcategories=""
         data-xtitle=""
         data-ytitle="<%= I18n.t('general.bugs') %>"
         data-prefix=""
         data-suffix=""
         data-tooltipsuffix=""
         data-datalabelsuffix=""
         data-series="<%= [{ name: I18n.t('projects.charts.bugs_in_time.opened'), data: all_project_consolidations.map { |consolidation| consolidation.bugs_opened } },
                           { name: I18n.t('projects.charts.bugs_in_time.closed'), data: all_project_consolidations.map { |consolidation| consolidation.bugs_closed } }].to_json %>"
         data-decimals="0">
    </div>
  </div>

  <div class="col-xs-6">
    <div id="project-dashboard-flow-data-column"
         class="flow-chart"
         data-title="<%= I18n.t('demands.charts.flow_data') %>"
         data-xcategories=""
         data-xtitle="<%= I18n.t('general.period') %>"
         data-ytitle="<%= I18n.t('demands.charts.demands.title') %>"
         data-prefix=""
         data-tooltipsuffix="<%= I18n.t('projects.charts.throughput.tooltipsufix') %>"
         data-datalabelsuffix=""
         data-series="<%= [
                              { name: I18n.t('demands.charts.creation_date'), data: demands_chart_adapter.creation_chart_data },
                              { name: I18n.t('demands.charts.committed_date'), data: demands_chart_adapter.committed_chart_data },
                              { name: I18n.t('general.pull_transaction'), data: demands_chart_adapter.pull_transaction_rate },
                              { name: I18n.t('general.delivered'), data: demands_chart_adapter.throughput_chart_data }
                          ].to_json %>"
         data-stacking=""
         data-decimals="0">
    </div>
  </div>
</div>