
<div class="row">
  <div class="col-xs-6">
    <% if tasks_chart_adapter.x_axis.present? %>
      <div id="project-dashboard-tasks-flow-data-column"
           class="flow-chart"
           data-title="<%= I18n.t('demands.charts.flow_data') %>"
           data-xcategories="<%= tasks_chart_adapter.x_axis.map(&:to_s).to_json %>"
           data-xtitle="<%= I18n.t('general.period') %>"
           data-ytitle="<%= I18n.t('demands.charts.demands.title') %>"
           data-prefix=""
           data-tooltipsuffix="<%= I18n.t('projects.charts.throughput.tooltipsufix') %>"
           data-datalabelsuffix=""
           data-series="<%= [
                              { name: I18n.t('demands.charts.creation_date'), data: tasks_chart_adapter.creation_chart_data },
                              { name: I18n.t('general.delivered'), data: tasks_chart_adapter.throughput_chart_data }
                            ].to_json %>"
           data-stacking=""
           data-decimals="0">
      </div>
    <% else %>
      <% render 'layouts/no_data', missing_data: I18n.t('general.data') %>
    <% end %>
  </div>

  <div class="col-xs-6">
    <% if burnup_adapter.x_axis.present? %>
      <div id="project-burnup-tasks"
           class="flow-chart"
           data-title='<%= I18n.t('charts.burnup.title') %>'
           data-weeks='<%= burnup_adapter.x_axis.to_json %>'
           data-xtitle='<%= I18n.t('general.weeks') %>'
           data-ytitle='<%= Task.model_name.human(count: 2) %>'
           data-tooltipsuffix='<%= Task.model_name.human(count: 2) %>'
           data-prefix=''
           data-ideal='<%= burnup_adapter.ideal_burn %>'
           data-current='<%= burnup_adapter.current_burn %>'
           data-scope='<%= burnup_adapter.scope %>'>
      </div>
    <% else %>
      <% render 'layouts/no_data', missing_data: I18n.t('general.data') %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <% if project_consolidations.map(&:tasks_based_operational_risk).flatten.compact.count.positive? %>
      <div id="project-dashboard-risk-evolution"
           class="flow-chart"
           data-title="<%= I18n.t('projects.charts.risk_evolution_in_time') %>"
           data-xcategories="<%= project_consolidations.map(&:consolidation_date).to_json %>"
           data-xtitle="<%= I18n.t('general.period') %>"
           data-ytitle="<%= I18n.t('charts.risk_evolution.ytitle') %>"
           data-prefix=""
           data-tooltipsuffix="%"
           data-datalabelsuffix=""
           data-series='<%= [{ name: I18n.t('charts.risk_evolution.ytitle'), data: project_consolidations.map(&:tasks_based_operational_risk).map { |risk| (risk * 100).to_f } }].to_json %>'
           data-decimals='2'>
      </div>
    <% else %>
      <% render 'layouts/no_data', missing_data: I18n.t('general.data') %>
    <% end %>
  </div>
</div>
