<div id="dashboard-controls">
  <div class="row">
    <div class="col-xs-12 center">
      <div class="tab">
        <%= link_to I18n.t('navbar.charts'), company_project_path(@company, @project), class: 'btn btn-default active' %>
        <%= link_to I18n.t('navbar.statistics'), statistics_tab_company_project_path(@company, @project), class: 'btn btn-default' %>
        <%= link_to I18n.t('general.risk.detail'), risk_drill_down_company_project_path(@company, @project), class: 'btn btn-default' %>
        <%= link_to I18n.t('projects.show.status_report.title'), status_report_dashboard_company_project_path(@company, @project), class: 'btn btn-default' %>
        <% unless @project.waiting? %>
          <%= link_to I18n.t('projects.show.lead_time.title'), lead_time_dashboard_company_project_path(@company, @project), class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-4">
    <%= render 'common/dashboards/general_info',
               company: @company,
               object_type: 'Project',
               flow_object_id: @project.id,
               dashboard_name: @project.name,
               start_date: @project.start_date,
               end_date: @project.end_date,
               initial_scope: @project.initial_scope,
               demands: @project.demands.kept,
               demands_delivered: @project.demands.kept.finished_until_date(Time.zone.now),
               remaining_backlog: @project.demands.kept.not_started(Time.zone.now),
               upstream_demands: @project.upstream_demands,
               downstream_demands: @project.demands.kept.in_wip(Time.zone.now),
               unscored_demands: @unscored_demands,
               discarded_demands_count: @project.demands.discarded.count,
               demands_blocks: @demands_blocks,
               flow_pressure: @project.flow_pressure,
               average_speed: @average_speed,
               average_queue_time: @project.average_queue_time / 1.hour,
               average_touch_time: @project.average_touch_time / 1.hour,
               demands_lead_time_p95: Stats::StatisticsService.instance.percentile(95, @project.demands.kept.finished_with_leadtime.map(&:leadtime_in_days)),
               demands_lead_time_p80: Stats::StatisticsService.instance.percentile(80, @project.demands.kept.finished_with_leadtime.map(&:leadtime_in_days)),
               demands_lead_time_p65: Stats::StatisticsService.instance.percentile(65, @project.demands.kept.finished_with_leadtime.map(&:leadtime_in_days)) %>
  </div>

  <div class="col-xs-8">
    <%= render 'demands/project_dashboard_demands_table', company: @company, demands: @last_10_deliveries %>
  </div>
</div>

<% if @all_project_consolidations.present? %>
  <%= render 'projects/dashboards/project_dashboard_charts',
             company: @company,
             project: @project,
             demands_finished_with_leadtime: @project.demands.finished_with_leadtime,
             all_project_consolidations: @all_project_consolidations,
             dashboard_project_consolidations_for_months: @dashboard_project_consolidations_for_months,
             last_10_deliveries: @last_10_deliveries,
             demands_chart_adapter: @demands_chart_adapter,
             lead_time_histogram_data: @lead_time_histogram_data,
             status_report_data: @status_report_data %>
<% else %>
  <%= render 'layouts/no_data', missing_data: I18n.t('general.data') %>
<% end %>

<div class="modal fade" id="project-risk-drill-down" tabindex="-1" role="dialog" aria-labelledby="project-risk-drill-down" aria-hidden="true"></div>
<div class="modal fade" id="closing-info-div" tabindex="-1" role="dialog" aria-labelledby="closing-info" aria-hidden="true"></div>
<div class="modal fade" id="status-report-div" tabindex="-1" role="dialog" aria-labelledby="status-report" aria-hidden="true"></div>
<div class="modal fade" id="project-lead-time-div" tabindex="-1" role="dialog" aria-labelledby="project-lead-time" aria-hidden="true"></div>