<div class="row">
  <div class="col-xs-4">
    <h4><%= customer.name %></h4>
    <%= render 'common/dashboards/general_info',
               demandable: demandable,
               company: company,
               dashboard_name: customer.name,
               start_date: customer.start_date,
               end_date: customer.last_contract_end,
               object_type: object_type,
               flow_object_id: flow_object_id,
               upstream_demands: upstream_demands,
               downstream_demands: downstream_demands,
               initial_scope: customer.initial_scope,
               demands: customer.exclusives_demands.kept,
               discarded_demands_count: customer.exclusives_demands.discarded.count,
               demands_delivered: customer.exclusives_demands.kept.finished_until_date(Time.zone.now),
               unscored_demands: unscored_demands,
               demands_blocks: demands_blocks,
               remaining_backlog: customer.exclusives_demands.kept - customer.exclusives_demands.kept.finished_until_date(Time.zone.now),
               average_queue_time: customer.average_queue_time / 1.hour,
               average_touch_time: customer.average_touch_time / 1.hour,
               demands_lead_time_p95: Stats::StatisticsService.instance.percentile(95, customer.exclusives_demands.kept.finished_with_leadtime.map(&:leadtime_in_days)),
               demands_lead_time_p80: Stats::StatisticsService.instance.percentile(80, customer.exclusives_demands.kept.finished_with_leadtime.map(&:leadtime_in_days)),
               demands_lead_time_p65: Stats::StatisticsService.instance.percentile(65, customer.exclusives_demands.kept.finished_with_leadtime.map(&:leadtime_in_days)),
               flow_pressure: flow_pressure,
               average_speed: average_speed  %>
  </div>

  <div class="col-xs-4">
    <%= render 'users/users_short_table', users: customer.devise_customers %>
    <hr>
    <%= render 'customers/form_user_invite_to_customer', company: company, customer: customer, user_invite: user_invite %>
  </div>

  <div class="col-xs-4">
    <h4><%= Project.model_name.human(count: 2) %></h4>

    <%= render 'common/dashboards/projects_info',
               projects_count: customer.exclusive_projects.count,
               active_projects_count: customer.active_exclusive_projects.count,
               active_projects_value: customer.active_exclusive_projects.map(&:value).compact.sum,
               active_projects_hired_hours: customer.active_exclusive_projects.map(&:qty_hours).compact.sum %>

    <hr>
  </div>

</div>

<% if contract.present? %>
  <div class="row">
    <div class="col-xs-8">
      <h4><%= Contract.model_name.human(count: 2) %>
        <%= link_to new_company_customer_contract_path(company, customer, contract), class: 'btn btn-lg', title: I18n.t('contracts.new.title').downcase do %>
          <i class="fa fa-plus-square"></i>
        <% end %>
      </h4>
      <%= render 'contracts/contracts_table', company: company, customer: customer, contracts: contracts %>
    </div>

    <div class="col-xs-4">

      <h4><%= I18n.t('demands.index.last_deliveries') %></h4>

      <%= render 'demands/demands_short_table', company: company, demands: customer.exclusives_demands.includes([:company]).includes([:project]).kept.finished_until_date(Time.zone.now).order(end_date: :desc).first(5) %>
    </div>
  </div>
  <hr>

<% end %>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('demands.index.last_larger_lead_times_four_weeks') %></h4>

    <%= render 'demands/demands_short_table', company: company, demands: customer.larger_lead_times(4, 5) %>
  </div>
  <div class="col-xs-6">
    <h4><%= I18n.t('demands.index.last_larger_lead_times') %></h4>

    <%= render 'demands/demands_short_table', company: company, demands: customer.larger_lead_times(0, 5) %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6">
    <div id="customer-hours-consumed-column-line"
         class="flow-chart"
         data-xcategories=""
         data-title="<%= I18n.t('projects.charts.hours_per_month.title', target_name: customer.name) %>"
         data-ytitle="<%= I18n.t('general.hours') %>"
         data-prefix=""
         data-tooltipsuffix="<%= I18n.t('general.hours') %>"
         data-datalabelsuffix=""
         data-series="<%= [
                              { type: 'column', yAxis: 1, name: I18n.t('general.dashboards.hours_delivered'), data: customer_consolidations.map(&:consumed_hours_in_month).map(&:to_f) },
                              { type: 'spline', name: I18n.t('general.dashboards.hours_delivered_acc'), data: customer_consolidations.map(&:consumed_hours).map(&:to_f) }
                          ].to_json %>"
         data-stacking="normal"
         data-decimals="2">
    </div>
  </div>

  <div class="col-xs-6">
    <div id="customer-avg-hours-consumed-line"
         class="flow-chart"
         data-xcategories=""
         data-title="<%= I18n.t('customers.charts.avg_hours_per_month.title', target_name: customer.name) %>"
         data-ytitle="<%= I18n.t('general.hours') %>"
         data-prefix=""
         data-tooltipsuffix="<%= I18n.t('general.hours') %>"
         data-datalabelsuffix=""
         data-series="<%= [{ name: I18n.t('general.statistics.average'), data: customer_consolidations.map(&:average_consumed_hours_in_month).map(&:to_f) }].to_json %>"
         data-stacking="normal"
         data-decimals="2">
    </div>
  </div>
</div>
