<div class="row">
  <div class="col-xs-4">
    <h4><%= customer.name %></h4>
    <%= render 'common/dashboards/general_info',
               dashboard_name: customer.name,
               total_flow_pressure: nil,
               demands_count: customer.exclusives_demands.kept.count,
               delivered_scope: customer.exclusives_demands.kept.finished.count,
               remaining_backlog: customer.exclusives_demands.kept.count - customer.demands.kept.finished.count,
               average_queue_time: customer.average_queue_time / 1.hour,
               average_touch_time: customer.average_touch_time / 1.hour,
               demands_lead_time_p95: Stats::StatisticsService.instance.percentile(95, customer.exclusives_demands.kept.finished_with_leadtime.map(&:leadtime_in_days)),
               demands_lead_time_p80: Stats::StatisticsService.instance.percentile(80, customer.exclusives_demands.kept.finished_with_leadtime.map(&:leadtime_in_days)),
               demands_lead_time_p65: Stats::StatisticsService.instance.percentile(65, customer.exclusives_demands.kept.finished_with_leadtime.map(&:leadtime_in_days)) %>
  </div>

  <div class="col-xs-4">
    <%= render 'users/users_short_table', users: customer.devise_customers %>
    <hr>
    <%= render 'customers/form_user_invite_to_customer', company: company, customer: customer, user_invite: user_invite %>
  </div>

  <div class="col-xs-4">
    <h4><%= Project.model_name.human(count: 2) %></h4>

    <%= render 'common/dashboards/projects_info',
               projects_count: customer.exclusive_projects.count,
               active_projects_count: customer.active_exclusive_projects.count,
               active_projects_value: customer.active_exclusive_projects.map(&:value).compact.sum,
               active_projects_hired_hours: customer.active_exclusive_projects.map(&:qty_hours).compact.sum %>

    <hr>
  </div>

</div>

<% if contract.present? %>
  <div class="row">
    <div class="col-xs-8">
      <h4><%= Contract.model_name.human(count: 2) %>
        <%= link_to new_company_customer_contract_path(company, customer, contract), class: 'btn btn-lg', title: I18n.t('contracts.new.title').downcase do %>
          <i class="fa fa-plus-square"></i>
        <% end %>
      </h4>
      <%= render 'contracts/contracts_table', company: company, customer: customer, contracts: contracts %>
    </div>

    <div class="col-xs-4">

      <h4><%= I18n.t('demands.index.last_deliveries') %></h4>

      <%= render 'demands/demands_short_table', company: company, demands: customer.exclusives_demands.includes([:company]).includes([:project]).kept.finished.order(end_date: :desc).first(5) %>
    </div>
  </div>
  <hr>

<% end %>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('demands.index.last_larger_lead_times_four_weeks') %></h4>

    <%= render 'demands/demands_short_table', company: company, demands: customer.larger_lead_times(4, 5) %>
  </div>
  <div class="col-xs-6">
    <h4><%= I18n.t('demands.index.last_larger_lead_times') %></h4>

    <%= render 'demands/demands_short_table', company: company, demands: customer.larger_lead_times(0, 5) %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <div id="customer-hours-consumed-column-line"
         class="flow-chart"
         data-xcategories="<%= customer_dashboard_data.array_of_dates.to_json %>"
         data-title="<%= I18n.t('projects.charts.hours_per_month.title', target_name: customer.name) %>"
         data-ytitle="<%= I18n.t('projects.charts.hours_per_month.ylabel') %>"
         data-prefix=""
         data-tooltipsuffix="<%= I18n.t('projects.charts.hours_per_month.ylabel') %>"
         data-datalabelsuffix=""
         data-series="<%= [
                              { type: 'column', yAxis: 1, name: I18n.t('general.dashboards.hours_delivered'), data: customer_dashboard_data.total_hours_delivered },
                              { type: 'spline', name: I18n.t('general.dashboards.hours_delivered_acc'), data: customer_dashboard_data.total_hours_delivered_accumulated }

                          ].to_json %>"
         data-stacking="normal"
         data-decimals="0">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.contracts_cost_burnup.title') %></h4>
    <h5><%= I18n.t('customers.show.active_contracts', count: customer.contracts.active.count) %></h5>
    <% if customer.contracts.active.present? %>
      <div id="customer-financial-burnup-line"
           class="flow-chart"
           data-xcategories="<%= contracts_flow_information.dates_array.to_json %>"
           data-title=""
           data-ytitle="<%= I18n.t('general.money') %>"
           data-prefix="<%= I18n.t('number.currency.format.unit') %>"
           data-tooltipsuffix=""
           data-datalabelsuffix=""
           data-series="<%= contracts_flow_information.build_financial_burnup.to_json %>"
           data-decimals="2">
      </div>
    <% else %>
      <%= render 'layouts/no_data', missing_data: Contract.model_name.human(count: 2) %>
    <% end %>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.contracts_hours_burnup.title') %></h4>
    <h5><%= I18n.t('customers.show.active_contracts', count: customer.contracts.active.count) %></h5>
    <% if customer.contracts.active.present? %>
      <div id="customer-hours-burnup-line"
           class="flow-chart"
           data-xcategories="<%= contracts_flow_information.dates_array.to_json %>"
           data-title=""
           data-ytitle="<%= I18n.t('general.hours') %>"
           data-prefix=""
           data-tooltipsuffix=""
           data-datalabelsuffix=""
           data-series="<%= contracts_flow_information.build_hours_burnup.to_json %>"
           data-decimals="2">
      </div>
    <% else %>
      <%= render 'layouts/no_data', missing_data: Contract.model_name.human(count: 2) %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.contracts_scope_burnup.title') %></h4>
    <h5><%= I18n.t('customers.show.active_contracts', count: customer.contracts.active.count) %></h5>
    <% if customer.contracts.active.present? %>
      <div id="customer-scope-burnup-line"
           class="flow-chart"
           data-xcategories="<%= contracts_flow_information.dates_array.to_json %>"
           data-title=""
           data-ytitle="<%= I18n.t('general.demands') %>"
           data-prefix=""
           data-tooltipsuffix="<%= I18n.t('general.demands') %>"
           data-datalabelsuffix=""
           data-series="<%= contracts_flow_information.build_scope_burnup.to_json %>"
           data-decimals="1">
      </div>
    <% else %>
      <%= render 'layouts/no_data', missing_data: Contract.model_name.human(count: 2) %>
    <% end %>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.quality_info.title') %></h4>
    <h5><%= I18n.t('customers.show.active_contracts', count: customer.contracts.active.count) %></h5>
    <% if customer.contracts.active.present? %>
      <div id="customer-quality-line"
           class="flow-chart"
           data-xcategories="<%= contracts_flow_information.dates_array.to_json %>"
           data-title=""
           data-ytitle="<%= I18n.t('charts.quality_info.bugs_by_delivery') %>"
           data-prefix=""
           data-tooltipsuffix=""
           data-datalabelsuffix=""
           data-series="<%= contracts_flow_information.build_quality_info.to_json %>"
           data-decimals="2">
      </div>
    <% else %>
      <%= render 'layouts/no_data', missing_data: Contract.model_name.human(count: 2) %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.lead_time.title') %></h4>
    <h5><%= I18n.t('customers.show.active_contracts', count: customer.contracts.active.count) %></h5>

    <% if customer.contracts.active.present? %>
      <div id="line-leadtime-accumalated-customer"
           class="flow-chart"
           data-xcategories="<%= contracts_flow_information.dates_array.to_json %>"
           data-title=""
           data-ytitle="<%= I18n.t('general.days') %>"
           data-prefix=""
           data-tooltipsuffix="<%= I18n.t('general.days') %>"
           data-datalabelsuffix=""
           data-series="<%= contracts_flow_information.build_lead_time_info.to_json %>"
           data-decimals="2">
      </div>
    <% else %>
      <%= render 'layouts/no_data', missing_data: Contract.model_name.human(count: 2) %>
    <% end %>
  </div>

  <div class="col-xs-6">
    <h4><%= I18n.t('customer.charts.throughput.title') %></h4>
    <h5><%= I18n.t('customers.show.active_contracts', count: customer.contracts.active.count) %></h5>

    <% if customer.contracts.active.present? %>
      <div id="customer-throughput-column-dashboard"
           class="flow-chart"
           data-title=""
           data-xcategories="<%= contracts_flow_information.dates_array.to_json %>"
           data-ytitle="<%= I18n.t('general.demands') %>"
           data-prefix=""
           data-tooltipsuffix="<%= I18n.t('general.demands') %>"
           data-datalabelsuffix=""
           data-series="<%= contracts_flow_information.build_throughput_info.to_json %>"
           data-stacking="normal"
           data-decimals="0">
      </div>
    <% end %>
  </div>
</div>
