<%= hidden_field_tag :demands_ids, demands.map(&:id).join(',') %>

<% work_item_flow_information.demands_tags_hash.each do |demand_tag, demand_count| %>
  <span class="label label-info demand-tag"><%= "#{demand_tag} (#{demand_count})" %></span>
<% end %>

<div class="row">
  <div class="col-xs-4">
    <h1><%= team.name %></h1>
    <div class="tab">
      <button class="tablinks dashboard-info-tab" onclick="openTab(event, 'team-projects-info', 'dashboard-info-tab', 'tabcontent-dashboard-info')"><%= I18n.t('teams.show.projects_info') %></button>
      <button class="tablinks dashboard-info-tab" id="general-info-team-tab" onclick="openTab(event, 'team-general-info', 'dashboard-info-tab', 'tabcontent-dashboard-info')"><%= I18n.t('teams.show.general_info') %></button>
    </div>

    <div id="team-projects-info" class="tabcontent tabcontent-dashboard-info">
      <%= render 'common/dashboards/projects_info',
                 projects_count: team.projects.count,
                 active_projects_count: team.active_projects.count,
                 active_projects_value: team.active_projects.map(&:value).compact.sum %>
    </div>

    <div id="team-general-info" class="tabcontent tabcontent-dashboard-info">
      <%= render 'common/dashboards/general_info',
                 company: company,
                 dashboard_name: team.name,
                 demands: demands,
                 demands_delivered: demands_delivered,
                 unscored_demands: unscored_demands,
                 demands_blocks: demands_blocks,
                 flow_pressure: flow_pressure,
                 delivered_scope: team.demands.kept.finished.count,
                 remaining_backlog: team.demands.kept - team.demands.kept.finished,
                 average_queue_time: team.average_queue_time / 1.hour,
                 average_touch_time: team.average_touch_time / 1.hour,
                 demands_lead_time_p95: Stats::StatisticsService.instance.percentile(95, team.demands.kept.finished_with_leadtime.map(&:leadtime_in_days)),
                 demands_lead_time_p80: Stats::StatisticsService.instance.percentile(80, team.demands.kept.finished_with_leadtime.map(&:leadtime_in_days)),
                 demands_lead_time_p65: Stats::StatisticsService.instance.percentile(65, team.demands.kept.finished_with_leadtime.map(&:leadtime_in_days)) %>
    </div>
  </div>

  <div class="col-xs-8">
    <h4><%= I18n.t('charts.cfd.title_downstream', target_name: team.name) %></h4>

    <div id="cfd-downstream-area"
         class="flow-chart"
         data-xcategories='<%= dates_array.to_json %>'
         data-title=''
         data-ytitle='<%= I18n.t('charts.cfd.ytitle') %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('charts.cfd.data_suffix') %>'
         data-series='<%= work_item_flow_information.demands_stages_count_hash.map { |key, value| { name: key, data: value } }.to_json %>'
         data-decimals='0'>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 bottom-spaced-component">
    <div id="leadtime-histogram"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.leadtime_histogram.title', target_name: team.name) %>'
         data-xcategories='<%= statistics_flow_information.lead_time_bins %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.days') %>'
         data-ytitle='<%= I18n.t('projects.charts.leadtime_histogram.ylabel') %>'
         data-prefix=''
         data-tooltipsuffix=''
         data-series='<%= [
                              { name: I18n.t('charts.lead_time.text'), type: 'scatter', id: 's1', marker: { radius: 2 }, data: statistics_flow_information.lead_time_data_array.map { |value| value.round(3) } },
                              { name: I18n.t('charts.histogram.text'), type: 'histogram', xAxis: 1, yAxis: 1, baseSeries: 's1', zIndex: -1, tooltip: { valueDecimals: 2 } }
                          ].to_json %>'
         data-decimals='2'>
    </div>
  </div>
  <div class="col-xs-6">
    <div id="line-leadtime-accumalated"
         class="flow-chart"
         data-xcategories='<%= dates_array.to_json %>'
         data-title='<%= I18n.t('projects.charts.leadtime_evolution.title') %>'
         data-ytitle='<%= I18n.t('charts.cfd.ytitle') %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('general.days') %>'
         data-datalabelsuffix=''
         data-series='<%= [{ name: I18n.t('teams.show.lead_time_p80_accumulated'), data: statistics_flow_information.lead_time_accumulated }].to_json %>'
         data-decimals='2'>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4><%= I18n.t('demands.index.last_larger_lead_times_four_weeks') %></h4>

    <%= render 'demands/demands_short_table', company: company, demands: team.larger_lead_times(4, 5) %>
  </div>
  <div class="col-xs-6">
    <h4><%= I18n.t('demands.index.last_larger_lead_times') %></h4>

    <%= render 'demands/demands_short_table', company: company, demands: team.larger_lead_times(0, 5) %>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div id="line-bug-share-accumalated"
         class="flow-chart"
         data-xcategories='<%= dates_array.to_json %>'
         data-title='<%= I18n.t('teams.show.quality_share.title') %>'
         data-ytitle='<%= I18n.t('charts.cfd.ytitle') %>'
         data-prefix=''
         data-tooltipsuffix='%'
         data-datalabelsuffix='%'
         data-series='<%= [{ name: I18n.t('teams.show.quality_share.series'), data: work_item_flow_information.bugs_share_data_array }].to_json %>'
         data-decimals='2'>
    </div>
  </div>
  <div class="col-xs-4">
    <div id="burnup-demands"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.burnup.demands.title', target_name: team.name) %>'
         data-xcategories='<%= dates_array.to_json %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.time') %>'
         data-ytitle='<%= I18n.t('projects.charts.burnup.ylabel') %>'
         data-tooltipsuffix=''
         data-prefix=''
         data-series='<%= [{ name: I18n.t('charts.burnup.scope'), data: work_item_flow_information.scope_per_period, dataLabels: { enabled: false }, marker: false },
                           { name: I18n.t('charts.burnup.ideal'), data: work_item_flow_information.ideal_per_period, dataLabels: { enabled: false }, marker: false },
                           { name: I18n.t('charts.burnup.current'), data: work_item_flow_information.accumulated_throughput, dataLabels: { enabled: false }, marker: false }].to_json %>'>
    </div>
  </div>
  <div class="col-xs-4">
    <div id="throughput-column"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.throughput.title', target_name: team.name) %>'
         data-xcategories='<%= dates_array.to_json %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.time') %>'
         data-ytitle='<%= I18n.t('projects.charts.throughput.ylabel') %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('projects.charts.throughput.tooltipsufix') %>'
         data-series='<%= [{ name: I18n.t('projects.charts.throughput.stage_stream.upstream'), data: work_item_flow_information.upstream_delivered_per_period }, { name: I18n.t('projects.charts.throughput.stage_stream.downstream'), data: work_item_flow_information.downstream_delivered_per_period }].to_json %>'
         data-stacking='normal'
         data-decimals='0'>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div id="leadtime-control-chart"
         class="flow-chart"
         data-xcategories='<%= statistics_flow_information.demands_charts_ids %>'
         data-series='<%= [{ name: 'Lead time', color: 'rgb(51, 51, 255)', data: statistics_flow_information.lead_time_data_array }].to_json %>'
         data-title='<%= I18n.t('projects.charts.lead_time_chart.title', target_name: team.name) %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('projects.charts.lead_time_chart.ylabel') %>'
         data-percentile95='<%= statistics_flow_information.lead_time_95p %>'
         data-percentile80='<%= statistics_flow_information.lead_time_80p %>'
         data-percentile60='<%= statistics_flow_information.lead_time_65p %>'>
    </div>
  </div>

  <div class="col-xs-4">
    <div id="flow-efficiency"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.flow_efficiency.title') %>'
         data-xcategories='<%= dates_array.to_json %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.weeks') %>'
         data-ytitle='<%= I18n.t('general.percentage.title') %>'
         data-prefix=''
         data-tooltipsuffix='%'
         data-datalabelsuffix='%'
         data-series='<%= [{ name: I18n.t('projects.charts.flow_efficiency.share'), data: time_flow_information.flow_efficiency }].to_json %>'
         data-decimals='2'>
    </div>
  </div>

  <div class="col-xs-4">
    <div id="bugs-in-time"
         class="flow-chart"
         data-title='<%= I18n.t('projects.charts.bugs_in_time.title', target_name: team.name) %>'
         data-xcategories='<%= dates_array.to_json %>'
         data-xtitle='<%= I18n.t('projects.charts.xlabel.time') %>'
         data-ytitle='<%= I18n.t('projects.charts.bugs_in_time.ylabel') %>'
         data-prefix=''
         data-tooltipsuffix='<%= I18n.t('projects.charts.bugs_in_time.suffix') %>'
         data-datalabelsuffix=''
         data-series='<%= [{ name: I18n.t('projects.charts.bugs_in_time.opened'), data: work_item_flow_information.bugs_opened_data_array }, { name: I18n.t('projects.charts.bugs_in_time.closed'), data: work_item_flow_information.bugs_closed_data_array }].to_json %>'
         data-decimals='0'>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <% if current_lead_time_zones.present? && current_lead_time_zones.keys&.size == 4 %>
      <div id="lead-time-zones-donut"
           class="flow-chart"
           data-title='<%= I18n.t('charts.lead_time_zones.title') %>'
           data-seriesname='<%= I18n.t('charts.lead_time_zones.series_name') %>'
           data-series='<%= [{ name: "#{number_with_precision(current_lead_time_zones.keys[0][0] / 1.day, precision: 2)}-#{number_with_precision(current_lead_time_zones.keys[0][1] / 1.day, precision: 2)}", y: current_lead_time_zones.values[0] },
                             { name: "#{number_with_precision(current_lead_time_zones.keys[1][0] / 1.day, precision: 2)}-#{number_with_precision(current_lead_time_zones.keys[1][1] / 1.day, precision: 2)}", y: current_lead_time_zones.values[1] },
                             { name: "#{number_with_precision(current_lead_time_zones.keys[2][0] / 1.day, precision: 2)}-#{number_with_precision(current_lead_time_zones.keys[2][1] / 1.day, precision: 2)}", y: current_lead_time_zones.values[2] },
                             { name: "#{number_with_precision(current_lead_time_zones.keys[3][0] / 1.day, precision: 2)}-#{number_with_precision(current_lead_time_zones.keys[3][1] / 1.day, precision: 2)}", y: current_lead_time_zones.values[3] }].to_json %>'
           data-decimals='0'
           data-tooltipsuffix="<%= I18n.t('general.demands') %>">
      </div>
    <% else %>
      <div class="no-data">
        <%= I18n.t('charts.no_data') %>
      </div>
    <% end %>
  </div>

  <div class="col-xs-6">
    <div id="team-tags-word-count"
         class="flow-chart"
         data-title="<%= I18n.t('charts.tags_cloud.title') %>"
         data-series="<%= work_item_flow_information.demands_tags_hash.map { |demand_tag, demand_count| { name: demand_tag, weight: demand_count } }.flatten.to_json %>">
    </div>
  </div>
</div>
