<h1 class="mb-4"><%= I18n.t('dashboard.home.greetings', name: current_devise_customer.first_name) %></h1>

<div class="mb-3">
  <h2><%= Contract.model_name.human(count: 2) %></h2>

  <%= render 'devise_customers/contracts/contracts_table', company: @company, customer: @customer, contracts: @contracts %>
</div>

<div class="mb-3">
  <h2><%= I18n.t('demands.index.last_deliveries') %></h2>

  <%= render 'demands/demands_short_table', company: @company, demands: @customer_last_deliveries %>
</div>

<h2><%= I18n.t('teams.show.dashboard_tab') %></h2>
<div class="col-xs-6">
  <div id="devise-customer-consumed-hours"
       class="flow-chart"
       data-xcategories="<%= @customer_consolidations.map(&:consolidation_date).to_json %>"
       data-title="<%= I18n.t('projects.charts.hours_per_month.title', target_name: @customer.name) %>"
       data-ytitle="<%= I18n.t('general.hours') %>"
       data-prefix=""
       data-tooltipsuffix="<%= I18n.t('general.hours') %>"
       data-datalabelsuffix=""
       data-series="<%= [
                          { type: 'column', yAxis: 1, name: I18n.t('general.dashboards.hours_delivered'), data: @customer_consolidations.map(&:consumed_hours_in_month).map(&:to_f) },
                          { type: 'spline', name: I18n.t('general.dashboards.hours_delivered_acc'), data: @customer_consolidations.map(&:consumed_hours).map(&:to_f) }
                        ].to_json %>"
       data-stacking="normal"
       data-decimals="2">
  </div>
</div>

<div class="col-xs-6">
  <h4><%= I18n.t('customer.charts.value_per_demand') %></h4>

  <div id="customer-cost-per-demand-dashboard"
       class="flow-chart"
       data-title=""
       data-xcategories="<%= @customer_consolidations.map(&:consolidation_date).to_json %>"
       data-ytitle="<%= I18n.t('general.demands') %>"
       data-prefix="R$ "
       data-tooltipsuffix="<%= I18n.t('general.demands') %>"
       data-datalabelsuffix=""
       data-series="<%= [
                          { type: 'line', name: I18n.t('customer.charts.value_per_demand'), data: @customer_consolidations.map(&:value_per_demand).map(&:to_f) },
                          { type: 'column', name: I18n.t('customer.charts.value_per_demand_in_month'), data: @customer_consolidations.map(&:value_per_demand_in_month).map(&:to_f) }
                        ].to_json %>"
       data-stacking=""
       data-decimals="2">
  </div>
</div>

<div class="col-xs-6">
  <h4><%= I18n.t('customer.charts.throughput.title') %></h4>

  <div id="customer-throughput-dashboard"
       class="flow-chart"
       data-title=""
       data-xcategories="<%= @customer_consolidations.map(&:consolidation_date).to_json %>"
       data-ytitle="<%= I18n.t('general.demands') %>"
       data-prefix=""
       data-tooltipsuffix="<%= I18n.t('general.demands') %>"
       data-datalabelsuffix=""
       data-series="<%= [
                          { type: 'column', name: I18n.t('customer.charts.delivered_scope'), data: @customer_consolidations.map(&:qty_demands_finished).map(&:to_f) },
                        ].to_json %>"
       data-stacking=""
       data-decimals="0">
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'devise_customers/home' %>
<% end %>
