<div class="table-filter">
  <%= render 'demand_blocks/demand_blocks_filter', company: company, demand_blocks_list: demand_blocks_list, demand_blocks_ids: demand_blocks_ids, demand_blocks: demand_blocks_list %>
</div>

<% if demand_blocks_list.empty? %>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'layouts/no_data', missing_data: DemandBlock.model_name.human(count: 2).downcase %>
    </div>
  </div>
<% else %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-4 summary-card-frame">
      <div class="summary-card-content">
        <p class="summary-card-title"><%= I18n.t('demand_blocks.index.total_blocks') %></p>
        <p class="summary-card-value"><%= demand_blocks_list.count %></p>
      </div>
    </div>
    <div class="col-xs-4 summary-card-frame">
      <div class="summary-card-content">
        <p class="summary-card-title"><%= I18n.t('demand_blocks.index.total_time') %></p>
        <p class="summary-card-value"><%= I18n.t('general.hours_text', count: number_with_precision((demand_blocks_list.sum(&:total_blocked_time) / 1.hour), precision: 2)) %></p>
      </div>
    </div>
    <div class="col-xs-4 summary-card-frame">
      <div class="summary-card-content">
        <p class="summary-card-title"><%= I18n.t('demand_blocks.index.average_time_per_block') %></p>
        <p class="summary-card-value"><%= I18n.t('general.hours_text', count: number_with_precision((demand_blocks_list.sum(&:total_blocked_time) / 1.hour) / demand_blocks_list.count, precision: 2)) %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 form-group">
      <%= link_to I18n.t('general.download_csv'), demand_blocks_csv_company_demand_blocks_path(company, demand_blocks_ids, format: :csv), class: 'btn btn-sm btn-success pull-right' %>
    </div>
  </div>

  <table class="table table-striped table-index">
    <thead>
      <tr>
        <th class="center"><%= I18n.t('general.table.actions') %></th>
        <th><%= I18n.t('activerecord.attributes.demand.external_id') %></th>
        <th><%= DemandBlock.human_attribute_name :block_type %></th>
        <th><%= DemandBlock.human_attribute_name :stage %></th>
        <th><%= DemandBlock.human_attribute_name :block_duration %></th>
        <th><%= DemandBlock.human_attribute_name :block_working_time_duration %></th>
        <th><%= DemandBlock.human_attribute_name :blocker_username %></th>
        <th><%= DemandBlock.human_attribute_name :block_time %></th>
        <th><%= DemandBlock.human_attribute_name :unblocker_username %></th>
        <th><%= DemandBlock.human_attribute_name :unblock_time %></th>
        <th><%= DemandBlock.human_attribute_name :stage_when_unblocked %></th>
        <th class="center"><%= DemandBlock.human_attribute_name :active %></th>
        <th><%= DemandBlock.human_attribute_name :block_reason %></th>
      </tr>
    </thead>
    <tbody>
      <% demand_blocks_list.each do |block| %>
        <tr id="block_row_<%= block.id %>">
          <%= render 'demand_blocks/demand_block_fields', company: company, block: block %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><%= time_distance_in_words(demand_blocks_list.map(&:total_blocked_time).compact.sum) %>
        <td><%= "#{demand_blocks_list.map(&:block_working_time_duration).compact.sum} h" %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
<% end %>
