<td><%= block.demand_block_id %></td>
<td><%= block.demand.demand_id %></td>
<td><%= t("activerecord.attributes.demand_block.enums.block_type.#{block.block_type}") %></td>
<td><%= block.block_reason %></td>
<td><%= block.stage&.name %></td>
<td><%= "#{block.block_duration} h" if block.block_duration.present? %></td>
<td><%= block.blocker_username %></td>
<td><%= I18n.l(block.block_time, format: :short) %></td>
<td><%= block.unblocker_username %></td>
<td><%= I18n.l(block.unblock_time, format: :short) if block.unblock_time.present? %></td>
<td class="center">
  <% if block.active? %>
    <i class="fa fa-check" aria-hidden="true"></i>
  <% end %>
</td>
<td>
  <% if block.active? %>
    <%= link_to deactivate_company_project_demand_demand_block_path(@company, block.demand.project, block.demand, block), method: :patch, remote: true do %>
      <i class="fa fa-ban"></i>
    <% end %>
  <% else %>
    <%= link_to activate_company_project_demand_demand_block_path(@company, block.demand.project, block.demand, block), method: :patch, remote: true do %>
      <i class="fa fa-check"></i>
    <% end %>
  <% end %>
  <%= link_to edit_company_project_demand_demand_block_path(@company, block.demand.project, block.demand, block), class: 'edit-block', remote: true do %>
    <i class="fas fa-edit"></i>
  <% end %>
</td>