<% if demand_blocks_list.empty? %>
  <div class="row">
    <div class="col-xs-12">
      <%= t('demands.show.no_demand_blocks') %>
    </div>
  </div>
<% else %>
  <table class="table table-striped table-index">
    <thead>
      <tr>
        <th><%= DemandBlock.human_attribute_name :demand_block_id %></th>
        <th><%= DemandBlock.human_attribute_name :block_type %></th>
        <th><%= DemandBlock.human_attribute_name :block_duration %></th>
        <th><%= DemandBlock.human_attribute_name :blocker_username %></th>
        <th><%= DemandBlock.human_attribute_name :block_time %></th>
        <th><%= DemandBlock.human_attribute_name :block_reason %></th>
        <th><%= DemandBlock.human_attribute_name :unblocker_username %></th>
        <th><%= DemandBlock.human_attribute_name :unblock_time %></th>
        <th><%= DemandBlock.human_attribute_name :unblock_reason %></th>
        <th class="center"><%= DemandBlock.human_attribute_name :active %></th>
        <th class="center"><%= t('general.table.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% demand_blocks_list.each do |block| %>
        <tr id="block_row_<%= block.id %>">
          <%= render 'demand_blocks/demand_block_fields', block: block %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td><%= "#{demand_blocks_list.sum(:block_duration)}h" %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
<% end %>

<div class="modal fade" id="edit-block-form" tabindex="-1" role="dialog" aria-labelledby="edit-block-form" aria-hidden="true"></div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'demand_blocks/form_modal' %>
<% end %>
