<%= form_for @demand_block, url: company_project_demand_demand_block_path(company_id, project_id, demand_id, block_id), method: :put, remote: true, class: 'form' do |f| %>
  <div class="row">
    <div class='col-xs-12 form-group <%= 'has-error' if @demand_block.errors[:block_type].present? %>'>
      <%= f.label :block_type, class: 'control-label' %>
      <%= f.select :block_type, DemandBlock.block_types.map { |key, _value| [t("activerecord.attributes.demand_block.enums.block_type.#{key}"), key] }, { include_blank: t('general.select'), selected: @demand_block.block_type }, class: 'form-control' %>
      <span class="help-block"><%= @demand_block.errors[:block_type].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-12 form-group <%= 'has-error' if @demand_block.errors[:block_reason].present? %>'>
      <%= f.label :block_reason, class: 'control-label required' %>
      <%= f.text_field :block_reason, autofocus: true, class: 'form-control' %>
      <span class="help-block"><%= @demand_block.errors[:block_reason].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class='col-xs-12 form-group <%= 'has-error' if @demand_block.errors[:unblock_reason].present? %>'>
      <%= f.label :unblock_reason, class: 'control-label required' %>
      <%= f.text_field :unblock_reason, autofocus: true, class: 'form-control' %>
      <span class="help-block"><%= @demand_block.errors[:unblock_reason].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t('general.buttons.cancel') %></button>
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>