<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= link_to @demand.project.name, company_project_path(@company, @demand.project) %></li>
      <li><%= link_to @demand.external_id, company_demand_path(@company, @demand) %></li>
      <li><%= I18n.t('demand_blocks.edit.title') %></li>
    </ul>
  </div>
</div>

<%= render 'demand_blocks/form', company_id: @company.id, project_id: @demand.project_id, demand_id: @demand.id, block_id: @demand_block.id %>
