<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= I18n.t('demand_blocks.index.title') %></li>
    </ul>
  </div>
</div>

<%= render 'demand_blocks/demand_blocks_table',
           company: @company,
           demand_blocks_list: @demand_blocks,
           demands_count: @demands_count,
           demand_blocks_ids: @demand_blocks_ids.join(','),
           paged_demand_blocks: @paged_demand_blocks %>

<div class="modal fade" id="edit-block-form" tabindex="-1" role="dialog" aria-labelledby="edit-block-form" aria-hidden="true"></div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'demand_blocks/form_modal' %>
  <%= javascript_include_tag 'demand_blocks/index' %>
<% end %>
