<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to Project.model_name.plural.capitalize, company_projects_path(@company) %></li>
        <li><%= link_to Project.model_name.human.capitalize, company_project_path(@company, @project) %></li>
        <li><%= t('project_result.edit.title') %></li>
      </ul>
    </div>
  </div>

  <%= form_for @project_result, url: company_project_project_result_path(@company, @project, @project_result), method: :put, class: 'form' do |f| %>
    <div class="row botton-spaced-component">
      <div class="col-xs-12">
        <%= render 'form', f: f %>
      </div>
    </div>
  <% end %>
</div>
