<div class="row">
  <div class="col-xs-12 center">
    <div class="tf-tree tf-custom">
      <ul>
        <li>
          <span class="tf-nc">
            <div class="tf-header">
              <div class="pull-left bottom-spaced-component"><%= number_to_currency(portfolio_unit.total_cost, precision: 2) %></div>
              <div class="pull-right bottom-spaced-component"><%= I18n.t('general.hours_text', hour_value: portfolio_unit.total_hours) %></div>
            </div>
            <div class='tf-nc-title'>
              <%= portfolio_unit.name %>
            </div>
            <div class='card-subtitle'>
              <%= I18n.t('general.demands_text', demands_count: portfolio_unit.total_portfolio_demands.count) %>
            </div>
            <div class='tf-footer'>
              <div class='pull-left bottom-spaced-component'><%= number_to_percentage(portfolio_unit.percentage_complete * 100, precision: 2) %></div>
              <div class='pull-right bottom-spaced-component'><%= Product.model_name.human %></div>
            </div>
          </span>
          <%= sanitize(build_portfolio_tree(children)) %>
        </li>
      </ul>
    </div>
  </div>
</div>