<div class="row">
  <%= link_to company_product_path(@company, product) do %>
    <div class="col-xs-2 stamp">
      <div class="stamp-title"><%= Product.model_name.human %></div>
      <div class="stamp-content"><%= link_to product.name, company_product_path(@company, product) %></div>
    </div>
  <% end %>
  <div class="col-xs-1 stamp">
    <div class="stamp-title"><%= t('projects.show.last_week_scope') %></div>
    <div class="stamp-content"><%= product.last_week_scope  %></div>
  </div>
  <div class="col-xs-1 stamp">
    <div class="stamp-title"><%= t('projects.show.demands.text') %></div>
    <div class="stamp-content"><%= product.delivered_scope  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.index.total_gap') %></div>
    <div class="stamp-content"><%= product.total_gap  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.index.percentage_remaining_scope') %></div>
    <div class="stamp-content"><%= number_to_percentage(product.percentage_remaining_scope, precision: 2)  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('general.stamps.hours_per_demand') %></div>
    <div class="stamp-content"><%= number_with_precision(product.avg_hours_per_demand, precision: 3)  %></div>
  </div>
  <div class="col-xs-2 stamp">
    <div class="stamp-title"><%= t('projects.index.flow_pressure') %></div>
    <div class="stamp-content"><%= number_with_precision(product.total_flow_pressure, precision: 3)  %></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 green-stamp">
    <div class="stamp-title"><%= t('general.stamps.cmd.title') %></div>
    <div class="stamp-content"><%= number_to_currency(product.average_demand_cost) %></div>
  </div>
  <div class="col-xs-3 green-stamp">
    <div class="stamp-title"><%= t('customers.show.total_value') %></div>
    <div class="stamp-content"><%= number_to_currency(product.total_value) %></div>
  </div>
  <div class="col-xs-3 green-stamp">
    <div class="stamp-title"><%= t('projects.index.remaining_money') %></div>
    <div class="stamp-content"><%= number_to_currency(product.remaining_money) %></div>
  </div>
  <div class="col-xs-3 green-stamp">
    <div class="stamp-title"><%= t('projects.index.percentage_remaining_money') %></div>
    <div class="stamp-content"><%= number_to_percentage(product.percentage_remaining_money, precision: 2)  %></div>
  </div>
</div>
