<% if products_list.present? %>
  <table class="table">
    <tr>
      <th><%= Product.human_attribute_name(:customer) %></th>
      <th><%= Product.human_attribute_name(:name) %></th>
      <th><%= Product.human_attribute_name(:team) %></th>
      <th><%= t('customers.show.total_value') %></th>
      <th><%= t('projects.index.remaining_money') %></th>
      <th><%= t('projects.show.avg_hours_per_demand') %></th>
      <th><%= t('projects.index.flow_pressure') %></th>
      <th><%= t('general.table.actions') %></th>
    </tr>
    <% products_list.each do |product| %>
      <tr>
        <td><%= link_to product.customer_name, company_customer_path(@company, product.customer) %></td>
        <td><%= link_to product.name, company_product_path(@company, product)  %></td>
        <td><%= link_to product.team.name, company_team_path(@company, product.team) if product.team.present? %></td>
        <td><%= number_to_currency(product.total_value) %></td>
        <td><%= number_to_currency(product.remaining_money) %></td>
        <td><%= number_with_precision(product.avg_hours_per_demand, precision: 2) %></td>
        <td><%= number_with_precision(product.total_flow_pressure, precision: 3) %></td>
        <td>
          <%= link_to edit_company_product_path(@company, product) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to company_product_path(@company, product), method: :delete do %>
            <i class="fa fa-times"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= t('products.index.no_data') %>
<% end %>
