<div class="row">
  <div class="col-xs-12">
    <%= link_to t('products.new.title'), new_company_product_path(company), class: 'btn btn-sm btn-success bottom-spaced-component pull-right' %>
  </div>
</div>

<% if products_list.present? %>
  <table class="table">
    <thead>
      <tr>
        <th><%= Product.human_attribute_name(:customer) %></th>
        <th><%= Product.human_attribute_name(:name) %></th>
        <th><%= t('customers.show.total_value') %></th>
        <th><%= t('projects.index.remaining_money') %></th>
        <th><%= t('projects.show.avg_hours_per_demand') %></th>
        <th><%= t('projects.index.flow_pressure') %></th>
        <th><%= t('general.table.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% products_list.each do |product| %>
        <tr>
          <td><%= link_to product.customer_name, company_customer_path(company, product.customer) %></td>
          <td><%= link_to product.name, company_product_path(company, product)  %></td>
          <td><%= number_to_currency(product.total_value) %></td>
          <td><%= number_to_currency(product.remaining_money) %></td>
          <td><%= number_with_precision(product.avg_hours_per_demand, precision: 2) %></td>
          <td><%= number_with_precision(product.total_flow_pressure, precision: 3) %></td>
          <td>
            <%= link_to edit_company_product_path(company, product) do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to company_product_path(company, product), method: :delete do %>
              <i class="fa fa-times"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= t('products.index.no_data') %>
<% end %>
