<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to I18n.t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation.upcase, company_path(@company) %></li>
      <li><%= link_to Product.model_name.plural.capitalize, company_products_path(@company) %></li>
      <li><%= I18n.t('products.edit.title') %></li>
    </ul>
  </div>
</div>

<%= form_for @product, url: company_product_path(@company, @product), method: :put, class: 'form' do |f| %>
  <div class="row bottom-spaced-component">
    <div class="col-xs-12">
      <%= render 'form', f: f, company: @company, product: @product, company_customers: @company_customers %>
    </div>
  </div>
<% end %>
