<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><%= link_to t('general.home.title'), root_path %></li>
      <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
      <li><%= t('products.index.title') %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to t('products.new.title'), new_company_product_path(@company), class: 'btn btn-sm btn-primary bottom-spaced-component' %>
  </div>
</div>

<%= render 'products_table', products_list: @products %>
