<div class="row">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= link_to Product.model_name.human.pluralize, company_products_path(@company) %></li>
        <li><%= @product.name %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="topnav">
    <%= link_to t('navbar.details'), '#', id: 'nav-item-stamps', class: 'active' %>
    <%= link_to t('navbar.projects_list'), '#', id: 'nav-item-list' %>
    <%= link_to t('navbar.status_report'), '#', id: 'nav-item-statusreport' %>
    <%= link_to t('navbar.charts'), '#', id: 'nav-item-charts' %>
  </div>
</div>

<div id="stamps">
  <%= render 'product_stamps', company: @company, product: @product %>
</div>

<div id="project-list">
  <h2><%= t('projects.index.title') %></h2>

  <div id="projects-table">
    <%= render 'projects/projects_table', projects_list: @product_projects, team_id: @team&.id, customer_id: @customer&.id, product_id: @product&.id %>
  </div>
</div>

<div id="project-status-report">
  <%= render 'charts/status_report_tab', target_name: @product.name, status_report_data: @status_report_data, montecarlo_durations: @montecarlo_durations %>
</div>

<div id="operational-charts">
  <%= render 'charts/operational_charts', target_name: @product.name, report_data: @report_data %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/burnup' %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/bar' %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/scatter' %>

  <%= javascript_include_tag 'projects/status_report_current' %>
  <%= javascript_include_tag 'projects/status_report_projection' %>
  <%= javascript_include_tag 'projects/charts' %>
  <%= javascript_include_tag 'products/show' %>
<% end %>
