<div class="row">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to I18n.t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= link_to Product.model_name.human.pluralize, company_products_path(@company) %></li>
        <li><%= @product.name %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="topnav">
    <%= link_to I18n.t('navbar.details'), '#', id: 'nav-item-stamps', class: 'active nav-tab' %>
    <%= link_to I18n.t('navbar.projects_list'), '#', id: 'nav-item-list', class: 'nav-tab' %>
    <%= link_to I18n.t('navbar.portfolio_units'), '#', id: 'nav-item-portfolio-unit', class: 'nav-tab' %>
    <%= link_to I18n.t('navbar.settings'), '#', id: 'nav-item-product-settings', class: 'nav-tab' %>
  </div>
</div>

<div id="stamps" class="tab-detail">
  <%= render 'products/product_stamps', company: @company, product: @product %>
</div>

<div id="project-list" class="tab-detail">
  <h2><%= I18n.t('projects.index.title') %></h2>

  <div id="projects-table">
    <%= render 'projects/projects_table', company: @company, projects_list: @product_projects, projects_summary: @projects_summary, projects_ids: @product_projects.map(&:id).flatten.join(',') %>
  </div>
</div>

<div id="portfolio-units" class="tab-detail">
  <%= render 'portfolio_units/portfolio_units_tab', company: @company, product: @product, portfolio_units: @portfolio_units %>
</div>

<div id="product-settings-content" class="tab-detail">
  <%= render 'products/product_settings', company: @company, product: @product, jira_product_configs: @jira_product_configs %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'products/show' %>
<% end %>
