<div class="row">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= link_to Product.model_name.human.pluralize, company_products_path(@company) %></li>
        <li><%= @product.name %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="topnav">
    <%= link_to t('navbar.details'), '#', id: 'nav-item-stamps', class: 'active' %>
    <%= link_to t('navbar.projects_list'), '#', id: 'nav-item-list' %>
  </div>
</div>

<div id="stamps">
  <%= render 'product_stamps', company: @company, product: @product %>
</div>

<div id="project-list">
  <h2><%= t('projects.index.title') %></h2>

  <div id="projects-table">
    <%= render 'projects/projects_table', projects_list: @product_projects, team_id: @team&.id, customer_id: @customer&.id, product_id: @product&.id %>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'products/show' %>
<% end %>
