<div class="row">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><%= link_to I18n.t('general.home.title'), root_path %></li>
        <li><%= link_to @company.abbreviation&.upcase, company_path(@company) %></li>
        <li><%= link_to Product.model_name.human(count: 2), company_products_path(@company) %></li>
        <li><%= @product.name %></li>
      </ul>
    </div>
  </div>
</div>

<%= hidden_field_tag :company_id, @company.id %>
<%= hidden_field_tag :product_id, @product.id %>
<%= hidden_field_tag :demands_ids, @demands_ids.join(',') %>
<%= hidden_field_tag :target_name, @product.name %>

<%= hidden_field_tag :projects_ids, @product.projects.map(&:id).join(',') %>


<div class="row">
  <div class="topnav">
    <%= link_to I18n.t('navbar.details'), '#', id: 'nav-item-stamps', class: 'active nav-item', data: { container: '#stamps' } %>
    <%= link_to I18n.t('navbar.projects_list'), '#', id: 'nav-projects-table', class: 'nav-item', data: { container: '#project-table' } %>
    <%= link_to I18n.t('navbar.demands'), '#', id: 'nav-portfolio-demands', class: 'nav-item', data: { container: '#demands-tab' } %>
    <%= link_to I18n.t('navbar.risk_reviews'), '#', id: 'nav-risk-reviews', class: 'nav-item', data: { container: '#risk-reviews' } %>
    <%= link_to I18n.t('navbar.service_delivery_reviews'), '#', id: 'nav-service-delivery-reviews', class: 'nav-item', data: { container: '#service-delivery-reviews' } %>
    <%= link_to I18n.t('navbar.portfolio_units'), '#', id: 'nav-portfolio-unit', class: 'nav-item', data: { container: '#portfolio-units' } %>
    <%= link_to I18n.t('navbar.charts'), '#', id: 'nav-portfolio-charts', class: 'nav-item', data: { container: '#portfolio-charts' } %>
    <%= link_to I18n.t('navbar.settings'), '#', id: 'nav-product-settings', class: 'nav-item', data: { container: '#product-settings' } %>
  </div>
</div>

<div id="stamps" class="tab-container">
  <%= render 'products/product_stamps', company: @company, product: @product, start_date: @start_date, end_date: @end_date %>
</div>

<%= render 'layouts/load_spinner' %>

<div id="projects-table" class="tab-container">

</div>

<div id="demands-tab" class="tab-container">

</div>

<div id="portfolio-units" class="tab-container">

</div>

<div id="portfolio-charts" class="tab-container">

</div>

<div id="risk-reviews" class="tab-container">

</div>

<div id="service-delivery-reviews" class="tab-container">

</div>

<div id="product-settings" class="tab-container">
  <%= render 'products/product_settings', company: @company, product: @product, jira_product_configs: @jira_product_configs %>
</div>

<div id="score-matrix-table">
  <%= render 'score_matrix_questions/score_matrix_questions_table', company: @company, product: @product, score_matrix_questions: @product.score_matrix_questions %>
</div>

<div class="modal fade" id="show-montecarlo-dialog" tabindex="-1" role="dialog" aria-labelledby="show-montecarlo-dialog" aria-hidden="true"></div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'charts/line' %>
  <%= javascript_include_tag 'charts/column' %>
  <%= javascript_include_tag 'charts/donut' %>

  <%= javascript_include_tag 'projects/projects_search' %>

  <%= javascript_include_tag 'stats_charts/statistics_charts' %>

  <%= javascript_include_tag 'components/components' %>

  <%= javascript_include_tag 'top_navigation/tab-navigation' %>

  <%= javascript_include_tag 'routes/product_routes' %>
  <%= javascript_include_tag 'routes/demand_routes' %>
  <%= javascript_include_tag 'routes/project_routes' %>

  <%= javascript_include_tag 'demands/filter_binding' %>
  <%= javascript_include_tag 'demands/demands_charts' %>
  <%= javascript_include_tag 'demands/form_modal' %>

  <%= javascript_include_tag 'products/product_navigation_behaviour' %>
  <%= javascript_include_tag 'products/show' %>
<% end %>
