<table class="table">
  <tbody>
    <tr>
      <td><b><%= I18n.t('general.scope') %></b></td>
      <td><%= I18n.t('general.demands_text', count: demands_count) %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('general.delivered') %></b></td>
      <td><%= I18n.t('general.demands_text', count: delivered_scope) %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('projects.index.remaining_backlog') %></b></td>
      <td><%= I18n.t('general.demands_text', count: remaining_backlog) %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('projects.index.flow_pressure') %></b></td>
      <td><%= I18n.t('general.demands_per_day', count: number_with_precision(total_flow_pressure, precision: 3)) %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('teams.show.average_queue_time') %></b></td>
      <td><%= I18n.t('general.days_text', count: number_with_precision(average_queue_time, precision: 2)) %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('teams.show.average_touch_time') %></b></td>
      <td><%= I18n.t('general.days_text', count: number_with_precision(average_touch_time, precision: 2)) %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('teams.show.lead_time_p95') %></b></td>
      <td><%= I18n.t('general.days_text', count: number_with_precision(demands_lead_time_p95, precision: 2)) %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('teams.show.lead_time_p80') %></b></td>
      <td><%= I18n.t('general.days_text', count: number_with_precision(demands_lead_time_p80, precision: 2)) %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('teams.show.lead_time_p65') %></b></td>
      <td><%= I18n.t('general.days_text', count: number_with_precision(demands_lead_time_p65, precision: 2)) %></td>
    </tr>
  </tbody>
</table>