<table class="table">
  <tbody>
  <tr>
    <td>
      <b><%= I18n.t('activerecord.attributes.project.initial_scope') %></b>
      <i class="far fa-question-circle fa-align-right" title="<%= I18n.t('project.help.initial_scope') %>"></i>
    </td>
    <td><%= initial_scope %></td>
  </tr>
  <tr>
    <td><b><%= I18n.t('general.created_demands') %></b></td>
    <% if demands.count.positive? %>
      <td><%= link_to I18n.t('general.demands_text', count: demands.count), demands_list_by_ids_company_demands_path(company, object_type: object_type, flow_object_id: flow_object_id, demand_type: '', demand_state: 'not_discarded', demand_fitness: '' ), target: '_blank' %></td>
    <% else %>
      <%= I18n.t('general.demands_text', count: demands.count) %>
    <% end %>
  </tr>
  <tr>
    <td><b><%= I18n.t('general.delivered') %></b></td>
    <td><%= link_to I18n.t('general.demands_text', count: demands_delivered.count), demands_list_by_ids_company_demands_path(company, object_type: object_type, flow_object_id: flow_object_id, demand_type: '', demand_state: 'delivered', demand_fitness: '' ), target: '_blank' %></td>
  </tr>
  <tr>
    <td><b><%= I18n.t('projects.index.remaining_backlog') %></b></td>
    <% if remaining_backlog.count.positive? %>
      <td><%= link_to I18n.t('general.demands_text', count: remaining_backlog.count), demands_list_by_ids_company_demands_path(company, object_type: object_type, flow_object_id: flow_object_id, demand_type: '', demand_state: 'backlog', demand_fitness: ''), target: '_blank' %></td>
    <% else %>
      <td><%= I18n.t('general.demands_text', count: remaining_backlog.count) %></td>
    <% end %>
  </tr>
  <tr>
    <td><b><%= I18n.t('general.upstream') %></b></td>
    <% if upstream_demands.count.positive? %>
      <td><%= link_to I18n.t('general.demands_text', count: upstream_demands.count), demands_list_by_ids_company_demands_path(company, object_type: object_type, flow_object_id: flow_object_id, demand_type: '', demand_state: 'upstream', demand_fitness: ''), target: '_blank' %></td>
    <% else %>
      <td><%= link_to I18n.t('general.demands_text', count: upstream_demands.count) %></td>
    <% end %>
  </tr>
  <tr>
    <td><b><%= I18n.t('general.downstream') %></b></td>
    <% if downstream_demands.count.positive? %>
      <td><%= link_to I18n.t('general.demands_text', count: downstream_demands.count), demands_list_by_ids_company_demands_path(company, object_type: object_type, flow_object_id: flow_object_id, demand_type: '', demand_state: 'downstream', demand_fitness: ''), target: '_blank' %></td>
    <% else %>
      <td><%= I18n.t('general.demands_text', count: downstream_demands.count) %></td>
    <% end %>
  </tr>
  <tr>
    <td><b><%= I18n.t('general.discarded_demands') %></b></td>
    <% if discarded_demands_count.positive? %>
      <td><%= link_to I18n.t('general.demands_text', count: discarded_demands_count), demands_list_by_ids_company_demands_path(company, object_type: object_type, flow_object_id: flow_object_id, demand_type: '', demand_state: 'discarded', demand_fitness: '' ), target: '_blank' %></td>
    <% else %>
      <td><%= I18n.t('general.demands_text', count: discarded_demands_count) %></td>
    <% end %>
  </tr>
  <tr>
    <td><b><%= I18n.t('projects.show.unscored_demands.title') %></b></td>
    <% if discarded_demands_count.positive? %>
      <td><%= link_to I18n.t('general.demands_text', count: unscored_demands.count), demands_list_by_ids_company_demands_path(company, object_type: object_type, flow_object_id: flow_object_id, demand_type: '', demand_state: 'unscored', demand_fitness: ''), target: '_blank' %></td>
    <% else %>
      <td><%= I18n.t('general.demands_text', count: unscored_demands.count) %></td>
    <% end %>
  </tr>
  <tr>
    <td><b><%= I18n.t('demand_blocks.index.title') %></b></td>
    <% if demands_blocks.count.positive? %>
      <td><%= link_to I18n.t('general.demand_blocks_text', count: demands_blocks.count), search_company_demand_blocks_path(company, demand_blocks_ids: demands_blocks.map(&:id).join(',')), target: '_blank', method: :post %></td>
    <% else %>
      <td><%= I18n.t('general.demand_blocks_text', count: demands_blocks.count) %></td>
    <% end %>
  </tr>
  <tr>
    <td><b><%= I18n.t('projects.index.flow_pressure') %></b></td>
    <td><%= I18n.t('general.demands_per_day', count: number_with_precision(flow_pressure, precision: 3)) %></td>
  </tr>
  <tr>
    <td><b><%= I18n.t('projects.index.average_speed') %></b></td>
    <td><%= I18n.t('general.demands_per_day', count: number_with_precision(average_speed, precision: 3)) %></td>
  </tr>
  <tr>
    <td><b><%= I18n.t('teams.show.average_queue_time') %></b></td>
    <td><%= I18n.t('general.hours_text', count: number_with_precision(average_queue_time, precision: 2)) %></td>
  </tr>
  <tr>
    <td><b><%= I18n.t('teams.show.average_touch_time') %></b></td>
    <td><%= I18n.t('general.hours_text', count: number_with_precision(average_touch_time, precision: 2)) %></td>
  </tr>
  <tr>
    <td><b><%= I18n.t('teams.show.lead_time_p95') %></b></td>
    <td><%= I18n.t('general.days_text', count: number_with_precision(demands_lead_time_p95, precision: 2)) %></td>
  </tr>
  <tr>
    <td><b><%= I18n.t('teams.show.lead_time_p80') %></b></td>
    <td><%= I18n.t('general.days_text', count: number_with_precision(demands_lead_time_p80, precision: 2)) %></td>
  </tr>
  <tr>
    <td><b><%= I18n.t('teams.show.lead_time_p65') %></b></td>
    <td><%= I18n.t('general.days_text', count: number_with_precision(demands_lead_time_p65, precision: 2)) %></td>
  </tr>
  </tbody>
</table>