<table class="table">
  <tbody>
    <tr>
      <td><b><%= Project.model_name.human(count: 2) %></b></td>
      <td><%= projects_count %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('teams.show.active_projects_count') %></b></td>
      <td><%= active_projects_count %></td>
    </tr>
    <tr>
      <td><b><%= I18n.t('teams.show.active_projects_value') %></b></td>
      <td><%= number_to_currency(active_projects_value) %></td>
    </tr>
  </tbody>
</table>