<% if report_data.present? && hours_per_demand_data.present? %>
  <div class="row">
    <div class="col-xs-6">
      <div id="burnup"
           class="flow-chart"
           data-title='<%= t('projects.charts.burnup.title', project_name: target_name) %>'
           data-weeks='<%= report_data.weeks %>'
           data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= t('projects.charts.burnup.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.burnup.tooltipsufix') %>'
           data-ideal='<%= report_data.ideal %>'
           data-current='<%= report_data.current %>'
           data-scope='<%= report_data.scope %>'>
      </div>
    </div>

    <div class="col-xs-6">
      <div id="hours-column"
           class="flow-chart"
           data-title='<%= t('projects.charts.hours_per_demand.title', project_name: target_name) %>'
           data-xcategories='<%= report_data.weeks %>'
           data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= t('projects.charts.hours_per_demand.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.hours_per_demand.tooltipsufix') %>'
           data-series='<%= hours_per_demand_data.to_json %>'
           data-decimals='3'>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div id="flowpressure-column"
           class="flow-chart"
           data-title='<%= t('projects.charts.flow_pressure.title', project_name: target_name) %>'
           data-xcategories='<%= categories %>'
           data-xtitle='<%= xlabel %>'
           data-ytitle='<%= t('projects.charts.flow_pressure.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.flow_pressure.tooltipsufix') %>'
           data-series='<%= flow_pressure_data.to_json %>'
           data-decimals='3'>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="throughput-column"
           class="flow-chart"
           data-title='<%= t('projects.charts.throughput_per_week.title', project_name: target_name) %>'
           data-xcategories='<%= report_data.weeks %>'
           data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
           data-ytitle='<%= t('projects.charts.throughput_per_week.ylabel') %>'
           data-tooltipsufix='<%= t('projects.charts.throughput_per_week.tooltipsufix') %>'
           data-series='<%= throughput_data.to_json %>'
           data-decimals='0'>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div id="cmd-line"
             class="flow-chart"
             data-title='<%= t('projects.charts.cmd.title', project_name: target_name) %>'
             data-xcategories='<%= @report_data.weeks %>'
             data-xtitle='<%= t('projects.charts.xlabel.weeks') %>'
             data-ytitle='<%= t('projects.charts.cmd.ylabel') %>'
             data-tooltipsufix='<%= t('projects.charts.cmd.tooltipsufix') %>'
             data-series='<%= cmd_data.to_json %>'
             data-decimals='2'>
        </div>
      </div>
    </div>
  </div>
<% end %>
