<div class="col-xs-2">
  <%= link_to root_path do %>
    <% image_tag 'https://res.cloudinary.com/dmphguydp/image/upload/v1550266141/Logo_preto_uyepsn.png', size: '131x45' %>
  <% end %>
</div>

<div class="col-xs-8 header-nav">
  <% if company.present? && company.persisted? %>
    <span><%= link_to I18n.t('navbar.customers_list'), company_customers_path(company), class: 'nav-link top-nav-bar-item' %> | </span>
    <span><%= link_to I18n.t('navbar.products_list'), company_products_path(company), class: 'nav-link top-nav-bar-item' %></span>
  <% end %>
</div>

<div class="col-xs-2 pull-right">
  <div class="dropdown topnav-right">
    <% if current_user.present? && current_user.avatar.present? %>
      <%= image_tag current_user.avatar.url, size: '50x50', class: 'user-avatar dropdown-toggle', 'data-toggle' => 'dropdown' %>
    <% else %>
      <%= image_tag 'img-empty.png', size: '50x50', class: 'user-avatar dropdown-toggle', 'data-toggle' => 'dropdown' %>
    <% end %>

    <ul class="dropdown-menu dropdown-menu-right">
      <%= render 'layouts/user_header_menu', company: company %>
    </ul>
  </div>
</div>
