<div class="col-xs-6">
  <%= image_tag 'https://res.cloudinary.com/dmphguydp/image/upload/v1550266141/Logo_preto_uyepsn.png', size: '131x45' %>
</div>

<div class="col-xs-6">
  <div class="dropdown topnav-right">
    <% if current_user.present? && current_user.avatar.present? %>
      <%= image_tag current_user.avatar.url, size: '50x50', class: 'user-avatar dropdown-toggle', 'data-toggle' => 'dropdown' %>
    <% else %>
      <%= image_tag 'img-empty.png', size: '50x50', class: 'user-avatar dropdown-toggle', 'data-toggle' => 'dropdown' %>
    <% end %>

    <ul class="dropdown-menu dropdown-menu-right">
      <% if current_user.present? %>
        <li><%= link_to t('users.account.self'), current_user, class: 'nav-link dropdown-item'%></li>
        <% if current_user.email_notifications? %>
          <li><%= link_to 'Desligar Notificações', deactivate_email_notifications_users_path, method: :patch, remote: true, class: 'nav-link dropdown-item' %></li>
        <% else %>
          <li><%= link_to 'Ligar Notificações', activate_email_notifications_users_path, method: :patch, remote: true, class: 'nav-link dropdown-item' %></li>
        <% end %>
        <li class="divider"></li>
        <% current_user.companies.each do |company| %>
          <li><%= link_to company.abbreviation&.upcase, company_path(company) %></li>
        <% end %>
        <li class="divider"></li>
        <% if current_user.admin? %>
          <li><%= link_to 'Admin Dashboard', users_path %></li>
        <% end %>
        <li class="divider"></li>
        <li><%= link_to t('header.logout'), destroy_user_session_path, method: :delete, class: 'nav-link dropdown-item'%></li>
      <% else %>
        <li class="divider"></li>
        <li><%= link_to t('devise.sessions.login'), new_user_session_path, class: 'nav-link dropdown-item'%></li>
      <% end %>
    </ul>
  </div>
</div>