<% if user_signed_in? %>
  <%= link_to "#{current_user&.first_name}", user_path(current_user) %>
  <% current_user.companies.each do |company| %>
    | <%= link_to company.abbreviation&.upcase, company_path(company) %>
  <% end %>
  | <%= number_to_currency(current_user.user_money_credits) %>
  <% if current_user.admin? %>
    | <%= link_to 'Admin Dashboard', users_path %>
  <% end %>
  <div class="pull-right">
    <%= link_to :destroy_user_session, method: :delete do %>
      <i class="fa fa-sign-out-alt fa-2x" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="pull-right">
    <% if current_user.email_notifications? %>
      <%= link_to deactivate_email_notifications_users_path, method: :patch, remote: true do %>
        <i class="fa fa-bell fa-2x" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <%= link_to activate_email_notifications_users_path, method: :patch, remote: true do %>
        <i class="fa fa-bell-slash fa-2x" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
