<% if current_user.present? %>
  <li><%= link_to I18n.t('users.account.self'), current_user, class: 'nav-link dropdown-item'%></li>
  <% if current_user.email_notifications? %>
    <li><%= link_to t('users.index.turn_off_notifications'), deactivate_email_notifications_users_path, method: :patch, remote: true, class: 'nav-link dropdown-item' %></li>
  <% else %>
    <li><%= link_to t('users.index.turn_on_notifications'), activate_email_notifications_users_path, method: :patch, remote: true, class: 'nav-link dropdown-item' %></li>
  <% end %>
  <% if current_user.admin? || current_user.gold? %>
    <li class="divider"></li>

    <% if company.present? %>
      <li><%= link_to I18n.t('navbar.copy_api_token'), '#', 'data-clipboard-text' => company.api_token, id: 'copy_token' %></li>
      <li class="divider"></li>
    <% end %>

    <% if current_user.companies.present? %>
      <% current_user.companies.each do |company| %>
        <li><%= link_to company.abbreviation&.upcase, company_path(company) %></li>
      <% end %>
    <% else %>
      <li><%= link_to I18n.t('companies.new.title'), new_company_path %></li>
    <% end %>
  <% end %>
  <% if current_user.admin? %>
    <li class="divider"></li>
    <li><%= link_to 'Admin Dashboard', admin_dashboard_users_path %></li>
  <% end %>
  <li class="divider"></li>
  <li><%= link_to I18n.t('header.logout'), destroy_user_session_path, method: :delete, class: 'nav-link dropdown-item'%></li>

<% elsif current_devise_customer.present? %>
  <li><%= link_to I18n.t('users.account.self'), current_devise_customer, class: 'nav-link dropdown-item'%></li>
  <li class="divider"></li>
  <li><%= link_to I18n.t('header.logout'), destroy_devise_customer_session_path, method: :delete, class: 'nav-link dropdown-item'%></li>

<% else %>
  <li><%= link_to I18n.t('devise.sessions.login'), new_user_session_path, class: 'nav-link dropdown-item'%></li>
  <li><%= link_to I18n.t('devise.sessions.login_as_customer'), new_devise_customer_session_path, class: 'nav-link dropdown-item'%></li>
<% end %>